<template>
    <div class="container-fluid mt-5">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Update Course</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="#" @click="$router.go(-1)">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Update Course</li>
                    </ol>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <b-tabs @activate-tab="onChangeTab" content-class="mt-3">
            <b-tab title="Course infomation" :active="tabActive == 0">
                <Form :data="form" :btnText="'Update'" />
            </b-tab>
            <b-tab title="Course lessons" :active="tabActive == 1">
                <b-row class="mb-3">
                    <b-col cols="12" md="12" lg="12" xl="12">
                        <b-button
                            variant="primary"
                            v-b-modal.modal-prevent-closing
                            ><i class="ni ni-fat-add"></i> Create new
                            chapter</b-button
                        >
                    </b-col>
                </b-row>
                <div
                    v-if="chapters.length > 0"
                    class="accordion"
                    role="tablist"
                >
                    <b-card
                        v-for="(item, idx) in chapters"
                        :key="idx"
                        no-body
                        class="mb-1"
                    >
                        <b-card-header
                            header-tag="header"
                            class="p-1"
                            role="tab"
                        >
                            <b-button
                                block
                                v-b-toggle="'accordion-' + idx"
                                variant="info"
                                >{{ item.title }}</b-button
                            >
                        </b-card-header>
                        <b-collapse
                            :id="'accordion-' + idx"
                            visible
                            accordion="my-accordion"
                            role="tabpanel"
                        >
                            <b-card-body>
                                <b-list-group v-if="item.lessons.length > 0">
                                    <b-list-group-item
                                        v-for="(lesson, idx) in item.lessons"
                                        :key="idx"
                                        class="d-flex justify-content-between align-items-center"
                                    >
                                        <span>
                                            {{ lesson.title }}
                                            <b-badge variant="primary" pill>{{
                                                lesson.spend_time
                                            }}</b-badge>
                                        </span>
                                        <div>
                                            <nuxt-link
                                                :to="
                                                    '/manage/lessons/' +
                                                    lesson.id
                                                "
                                                class="btn btn-outline-primary"
                                                ><i class="ni ni-settings"></i
                                            ></nuxt-link>
                                            <b-button
                                                @click="
                                                    showConfirmDelete(lesson)
                                                "
                                                variant="danger"
                                            >
                                                <b-icon icon="trash" />
                                            </b-button>
                                        </div>
                                    </b-list-group-item>

                                    <!-- <b-list-group-item
                    class="d-flex justify-content-between align-items-center"
                  >
                    Lesson 2
                    <b-badge variant="primary" pill>20:00</b-badge>
                    <b-button variant="outline-primary"
                      ><i class="ni ni-settings"></i
                    ></b-button>
                  </b-list-group-item>

                  <b-list-group-item
                    class="d-flex justify-content-between align-items-center"
                  >
                    Lesson 3
                    <b-badge variant="primary" pill>25:00</b-badge>
                    <b-button variant="outline-primary"
                      ><i class="ni ni-settings"></i
                    ></b-button>
                  </b-list-group-item> -->
                                </b-list-group>
                                <b-alert v-else variant="secondary" show
                                    >No lessons yet</b-alert
                                >
                                <b-row class="my-3">
                                    <b-col cols="12" md="12" lg="12" xl="12">
                                        <nuxt-link
                                            to="/manage/lessons/create/12"
                                            class="btn btn-outline-primary"
                                            ><i class="ni ni-fat-add"></i>
                                            Create new lesson</nuxt-link
                                        >
                                    </b-col>
                                </b-row>
                            </b-card-body>
                        </b-collapse>
                    </b-card>

                    <!-- Chapter 2 -->
                    <!-- <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-2 variant="info"
                >Chapter 2</b-button
              >
            </b-card-header>
            <b-collapse
              id="accordion-2"
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <b-list-group>
                  <b-list-group-item
                    class="d-flex justify-content-between align-items-center"
                  >
                    Lesson 1
                    <b-badge variant="primary" pill>10:00</b-badge>
                    <b-button variant="outline-primary"
                      ><i class="ni ni-settings"></i
                    ></b-button>
                  </b-list-group-item>

                  <b-list-group-item
                    class="d-flex justify-content-between align-items-center"
                  >
                    Lesson 2
                    <b-badge variant="primary" pill>20:00</b-badge>
                    <b-button variant="outline-primary"
                      ><i class="ni ni-settings"></i
                    ></b-button>
                  </b-list-group-item>

                  <b-list-group-item
                    class="d-flex justify-content-between align-items-center"
                  >
                    Lesson 3
                    <b-badge variant="primary" pill>25:00</b-badge>
                    <b-button variant="outline-primary"
                      ><i class="ni ni-settings"></i
                    ></b-button>
                  </b-list-group-item>
                </b-list-group>
                <b-row class="my-3">
                  <b-col cols="12" md="12" lg="12" xl="12">
                    <nuxt-link
                      to="/manage/lessons/create/12"
                      class="btn btn-outline-primary"
                      ><i class="ni ni-fat-add"></i> Create new
                      lesson</nuxt-link
                    >
                  </b-col>
                </b-row>
              </b-card-body>
            </b-collapse>
          </b-card> -->
                </div>
                <div v-else class="accordion" role="tablist">
                    <b-alert variant="secondary" show>No chapters yet</b-alert>
                </div>
            </b-tab>
            <b-tab title="Course reviews" :active="tabActive == 2">
                <div
                    class="tab-pane animated fadeInUp container"
                    role="tabpanel"
                    id="review"
                    v-if="form.id"
                >
                    <div class="row">
                        <div class="col-xl-7 d-flex">
                            <div class="course-details__progress my-auto">
                                <div class="course-details__progress-item">
                                    <p class="course-details__progress-text">
                                        Excellent
                                    </p>
                                    <!-- /.course-details__progress-text -->
                                    <div class="course-details__progress-bar">
                                        <span
                                            :style="`width: ${
                                                (form.rating_count[5] /
                                                    form.reviews_count) *
                                                100
                                            }%`"
                                        ></span>
                                    </div>
                                    <!-- /.course-details__progress-bar -->
                                    <p class="course-details__progress-count">
                                        {{ form.rating_count[5] }}
                                    </p>
                                    <!-- /.course-details__progress-count -->
                                </div>
                                <!-- /.course-details__progress-item -->
                                <div class="course-details__progress-item">
                                    <p class="course-details__progress-text">
                                        Very Good
                                    </p>
                                    <!-- /.course-details__progress-text -->
                                    <div class="course-details__progress-bar">
                                        <span
                                            :style="`width: ${
                                                (form.rating_count[4] /
                                                    form.reviews_count) *
                                                100
                                            }%`"
                                        ></span>
                                    </div>
                                    <!-- /.course-details__progress-bar -->
                                    <p class="course-details__progress-count">
                                        {{ form.rating_count[4] }}
                                    </p>
                                    <!-- /.course-details__progress-count -->
                                </div>
                                <!-- /.course-details__progress-item -->
                                <div class="course-details__progress-item">
                                    <p class="course-details__progress-text">
                                        Average
                                    </p>
                                    <!-- /.course-details__progress-text -->
                                    <div class="course-details__progress-bar">
                                        <span
                                            :style="`width: ${
                                                (form.rating_count[3] /
                                                    form.reviews_count) *
                                                100
                                            }%`"
                                        ></span>
                                    </div>
                                    <!-- /.course-details__progress-bar -->
                                    <p class="course-details__progress-count">
                                        {{ form.rating_count[3] }}
                                    </p>
                                    <!-- /.course-details__progress-count -->
                                </div>
                                <!-- /.course-details__progress-item -->
                                <div class="course-details__progress-item">
                                    <p class="course-details__progress-text">
                                        Poor
                                    </p>
                                    <!-- /.course-details__progress-text -->
                                    <div class="course-details__progress-bar">
                                        <span
                                            :style="`width: ${
                                                (form.rating_count[2] /
                                                    form.reviews_count) *
                                                100
                                            }%`"
                                        ></span>
                                    </div>
                                    <!-- /.course-details__progress-bar -->
                                    <p class="course-details__progress-count">
                                        {{ form.rating_count[2] }}
                                    </p>
                                    <!-- /.course-details__progress-count -->
                                </div>
                                <!-- /.course-details__progress-item -->
                                <div class="course-details__progress-item">
                                    <p class="course-details__progress-text">
                                        Terrible
                                    </p>
                                    <!-- /.course-details__progress-text -->
                                    <div class="course-details__progress-bar">
                                        <span
                                            :style="`width: ${
                                                (form.rating_count[1] /
                                                    form.reviews_count) *
                                                100
                                            }%`"
                                        ></span>
                                    </div>
                                    <!-- class="no-bubble" /.course-details__progress-bar -->
                                    <p class="course-details__progress-count">
                                        {{ form.rating_count[1] }}
                                    </p>
                                    <!-- /.course-details__progress-count -->
                                </div>
                                <!-- /.course-details__progress-item -->
                            </div>
                            <!-- /.course-details__progress -->
                        </div>
                        <!-- /.col-lg-8 -->
                        <div
                            class="col-xl-5 justify-content-xl-end justify-content-sm-center d-flex"
                        >
                            <div class="course-details__review-box">
                                <p class="course-details__review-count">
                                    {{
                                        (form.average_rating || 0).toFixed(1)
                                    }}
                                </p>
                                <!-- /.course-details__review-count -->
                                <div class="course-details__review-stars">
                                    <b-form-rating
                                        class="rating"
                                        id="rating-inline"
                                        inline
                                        disabled
                                        :value="
                                            (
                                                form.average_rating || 0
                                            ).toFixed(1)
                                        "
                                    ></b-form-rating>
                                </div>
                                <!-- /.course-details__review-stars -->
                                <p class="course-details__review-text">
                                    {{ form.reviews_count }} reviews
                                </p>
                                <!-- /.course-details__review-text -->
                            </div>
                            <!-- /.course-details__review-box -->
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                    <div class="course-details__comment">
                        <div
                            v-for="(item, idx) in form.reviews"
                            :key="idx"
                            class="course-details__comment-single"
                        >
                            <div class="course-details__comment-top">
                                <div class="course-details__comment-img">
                                    <img
                                        :src="item.user.avatar | replaceAvatar"
                                        alt=""
                                    />
                                </div>
                                <!-- /.course-details__comment-img -->
                                <div class="course-details__comment-right">
                                    <h2 class="course-details__comment-name">
                                        {{ item.user.name }}
                                    </h2>
                                    <!-- /.course-details__comment-name -->
                                    <div class="course-details__comment-meta">
                                        <p class="course-details__comment-date">
                                            {{ item.created_at | formatDate }}
                                        </p>
                                        <!-- /.course-details__comment-date -->
                                        <div
                                            class="course-details__comment-stars"
                                        >
                                            <b-form-rating
                                                class="rating"
                                                id="rating-inline"
                                                inline
                                                :value="item.rating || 0"
                                                disabled
                                            ></b-form-rating>
                                        </div>
                                        <!-- /.course-details__comment-stars -->
                                    </div>
                                    <!-- /.course-details__comment-meta -->
                                </div>
                                <!-- /.course-details__comment-right -->
                            </div>
                            <p class="course-details__comment-text">
                                {{ item.comment }}
                            </p>
                        </div>
                    </div>
                    <!-- /.course-details__comment -->
                </div>
                <!-- /.course-details__tab-content -->
            </b-tab>
            <!-- <b-tab title="Course students" :active="tabActive == 3">

            </b-tab> -->
        </b-tabs>

        <b-modal
            id="modal-prevent-closing"
            size="lg"
            ref="modal"
            title="Submit new chapter for this course"
            @show="resetModal"
            @hidden="resetModal"
            @ok="handleOk"
        >
            <form ref="form" @submit.stop.prevent="handleSubmit">
                <b-form-group
                    label="Title"
                    label-for="title-input"
                    invalid-feedback="Title is required"
                >
                    <b-form-input
                        id="title-input"
                        v-model="chapter.title"
                        required
                        placeholder="Enter chapter title"
                    ></b-form-input>
                </b-form-group>

                <b-form-group label="Estimated time" label-for="est-input">
                    <b-form-input
                        id="est-input"
                        v-model="chapter.spend_time"
                        required
                        placeholder="Enter estimated time (ex: 10:00)"
                    ></b-form-input>
                </b-form-group>

                <b-form-group label="Preview content">
                    <client-only placeholder="loading...">
                        <ckeditor-nuxt
                            v-model="chapter.preview_content"
                            :config="editorConfig"
                        />
                    </client-only>
                </b-form-group>
            </form>
        </b-modal>
    </div>
</template>
<script>
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";
import Form from "@/pages/components/course/form";

export default {
    layout: "DashboardLayout",
    name: "CourseUpdate",
    mixins: [formMixin],
    display: "Two Lists",
    order: 1,
    components: {
        Form,
        ValidationError,
    },
    data() {
        return {
            editorConfig: {
                removePlugins: ["MediaEmbedToolbar", "Title"],
                simpleUpload: {
                    uploadUrl: "path_to_image_controller",
                    headers: {
                        Authorization: "optional_token",
                    },
                },
            },
            form: {},
            // Modal
            chapter: {
                title: "",
                preview_content: "",
                spend_time: "",
            },
            chapters: [],
        };
    },
    created: function () {
        this.getCourseDetail();
    },
    mounted() {
        if (this.refresh) {
            this.getCourseDetail();
        }
    },
    computed: {
        courseId() {
            return this.$route.params.id;
        },
        tabActive() {
            return this.$route.query?.tab ?? 0;
        },
        refresh() {
            return this.$route.query.rf;
        },
    },
    methods: {
        getCategories: function () {
            this.$axios
                .get("/categories")
                .then((respon) => {
                    if (respon) {
                        this.categories = this.categories.concat(
                            respon.data.data
                        );
                    }
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        // Modal
        resetModal() {
            this.chapter = {
                title: "",
                preview_content: "",
                spend_time: "",
            };
        },
        handleOk(bvModalEvt) {
            // Prevent modal from closing
            bvModalEvt.preventDefault();
            // Trigger submit handler
            this.handleSubmit();
        },
        async handleSubmit() {
            try {
                await this.$axios.post("/chapters", {
                    ...this.chapter,
                    course_id: this.courseId,
                });
                this.chapters.push(this.chapter);
                this.$nextTick(() => {
                    this.$bvModal.hide("modal-prevent-closing");
                });
            } catch (error) {
                console.log(error);
                this.$notify({
                    type: "danger",
                    message: "Oops, something went wrong!",
                });
            }
        },
        getCourseDetail: async function () {
            await this.$axios
                .get("/courses/" + this.courseId)
                .then((res) => {
                    res = res.data;
                    if (res.success) {
                        this.form = res.data;
                        this.requirements = res.data.requirements;
                        this.goals = res.data.goals;
                        this.chapters = res.data.chapters;
                    }
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        onChangeTab(tab) {
            this.$router.push({
                name: this.$route.name,
                query: {
                    tab: tab,
                },
            });
        },
        delete(id) {
            this.$axios
                .delete(`/lessons/${id}`)
                .then((res) => {
                    if (res) {
                        res = res.data;
                        if (res.success) {
                            this.getCourseDetail();
                            this.$notify({
                                type: "success",
                                message:
                                    res.message || "Deleted successfully!!",
                            });
                        } else {
                            this.$notify({
                                type: "danger",
                                message:
                                    res.message || "Something went wrong!!",
                            });
                        }
                    }
                })
                .catch((error) => {
                    console.log(
                        "🚀 ~ file: create.vue ~ line 196 ~ .catch ~ error",
                        error
                    );
                    this.$notify({
                        type: "danger",
                        message: error.message || "Error",
                    });
                });
        },
        showConfirmDelete(lesson) {
            this.boxTwo = "";
            this.$bvModal
                .msgBoxConfirm(
                    `Please confirm that you want to delete lesson (Title: ${lesson.title}).`,
                    {
                        title: "Please Confirm",
                        size: "sm",
                        buttonSize: "sm",
                        okVariant: "danger",
                        okTitle: "YES",
                        cancelTitle: "NO",
                        footerClass: "p-2",
                        hideHeaderClose: false,
                        centered: true,
                    }
                )
                .then((value) => {
                    if (value) {
                        this.delete(lesson.id);
                    }
                })
                .catch((err) => {
                    // An error occurred
                });
        },
    },
};
</script>

<style scope>
#preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview img {
    max-width: 100%;
    max-height: 400px;
}
</style>
