<template>
  <div class="container-fluid mt-5">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Create Course</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="#" @click="$router.go(-1)">Home</a>
            </li>
            <li class="breadcrumb-item active">Create Course</li>
          </ol>
        </div>
      </div>
    </section>
    <!-- <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{$route.name}}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb/>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <base-button size="sm" type="neutral">New</base-button>
          <base-button size="sm" type="neutral">Filters</base-button>
        </div>
      </div>
    </base-header> -->

    <!-- Main content -->
    <Form @callback="goBack"/>
  </div>
</template>
<script>
import draggable from "vuedraggable";
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";
import Form from "@/pages/components/course/form";

export default {
  layout: "DashboardLayout",
  name: "CourseCreate",
  mixins: [formMixin],
  display: "Two Lists",
  order: 1,
  components: {
    draggable,
    ValidationError,
    Form
  },
  data() {
    return {
       editorConfig: {
        removePlugins: ["MediaEmbedToolbar", 'Title'],
        simpleUpload: {
          uploadUrl: 'path_to_image_controller',
          headers: {
            'Authorization': 'optional_token'
          }
        }
      },
      thumbnail: null,
      previewImageUrl: "",
      categories: [
        {
          id: "",
          name: "Select a category",
        },
      ],
      levels: [
        {
          key: "",
          title: "Select a level",
        },
        {
          key: "KINDERGARTEN",
          title: "Kindergarten",
        },
        {
          key: "BEGINNER",
          title: "Beginner",
        },
        {
          key: "INTERMEDIATE",
          title: "Intermediate",
        },
        {
          key: "ADVANCED",
          title: "Advanced",
        },
        {
          key: "PROFESSIONAL",
          title: "Professional",
        },
      ],
      form: {
        name: "What is Lorem Ipsum?",
        slug: "",
        level: "KINDERGARTEN",
        category_id: "",
        description: "",
        timeLimit: 0,
        status: "PRIVATE",
        requirements: [],
        goals: [],
        price: 0,
        discount: 0,
        type: 'offline',
      },
      requirements: [
        {
          title: "Why do we use it?",
        },
      ],
      goals: [
        {
          title: "Why do we use it?",
        },
      ],
    };
  },
  created: function () {
    // this.getCategories();
  },
  computed: {},
  methods: {
    add(type) {
      if (type === "requirements") {
        this.requirements.push({
          title: "",
        });
      } else {
        this.goals.push({
          title: "",
        });
      }
    },
    remove(type, index) {
      if (type === "requirements") {
        this.requirements.splice(index, 1);
      } else {
        this.goals.splice(index, 1);
      }
    },
    getCategories: function () {
      this.$axios
        .get("/categories")
        .then((respon) => {
          if (respon) {
            this.categories = this.categories.concat(respon.data.data);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    onFileChange(e) {
      const file = e.target.files[0];
      if (!file) return;
      this.thumbnail = file;
      this.previewImageUrl = URL.createObjectURL(file);
    },
    
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scope>
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 100%;
  max-height: 400px;
}
</style>
