<template>
  <div>
    <b-button @click="goToUpdate" variant="outline-primary">
      <b-icon icon="pencil" />
    </b-button>
    <b-button @click="showConfirmDelete" variant="danger">
      <b-icon icon="trash" />
    </b-button>
  </div>
</template>

<script>
export default {
  name: "CourseActions",
  props: {
    data: {},
    name: {},
    click: {},
    meta: {},
    classes: {},
  },
  data() {
    return {
      input2: this.data?.status ?? "",
      input2state: null,
      input2Return: "",
      popoverShow: false,
    };
  },
  watch: {
    input2(val) {
      if (val) {
        this.input2state = true;
      }
    },
  },
  methods: {
    onClose() {
      this.popoverShow = false;
    },
    onOk() {
      if (!this.input2) {
        this.input2state = false;
      }
      if (this.input2) {
        this.onClose();
        this.input2Return = this.input2;
        this.updateStatus(this.data.id, this.input2);
      }
    },
    delete(id) {
      this.$axios
        .delete(`/courses/${id}`)
        .then((res) => {
          if (res) {
            res = res.data;
            if (res.success) {
              this.click && this.click(res.data);
              this.$notify({
                type: "success",
                message: res.message || "Deleted successfully!!",
              });
            } else {
              this.$notify({
                type: "danger",
                message: res.message || "Something went wrong!!",
              });
            }
          }
        })
        .catch((error) => {
          console.log(
            "🚀 ~ file: create.vue ~ line 196 ~ .catch ~ error",
            error
          );
          this.$notify({
            type: "danger",
            message: error.message || "Error",
          });
        });
    },
    goToUpdate() {
      this.$router.push(`/manage/courses/${this.data.id}`);
    },
    showConfirmDelete() {
      this.boxTwo = "";
      this.$bvModal
        .msgBoxConfirm(`Please confirm that you want to delete course (ID: ${this.data.id}).`, {
          title: "Please Confirm",
          size: "sm",
          buttonSize: "sm",
          okVariant: "danger",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.delete(this.data.id);
          }
        })
        .catch((err) => {
          // An error occurred
        });
    },
  },
  computed: {},
};
</script>
