<template>
  <section class="content">
    <form @submit.prevent="submit" ref="formHTML">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header basic">
              <i class="fas fa-info-circle"></i>&nbsp; BASIC INFORMATION ABOUT
              THE NEW COURSE
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label text-md-right">
                  COURSE NAME
                </label>
                <div class="col-sm-10">
                  <input
                    name="name"
                    id="name"
                    class="form-control"
                    autofocus
                    v-model="form.name"
                    placeholder="Course Name"
                  />
                  <validation-error :errors="apiValidationErrors.name" />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="spend_time"
                  class="col-sm-2 col-form-label text-md-right"
                >
                  ESTIMATED COURSE DURATION (IN HOURS)
                </label>
                <div class="col-sm-10">
                  <input
                    name="spend_time"
                    id="spend_time"
                    class="form-control"
                    placeholder="In minutes (e.g. 10)"
                    v-model="valueEstTime"
                  />
                  <validation-error :errors="apiValidationErrors.spend_time" />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="level_id"
                  class="col-sm-2 col-form-label text-md-right"
                >
                  COURSE LEVEL
                </label>
                <div class="col-sm-10">
                  <select
                    id="level"
                    name="level"
                    class="form-control"
                    v-model="form.level"
                  >
                    <option
                      v-for="level in levels"
                      :key="level.key"
                      :value="level.key"
                    >
                      {{ level.title }}
                    </option>
                  </select>
                  <validation-error :errors="apiValidationErrors.level" />
                </div>
              </div>

              <div v-show="form.id" class="form-group row">
                <label
                  for="status"
                  class="col-sm-2 col-form-label text-md-right"
                >
                  STATUS
                </label>
                <div class="col-sm-10">
                  <select
                    id="status"
                    name="status"
                    class="form-control"
                    v-model="form.status"
                  >
                    <option value="">Select a status</option>
                    <option value="2">PENDING</option>
                    <option value="1">PUBLISHED</option>
                    <option value="3">REJECTED</option>
                  </select>
                  <validation-error :errors="apiValidationErrors.status" />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="category_id"
                  class="col-sm-2 col-form-label text-md-right"
                  >COURSE CATEGORY</label
                >
                <div class="col-sm-10">
                  <select
                    id="category"
                    name="category_id"
                    class="form-control"
                    v-model="form.category_id"
                  >
                    <option
                      v-for="category in categories"
                      :key="category.id"
                      :value="category.id"
                    >
                      {{ category.name }}
                    </option>
                  </select>
                  <validation-error :errors="apiValidationErrors.category" />
                </div>
              </div>
              <div class="form-group row">
                <label for="price" class="col-sm-2 col-form-label text-md-right"
                  >COURSE PRICE</label
                >
                <div class="col-sm-10">
                  <div class="form-group row">
                    <div class="col-6">
                      <label for="inline-form-input-price">Price</label>
                      <b-input-group prepend="$" class="mb-2 mr-sm-2 mb-sm-0">
                        <b-form-input
                          id="inline-form-input-price"
                          placeholder="Price"
                          v-model="form.price"
                        ></b-form-input>
                      </b-input-group>
                      <validation-error :errors="apiValidationErrors.price" />
                    </div>
                    <div class="col-6">
                      <label for="inline-form-input-discount">Discount</label>
                      <b-input-group prepend="%" class="mb-2 mr-sm-2 mb-sm-0">
                        <b-form-input
                          id="inline-form-input-discount"
                          placeholder="Discount"
                          v-model="form.discount"
                        ></b-form-input>
                      </b-input-group>
                      <validation-error :errors="apiValidationErrors.discount" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-6">
                      <label for="inline-form-input-discount-from"
                        >Discount from</label
                      >
                      <b-form-datepicker
                        id="discount-from"
                        placeholder="Discount from"
                        class="mb-2"
                        v-model="form.discount_start"
                      ></b-form-datepicker>
                      <validation-error :errors="apiValidationErrors.discount_start" />
                    </div>
                    <div class="col-6">
                      <label for="inline-form-input-discount-to"
                        >Discount to</label
                      >
                      <b-form-datepicker
                        id="discount-to"
                        placeholder="Discount to"
                        class="mb-2"
                        v-model="form.discount_end"
                      ></b-form-datepicker>
                      <validation-error :errors="apiValidationErrors.discount_end" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="type" class="col-sm-2 col-form-label text-md-right"
                  >COURSE TYPE</label
                >
                <div class="col-sm-10">
                    <b-row>
                        <b-col class="col-sm-6">
                            <label for="meet-link"
                                >Meet link</label
                            >
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                <b-form-checkbox switch class="pl-5" v-model="form.type">
                                    <span class="sr-only"
                                    >Switch for course type ONLINE</span
                                    >
                                </b-form-checkbox>
                                </b-input-group-prepend>
                                <b-form-input
                                placeholder="Meet link (google meet, zoom, etc.)"
                                aria-label="Meet link"
                                v-model="form.meet_link"
                                :disabled="!form.type"
                                ></b-form-input>
                            </b-input-group>
                            <small>
                                <i class="fas fa-info-circle"></i>&nbsp; Switch if the
                                course is online
                            </small>
                            <validation-error :errors="apiValidationErrors.meet_link" />
                        </b-col>
                        <b-col class="col-sm-6">
                            <label for="student-limit"
                                >Student limit</label
                            >
                            <b-form-input
                                placeholder="Student limit"
                                aria-label="Student limit"
                                v-model="form.student_limit"
                                ></b-form-input>
                            <validation-error :errors="apiValidationErrors.student_limit" />
                        </b-col>
                    </b-row>
                </div>
              </div>
              <div class="form-group row">
                <label for="time" class="col-sm-2 col-form-label text-md-right"
                  >COURSE TIME</label
                >
                <div class="col-sm-10">
                  <div class="form-group row">
                    <div class="col-6">
                      <label for="inline-form-input-from">Start date</label>
                      <b-form-datepicker
                        id="from"
                        placeholder="From"
                        class="mb-2"
                        v-model="form.start_date"
                      ></b-form-datepicker>
                      <validation-error :errors="apiValidationErrors.start_date" />
                    </div>
                    <div class="col-6">
                      <label for="inline-form-input-to">End date</label>
                      <b-form-datepicker
                        id="to"
                        placeholder="To"
                        class="mb-2"
                        v-model="form.end_date"
                      ></b-form-datepicker>
                      <validation-error :errors="apiValidationErrors.end_date" />
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="previewImageUrl" class="offset-2 mb-3" id="preview">
                <img :src="previewImageUrl" />
              </div>
              <div class="form-group row">
                <label
                  for="thumbnail_id"
                  class="col-sm-2 col-form-label text-md-right"
                  >COURSE THUMBNAIL</label
                >
                <div class="col-sm-10">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="thumbnail_id"
                    name="thumbnail_id"
                    @change="onFileChange"
                  />
                  <label class="custom-file-label mx-3" for="thumbnail_id"
                    >CHOOSE IMAGE</label
                  >
                  <p class="imagePreferredSize">
                    <small
                      >Preferred size: 500 px width x 250 px height with the
                      file types: .jpg/.jpeg/.png</small
                    >
                  </p>
                  <validation-error :errors="apiValidationErrors.thumbnail_id" />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="description"
                  class="col-sm-2 col-form-label text-md-right"
                >
                  COURSE DESCRIPTION
                </label>

                <div class="col-sm-10">
                  <client-only placeholder="loading...">
                    <ckeditor-nuxt
                      v-model="form.description"
                      :config="editorConfig"
                    />
                    <validation-error :errors="apiValidationErrors.description" />
                  </client-only>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header requirements">
                <i class="fas fa-clipboard-list"></i>&nbsp; REQUIREMENTS
              </div>
              <div class="card-body">
                <b-row
                  class="mb-2"
                  v-for="(requirement, k) in requirements"
                  :key="k"
                >
                  <label
                    for="requirement1"
                    class="col-sm-2 col-form-label text-md-right"
                  >
                    REQUIREMENT {{ k + 1 }}
                  </label>
                  <div class="col-sm-8">
                    <input
                      :id="`requirement${{ k }}`"
                      class="form-control"
                      name="requirements[]"
                      v-model="requirement.requirement"
                      placeholder="Requirement"
                    />
                  </div>
                  <b-col class="col-sm-2">
                    <div class="d-flex align-items-center h-100">
                      <b-button
                        class="mr-2"
                        v-show="k || (!k && requirements.length > 1)"
                        @click="remove('requirements', k)"
                      >
                        <i class="fas fa-minus-circle"></i>
                      </b-button>
                      <b-button
                        v-show="k == requirements.length - 1"
                        @click="add('requirements')"
                      >
                        <i class="fas fa-plus-circle"></i>
                      </b-button>
                    </div>
                  </b-col>
                </b-row>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header achievements">
                <i class="fas fa-check"></i>&nbsp; WHAT WILL THE STUDENT ACHIEVE
                AT THE END OF THE COURSE?
              </div>

              <div class="card-body">
                <b-row class="mb-2" v-for="(goal, k) in goals" :key="k">
                  <label
                    for="requirement1"
                    class="col-sm-2 col-form-label text-md-right"
                  >
                    ACHIEVEMENT {{ k + 1 }}
                  </label>
                  <div class="col-sm-8">
                    <input
                      :id="`goal${{ k }}`"
                      class="form-control"
                      name="goals[]"
                      v-model="goal.goal"
                      placeholder="What will the student achieve at the end of the course?"
                    />
                  </div>
                  <b-col class="col-sm-2">
                    <div class="d-flex align-items-center h-100">
                      <b-button
                        class="mr-2"
                        v-show="k || (!k && goals.length > 1)"
                        @click="remove('goals', k)"
                      >
                        <i class="fas fa-minus-circle"></i>
                      </b-button>
                      <b-button
                        v-show="k == goals.length - 1"
                        @click="add('goals')"
                      >
                        <i class="fas fa-plus-circle"></i>
                      </b-button>
                    </div>
                  </b-col>
                </b-row>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="form-group row mb-0 d-flex justify-content-center">
                  <div class="col-sm-10 d-flex d-flex justify-content-center">
                    <base-button :loading="loading" type="primary" native-type="submit"
                        :disabled="disabled"
                      class="btn btn-primary btnSubmitCourseReview d-flex align-items-center"
                    >
                      <i class="fas fa-search"></i>&nbsp; {{ btnText }}
                    </base-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</template>

<script>
import draggable from "vuedraggable";
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";
import _ from 'lodash'

export default {
  name: "CourseForm",
  mixins: [formMixin],
  components: {
    draggable,
    ValidationError,
  },
  props: {
    data: {
      required: false,
      type: Object,
      default: () => {
        return {};
      },
    },
    btnText: {
      required: false,
      type: String,
      default: () => {
        return "SUBMIT COURSE FOR REVIEW";
      },
    },
  },
  data() {
    return {
      editorConfig: {
        removePlugins: ["MediaEmbedToolbar", "Title"],
        simpleUpload: {
          uploadUrl: this.$config.apiURL + "/upload",
          headers: {
            Authorization:`${this.$auth.getToken("local")}`
          },
        },
      },
      thumbnail_id: null,
      previewImageUrl: "",
      categories: [
        {
          id: "",
          name: "Select a category",
        },
      ],
      levels: [
        {
          key: "",
          title: "Select a level",
        },
        {
          key: "KINDERGARTEN",
          title: "Kindergarten",
        },
        {
          key: "BEGINNER",
          title: "Beginner",
        },
        {
          key: "INTERMEDIATE",
          title: "Intermediate",
        },
        {
          key: "ADVANCED",
          title: "Advanced",
        },
        {
          key: "PROFESSIONAL",
          title: "Professional",
        },
      ],
      form: {
        name: "",
        slug: "",
        level: "",
        category_id: "",
        description: "",
        status: 2,
        price: 0,
        discount: 0,
        discount_start: "",
        discount_end: "",
        meet_link: "",
        student_limit: 0,
        start_date: "",
        end_date: "",
        type: false,
        spend_time: "",
      },
      requirements: [
        {
            id: "",
          requirement: "",
        },
      ],
      goals: [
        {
          id: "",
          goal: "",
        },
      ],
      loading: false,
    };
  },
  created: function () {
    this.getCategories();
  },
  mounted() {},
  watch: {
    data: {
      handler: function (val, oldVal) {
        if (val.id) {
          Object.assign(this.form, val);
          this.form.type = val.type == "ONLINE" ? true : false;
          this.previewImageUrl = val.thumbnail_url;
          const { requirements, goals } = val;
          if (requirements && requirements.length) {
            this.requirements = requirements;
          }
          if (goals && goals.length) {
            this.goals = goals;
          }
        }
      },
      deep: true,
    },
  },
  methods: {
    add(type) {
      if (type === "requirements") {
          if (this.requirements.some(r => r.title === "")) {
            return;
          }
        this.requirements.push({
            id: "",
          title: "",
        });
      } else {
          if (this.goals.some(r => r.title === "")) {
            return;
          }
        this.goals.push({
            id: "",
          title: "",
        });
      }
    },
    remove(type, index) {
      if (type === "requirements") {
        let _requirement = this.requirements[index];
        this.requirements.splice(index, 1);
        if (_requirement.id) {
          this.$axios
            .delete(`/requirements/${_requirement.id}`)
            .then(() => {
            })
            .catch((err) => {
                console.log("🚀 ~ file: form.vue ~ line 577 ~ remove ~ err", err)
            });
        }
      } else {
        let _goal = this.goals[index];
        this.goals.splice(index, 1);
        if (_goal.id) {
          this.$axios
            .delete(`/goals/${_goal.id}`)
            .then(() => {
            })
            .catch((err) => {
                console.log("🚀 ~ file: form.vue ~ line 577 ~ remove ~ err", err)
            });
        }
      }
    },
    getCategories: function () {
      this.$axios
        .get("/categories")
        .then((respon) => {
          if (respon) {
            this.categories = this.categories.concat(respon.data.data);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    onFileChange(e) {
      const file = e.target.files[0];
      if (!file) return;
      this.thumbnail_id = file;
      this.previewImageUrl = URL.createObjectURL(file);
    },
    async submit() {
      /* formData */
      let rawData = {
        ...this.form,
        requirements: this.data.id ? JSON.stringify(this.requirements.filter(Boolean)) : this.requirements
          .map((x) => x.requirement)
          .filter(Boolean),
        goals: this.data.id ? JSON.stringify(this.goals.filter(Boolean)) : this.goals.map((x) => x.goal).filter(Boolean),
        type: this.form.type ? "ONLINE" : "OFFLINE",
      };
      rawData = _.omit(rawData, ['thumbnail_id', 'reviews_count', 'teacher', 'students_count', 'thumbnail_url', 'chapters', 'reviews']);
      let formData = new FormData();
      Object.keys(rawData).map((e) => {
        if(rawData[e] != null) formData.append(e, rawData[e]);
      });
      if (this.thumbnail_id)
        formData.append(
          "thumbnail_id",
          this.thumbnail_id,
          this.thumbnail_id.name
        );

      if (this.data.id)
        formData.append('_method', 'PUT');
      try {
        this.loading = true;
        let axios = this.$axios.create();
        delete axios.defaults.headers.common["content-type"];
        delete axios.defaults.headers.post["content-type"];
        let response = await axios({
          method: 'POST',
          url: this.data.id ? `/courses/${this.data.slug}` :"/courses",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data; charset=utf-8;",
          },
        });
        this.$emit("callback", response.data);
        this.$notify({
          group: "notify",
          type: "success",
          message: response.data.message || "Success!!",
        });
        this.loading = false;
      } catch (error) {
        console.log("🚀 ~ file: form.vue ~ line 604 ~ submit ~ error", error.response)
        if (error.response.data.data) this.setApiValidation(error.response.data.data);
        this.$notify({
          group: "notify",
          type: "danger",
          message: error.response.data.message || "Something went wrong",
        });
        this.loading = false;
      }
    },
    formatEstTime(value) {
      if (value.length > 2) {
        let _value = value.split(":");
        if (_value.length < 2) {
          return value.substring(0, 2) + ":" + value.substring(2, 4);
        } else {
          return _value[0] + ":" + _value[1];
        }
      } else {
        return value;
      }
    },
  },
  computed: {
    valueEstTime: {
      // getter
      get: function () {
        return this.form.spend_time;
      },
      // setter
      set: function (newValue) {
        this.form.spend_time = this.formatEstTime(newValue);
      },
    },
    disabled() {
        return this.data.id ? this.data.status == 2 : false
    },
  },
};
</script>

<style></style>
