<template>
    <div class="course-one__single">
        <div class="course-one__image">
            <b-badge
                class="type"
                v-show="item.type == 'ONLINE'"
                href="#"
                variant="success"
                >{{ item.type }}</b-badge
            >
            <img
                :src="item.thumbnail_url || '/assets/images/course-1-1.jpg'"
                :alt="item.name"
            />
            <a href="#" @click.prevent="onLike">
                <i :class="{ 'fas fa-heart': true, active: isLiked }"></i
                ><!-- /.far fa-heart -->
            </a>
        </div>
        <!-- /.course-one__image -->
        <div class="course-one__content">
            <!-- <a href="#" class="course-one__category">development</a> -->
            <!-- /.course-one__category -->
            <h2 class="course-one__title">
                <nuxt-link :to="`/course-details/${item.slug}`">{{
                    item.name
                }}</nuxt-link>
            </h2>
            <!-- <p class="description" v-html="item.description"></p> -->
            <!-- /.course-one__title -->
            <!-- /.course-one__stars -->
            <div class="course-one__meta">
                <div>
                    <div>
                        <i class="far fa-clock"></i> {{ item.spend_time }} Hours
                    </div>
                    <div>
                        <i class="far fa-folder-open"></i>
                        {{ item.total_lesson }} Lectures
                    </div>
                </div>
                <div class="course-one__stars">
                    <span class="course-one__stars-wrap">
                        <!-- <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> -->
                        <b-form-rating
                            class="rating p-0"
                            id="rating-inline"
                            inline
                            :value="item.average_rating || 5"
                            disabled
                        ></b-form-rating> </span
                    ><!-- /.course-one__stars-wrap -->
                    <!-- <span class="course-one__count">{{ item.average_rating | formatRating }}</span> -->
                    <!-- /.course-one__count -->
                    <span class="course-one__stars-count">{{
                        item.total_review
                    }}</span
                    ><!-- /.course-one__stars-count -->
                </div>
            </div>
            <!-- /.course-one__meta -->
            <!-- <button
                @click="showPreviewModal(item)"
                class="btn course-one__link"
            >
                See Preview</button
            > -->
            <!-- /.course-one__link -->
            <div v-if="item.teacher" class="course-one__admin">
                <div>
                    <img :src="item.teacher.user.avatar" alt="" />
                    <nuxt-link
                        class="teacher-name"
                        :to="`/teacher/detail/${item.id}`"
                        >{{ item.teacher.user.name }}</nuxt-link
                    >
                </div>
                <div>
                    <client-only>
                        <nuxt-link to="/course-details">
                            <div v-if="item.price" class="t-white price">
                                {{ item.price | formatPrice }}
                            </div>
                            <div v-else class="t-white free">Free</div>
                        </nuxt-link>
                    </client-only>
                </div>
            </div>
            <!-- /.course-one__admin -->
        </div>
        <!-- /.course-one__content -->
        <b-modal
            v-model="showPreview"
            size="lg"
            hide-footer
            :title="previewTitle"
            ><div v-html="previewCourse"
        /></b-modal>
    </div>
</template>

<script>
export default {
    name: "CourseItem",
    data() {
        return {
            isLiked: this.item?.is_liked,
            previewCourse: "",
            showPreview: false,
            previewTitle: "",
        };
    },
    props: {
        item: {
            type: Object,
            required: true,
        },
    },
    methods: {
        showPreviewModal(course) {
            this.previewTitle = course.name;
            this.previewCourse = course.description;
            this.showPreview = true;
        },
        onLike() {
            let method = !this.isLiked ? "POST" : "DELETE";
            try {
                this.$axios({
                    method: method,
                    url: `/courses/${this.item.slug}/likes`,
                });
                this.isLiked = !this.isLiked;
            } catch (error) {
                console.log(error);
            }
        },
    },
};
</script>

<style></style>
