<template>
    <div class="my-3 container mx-auto">
        <div v-if="isFetching">
            <b-skeleton animation="fade" width="95%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <br />
            <b-skeleton animation="fade" width="95%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <br />
            <b-skeleton animation="fade" width="95%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <br />
            <b-skeleton animation="fade" width="95%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
            <b-skeleton animation="fade" width="100%"></b-skeleton>
        </div>
        <div v-else-if="examData">
            <div v-if="!started" class="text-center">
                <h1 class="text-2xl font-bold">{{ examData.title }}</h1>
                <div> Questions: {{ totalQuestions }}</div>
                <div> Time: {{ examData.time_limit }}</div>
                <p class="text-gray-600 my-3" v-html="examData.description"></p>
                <b-button variant="primary" @click="startExam">
                    Start Exam
                </b-button>
            </div>
            <div v-else-if="questionCurrent">
                <h1 class="text-center">{{ examData.title }}</h1>
                <b-row>
                    <b-col class="px-5" cols="12">
                        Progress:
                        <b-progress height="1rem" variant="info" striped animated class="mt-2 w-100">
                            <b-progress-bar :label="`${(progress).toFixed(2)}%`" :value="progress"></b-progress-bar>
                        </b-progress>
                    </b-col>
                </b-row>
                <!-- <client-only> -->
                    <H5P :h5p="questionCurrent" @xapi="handleXAPIEvent" :id="questionCurrentId"/>
                <!-- </client-only> -->

                <b-row class="mt-5" align-h="center">
                    <!-- <b-col cols="12" md="6" class="text-center">
                        <b-button variant="primary" @click="prevQuestion">
                            Prev
                        </b-button>
                    </b-col> -->
                    <b-col v-if="!isLastQuestion" cols="12">
                        <b-row class="justify-content-between align-items-center">
                            <b-col class="pl-5" cols="6">
                                <span>
                                    Question: {{ questionCurrentIndex + 1 }} / {{ totalQuestions }}
                                </span>
                            </b-col>
                            <b-col cols="6" class="pr-5 text-right">
                                <b-button :disabled="!passed" variant="primary" @click="nextQuestion">
                                    Next
                                </b-button>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col v-else cols="12" md="6" class="text-center">
                        <b-button variant="primary" @click="completeExam">
                            Complete Exam
                        </b-button>
                    </b-col>
                </b-row>
            </div>
            <div v-else>
                Opps! Something went wrong.
            </div>
        </div>
        <div v-else>
            <div class="main-content not-found">
                <div class="container">
                    <div class="message-wrapper text-center">
                        <img src="~/static/img/404-page-not-found-ed8082c9751a3fae7283bdbe936a93a5.png" alt="no-access">
                        <h3 class="mt-3">The exam you are looking for does not exist.</h3>
                        <nuxt-link to="/" class="btn orange big-bt">Back to the main page</nuxt-link>
                    </div>
                </div>
            </div>
        </div>
        <modal :show="modals.classic" :showClose="false">
                <h6 slot="header" class="modal-title">Exam result</h6>
                <div class="content">
                    {{this.modals.content}}
                </div>
                <template slot="footer">
                    <base-button type="link" class="ml-auto" @click="returnHome()">Return Home</base-button>
                </template>

            </modal>
    </div>
</template>

<script>
import H5P from "@/pages/components/h5p.vue";
import { mapGetters, mapState } from 'vuex'
import Modal from '@/components/argon-core/Modal.vue'

export default {
    layout: "AppLayout",
    data() {
        return {
            isFetching: true,
            endpoint: `/exams/slug`,
            error: undefined,
            srcdoc: "",
            h5p: undefined,
            examData: undefined,
            questionCurrentIndex: 0,
            started: false,
            passed: false,
            result: null,
            checked: false,
            point: 0,
            modals: {
                classic: false,
                notice: false,
                form: false,
                content: ''
            },
        };
    },
    props: {
        embed_code: {
            required: false
        },
    },
    components: {
        H5P,
        Modal
    },

    computed: {
        // translations () {
        //   return translations
        // }
        // ...mapState([
        //     'user',
        //     'exam',
        // ]),
        examSlug() {
            return this.$route.params.slug;
        },
        questionCurrentId() {
            return this.examData.questions[this.questionCurrentIndex].id;
        },
        // questionCurrent() {
        //     console.log('test', this.exam)
        //     return this.exam.questionCurrent
        // },
        ...mapGetters({
            questionCurrent: 'exam/questionCurrent',
        }),
        isLastQuestion() {
            return this.questionCurrentIndex === this.totalQuestions - 1;
        },
        totalQuestions() {
            return this.examData.questions.length;
        },
        progress() {
            return (this.questionCurrentIndex + 1) / this.totalQuestions * 100;
        },
    },
    methods: {
        handleXAPIEvent(ev) {
            console.log("🚀 ~ file: index.vue ~ line 42 ~ handleXAPIEvent ~ ev", ev)
            console.log("H5P emitted X-API event");
            // if (ev.statement.result && ev.statement.result.score.raw > 0) {
            //     this.passed = true;
            // }
            this.passed = true;
            let result = {
                examId : this.examData.id,
                questionId : this.questionCurrentId,
                result : ev
            }
            this.result = result

            console.log("🚀 ~ file: index.vue ~ line 42 ~ RESULTS ~ ev", result)
        },

        async checkExamStudent(){
            let examId = this.examData.id;
            let params = "?examId="+examId;
            await this.$axios
                .get('/exams-student/checking'+params)
                .then(res => {
                    console.log(res, "RESULT CHECKING");
                    if(res && res.data) this.checked = res.data.checking;
                })
                .catch(e => {
                    console.log("error", e);
                })
        },
        fetchExam() {
            this.isFetching = true;
            this.$axios
                .get(this.endpoint+"/"+this.examSlug)
                .then(res => {
                    this.examData = res.data.data;
                })
                .catch(e => {
                    console.log("error", e);
                })
                .finally(e => {
                    this.isFetching = false;
                });
        },

        async saveExam(data) {
            console.log(JSON.stringify(data),"====>");
            await this.$axios
                .post('/exams-student/',data)
                .then(res => {
                    console.log(res, "DATA");
                })
                .catch(e => {
                    console.log("error", e);
                })
                .finally(e => {
                    
                });
        },
        async getResultExam(userId,examId) {
            let params = "?examId="+examId;
            await this.$axios
                .get('/exams-student/result'+params)
                .then(res => {
                    if(res && res.data) {
                        this.point = res.data.score;
                        this.modals.content = `Congratulations on your bullets for ${res.data.score} points`;
                    }
                })
                .catch(e => {
                    console.log("error", e);
                })
                .finally(e => {
                    
                });
        },

        async startExam () {
            await this.checkExamStudent();
            if(!this.checked) {
                this.started = false;
                await this.$notify({
                    type: "warning",
                    message: "You took the exam before, please take another exam. Thanks.",
                });
                return;
            }
            this.started = true;
            try {
                await this.$store.dispatch("exam/questionCurrent", {
                    contentId : this.examData.questions[this.questionCurrentIndex].content_id,
                });
            } catch (error) {
                await this.$notify({
                    type: "danger",
                    message: "The given data was invalid.",
                });
                this.setApiValidation(error.response.data);
            }
        },
        nextQuestion() {
            console.log(this.result);
            this.saveExam(this.result)
            this.passed = false;
            this.questionCurrentIndex++;
            if (this.questionCurrentIndex <= this.totalQuestions - 1) {
                this.$store.dispatch("exam/questionCurrent", {
                    contentId : this.examData.questions[this.questionCurrentIndex].content_id,
                });
            }
        },
        async completeExam() {
            
            await this.saveExam(this.result);
            let userId = this.examData.user_id;
            let examId = this.examData.id;
            await this.getResultExam(userId,examId);
            if(this.modals.content){
                this.modals.classic = true;
            }

        },
        returnHome() {
            this.$router.push('/')
        }
    },
    created() {
        this.fetchExam();
    },
};
</script>
