<template>
  <section class="course-one course-page mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Exam Free</h2>
        </div>
      </div>
      <div class="row">
        <div
          v-for="(item, idx) in exams"
          :key="idx"
          class="col-lg-4 border-radius-30"
        >
            <Item :item="item"/>
          <!-- /.course-one__single -->
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
      <div class="post-pagination">
        <b-pagination
          @change="changePage"
          :per-page="per_page"
          v-model="page"
          pills
          :total-rows="total"
          size="lg"
          v-show="total > per_page"
        ></b-pagination>
      </div>
    </div>
    <!-- /.container -->
  </section>
</template>

<script>
import Item from '@/pages/components/exam/item.vue'
export default {
    // ssr: false,
    layout: "AppLayout",
    data() {
        return {
            isFetching: true,
            endpoint: `free/exams?page=2`,
            error: undefined,
            exams: [],
            total: 0,
            page: 1,
            per_page: 9
        };
    },
 
    props: {
       
    },
    components: {
        Item
    },
    computed: {

    },
    created(){
    },
    methods: {
      async changePage(page) {
        try {
          this.page = page;
          const _data = await this.$axios.get(
            "/free/exams"+ "?page="+ page
          );
          const { exams, total  } = _data.data;
          this.exams = exams;
          this.total = total;
          this.page = page;
          this.onClickComplete();
        } catch (error) {
          this.$notify({
            type: "danger",
            message: "Oops! Something went wrong.",
          });
        }
      },
      onClickComplete() {
        if (!process.server) { // I'm not sure it's necessary
          this.$router.push({path: this.$route.path, query: { page: this.page }});
        }
    }
    },
    mounted() {
    },
    async asyncData({ $axios }) {
      const data = await $axios.get("/free/exams");
      return {
        ...data.data,
      };
    },
  };
  </script>
