<template>
  <div>
    <!-- <b-button
      :id="'popover-reactive-1' + data.id"
      :variant="data.status == 'PUBLIC' ? 'success' : ''"
      :ref="'button' + data.id"
    >
      {{ data.status }}
    </b-button>
    <b-popover
      :target="'popover-reactive-1' + data.id"
      triggers="click"
      :show.sync="popoverShow"
      placement="auto"
      container="my-container"
      :ref="'popover' + data.id"
      @show="onShow"
      @shown="onShown"
      @hidden="onHidden"
    >
      <template #title>
        <b-button @click="onClose" class="close" aria-label="Close">
          <span class="d-inline-block" aria-hidden="true">&times;</span>
        </b-button>
        Update status (ID: {{ data.id }})
      </template>

      <div>
        <b-form-group
          label-for="popover-input-2"
          :state="input2state"
          class="mb-1"
          description="Pick a status"
          invalid-feedback="This field is required"
        >
          <b-form-select
            id="popover-input-2"
            :ref="'input2' + data.id"
            v-model="input2"
            :state="input2state"
            :options="options"
            size="sm"
          ></b-form-select>
        </b-form-group>

        <b-button @click="onClose" size="sm" variant="danger">Cancel</b-button>
        <b-button @click="onOk" size="sm" variant="primary">Ok</b-button>
      </div>
    </b-popover> -->
    <b-button @click="goToUpdate" variant="outline-primary">
      <b-icon icon="pencil" />
    </b-button>
    <!-- <b-button @click="showConfirmDelete" variant="danger">
      <b-icon icon="trash" />
    </b-button> -->
  </div>
</template>

<script>
export default {
  name: "UsersActions",
  props: {
    data: {},
    name: {},
    click: {},
    meta: {},
    classes: {},
  },
  data() {
    return {
      input2: this.data?.status ?? "",
      input2state: null,
      options: [
        { text: "- Choose -", value: "" },
        "PRIVATE",
        "PUBLIC",
        "UNLISTED",
      ],
      input2Return: "",
      popoverShow: false,
    };
  },
  watch: {
    input2(val) {
      if (val) {
        this.input2state = true;
      }
    },
  },
  methods: {
    onClose() {
      this.popoverShow = false;
    },
    onOk() {
      if (!this.input2) {
        this.input2state = false;
      }
      if (this.input2) {
        this.onClose();
        this.input2Return = this.input2;
        this.updateStatus(this.data.id, this.input2);
      }
    },
    onShow() {
      // this.input2 = "";
      this.input2 = this.data?.status ?? "";
      this.input2state = null;
      // this.input2Return = "";
    },
    onShown() {
      // Called just after the popover has been shown
      // Transfer focus to the first input
      this.focusRef(this.$refs["input2" + this.data.id]);
    },
    onHidden() {
      this.focusRef(this.$refs["button" + this.data.id]);
    },
    focusRef(ref) {
      this.$nextTick(() => {
        this.$nextTick(() => {
          (ref.$el || ref).focus();
        });
      });
    },
    updateStatus(id, status) {
      this.$axios
        .put(`/exams/${id}/status`, {
          status,
        })
        .then((res) => {
          console.log("🚀 ~ file: create.vue ~ line 188 ~ .then ~ res", res);
          if (res) {
            res = res.data;
            if (res.success) {
              // this.$emit('updateSuccess', res.data);
              this.click && this.click(res.data);
              this.$notify({
                type: "success",
                message: res.message || "Updated successfully!!",
              });
            } else {
              this.$notify({
                type: "danger",
                message: res.message || "Something went wrong!!",
              });
            }
          }
        })
        .catch((error) => {
          console.log(
            "🚀 ~ file: create.vue ~ line 196 ~ .catch ~ error",
            error
          );
          this.$notify({
            type: "danger",
            message: error.message || "Error",
          });
        });
    },
    delete(id) {
      this.$axios
        .delete(`/exams/${id}`)
        .then((res) => {
          if (res) {
            res = res.data;
            if (res.success) {
              this.click && this.click(res.data);
              this.$notify({
                type: "success",
                message: res.message || "Deleted successfully!!",
              });
            } else {
              this.$notify({
                type: "danger",
                message: res.message || "Something went wrong!!",
              });
            }
          }
        })
        .catch((error) => {
          console.log(
            "🚀 ~ file: create.vue ~ line 196 ~ .catch ~ error",
            error
          );
          this.$notify({
            type: "danger",
            message: error.message || "Error",
          });
        });
    },
    goToUpdate() {
      this.$router.push(`/manage/users/${this.data.id}`);
    },
    showConfirmDelete() {
      this.boxTwo = "";
      this.$bvModal
        .msgBoxConfirm(`Please confirm that you want to delete exam (ID: ${this.data.id}).`, {
          title: "Please Confirm",
          size: "sm",
          buttonSize: "sm",
          okVariant: "danger",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.delete(this.data.id);
          }
        })
        .catch((err) => {
          // An error occurred
        });
    },
  },
  computed: {},
};
</script>
