<template>
   <div class="container edit-profile rounded bg-white">
    <div class="row">
      <div class="col-md-4 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img
            class="rounded-circle mt-5"
            width="90"
            :src="form.avatar | replaceAvatar"
            alt="User profile picture"
            id="profileavatar"
          />
          <span class="font-weight-bold mt-1">{{ form.name }}</span>
          <span>Joined at: {{ form.created_at | formatDate }}</span>
        </div>
      </div>
      <div class="col-md-8 border-right">
        <form>
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="font-weight-bold text-right">Edit your profile</h4>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <base-input
                  label="First name"
                  prepend-icon="fas fa-user"
                  placeholder="First name"
                  v-model="form.first_name"
                />
              </div>
              <div class="col-md-6">
                <base-input
                  label="Last name"
                  prepend-icon="fas fa-user"
                  placeholder="Last name"
                  v-model="form.last_name"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-1">
                <base-input
                  label="Display name"
                  prepend-icon="fas fa-user-circle"
                  placeholder="Display name"
                  v-model="form.name"
                />
              </div>
              <div class="col-md-12 mt-1">
                <base-input
                  :readonly="!!form.username"
                  label="User name"
                  prepend-icon="fas fa-user-circle"
                  placeholder="User name"
                  v-model="form.username"
                />
              </div>
              <div class="col-md-12 mt-1">
                <b-form-group
                  class=""
                  label="Gender"
                  v-slot="{ ariaDescribedby }"
                >
                  <b-form-radio
                    class="ml-3"
                    v-for="(item, index) in genders"
                    :key="index"
                    v-model="form.gender"
                    :aria-describedby="ariaDescribedby"
                    name="some-radios"
                    :value="item.value"
                    >{{ item.label }}</b-form-radio
                  >
                </b-form-group>
              </div>
              <div class="col-md-12 mt-1">
                <div class="form-group">
                  <label for="datepicker-placeholder">Date of birth</label>
                  <b-form-datepicker
                    id="datepicker-placeholder"
                    placeholder="Choose a date"
                    locale="en"
                  ></b-form-datepicker>
                </div>
              </div>
              <div class="col-md-12">
                <base-input
                  label="Email"
                  prepend-icon="fas fa-envelope"
                  placeholder="Email"
                  v-model="form.email"
                />
              </div>
              <div class="col-md-12 mt-1">
                <base-input
                  label="Phone"
                  prepend-icon="fas fa-phone"
                  placeholder="Phone"
                  v-model="form.phone"
                />
              </div>
              <div class="col-md-12 mt-1">
                <base-input
                  label="Education"
                  prepend-icon="fas fa-graduation-cap"
                  placeholder="Education"
                  v-model="form.education"
                />
              </div>
              <div class="col-md-12 mt-1">
                <base-input
                  label="Summary"
                  prepend-icon="fas fa-file"
                  placeholder="Summary"
                  v-model="form.summary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 my-1">
                <base-input
                  label="Address 1"
                  prepend-icon="fas fa-map-marked-alt"
                  placeholder="Address 1"
                  v-model="form.address1"
                />
              </div>
              <div class="col-md-12 my-1">
                <base-input
                  label="Address 2"
                  prepend-icon="fas fa-map-marked-alt"
                  placeholder="Address 2"
                  v-model="form.address2"
                />
              </div>
              <div class="col-md-6">
                <base-input
                  label="Country"
                  prepend-icon="fas fa-globe-africa"
                  placeholder="Country"
                  v-model="form.country"
                />
              </div>
              <div class="col-md-6">
                <base-input
                  label="City"
                  prepend-icon="fas fa-city"
                  placeholder="City"
                  v-model="form.city"
                />
              </div>
            </div>
            <div class="mt-5 text-center">
              <button class="btn btn-primary profile-button" type="submit">
                Save Profile
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: "UsersForm",
    props: {
      data: {
        required: false,
        type: Object,
            default: () => {
                return {};
            },
        },
    },
    data() {
        return {
            form: {
                first_name: "",
                last_name: "",
                name: "",
                username: "",
                email: "",
                phone: "",
                education: "",
                summary: "",
                address1: "",
                address2: "",
                country: "",
                city: "",
                cv: "",
                biogeography: "",
            },
            errors: {},
            loading: false,
            roles: [],
            selected: [],
            selectedAll: false,
            genders: [
              {
                value: "MALE",
                label: "Male",
              },
              {
                value: "FEMALE",
                label: "Female",
              },
              {
                value: "OTHER",
                label: "Other",
              },
              {
                value: "PREFER_NOT_TO_SAY",
                label: "Prefer not to say",
              },
            ],
        };
    },
    watch: {
        data: {
            handler: function (val, oldVal) {
                if (val.id && val.id !== oldVal.id) {
                    this.form = val;
                    }
                },
                deep: true,
        },
    },
}
</script>

<style>

</style>