<template>
    <div>
        <b-badge class="p-2 mr-2" v-for="(item, index) in data.roles" :key="index" :variant="variant(item)">{{ item.name }}</b-badge>
    </div>
</template>

<script>
export default {
  name: "Roles",
  props: {
    data: {},
    name: {},
    click: {},
    meta: {},
    classes: {},
  },
  methods: {
    variant(item) {
      if (item.name === "admin") {
        return "danger";
      }
      if (item.name === "user") {
        return "success";
      }
      if (item.name === "editor") {
        return "warning";
      }
      if (item.name === "student") {
        return "primary";
      }
    },
  },
};
</script>

<style></style>
