<template>
    <section class="blog-details mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-one__single">
                        <div class="blog-one__image">
                            <img
                                :src="data.thumbnail_url | replacePostThumbnail"
                                alt=""
                            />
                        </div>
                        <!-- /.blog-one__image -->
                        <div class="blog-one__content text-center">
                            <div class="blog-one__meta">
                                <a
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title=""
                                    href="#"
                                    data-original-title="Posted On Jan 19"
                                    ><i class="fa fa-calendar-alt"></i
                                ></a>
                                <a
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title=""
                                    href="#"
                                    data-original-title="No Comments"
                                    ><i class="fa fa-comments"></i
                                ></a>
                                <a
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title=""
                                    href="#"
                                    data-original-title="Posted By Admin"
                                    ><i class="fa fa-user"></i
                                ></a>
                            </div>
                            <!-- /.blog-one__meta -->
                            <h2 class="blog-one__title">{{ data.title }}</h2>
                            <!-- /.blog-one__title -->
                            <div class="pb-5" v-html="data.content"></div>
                        </div>
                        <!-- /.blog-one__content -->
                    </div>
                    <!-- /.blog-one__single -->
                    <div class="mt-3 share-block">
                        <div class="left-block">
                            <!-- <p>Tags: <a href="#">Business,</a> <a href="#">Agency,</a> <a href="#">Technology</a></p> -->
                            <p>
                                Tags:
                                <span
                                    v-for="(tag, idx) in data.tags"
                                    :key="idx"
                                >
                                    <!-- <nuxt-link :to="`/tag/${tag.slug}`">{{ tag.name }}</nuxt-link> -->
                                    <a
                                        v-if="idx < data.tags.length - 1"
                                        href="#"
                                        >{{ tag.name }},</a
                                    >
                                    <a v-else href="#">{{ tag.name }}</a>
                                </span>
                            </p>
                        </div>
                        <!-- /.left-block -->
                        <div class="social-share">
                            <!-- <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a> -->
                            <ShareNetwork
                                v-for="network in networks"
                                :network="network.network"
                                :key="network.network"
                                :style="{backgroundColor: network.color}"
                                :url="sharing.url"
                                :title="sharing.title"
                                :description="sharing.description"
                                :quote="sharing.quote"
                                :hashtags="sharing.hashtags"
                                :twitterUser="sharing.twitterUser"
                                class="p-1 text-white mr-2"
                            >
                                <i :class="network.icon"></i>
                                <span>{{ network.name }}</span>
                            </ShareNetwork>
                        </div>
                        <!-- /.social-block -->
                    </div>
                    <!-- /.share-block -->
                    <div class="blog-details__author border-radius-30">
                        <div class="blog-details__author-image avatar-br">
                            <img
                                :src="data.author_avatar | replaceAvatar"
                                alt="Awesome Image"
                            />
                        </div>
                        <!-- /.blog-details__image -->
                        <div class="blog-details__author-content">
                            <h3>{{ data.author_name }}</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the rinting
                                and typesetting been the industry standard dummy
                                text ever sincer condimentum purus. In non ex at
                                ligula fringilla lobortis et not the aliquet.
                            </p>
                        </div>
                        <!-- /.blog-details__content -->
                    </div>
                    <!-- /.blog-details__author -->
                    <!-- <h2 class="blog-details__content-title">2 Comments</h2>
                    <div class="comment-one">
                        <div class="comment-one__single">
                            <div class="comment-one__image">
                                <div class="inner-block">
                                    <img src="/assets/images/comment-1-1.jpg" alt="Awesome Image">
                                </div>
                            </div>
                            <div class="comment-one__content">
                                <div class="comment-one__content-top">
                                    <div class="comment-one__top-left">
                                        <h3 class="comment-one__author">Laquanda Bachmeier</h3>
                                        <p class="comment-one__date">20 April, 2019 <span class="comment-one__date-sep">-</span> 4:00 pm</p>
                                        <p class="comment-one__text">Lorem Ipsum is simply dummy text of the rinting and
                                            typesetting been the industry standard dummy text ever sincer condimentum purus.
                                            In non ex at ligula fringilla lobortis et not the aliquet.</p>
                                    </div>
                                    <div class="comment-one__top-right">
                                        <a href="#" class="thm-btn comment-one__reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="blog-details__content-title">Leave a Comment</h2>
                    <form @submit.prevent="saveComment" class="reply-form">
                        <div class="row">
                            <div class="col-lg-12">
                                <textarea v-model="formComment.content" placeholder="Write message" class="border-radius-30 reply-form__field"></textarea>
                                <button class="reply-form__btn thm-btn" type="submit">Submit Comment</button>
                            </div>
                        </div>
                    </form> -->
                    <CommentList :post-id="data.id"></CommentList>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar w-100">
                        <div class="sidebar__single sidebar__search">
                            <form
                                @submit.prevent="handleSearch"
                                class="border-radius-30 sidebar__search-form"
                            >
                                <input
                                    v-model="keyword"
                                    type="text"
                                    name="search"
                                    placeholder="Search here..."
                                />
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <!-- /.sidebar__single -->
                        <div
                            class="border-radius-30 sidebar__single sidebar__post"
                        >
                            <h3 class="sidebar__title">Popular Posts</h3>
                            <!-- /.sidebar__title -->
                            <div class="sidebar__post-wrap">
                                <div
                                    v-for="(item, idx) in most_view"
                                    :key="idx"
                                    class="sidebar__post__single"
                                >
                                    <div class="sidebar__post-image">
                                        <div class="inner-block">
                                            <img
                                                :src="
                                                    item.thumbnail_url
                                                        | replacePostThumbnail
                                                "
                                                alt="Awesome Image"
                                            />
                                        </div>
                                        <!-- /.inner-block -->
                                    </div>
                                    <!-- /.sidebar__post-image -->
                                    <div class="sidebar__post-content">
                                        <h4 class="sidebar__post-title">
                                            <nuxt-link
                                                :to="`/post/${item.slug}`"
                                                >{{ item.title }}</nuxt-link
                                            >
                                        </h4>
                                        <!-- /.sidebar__post-title -->
                                    </div>
                                    <!-- /.sidebar__post-content -->
                                </div>
                                <!-- /.sidebar__post__single -->
                            </div>
                            <!-- /.sidebar__post-wrap -->
                        </div>
                        <!-- /.sidebar__single -->
                        <div
                            class="border-radius-30 sidebar__single sidebar__category"
                        >
                            <h3 class="sidebar__title">Categories</h3>
                            <!-- /.sidebar__title -->
                            <ul class="sidebar__category-list">
                                <li
                                    v-for="(item, idx) in categories"
                                    :key="idx"
                                    class="sidebar__category-list-item"
                                >
                                    <nuxt-link
                                        :to="`/post/category/${item.slug}`"
                                        >{{ item.name }}</nuxt-link
                                    >
                                </li>
                                <!-- <li class="sidebar__category-list-item"><a href="#">Introductions</a></li>
                                <li class="sidebar__category-list-item"><a href="#">One Page Template</a></li>
                                <li class="sidebar__category-list-item"><a href="#">Parallax Effects</a></li>
                                <li class="sidebar__category-list-item"><a href="#">New Technologies</a></li>
                                <li class="sidebar__category-list-item"><a href="#">Video Backgrounds</a></li> -->
                            </ul>
                            <!-- /.sidebar__category-list -->
                        </div>
                        <!-- /.sidebar__single -->
                        <div
                            class="border-radius-30 sidebar__single sidebar__tags"
                        >
                            <h3 class="sidebar__title">Tags</h3>
                            <!-- /.sidebar__title -->
                            <ul class="sidebar__tags-list">
                                <li
                                    v-for="(item, idx) in tags"
                                    :key="idx"
                                    class="sidebar__tags-list-item mr-2"
                                >
                                    {{ item.name }}
                                </li>
                                <!-- <li class="sidebar__tags-list-item"><a href="#">Agency,</a></li>
                                <li class="sidebar__tags-list-item"><a href="#">Technology,</a></li>
                                <li class="sidebar__tags-list-item"><a href="#">Parallax,</a></li>
                                <li class="sidebar__tags-list-item"><a href="#">Innovative,</a></li>
                                <li class="sidebar__tags-list-item"><a href="#">Professional,</a></li>
                                <li class="sidebar__tags-list-item"><a href="#">Experience,</a></li> -->
                            </ul>
                            <!-- /.sidebar__category-list -->
                        </div>
                        <!-- /.sidebar__single -->
                    </div>
                    <!-- /.sidebar -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
</template>
<script>
import CommentList from "@/pages/components/blog/comment/list";
export default {
    name: "post",
    layout: "AppLayout",
    data() {
        return {
            // sharing: {
            //     url: "https://news.vuejs.org/issues/180",
            //     title: "Say hi to Vite! A brand new, extremely fast development setup for Vue.",
            //     description:
            //         'This week, I’d like to introduce you to "Vite", which means "Fast". It’s a brand new development setup created by Evan You.',
            //     quote: "The hot reload is so fast it's near instant. - Evan You",
            //     hashtags: "vuejs,vite,javascript",
            //     twitterUser: "youyuxi",
            // },
            networks: [
                {
                    network: "facebook",
                    name: "Facebook",
                    icon: "fab fah fa-lg fa-facebook-f",
                    color: "#1877f2",
                },
                {
                    network: "linkedin",
                    name: "LinkedIn",
                    icon: "fab fah fa-lg fa-linkedin",
                    color: "#007bb5",
                },
                {
                    network: "quora",
                    name: "Quora",
                    icon: "fab fah fa-lg fa-quora",
                    color: "#a82400",
                },
                {
                    network: "reddit",
                    name: "Reddit",
                    icon: "fab fah fa-lg fa-reddit-alien",
                    color: "#ff4500",
                },
                {
                    network: "twitter",
                    name: "Twitter",
                    icon: "fab fah fa-lg fa-twitter",
                    color: "#1da1f2",
                },
            ],
            data: {},
            mostView: [],
            comments: [],
            most_view: [],
            categories: [],
            tags: [],
            keyword: "",
            formComment: {
                name: "",
                email: "",
                content: "",
            },
            isLoading: false,
            error: null,
        };
    },
    computed: {
        sharing() {
            return {
                url: this.$config.baseURL+this.$route.path,
                title: this.data.title,
                description: this.data.summary,
                // quote: "The hot reload is so fast it's near instant. - Evan You",
                // hashtags: "vuejs,vite,javascript",
                // twitterUser: "youyuxi",
            }
        },
    },
    components: {
        CommentList,
    },
    methods: {
        handleSearch() {
            this.$router.push({
                path: `/blog?q=${this.keyword}`,
            });
        },
        saveComment() {
            const vm = this;
            if (!!this.formComment.content) {
                this.isLoading = true;
                this.error = null;
                let data = {
                    content: this.formComment.content,
                };
                // if (this.type === "REPLY" && this.comment && this.comment) {
                //     data["parent_id"] = this.comment.commentid;
                // }
                // if (this.action === "ADD") {
                this.$axios
                    .post(`/posts/${this.data.id}/comments`, data)
                    .then((res) => {
                        console.log(
                            "🚀 ~ file: _slug.vue ~ line 212 ~ saveComment ~ res",
                            res
                        );
                    })
                    .catch((e) => {
                        console.log("error", e);
                    })
                    .finally((e) => {
                        vm.isLoading = false;
                    });
                // }
                // else {
                //     axios
                //     .post(`/api/v1/comments/${this.comment.commentid}/edit`, data)
                //     .then(res => {
                //         if (res.status === 200) {
                //             vm.$emit(
                //                 "saveCommentSuccess",
                //                 vm.message
                //             );
                //         }
                //     })
                //     .catch(e => {
                //         console.log("error", e);
                //     })
                //     .finally(e => {
                //         vm.isLoading = false;
                //         vm.message = "";
                //     });
                // }
            } else {
                this.error = "Please enter a comment to save";
            }
        },
    },
    async asyncData({ $axios, params }) {
        const { slug } = params;
        const data = await $axios.get(`/posts/${slug}`);
        return {
            ...data.data.data,
        };
    },
};
</script>
