<template>
  <div>
   <div id="ember143517" class="ember-view">
        <div class="filters-form  " id="filters-form">
            <div class="container">
                <div class="feilds-wrapper visibility-true">
                    <div id="ember143518" class="type-teachers field-group ember-view">
                        <div class="power-select">

                            <div class="ember-basic-dropdown-trigger ember-power-select-trigger " role="button" tabindex="0"
                                data-ebd-id="ember143519-trigger" aria-owns="ember-basic-dropdown-content-ember143519"
                                aria-expanded="false">
                                <span class="ember-power-select-selected-item">
                                    Premium
                                </span>
                                <span class="ember-power-select-clear-btn">×</span>
                                <span class="ember-power-select-status-icon"></span>
                            </div>
                            <div id="ember-basic-dropdown-content-ember143519"
                                class="ember-basic-dropdown-content-placeholder"></div>
                        </div>
                    </div>
                    <div id="ember143520" class="field-group small without-spin ember-view">
                        <input placeholder="Your child's age" id="ember143521"
                            class="ember-text-field field-group small without-spin ember-view" type="number">
                    </div>
                    <span class="show-filters-btn field-group " role="button">
                        More
                    </span>
                </div>
                <div id="drop-down-filters" class="drop-down-filters ">
                    <div class="drop-down-filters__header mobile-show">
                        <h3>filter</h3>
                        <span class="hide-filter-mobile" role="button">
                            <svg viewbox="0 0 352 512" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false"
                                aria-hidden="true" data-icon="times" data-prefix="fas" id="ember143522"
                                class="svg-inline--fa fa-times fa-w-11 ember-view">
                                <path fill="currentColor"
                                    d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                                </path>
                            </svg>
                        </span>
                    </div>
                    <div class="filter-list">
                        <div class="filter-list__item">
                            <span class="title">Teach</span>
                            <ul>
                                <li class="active">
                                    English
                                </li>
                                <li>
                                    Spanish
                                </li>
                                <li>
                                    German
                                </li>
                                <li>
                                    French
                                </li>
                                <li>
                                    Italian
                                </li>
                                <li>
                                    Portuguese
                                </li>
                                <li>
                                    Chinese
                                </li>
                                <li>
                                    Japanese
                                </li>
                                <li>
                                    Russian
                                </li>
                            </ul>
                        </div>
                        <div class="filter-list__item">
                            <span class="title">Speak</span>
                            <ul class="language-speak__list">
                                <li>
                                    English
                                </li>
                                <li>
                                    Russian
                                </li>
                                <li>
                                    Ukrainian
                                </li>
                                <li>
                                    Spanish
                                </li>
                                <li>
                                    Italian
                                </li>
                                <li>
                                    Polish
                                </li>
                                <li>
                                    German
                                </li>
                                <li>
                                    Serbian
                                </li>
                                <li>
                                    French
                                </li>
                                <li>
                                    Portuguese
                                </li>
                                <li>
                                    Greek
                                </li>
                                <li>
                                    Czech
                                </li>
                                <li>
                                    Slovak
                                </li>
                                <li>
                                    Hungarian
                                </li>
                                <li>
                                    Romanian
                                </li>
                                <li>
                                    Hebrew
                                </li>
                                <li>
                                    Arabic
                                </li>
                                <li>
                                    Turkish
                                </li>
                                <li>
                                    Malay
                                </li>
                                <li>
                                    Indonesian
                                </li>
                                <li>
                                    Vietnamese
                                </li>
                                <li>
                                    Thai
                                </li>
                                <li>
                                    Korean
                                </li>
                                <li>
                                    Japanese
                                </li>
                                <li>
                                    Don't speak Russain
                                </li>
                            </ul>
                        </div>

                        <div class="filter-list__item">
                            <span class="title">Specialization</span>
                            <ul>
                                <li>
                                    Unified State Exam
                                </li>
                                <li>
                                    TOEFL
                                </li>
                                <li>
                                    IELTS
                                </li>
                                <li>
                                    Cambridge exams
                                </li>
                                <li>
                                    Teaches adults
                                </li>
                                <li>
                                    OGE
                                </li>
                                <li>
                                    Children with disabilities
                                </li>
                                <li>
                                    Native speaker
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter-list__buttons">
                        <span class="btn no-bg" role="button">
                            Reset
                        </span>
                        <span class="btn orange" role="button">
                            Apply
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ember143523" class="ember-view">
        <div class="teacher-page teachers-list-page ">
            <div class="main-content">
                <div class="teachers-list">
                    <div class="container">
                        <div id="ember143524" class="ember-view">
                            <div id="tutor-card-520533" class="short-profile inner-wrapper">
                                <a href="teacher/5205332bdc.html?back_anchor=tutor-card-520533&amp;back_page=1"
                                    id="ember143525" class="ember-view read-more link avatar-wrapper">
                                    <div class="avatar-profile">
                                        <img src="https://s.allright.com/avatars/user-520533/150x150.jpg?timestamp=1637324451422"
                                            alt="Milorad Pavlovic">
                                    </div>
                                </a>
                                <div class="main-info">
                                    <h2 class="name">
                                        <a href="teacher/5205332bdc.html?back_anchor=tutor-card-520533&amp;back_page=1"
                                            id="ember143526" class="ember-view">
                                            Milorad P.
                                        </a>
                                    </h2>
                                    <p class="location">Italy</p>
                                    <div class="description-info">
                                        <ul>
                                            <li class="teachLanguages">
                                                <span class="title">Teach:</span> english
                                            </li>
                                            <li class="teachLanguages">
                                                <span class="title">Speak:</span>
                                                english, italian, serbian
                                            </li>
                                            <li class="hidden-xs">
                                                <span class="title">Specialization:</span>
                                                TOEFL,
                                                Teaches adults
                                            </li>

                                            <li>
                                                <span class="title">Interests:</span>
                                                architecture,
                                                photography,
                                                travelling
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right-buttons">
                                    <ul class="additional-info">
                                        <li>
                                            <span class="title">Learn</span>
                                            from 3 years old
                                        </li>
                                        <li>
                                            <a href="teacher/520533d3e0.html?anchor=reviews&amp;back_anchor=tutor-card-520533&amp;back_page=1"
                                                id="ember143527" class="ember-view">
                                                <div id="ember143528" class="ember-view">
                                                    <div id="ember143529" class="ratting ember-view">
                                                        <div class="stars">
                                                            <div class="active-stars" style="width: 100%"></div>
                                                        </div>
                                                        <span class="counts">(2)</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn no-bg">
                                        <i class="ni ni-button-play"></i>
                                        Video greeting
                                    </a>
                                    <div class="btn orange">
                                        Book lesson
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ember143534" class="ember-view">
                            <div id="tutor-card-533266" class="short-profile inner-wrapper">
                                <a href="teacher/5332663b14.html?back_anchor=tutor-card-533266&amp;back_page=1"
                                    id="ember143535" class="ember-view read-more link avatar-wrapper">
                                    <div class="avatar-profile">
                                        <img src="https://s.allright.com/avatars/user-533266/150x150.jpg?timestamp=1637884196280"
                                            alt="Ermenita  Shahu">
                                    </div>
                                </a>
                                <div class="main-info">
                                    <h2 class="name">
                                        <a href="teacher/5332663b14.html?back_anchor=tutor-card-533266&amp;back_page=1"
                                            id="ember143536" class="ember-view">
                                            Ermenita S.
                                        </a>
                                    </h2>
                                    <p class="location">Albania</p>
                                    <div class="description-info">
                                        <ul>
                                            <li class="teachLanguages">
                                                <span class="title">Teach:</span> english
                                            </li>
                                            <li class="teachLanguages">
                                                <span class="title">Speak:</span>
                                                english, albanian, italian
                                            </li>
                                            <li class="hidden-xs">
                                                <span class="title">Specialization:</span>
                                                Teaches adults
                                            </li>

                                            <li>
                                                <span class="title">Interests:</span>
                                                walking,
                                                reading,
                                                developing new skills,
                                                listening to music,
                                                travelling
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right-buttons">
                                    <ul class="additional-info">
                                        <li>
                                            <span class="title">Learn</span>
                                            3 - 14 years old
                                        </li>
                                        <li>
                                            <a href="teacher/53326680e8.html?anchor=reviews&amp;back_anchor=tutor-card-533266&amp;back_page=1"
                                                id="ember143537" class="ember-view">
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn no-bg">
                                        <i class="ni ni-button-play"></i>
                                        Video greeting
                                    </a>
                                    <div class="btn orange">
                                        Book lesson
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ember143543" class="ember-view">
                            <div id="tutor-card-532576" class="short-profile inner-wrapper">
                                <a href="teacher/5325767556.html?back_anchor=tutor-card-532576&amp;back_page=1"
                                    id="ember143544" class="ember-view read-more link avatar-wrapper">
                                    <div class="avatar-profile">
                                        <img src="https://s.allright.com/avatars/user-532576/150x150.jpg?timestamp=1637949032366"
                                            alt="Flaminia Miraglia">
                                    </div>
                                </a>
                                <div class="main-info">
                                    <h2 class="name">
                                        <a href="teacher/5325767556.html?back_anchor=tutor-card-532576&amp;back_page=1"
                                            id="ember143545" class="ember-view">
                                            Flaminia M.
                                        </a>
                                    </h2>
                                    <p class="location">Italy</p>
                                    <div class="description-info">
                                        <ul>
                                            <li class="teachLanguages">
                                                <span class="title">Teach:</span> english, italian (native)
                                            </li>
                                            <li class="teachLanguages">
                                                <span class="title">Speak:</span>
                                                italian, english, spanish
                                            </li>
                                            <li>
                                                <span class="title">Interests:</span>
                                                travels,
                                                music,
                                                cooking
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right-buttons">
                                    <ul class="additional-info">
                                        <li>
                                            <span class="title">Learn</span>
                                            from 3 years old
                                        </li>
                                        <li>
                                            <a href="teacher/5325762d4b.html?anchor=reviews&amp;back_anchor=tutor-card-532576&amp;back_page=1"
                                                id="ember143546" class="ember-view">
                                                <div id="ember143547" class="ember-view">
                                                    <div id="ember143548" class="ratting ember-view">
                                                        <div class="stars">
                                                            <div class="active-stars" style="width: 90%"></div>
                                                        </div>
                                                        <span class="counts">(2)</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn no-bg">
                                        <i class="ni ni-button-play"></i>
                                        Video greeting
                                    </a>
                                    <div class="btn orange">
                                        Book lesson
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ember143553" class="ember-view">
                            <div id="tutor-card-253682" class="short-profile inner-wrapper">
                                <a href="teacher/253682fb05.html?back_anchor=tutor-card-253682&amp;back_page=1"
                                    id="ember143554" class="ember-view read-more link avatar-wrapper">
                                    <div class="avatar-profile">
                                        <img src="https://s.allright.com/avatars/user-253682/150x150.jpg?timestamp=1609171723722"
                                            alt="Mladen Dordevic">
                                    </div>
                                </a>
                                <div class="main-info">
                                    <h2 class="name">
                                        <a href="teacher/253682fb05.html?back_anchor=tutor-card-253682&amp;back_page=1"
                                            id="ember143555" class="ember-view">
                                            Mladen D.
                                        </a>
                                    </h2>
                                    <p class="location">Serbia</p>
                                    <div class="description-info">
                                        <ul>
                                            <li class="teachLanguages">
                                                <span class="title">Teach:</span> english
                                            </li>
                                            <li class="teachLanguages">
                                                <span class="title">Speak:</span>
                                                russian, english, serbian
                                            </li>
                                            <li>
                                                <span class="title">Interests:</span>
                                                reading,
                                                drawing,
                                                painting,
                                                traveling,
                                                music,
                                                records,
                                                photography,
                                                psychology
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right-buttons">
                                    <ul class="additional-info">
                                        <li>
                                            <span class="title">Learn</span>
                                            6 - 12 years old
                                        </li>
                                        <li>
                                            <a href="teacher/2536824e02.html?anchor=reviews&amp;back_anchor=tutor-card-253682&amp;back_page=1"
                                                id="ember143556" class="ember-view">
                                                <div id="ember143557" class="ember-view">
                                                    <div id="ember143558" class="ratting ember-view">
                                                        <div class="stars">
                                                            <div class="active-stars" style="width: 100%"></div>
                                                        </div>
                                                        <span class="counts">(16)</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn no-bg">
                                        <i class="ni ni-button-play"></i>
                                        Video greeting
                                    </a>
                                    <div class="btn orange">
                                        Book lesson
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ember143563" class="ember-view">
                            <div id="tutor-card-462621" class="short-profile inner-wrapper">
                                <a href="teacher/4626219aaa.html?back_anchor=tutor-card-462621&amp;back_page=1"
                                    id="ember143564" class="ember-view read-more link avatar-wrapper">
                                    <div class="avatar-profile">
                                        <img src="https://s.allright.com/avatars/user-462621/150x150.jpg?timestamp=1636563833925"
                                            alt="Magdalena Todorova">
                                    </div>
                                </a>
                                <div class="main-info">
                                    <h2 class="name">
                                        <a href="teacher/4626219aaa.html?back_anchor=tutor-card-462621&amp;back_page=1"
                                            id="ember143565" class="ember-view">
                                            Magdalena T.
                                        </a>
                                    </h2>
                                    <p class="location">Macedonia, the Former Yugoslav Republic of</p>
                                    <div class="description-info">
                                        <ul>
                                            <li class="teachLanguages">
                                                <span class="title">Teach:</span> english
                                            </li>
                                            <li class="teachLanguages">
                                                <span class="title">Speak:</span>
                                                macedonian, english, italian
                                            </li>
                                            <li>
                                                <span class="title">Interests:</span>
                                                singing,
                                                reading,
                                                going out with friends,
                                                playing with pets
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right-buttons">
                                    <ul class="additional-info">
                                        <li>
                                            <span class="title">Learn</span>
                                            3 - 14 years old
                                        </li>
                                        <li>
                                            <a href="teacher/46262182b6.html?anchor=reviews&amp;back_anchor=tutor-card-462621&amp;back_page=1"
                                                id="ember143566" class="ember-view">
                                                <div id="ember143567" class="ember-view">
                                                    <div id="ember143568" class="ratting ember-view">
                                                        <div class="stars">
                                                            <div class="active-stars" style="width: 80%"></div>
                                                        </div>
                                                        <span class="counts">(2)</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn no-bg">
                                        <i class="ni ni-button-play"></i>
                                        Video greeting
                                    </a>
                                    <div class="btn orange">
                                        Book lesson
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ember143573" class="ember-view">
                            <div id="tutor-card-531559" class="short-profile inner-wrapper">
                                <a href="teacher/5315595630.html?back_anchor=tutor-card-531559&amp;back_page=1"
                                    id="ember143574" class="ember-view read-more link avatar-wrapper">
                                    <div class="avatar-profile">
                                        <img src="https://s.allright.com/avatars/user-531559/150x150.jpg?timestamp=1637702150261"
                                            alt="Bojana  Kolarevic">
                                    </div>
                                </a>
                                <div class="main-info">
                                    <h2 class="name">
                                        <a href="teacher/5315595630.html?back_anchor=tutor-card-531559&amp;back_page=1"
                                            id="ember143575" class="ember-view">
                                            Bojana K.
                                        </a>
                                    </h2>
                                    <p class="location">Serbia</p>
                                    <div class="description-info">
                                        <ul>
                                            <li class="teachLanguages">
                                                <span class="title">Teach:</span> english
                                            </li>
                                            <li class="teachLanguages">
                                                <span class="title">Speak:</span>
                                                english, serbian, italian
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right-buttons">
                                    <ul class="additional-info">
                                        <li>
                                            <span class="title">Learn</span>
                                            3 - 18 years old
                                        </li>
                                        <li>
                                            <a href="teacher/53155947fe.html?anchor=reviews&amp;back_anchor=tutor-card-531559&amp;back_page=1"
                                                id="ember143576" class="ember-view">
                                                <div id="ember143577" class="ember-view">
                                                    <div id="ember143578" class="ratting ember-view">
                                                        <div class="stars">
                                                            <div class="active-stars" style="width: 60%"></div>
                                                        </div>
                                                        <span class="counts">(4)</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn no-bg">
                                        <i class="ni ni-button-play"></i>
                                        Video greeting
                                    </a>
                                    <div class="btn orange">
                                        Book lesson
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ember143583" class="ember-view">
                            <div id="tutor-card-491186" class="short-profile inner-wrapper">
                                <a href="teacher/4911865fa3.html?back_anchor=tutor-card-491186&amp;back_page=1"
                                    id="ember143584" class="ember-view read-more link avatar-wrapper">
                                    <div class="avatar-profile">
                                        <img src="https://s.allright.com/avatars/user-491186/150x150.jpg?timestamp=1636230556800"
                                            alt="Rana Karjy">
                                    </div>
                                </a>
                                <div class="main-info">
                                    <h2 class="name">
                                        <a href="teacher/4911865fa3.html?back_anchor=tutor-card-491186&amp;back_page=1"
                                            id="ember143585" class="ember-view">
                                            Rana K.
                                        </a>
                                    </h2>
                                    <p class="location">Kazakhstan</p>
                                    <div class="description-info">
                                        <ul>
                                            <li class="teachLanguages">
                                                <span class="title">Teach:</span> english
                                            </li>
                                            <li class="teachLanguages">
                                                <span class="title">Speak:</span>
                                                english, german, turkish, kazakh
                                            </li>
                                            <li class="hidden-xs">
                                                <span class="title">Specialization:</span>
                                                Teaches adults
                                            </li>

                                            <li>
                                                <span class="title">Interests:</span>
                                                Reading,
                                                Music,
                                                Book,
                                                Art
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right-buttons">
                                    <ul class="additional-info">
                                        <li>
                                            <span class="title">Learn</span>
                                            from 3 years old
                                        </li>
                                        <li>
                                            <a href="teacher/491186e2e7.html?anchor=reviews&amp;back_anchor=tutor-card-491186&amp;back_page=1"
                                                id="ember143586" class="ember-view">
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn no-bg">
                                        <i class="ni ni-button-play"></i>
                                        Video greeting
                                    </a>
                                    <div class="btn orange">
                                        Book lesson
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ember143592" class="ember-view">
                            <div id="tutor-card-527910" class="short-profile inner-wrapper">
                                <a href="teacher/5279108b9c.html?back_anchor=tutor-card-527910&amp;back_page=1"
                                    id="ember143593" class="ember-view read-more link avatar-wrapper">
                                    <div class="avatar-profile">
                                        <img src="https://s.allright.com/avatars/user-527910/150x150.jpg?timestamp=1638646345759"
                                            alt="Bisila Kalemi">
                                    </div>
                                </a>
                                <div class="main-info">
                                    <h2 class="name">
                                        <a href="teacher/5279108b9c.html?back_anchor=tutor-card-527910&amp;back_page=1"
                                            id="ember143594" class="ember-view">
                                            Bisila K.
                                        </a>
                                    </h2>
                                    <p class="location">Albania</p>
                                    <div class="description-info">
                                        <ul>
                                            <li class="teachLanguages">
                                                <span class="title">Teach:</span> english
                                            </li>
                                            <li class="teachLanguages">
                                                <span class="title">Speak:</span>
                                                english, spanish, italian
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right-buttons">
                                    <ul class="additional-info">
                                        <li>
                                            <span class="title">Learn</span>
                                            3 - 14 years old
                                        </li>
                                        <li>
                                            <a href="teacher/5279100d65.html?anchor=reviews&amp;back_anchor=tutor-card-527910&amp;back_page=1"
                                                id="ember143595" class="ember-view">
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn no-bg">
                                        <i class="ni ni-button-play"></i>
                                        Video greeting
                                    </a>
                                    <div class="btn orange">
                                        Book lesson
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ember143601" class="ember-view">
                            <div id="tutor-card-525404" class="short-profile inner-wrapper">
                                <a href="teacher/525404577a.html?back_anchor=tutor-card-525404&amp;back_page=1"
                                    id="ember143602" class="ember-view read-more link avatar-wrapper">
                                    <div class="avatar-profile">
                                        <img src="https://s.allright.com/avatars/user-525404/150x150.jpg?timestamp=1637925334306"
                                            alt="Jovana Zivkovic">
                                    </div>
                                </a>
                                <div class="main-info">
                                    <h2 class="name">
                                        <a href="teacher/525404577a.html?back_anchor=tutor-card-525404&amp;back_page=1"
                                            id="ember143603" class="ember-view">
                                            Jovana Z.
                                        </a>
                                    </h2>
                                    <p class="location">Serbia</p>
                                    <div class="description-info">
                                        <ul>
                                            <li class="teachLanguages">
                                                <span class="title">Teach:</span> english
                                            </li>
                                            <li class="teachLanguages">
                                                <span class="title">Speak:</span>
                                                english, italian, serbian
                                            </li>
                                            <li class="hidden-xs">
                                                <span class="title">Specialization:</span>
                                                TOEFL,
                                                Teaches adults,
                                                IELTS,
                                                Children with disabilities,
                                                Unified State Exam,
                                                Native speaker
                                            </li>

                                            <li>
                                                <span class="title">Interests:</span>
                                                music,
                                                reading,
                                                drawing,
                                                languages
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right-buttons">
                                    <ul class="additional-info">
                                        <li>
                                            <span class="title">Learn</span>
                                            3 - 14 years old
                                        </li>
                                        <li>
                                            <a href="teacher/525404406c.html?anchor=reviews&amp;back_anchor=tutor-card-525404&amp;back_page=1"
                                                id="ember143604" class="ember-view">
                                                <div id="ember143605" class="ember-view">
                                                    <div id="ember143606" class="ratting ember-view">
                                                        <div class="stars">
                                                            <div class="active-stars" style="width: 100%"></div>
                                                        </div>
                                                        <span class="counts">(1)</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn no-bg">
                                        <i class="ni ni-button-play"></i>
                                        Video greeting
                                    </a>
                                    <div class="btn orange">
                                        Book lesson
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ember143611" class="ember-view">
                            <div id="tutor-card-489081" class="short-profile inner-wrapper">
                                <a href="teacher/489081108e.html?back_anchor=tutor-card-489081&amp;back_page=1"
                                    id="ember143612" class="ember-view read-more link avatar-wrapper">
                                    <div class="avatar-profile">
                                        <img src="https://s.allright.com/avatars/user-489081/150x150.jpg?timestamp=1639424247063"
                                            alt="Eleni Gerdhuqi">
                                    </div>
                                </a>
                                <div class="main-info">
                                    <h2 class="name">
                                        <a href="teacher/489081108e.html?back_anchor=tutor-card-489081&amp;back_page=1"
                                            id="ember143613" class="ember-view">
                                            Eleni G.
                                        </a>
                                    </h2>
                                    <p class="location">Albania</p>
                                    <div class="description-info">
                                        <ul>
                                            <li class="teachLanguages">
                                                <span class="title">Teach:</span> english
                                            </li>
                                            <li class="teachLanguages">
                                                <span class="title">Speak:</span>
                                                english, albanian, greek
                                            </li>
                                            <li class="hidden-xs">
                                                <span class="title">Specialization:</span>
                                                TOEFL,
                                                Teaches adults
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right-buttons">
                                    <ul class="additional-info">
                                        <li>
                                            <span class="title">Learn</span>
                                            from 3 years old
                                        </li>
                                        <li>
                                            <a href="teacher/4890817dca.html?anchor=reviews&amp;back_anchor=tutor-card-489081&amp;back_page=1"
                                                id="ember143614" class="ember-view">
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn no-bg">
                                        <i class="ni ni-button-play"></i>
                                        Video greeting
                                    </a>
                                    <div class="btn orange">
                                        Book lesson
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mx-auto teachers-list__pagination">
                            <div class="pager">
                                <nav arialabel="Page navigation" id="ember143620" class="ember-view">
                                    <ul class="pagination ">
                                        <li class="previous disabled">
                                            <a href="teachers2679.html?page=1">
                                                «
                                            </a>
                                        </li>

                                        <li id="ember143622" class="active ember-view"> <a href="teachers2679.html?page=1">
                                                1
                                            </a>
                                        </li>
                                        <li id="ember143624" class="ember-view"> <a href="teachers4658.html?page=2">
                                                2
                                            </a>
                                        </li>
                                        <li id="ember143626" class="ember-view"> <a href="teachers9ba9.html?page=3">
                                                3
                                            </a>
                                        </li>
                                        <li id="ember143628" class="ember-view"> <span>
                                                …
                                            </span>
                                        </li>
                                        <li id="ember143629" class="ember-view"> <a href="teachers8c06.html?page=25">
                                                25
                                            </a>
                                        </li>
                                        <li id="ember143631" class="ember-view"> <a href="teachers19d2.html?page=26">
                                                26
                                            </a>
                                        </li>

                                        <li class="next ">
                                            <a href="teachers4658.html?page=2">
                                                »
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>
import { Tooltip } from "element-ui";
export default {
  auth: false,
  layout: "AppLayout",
  name: "teachers",
  ssr: true,
  components: {
    [Tooltip.name]: Tooltip,
  },
//   head() {
//     return {
//       link: [
//          //you shouldn't mention ~/static itself
//         { rel: 'stylesheet', type: 'text/css', href: '/css/datepicker.css' },
//         { rel: 'stylesheet', type: 'text/css', href: '/css/signup.css' },
//       ],
//     };
//   }
};
</script>
