<template>
  <div class="form-registration">
    <div class="background-img popup-page">
      <a href="https://allright.com/" class="main-logo main-logo--mode-header">
        <svg
          class="logo-icon"
          role="img"
          aria-label="Allright Logo"
          style="color: #823cdc"
          width="160"
          height="30"
        >
          <use xlink:href="#allright-logo"></use>
        </svg>
      </a>
      <div class="popup-wrapper">
        <div class="popup-color">
          <h1>Create an account</h1>
          <!-- <div id="ember143251" class="form-join ember-view">
            <div class="title-auxiliary title-auxiliary--fancy">
              <span>Dashboard</span>
            </div>
            <div>
              <div id="ember143252" class="form-login ember-view">
                <form>
                  <div class="login-group">
                    <div>
                      <label>Your phone number</label>
                      <div id="ember143254" class="intlTelInput ember-view">
                        <div class="form-group">
                          <input
                            class="visible-input"
                            placeholder="Your phone number"
                            required="required"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <div>
                      <label>or via</label>
                      <div id="ember143255" class="ember-view">
                        <div class="social-sign-in">
                          <a class="facebook icon-facebook"></a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="bottom-block">
                    <button class="btn orange" type="submit">
                      Log in
                    </button>
                    <p>
                      <a role="button" class="external-link"
                        >Use a login and a password</a
                      >
                    </p>
                  </div>
                </form>
              </div>
              <div class="title-auxiliary title-auxiliary--fancy">
                <span>New to Allright?</span>
              </div>
              <div id="ember143258" class="book-form ember-view">
                <form class="book-lesson book-form">
                  <div class="field-wrapper">
                    <div id="ember143260" class="validated-input ember-view">
                      <div class="form-group">
                        <input
                          name="name"
                          autocomplete="on"
                          placeholder="Your name"
                          id="ember143262"
                          class="form-control ember-text-field ember-view"
                          type="text"
                        />
                        <div class="input-error"></div>
                      </div>
                    </div>
                  </div>
                  <div class="field-wrapper phone-wrapper">
                    <div id="ember143263" class="intlTelInput ember-view">
                      <div class="form-group">
                        <input
                          class="visible-input"
                          placeholder="Your phone number"
                          required="required"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="field-wrapper email-wrapper">
                    <div id="ember143264" class="validated-input ember-view">
                      <div class="form-group">
                        <input
                          name="email"
                          autocomplete="on"
                          placeholder="Your email"
                          id="ember143268"
                          class="form-control ember-text-field ember-view"
                          type="email"
                        />
                        <div class="input-error"></div>
                      </div>
                    </div>
                  </div>

                  <div class="bottom-block">
                    <button class="btn orange" type="submit">
                      Submit your application
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div> -->
          <form
            role="form"
            @submit.prevent="handleRegister"
            @keydown.enter="handleRegister"
          >
            <base-input
              alternative
              class="mb-3"
              prepend-icon="ni ni-hat-3"
              placeholder="Name"
              name="Name"
              v-model="form.name"
            >
            </base-input>
            <validation-error :errors="apiValidationErrors.name" />

            <base-input
              alternative
              class="mb-3"
              prepend-icon="ni ni-email-83"
              placeholder="Email"
              name="Email"
              v-model="form.email"
            >
            </base-input>
            <validation-error :errors="apiValidationErrors.email" />

            <base-input
              alternative
              class="mb-3"
              prepend-icon="ni ni-world"
              placeholder="CV Link"
              name="CV"
              v-model="form.cv"
            >
            </base-input>
            <validation-error :errors="apiValidationErrors.cv" />

            <base-input
                prepend-icon="ni ni-paper-diploma"
                alternative
            >
                <textarea 
                    class="mb-3 form-control" 
                    placeholder="Biography"
                    name="Biography"
                    v-model="form.biography"
                    type="textarea"
                    rows="3">
                </textarea>
            </base-input>
            <validation-error :errors="apiValidationErrors.biography" />

            <base-input
              alternative
              class="mb-3"
              prepend-icon="ni ni-lock-circle-open"
              placeholder="Password"
              type="password"
              name="Password"
              v-model="form.password"
            >
            </base-input>
            <password
              class="mb-3"
              v-model="form.password"
              :strength-meter-only="true"
              @score="showScore"
              :showStrengthMeter="false"
            />

            <validation-error :errors="apiValidationErrors.password" />

            <base-input
              alternative
              class="mb-3"
              prepend-icon="ni ni-lock-circle-open"
              placeholder="Confirm Password"
              type="password"
              name="Password confirmation"
              v-model="form.password_confirmation"
            >
            </base-input>

            <validation-error
              :errors="apiValidationErrors.password_confirmation"
            />

            <div class="text-muted font-italic">
              <small
                >password strength:

                <template v-if="form.scors === 0">
                  <span class="text-danger font-weight-700"> very weak </span>
                </template>

                <template v-if="form.scors === 1">
                  <span class="text-danger font-weight-700"> weak </span>
                </template>

                <template v-if="form.scors === 2">
                  <span class="text-warning font-weight-700"> medium </span>
                </template>

                <template v-if="form.scors === 3">
                  <span class="text-success font-weight-700"> strong </span>
                </template>

                <template v-if="form.scors === 4">
                  <span class="text-success font-weight-700">
                    very strong
                  </span>
                </template>
              </small>
            </div>

            <div class="row my-4">
              <div class="col-12">
                <base-input
                  :rules="{ required: { allowFalse: false } }"
                  name="Privacy Policy"
                >
                  <base-checkbox
                    v-model="form.agree"
                    name="agree"
                  >
                    <span class="text-muted"
                      >I agree with the
                      <a href="#!">Terms and conditions</a></span
                    >
                  </base-checkbox>
                </base-input>
              </div>
            </div>
            <div class="text-center">
              <base-button
                type="primary"
                @click.prevent="handleRegister"
                class="my-4"
                >Submit your application</base-button
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import VuePhoneNumberInput from "vue-phone-number-input";
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";
import Password from "vue-password-strength-meter";
import BaseCheckbox from "~/components/argon-core/Inputs/BaseCheckbox.vue";

export default {
  auth: false,
  layout: "StudentAuthLayout",
  name: "teacher-signup",
  mixins: [formMixin],
  components: { ValidationError, Password, BaseCheckbox },
  middleware({ store, redirect, route }) {
    // If the user is authenticated
    if (store.$auth.loggedIn) {
      return redirect("/");
    }
  },
  data() {
    return {
      phoneNumber: "",
      form: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        agree: false,
        scors: "",
        role: "teacher",
        biography: "",
        cv: "",
      },
    };
  },
  // components: {
  //   VuePhoneNumberInput
  // },
  methods: {
    showScore(score) {
      this.form.scors = score;
    },
    async handleRegister() {
      const _vm = this;
      if (!this.form.agree) {
        this.$notify({
          type: "danger",
          message: "You need to agree with our terms and conditions.",
        });
        return;
      }

      try {
        await this.$store.dispatch("register/create", this.form);

        //log in the user after successful register
        await this.$auth.loginWith("local", {
          data: {
            email: this.form.email,
            password: this.form.password,
          },
        });
        _vm.$router.push("/dashboard");
      } catch (error) {
        this.setApiValidation(error.response.data);

        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
      }
    },
  },
};
</script>
