<template>
  <section class="blog-one blog-page mt-5">
      <div class="container">
          <div class="row">
              <div v-for="(item, index) in data" :key="index" class="col-lg-4 mb-4">
                  <div class="blog-one__single card h-100">
                      <div class="blog-one__image">
                          <img :src="item.thumbnail_url | replacePostThumbnail" alt="">
                          <nuxt-link class="blog-one__plus" :to="`/post/${item.slug}`"><i class="kipso-icon-plus-symbol"></i>
                              <!-- /.kipso-icon-plus-symbol --></nuxt-link>
                      </div><!-- /.blog-one__image -->
                      <div class="blog-one__content text-center">
                          <div class="blog-one__meta">
                              <a data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Posted On Jan 19"><i class="fa fa-calendar-alt"></i></a>
                              <a data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="No Comments"><i class="fa fa-comments"></i></a>
                              <a data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Posted By Admin"><i class="fa fa-user"></i></a>
                          </div><!-- /.blog-one__meta -->
                          <h2 class="blog-one__title"><nuxt-link :to="`/post/${item.slug}`">{{ item.title }}</nuxt-link>
                          </h2><!-- /.blog-one__title -->
                          <p class="blog-one__text">{{ item.summary }}</p><!-- /.blog-one__text -->
                          <nuxt-link :to="`/post/${item.slug}`" class="blog-one__link">Read More</nuxt-link><!-- /.blog-one__link -->
                      </div><!-- /.blog-one__content -->
                  </div><!-- /.blog-one__single -->
              </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
          <div v-show="meta.total > meta.per_page" class="post-pagination">
            <b-pagination
                @change="changePage"
                :per-page="meta.per_page"
                v-model="page"
                pills
                :total-rows="meta.total"
                size="lg"
                :hide-goto-end-buttons="meta.total <= meta.per_page"
                ></b-pagination>
          </div><!-- /.post-pagination -->
      </div><!-- /.container -->
  </section>
</template>
<script>
  export default {
    name: 'BlogByCategory',
    layout: 'AppLayout',
    data () {
      return {
        page: 1,
        data: [],
        meta: {},
      }
    },
    methods: {
      async changePage(page) {
        try {
            this.page = page;
            let _params = {
                page,
                per_page: 6,
            };
            const _data = await this.$axios.get(
                `/posts/category/${this.categorySlug}`,
                {
                    params: _params,
                }
            );
            const { data, meta } = _data.data;
            this.data = data;
            this.meta = meta;
        } catch (error) {
            this.$notify({
            type: "danger",
            message: "Oops! Something went wrong.",
            });
        }
        },
    },
    head () {
      return {
        title: 'Neptune School | Blog'
      }
    },
    computed: {
      categorySlug() {
        return this.$route.params.slug;
      }
    },
    async asyncData({ $axios, params }) {
        let _params = {
            page: 1,
            limit: 6,
            ...params,
        };
        const data = await $axios.get(`/posts/category/${_params.slug}`, 
            {
                params: _params,
            }
        );
        return {
            ...data.data,
        };
    },
  }
</script>
