<template>
  <div class="container-fluid mt-5">
    <b-tabs @activate-tab="onChangeTab" content-class="mt-3">
      <b-tab title="Exam detail" :active="tabActive == 0">
        <ExamForm :data="form" @callback="goBack"/>
      </b-tab>
      <b-tab title="History" :active="tabActive == 1">
        <data-table
          :data="data"
          :columns="columns"
          @on-table-props-changed="reloadTable"
          @loading="loading"
          @finished-loading="loading"
        >
        </data-table>
      </b-tab>
    </b-tabs>
  </div>
</template>
<script>
import draggable from "vuedraggable";
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";
import HistoryExamAction from "@/pages/components/exam/HistoryExamAction.vue";
import ExamForm from '../../components/exam/form.vue'

export default {
  name: "examdetail",
  display: "Two Lists",
  layout: "DashboardLayout",
  mixins: [formMixin],
  order: 1,
  components: {
    draggable,
    ValidationError,
    HistoryExamAction,
    ExamForm
  },

  data() {
    return {
      form : {
        id: "",
        title: "",
        timeLimit: 0,
        status: "",
        description: "",
        slug: "",
        list1: [],
        list2: [],
      },
      editorConfig: {
        removePlugins: ["MediaEmbedToolbar", "Title"],
        simpleUpload: {
          uploadUrl: "path_to_image_controller",
          headers: {
            Authorization: "optional_token",
          },
        },
      },
      columns: [
        {
          label: "id",
          name: "user_id",
          orderable: true,
        },
        {
          label: "Student Name",
          name: "username",
          orderable: false,
        },
        {
            label: "Score",
            name: "total_score",
            orderable: true,
        },
        {
            label: 'Actions',
            name: '',
            orderable: false,
            component: HistoryExamAction,
            event: "click",
            handler: this.updateSelectedModal,
        },
      ],
      tableProps: {
        search: "",
        length: 10,
        column: "total_score",
        dir: "asc",
      },
      data: {},
      loading: false,
    };
  },
  watch: {
    title: function (val, oldVal) {
      if (oldVal && val != oldVal) {
        this.slug = this.sanitizeTitle(val);
      }
    },
  },
  created: async function () {
    await this.getDataDetail();
    await this.getHistoryExam();
    this.getData();
  },
  computed: {
    arrIds: function () {
      if (this.list2) {
        return this.list2.map((item) => item.id);
      }
      return [];
    },
    id() {
      return this.$route.params.id;
    },
    tabActive() {
      return this.$route.query.tab ? 1 : 0;
    },
  },
  methods: {
    add: function () {
      this.list.push({ name: "Juan" });
    },
    replace: function () {
      this.list = [{ name: "Edgard" }];
    },
    clone: function (el) {
      return {
        name: el.name + " cloned",
      };
    },
    log: function (evt) {
      window.console.log(evt);
    },
    getDataDetail: async function () {
      const vm = this
      await this.$axios
        .get(`/exams/${this.id}`)
        .then((respon) => {
          if (respon) {
            this.form.id = this.$route.params.id;
            for (const [key, value] of Object.entries(respon.data.data)) {
              if(key === 'questions'){
                vm.form.list2 = value
              }
              if(key === 'description'){
                this.form[key] = value ? value : ""
              }else{
                this.form[key] = value
              }
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
      await this.$axios
        .get("/questions")
        .then((respon) => {
          if (respon) {
            this.form.list1 = respon.data.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
      const arrId = this.form.list2.map((ele) => ele.id);
      this.list1 = this.form.list1.filter((element) => {
        if (!arrId.includes(element.id)) {
          return element;
        }
      });
    },
    getHistoryExam (
       url = `${this.$config.apiURL}/exams-student/history/${this.id}`,
      options = this.tableProps
    ) {
      console.log(url);
       this.$axios
        .get(url,{params: options})
        .then((respon) => {
          if (respon) {
            this.data = respon.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getData: function () {},
    updateExam() {
      this.$axios
        .put(`/exams/${this.id}`, {
          title: this.title,
          time_limit: this.timeLimit,
          questions: this.arrIds,
          status: this.status,
          description: this.description,
        })
        .then((res) => {
          if (res.data.success) {
            this.$notify({
              type: "success",
              message: res.message || "Updated successfully!!",
            });
            this.$router.push("/manage/exams");
          } else {
            this.setApiValidation(res.data.data);
          }
        })
        .catch((error) => {
          console.log(
            "🚀 ~ file: create.vue ~ line 202 ~ saveExam ~ error",
            error
          );
          this.setApiValidation(error.response.data);

          this.$notify({
                type: "danger",
                message: "Oops, something went wrong!",
          });
        });
    },
    sanitizeTitle: function (title) {
      var slug = "";
      // Change to lower case
      var titleLower = title.toLowerCase();
      // Letter "e"
      slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
      // Letter "a"
      slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, "a");
      // Letter "o"
      slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, "o");
      // Letter "u"
      slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
      // Letter "d"
      slug = slug.replace(/đ/gi, "d");
      // Trim the last whitespace
      slug = slug.replace(/\s*$/g, "");
      // Change whitespace to "-"
      slug = slug.replace(/\s+/g, "-");

      return slug;
    },
    cancel() {
      this.$router.go(-1);
    },
     onChangeTab(tab) {
      this.$router.push({
        name: this.$route.name,
        query: {
          tab: tab,
        },
      });
    },
    reloadTable(tableProps) {
      this.getHistoryExam(this.url, tableProps);
    },
    updateSelectedModal:function(){
      this.getHistoryExam();
    },
    goBack(){
      this.$router.go(-1);
    }
  },
  mounted() {
    this.getHistoryExam();
  },
};
</script>
