<template>
  <div class="container-fluid mt-5">
    <ExamForm 
      :list1="list1"
      :list2="list2"
      @callback="goBack"
    />
  </div>
</template>
<script>
import draggable from "vuedraggable";
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";
import ExamForm from "../../components/exam/form.vue"
import _ from 'lodash'

export default {
  layout: "DashboardLayout",
  name: "examCreate",
  mixins: [formMixin],
  display: "Two Lists",
  order: 1,
  components: {
    draggable,
    ValidationError,
    ExamForm
  },
  data() {
    return {
      keyword: "",
      title: "",
      timeLimit: 0,
      slug: "",
      description: "",
      status: "PRIVATE",
      list1: [],
      list2: [],
      errors: {},
      editorConfig: {
        removePlugins: ["MediaEmbedToolbar", "Title"],
        simpleUpload: {
          uploadUrl: "path_to_image_controller",
          headers: {
            Authorization: "optional_token",
          },
        },
      },
    };
  },
  
  created: function () {
    console.log("created");
    this.getData();
  },
  computed: {
    arrIds: function () {
      if (this.list2) {
        return this.list2.map((item) => item.id);
      }
      return [];
    },
  },
  methods: {
    add: function () {
      this.list.push({ name: "Juan" });
    },
    replace: function () {
      this.list = [{ name: "Edgard" }];
    },
    clone: function (el) {
      return {
        name: el.name + " cloned",
      };
    },
    log: function (evt) {
      window.console.log(evt);
    },
    getData: function () {
      this.$axios
        .get("/questions")
        .then((respon) => {
          if (respon) {
            this.list1 = respon.data.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    goBack(){
      this.$router.go(-1);
    }
  },
};
</script>
