<template>
  <client-only>
    <div class="container-fluid mt-5">
      <b-row class="mb-3">
        <b-col cols="12" md="12" lg="12" xl="12">
          <nuxt-link to="/manage/exams/create" class="btn btn-primary">Create Exam</nuxt-link>
        </b-col>
      </b-row>
      <data-table
        :data="data"
        :columns="columns"
        @on-table-props-changed="reloadTable"
        @loading="loading"
        @finished-loading="loading"
      >
      </data-table>
    </div>
  </client-only>
</template>
<script>
import Actions from "@/pages/components/exam/actions.vue";
export default {
  ssr: false,
  layout: "DashboardLayout",
  components: {
    Actions
  },
  data() {
    return {
      columns: [
        {
          label: "ID",
          name: "id",
          orderable: true,
        },
        {
          label: "Title",
          name: "title",
          orderable: true,
        },
        {
            label: "Time Limit (min)",
            name: "time_limit",
            orderable: true,
        },
        {
            label: "Slug",
            name: "slug",
            orderable: true,
        },
        {
          label: "Teacher",
          name: "user.name",
          orderable: false,
        },
        // {
        //   label: "Status",
        //   name: "status",
        //   orderable: false,
        // },
        {
            label: 'Actions',
            name: '',
            orderable: false,
            component: Actions,
            event: "click",
            handler: this.updateSelectedModal,
        },
      ],
      selectedRow: {},
      data: {},
      total: 0,
      query: {
        sortBy: "id",
        descending: true,
        page: 1,
        perPage: 10,
        search: "",
      },
      tableProps: {
        search: "",
        length: 10,
        column: "id",
        dir: "asc",
      },
      loading: false,
    };
  },
  methods: {
    getData(
      url = `${this.$config.apiURL}/exams/search`,
      options = this.tableProps
    ) {
      this.loading = true;
      this.$axios
        .get(url, {
          params: options,
        })
        .then((response) => {
          this.data = response.data;
        })
        // eslint-disable-next-line
        .catch((errors) => {
          //Handle Errors
        })
        .finally(() => {
          this.loading = false;
        });
    },
    reloadTable(tableProps) {
      this.getData(this.url, tableProps);
    },
    updateSelectedModal(data) {
      // this.selectedRow = data;
      this.getData();
    }
  },
  mounted() {
    this.getData();
  },
};
</script>
