<template>
  <section class="content">
    <form @submit.prevent="submit" ref="formHTML">
      <div class="row">
        <div class="col-12">
          <div class="col-12">
            <div class="form-group">
              <label for="title">Titlte</label>
              <input
                type="text"
                class="form-control"
                id="title"
                placeholder="Title"
                v-model="form.title"
              />
              <validation-error :errors="apiValidationErrors.title" />
              <client-only>
                <p
                    v-if="errors && Object.keys(errors).length > 0"
                    class="invalid-feedback"
                >
                    {{ errors.title && errors.title[0] }}
                </p>
              </client-only>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <div class="form-group">
                  <label for="time_limit">Time limit</label>
                  <input
                    type="number"
                    class="form-control"
                    id="time_limit"
                    v-model="form.time_limit"
                  />
                  <validation-error :errors="apiValidationErrors.time_limit" />
                </div>
              </div>
              <div class="col-auto">
                <div class="form-group">
                  <label for="time_limit">Status</label>
                  <select
                    required="required"
                    id="type"
                    name="type"
                    class="form-control"
                    v-model="form.status"
                  >
                    <option value="PRIVATE">PRIVATE</option>
                    <option value="PUBLIC">PUBLIC</option>
                    <option value="UNLISTED">UNLISTED</option>
                  </select>
                  <validation-error :errors="apiValidationErrors.status" />
                </div>
              </div>
              <div class="col-auto">
                <b-form-checkbox
                  id="checkbox-1"
                  v-model="form.is_demo"
                  name="checkbox-1"
                  value="1"
                  unchecked-value="0"
                >
                  Exam is demo ?
                </b-form-checkbox>
              </div>
            </div>

            <div class="form-group">
              <label for="time_limit">Description</label>
              <!-- <textarea class="form-control" id="description" v-model="description" /> -->
              <client-only placeholder="loading...">
                <ckeditor-nuxt
                  v-model="form.description"
                  :config="editorConfig"
                />
              </client-only>
              <validation-error :errors="apiValidationErrors.description" />
            </div>
            <div class="form-group row">
              <label
                for="thumbnail_id"
                class="col-sm-12 col-form-label text-md-left"
                >COURSE THUMBNAIL</label
              >
              <div class="col-sm-12">
                <input
                  type="file"
                  class="custom-file-input"
                  id="thumbnail_id"
                  name="thumbnail_id"
                  @change="onFileChange"
                />
                <label class="custom-file-label mx-3" for="thumbnail_id"
                  >CHOOSE IMAGE</label
                >
                <p class="imagePreferredSize">
                  <small
                    >Preferred size: 500 px width x 250 px height with the file
                    types: .jpg/.jpeg/.png</small
                  >
                </p>
                <validation-error :errors="apiValidationErrors.thumbnail_id" />
              </div>
              <client-only>
                <div v-show="previewImageUrl" class="mb-3" id="preview">
                    <img :src="previewImageUrl" />
                </div>
              </client-only>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label
                  for="price"
                  class="col-sm-12 col-form-label text-md-left"
                >
                  Price</label
                >
                <b-input-group prepend="$" class="mb-2 mr-sm-2 mb-sm-0">
                  <b-form-input
                    id="inline-form-input-price"
                    placeholder="Price"
                    v-model="form.price"
                  ></b-form-input>
                </b-input-group>
                <validation-error :errors="apiValidationErrors.price" />
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label
                    for="price"
                    class="col-sm-12 col-form-label text-md-left"
                  >
                    Level</label
                  >
                  <select
                    required="required"
                    id="type"
                    name="type"
                    class="form-control"
                    v-model="form.level"
                  >
                    <option value="1">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                  </select>
                  <validation-error :errors="apiValidationErrors.status" />
                </div>
              </div>
            </div>
          </div>

          <b-card-group class="col-12" deck>
            <b-card header="Questions" header-tag="header">
              <b-form-input
                v-model="keyword"
                placeholder="Enter question name"
                class="mb-1"
                v-on:input="processSearch"
              ></b-form-input>
              <draggable
                class="list-group"
                :list="list1"
                group="people"
                @change="log"
              >
                <div
                  class="list-group-item"
                  v-for="(element, index) in list1"
                  :key="element.id"
                >
                  {{ element.title }} - {{ index }}
                </div>
              </draggable>
            </b-card>
            <b-card header="Group question of exam" header-tag="header">
              <!-- <h3 class="btn btn-primary full-width">Group question of exam</h3> -->
              <draggable
                class="list-group"
                :list="list2"
                group="people"
                @change="log"
              >
                <div
                  class="list-group-item"
                  v-for="(element, index) in list2"
                  :key="element.id"
                >
                  {{ element.title }} {{ index }}
                </div>
              </draggable>
            </b-card>
          </b-card-group>
          <validation-error :errors="apiValidationErrors.questions" />
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-end">
          <input type="submit" class="btn btn-primary f-right" value="SAVE" />
          <!-- <button class="btn btn-primary f-right" v-on:click="saveExam">
            Save
            </button> -->
        </div>
      </div>
    </form>
  </section>
</template>

<script>
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";
import draggable from "vuedraggable";
import _ from "lodash";

export default {
  name: "ExamForm",
  mixins: [formMixin],
  components: {
    ValidationError,
    draggable,
  },
  props: {
    errors: {},
    data: {},
  },
  data() {
    return {
      status: "not_accepted",
      keyword: "",
      list1: [],
      list2: [],
      editorConfig: {
        removePlugins: ["MediaEmbedToolbar", "Title"],
        simpleUpload: {
            uploadUrl: this.$config.apiURL + "/upload",
            headers: {
                Authorization:`${this.$auth.getToken("local")}`
            },
        },
      },

      thumbnail_id: null,
      previewImageUrl: "",
      form: {
        id: "",
        title: "",
        time_limit: 0,
        slug: "",
        description: "",
        status: "PRIVATE",
        price: 0,
        listQuestion: [],
        level: 1,
        is_demo: 0,
        total_score: 0,
      },
    };
  },
  async created() {
    await this.getData();
    this.handleListQuestion();
  },
  computed: {
    arrIds: function () {
      if (this.list2) {
        return this.list2.map((item) => item.id);
      }
      return [];
    },
  },
  mounted() {},
  watch: {
    data: {
      handler: function (val, oldVal) {
        if (val.id) {
          this.form = {
            ...val,
          };
          this.previewImageUrl = val.media ? val.media.file_name: "";
        }
      },
      deep: true,
    },
  },
  methods: {
    onFileChange(e) {
      const file = e.target.files[0];
      if (!file) return;
      this.thumbnail_id = file;
      this.previewImageUrl = URL.createObjectURL(file);
    },
    async submit() {
      /* formData */
      var formData = new FormData();
      let rawData = {
        ...this.form,
      };
      Object.keys(rawData).map((e) => {
        if (rawData[e] != null) formData.append(e, rawData[e]);
      });
      if (this.thumbnail_id)
        formData.append(
          "thumbnail_id",
          this.thumbnail_id,
          this.thumbnail_id.name
        );
      let questions = this.list2.length
        ? this.list2.map((item) => item.id)
        : "";
        delete this.form['questions'];
        delete this.form['list1'];
        delete this.form['list2'];
      if (this.list2.length) {
        formData.append("questions", questions);
      }
      try {
        this.loading = true;
        let id = this.form.id;
        let axios = this.$axios.create();
        delete axios.defaults.headers.common["content-type"];
        delete axios.defaults.headers.post["content-type"];
        if (this.data && this.data.id) formData.append("_method", "PUT");
        let response = await axios({
          method: "POST",
          url: id ? `/exams/${this.form.id}` : "/exams/",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data; charset=utf-8;",
          },
        });
        response = response.data;
        console.log(response, "DEBUG");
        if (response.success) {
          this.$emit("callback", formData);
        } else {
          this.setApiValidation(response.data);
          this.$notify({
            type: "danger",
            message: response.message || "Success!!",
          });
        }
        this.loading = false;
      } catch (error) {
        console.log("🚀 ~ file: form.vue ~ line 345 ~ submit ~ error", error)
        this.$notify({
         type: "danger",
          message: "Something went wrong!!",
        });
      }
    },
    log: function (evt) {
      window.console.log(evt);
    },
    processSearch: _.debounce(function () {
      const vm = this;
      vm.getResults();
    }, 500),
    getResults: function () {
      let params = `?keyword=${this.keyword}`;
      this.$axios.get("/questions" + params).then((res) => {
        this.list1 = res.data.data;
      });
    },
    getData: async function () {
      await this.$axios
        .get("/questions")
        .then((respon) => {
          if (respon) {
            this.list1 = respon.data.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    handleListQuestion() {
      if (this.data?.list2.length) {
        let arrIds = this.data.list2.map((item) => item.id);
        this.list1 = this.list1.filter((element) => {
          if (!arrIds.includes(element.id)) {
            return element;
          }
        });
        this.list2 = this.data.list2;
      }
    },
  },
  mounted() {
    console.log("mounted");
  },
};
</script>

<style>
#preview {
  width: 150px;
  height: 150px;
}
#preview img {
  width: 100%;
}
.list-group-item {
  cursor: grab;
}
.sortable-chosen,
.sortable-ghost {
  cursor: grabbing;
}
</style>
