<template>
  <div>
    <!-- <b-button variant="success">Button</b-button> -->
     <modal :show="modals.classic" :showClose="false">
        <h6 slot="header" class="modal-title">Histoy detail</h6>
        <div class="content">
          <div class="mx-auto text-center" v-if="loading">
           <b-spinner variant="primary" label="Loading"></b-spinner>
          </div>
           <Table :data="items" v-else />
        </div>
        <template slot="footer">
            <base-button type="link" class="ml-auto" @click="modals.classic = false">Close</base-button>
        </template>

    </modal>
    <b-button @click="goToDetail" variant="outline-primary">
      <b-icon icon="pencil" />
    </b-button>
  </div>
</template>

<script>
import Modal from '../../../components/argon-core/Modal.vue'
import Table from './table.vue'
export default {
  name: "HistoryExamAction",
  props: {
    data: {},
    name: {},
    click: {},
    meta: {},
    classes: {},
    
  },
  components: {
    Modal,
    Table
  },
  data() {
    return {
      loading: true,
      modals: {
          classic: false,
          notice: false,
          form: false,
          content: ''
      },
      items: []
    };
  },
  created() {
  },
  methods: {
    getData(){
      let userId = this.data.user_id;
      let examId = this.$route.params.id
      let url = `${this.$config.apiURL}/exams-student/history/${examId}/detail/${userId}`
      this.$axios
        .get(url)
        .then((res) => {
          console.log(res," data123");
          if(res && res.data) {
            this.items = res.data.data;
            this.loading = false;
          }
        })
        .catch((errors) => {
          //Handle Errors
        })
    },
    goToDetail() {
      this.getData();
      this.modals.classic = true;
    },
  },
};
</script>
