<template>
    <!-- <div class="course-one__single">
    <div class="course-one__image">
      <img
        :src="item.media.file_name || '/assets/images/course-1-1.jpg'"
        :alt="item.name"
      />
    </div>
    <div class="course-one__content">
      <div v-if="item.user" class="course-one__admin">
        <img
          :src="item.user.avatar | replaceAvatar"
          alt=""
        />
        by
        <nuxt-link :to="`/teacher/detail/${item.id}`">{{
          item.user.name
        }}</nuxt-link>
      </div>
      <h2 class="course-one__title">
        <nuxt-link :to="`/exam/${item.slug}`">{{ item.title }}</nuxt-link>
      </h2>
      <div class="course-one__meta">
          <div class="course-one__meta-info">
               <p class="mr-1">
                <i class="far fa-clock"></i> {{ item.time_limit }} minutes
                </p>
                <p class="mr-1">
                <i class="far fa-folder-open"></i>{{ item.questions_count }} questions
                </p>
          </div>
       
        <b-badge href="#" variant="success" class="t-white">Free</b-badge>
      </div>
      <button @click="showPreviewModal(item)" class="btn course-one__link">
        See Preview
      </button>
    </div>
    <b-modal v-model="showPreview" size="lg" hide-footer :title="previewTitle"
      ><div v-html="previewExam" />
    </b-modal>
  </div> -->
    <div class="course-one__single">
        <div class="course-one__image">
            <img
                :src="item.media.file_name || '/assets/images/course-1-1.jpg'"
                :alt="item.title"
            />
        </div>
        <!-- /.course-one__image -->
        <div class="course-one__content">
            <!-- <a href="#" class="course-one__category">development</a> -->
            <!-- /.course-one__category -->
            <h2 class="course-one__title">
                <nuxt-link :to="`/exam/${item.slug}`">{{
                    item.title
                }}</nuxt-link>
            </h2>
            <div class="course-one__meta">
                <div class="course-one__meta-info">
                    <p class="mr-1">
                        <i class="far fa-clock"></i>
                         {{ item.time_limit }} minutes / {{ item.questions_count }} questions
                    </p>
                </div>
            </div>
            <div v-if="item.user" class="course-one__admin">
                <div>
                    <img :src="item.user.avatar" alt="" />
                    <nuxt-link
                        class="teacher-name"
                        :to="`/teacher/detail/${item.id}`"
                        >{{ item.user.name }}</nuxt-link
                    >
                </div>
                <div>
                    <client-only>
                        <nuxt-link to="/course-details">
                            <div v-if="item.price" class="t-white price">
                                {{ item.price | formatPrice }}
                            </div>
                            <div v-else class="t-white free">Free</div>
                        </nuxt-link>
                    </client-only>
                </div>
            </div>
            <!-- /.course-one__admin -->
        </div>
        <!-- /.course-one__content -->
        <!-- <b-modal
            v-model="showPreview"
            size="lg"
            hide-footer
            :title="previewTitle"
            ><div v-html="previewCourse"
        /></b-modal> -->
    </div>
</template>

<script>
export default {
    name: "CourseItem",
    data() {
        return {
            isLiked: this.item?.is_liked,
            previewExam: "",
            showPreview: false,
            previewTitle: "",
        };
    },
    props: {
        item: {
            type: Object,
            required: true,
        },
    },
    created() {},
    methods: {
        showPreviewModal(course) {
            this.previewTitle = course.title;
            this.previewExam = course.description;
            this.showPreview = true;
        },
        handleTimeLimit() {},
    },
};
</script>

<style></style>
