<template>
  <b-table striped hover :items="data"></b-table>
</template>

<script>
export default {
    props: {
        data: {}
    },
    data() {
      return {
        
      }
    },
    created() {
        console.log("123");
    }
}
</script>

<style>

</style>