<template>
<div>
    <b-button id="popover-reactive-1" variant="success" ref="button">
      Update status
    </b-button>
     <b-popover
      target="popover-reactive-1"
      triggers="click"
      :show.sync="popoverShow"
      placement="auto"
      container="my-container"
      ref="popover"
      @show="onShow"
      @shown="onShown"
      @hidden="onHidden"
    >
      <template #title>
        <b-button @click="onClose" class="close" aria-label="Close">
          <span class="d-inline-block" aria-hidden="true">&times;</span>
        </b-button>
        Update status
      </template>

      <div>

        <b-form-group
          label="Status"
          label-for="popover-input-2"
          label-cols="3"
          :state="input2state"
          class="mb-1"
          description="Pick a status"
          invalid-feedback="This field is required"
        >
          <b-form-select
            id="popover-input-2"
            ref="input2"
            v-model="input2"
            :state="input2state"
            :options="options"
            size="sm"
          ></b-form-select>
        </b-form-group>

        <b-button @click="onClose" size="sm" variant="danger">Cancel</b-button>
        <b-button @click="onOk" size="sm" variant="primary">Ok</b-button>
      </div>
    </b-popover>
  </div>
</template>

<script>
export default {
  name: "UpdateStatusBtn",
  data() {
    return {
        input2: '',
        input2state: null,
        options: [{ text: '- Choose -', value: '' }, 'PRIVATE', 'PUBLIC', 'UNLISTED'],
        input2Return: '',
        popoverShow: false
    };
  },
  watch: {
        input2(val) {
            if (val) {
                this.input2state = true
            }
        }
    },
  methods: {
      onClose() {
        this.popoverShow = false
      },
      onOk() {
        if (!this.input2) {
          this.input2state = false
        }
        if (this.input2) {
          this.onClose()
          this.input2Return = this.input2
        }
      },
      onShow() {
        this.input2 = ''
        this.input2state = null
        this.input2Return = ''
      },
      onShown() {
        // Called just after the popover has been shown
        // Transfer focus to the first input
        this.focusRef(this.$refs.input2)
      },
      onHidden() {
        this.focusRef(this.$refs.button)
      },
      focusRef(ref) {
        this.$nextTick(() => {
          this.$nextTick(() => {
            ;(ref.$el || ref).focus()
          })
        })
      }
    },
  computed: {
  },
};
</script>
