<template>
  <user-form />
</template>

<script>
import UserForm from "@/pages/components/users/form";
export default {
    name: "UserUpdate",
    layout: "DashboardLayout",
    components: {
        UserForm,
    },
}
</script>

<style>

</style>