<template>
  <client-only>
    <div class="container-fluid mt-5">
      <b-row class="mb-3">
        <b-col cols="12" md="12" lg="12" xl="12">
          <a href="/manage/users/create" class="btn btn-primary">Create user</a>
        </b-col>
      </b-row>
      <data-table
        :data="data"
        :columns="columns"
        @on-table-props-changed="reloadTable"
        @loading="loading"
        @finished-loading="loading"
      >
      </data-table>
    </div>
  </client-only>
</template>
<script>
import Actions from "@/pages/components/users/actions";
import Roles from "@/pages/components/users/roles";
export default {
  ssr: false,
  layout: "DashboardLayout",
  components: {
    Actions, Roles
  },
  data() {
    return {
      columns: [
        {
          label: "ID",
          name: "id",
          orderable: true,
        },
        {
          label: "Name",
          name: "name",
          orderable: true,
        },
        {
          label: "First name",
          name: "first_name",
          orderable: true,
        },
        {
          label: "Last name",
          name: "last_name",
          orderable: true,
        },
        {
          label: "Email",
          name: "email",
          orderable: true,
        },
        {
          label: "Phone",
          name: "phone",
          orderable: true,
        },
        {
          label: "Education",
          name: "education",
        },
        {
          label: "Role",
          name: "roles",
          orderable: false,
          component: Roles,
        },
        {
          label: 'Actions',
          name: '',
          orderable: false,
          component: Actions,
          // event: "click",
          // handler: this.updateSelectedModal,
        },
        // {
        //     label: 'View',
        //     name: '',
        //     orderable: false,
        //     component: ModalButton,
        //     event: "click",
        //     handler: this.updateSelectedModal,
        // },
      ],
      data: {},
      total: 0,
      query: {
        sortBy: "id",
        descending: true,
        page: 1,
        perPage: 10,
        search: "",
      },
      tableProps: {
        search: "",
        length: 10,
        column: "id",
        dir: "asc",
      },
      loading: false,
    };
  },
  methods: {
    getData(
      options = this.tableProps
    ) {
      this.loading = true;
      this.$axios.get('/users/search', {
          params: options,
        })
        .then((response) => {
          this.data = response.data;
        })
        // eslint-disable-next-line
        .catch((errors) => {
          //Handle Errors
        })
        .finally(() => {
          this.loading = false;
        });
    },
    reloadTable(tableProps) {
      this.getData(tableProps);
    },
  },
  mounted() {
    this.getData();
  },
};
</script>
