<template>
    <b-container class="course-enrolled">
        <h1 class="mt-5 mb-3">{{ name }}</h1>
        <hr />
        <b-row>
            <b-col cols="8">
                <b-tabs
                    nav-wrapper-class="course-details__tab-navs list-unstyled mt-0"
                    content-class="tab-content course-details__tab-content "
                    active-nav-item-class="active"
                    active-tab-class="active"
                    class="content-tabs"
                >
                    <b-tab title="Video" active>
                        <div
                            class="tab-pane show animated fadeInUp"
                            role="tabpanel"
                            id="overview"
                            v-if="h5pContent"
                        >
                            <!-- <b-embed
                                type="iframe"
                                aspect="16by9"
                                src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                                allowfullscreen
                            ></b-embed> -->
                            <H5P :h5p="h5pContent" :id="currentLesson.content_id"/>
                        </div>
                        <div class="p-2 lesson-content">
                            <div v-html="currentLesson.content" />
                        </div>
                    </b-tab>
                    <b-tab title="Quiz">
                        <div
                            class="tab-pane show animated fadeInUp"
                            role="tabpanel"
                            id="quiz"
                            v-if="currentLesson.exam_slug"
                        >
                            <Exam :examSlug="currentLesson.exam_slug"></Exam>
                        </div>
                    </b-tab>
                </b-tabs>
            </b-col>
            <b-col cols="4">
                <b-card
                    header="Lessons"
                    align="center"
                    class="lesson-tabs"
                >
                    <div
                    v-if="chapters.length > 0"
                    class="accordion"
                    role="tablist"
                >
                    <b-card
                        v-for="(item, idx) in chapters"
                        :key="idx"
                        no-body
                        class="mb-0"
                    >
                        <b-card-header
                            header-tag="header"
                            role="tab"
                        >
                            <b-button
                                block
                                v-b-toggle="'accordion-' + idx"
                                variant="info"
                                >{{ item.title }}</b-button
                            >
                        </b-card-header>
                        <b-collapse
                            :id="'accordion-' + idx"
                            visible
                            accordion="my-accordion"
                            role="tabpanel"
                        >
                            <b-card-body>
                                <b-list-group v-if="item.lessons.length > 0">
                                    <b-list-group-item
                                        v-for="(lesson, idx) in item.lessons"
                                        :key="idx"
                                        :class="{'d-flex justify-content-between align-items-center': true, 'active': lesson.id === currentLesson.id}"
                                        @click="chooseLesson(lesson)"
                                    >
                                        <span>
                                            {{ lesson.title }}
                                            <b-badge variant="primary" pill>{{
                                                lesson.spend_time
                                            }}</b-badge>
                                        </span>
                                    </b-list-group-item>
                                </b-list-group>
                                <b-alert v-else variant="secondary" show
                                    >No lessons yet</b-alert
                                >
                            </b-card-body>
                        </b-collapse>
                    </b-card>
                </div>
                <div v-else class="accordion" role="tablist">
                    <b-alert variant="secondary" show>No chapters yet</b-alert>
                </div>
                </b-card>
            </b-col>
        </b-row>
        <hr />
        <h2 class="mb-3">Recommended Lessons and Courses for You</h2>
        <!-- <b-card-group class="mb-3" deck>
           <b-card
                title="Card Title"
                img-src="https://picsum.photos/600/300/?image=25"
                img-alt="Image"
                img-top
                tag="article"
                class="mb-2"
            >
                <b-card-text>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                </b-card-text>

                <b-button href="#" variant="primary">Go somewhere</b-button>
            </b-card>
            <b-card
                title="Card Title"
                img-src="https://picsum.photos/600/300/?image=25"
                img-alt="Image"
                img-top
                tag="article"
                class="mb-2"
            >
                <b-card-text>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                </b-card-text>

                <b-button href="#" variant="primary">Go somewhere</b-button>
            </b-card>
            <b-card
                title="Card Title"
                img-src="https://picsum.photos/600/300/?image=25"
                img-alt="Image"
                img-top
                tag="article"
                class="mb-2"
            >
                <b-card-text>
                Some quick example text to build on the card title and make up the bulk of the card's content.
                </b-card-text>

                <b-button href="#" variant="primary">Go somewhere</b-button>
            </b-card>
        </b-card-group> -->
        <div class="row">
            <div
                v-for="(item, idx) in relate_courses"
                :key="idx"
                class="col-lg-4 border-radius-30"
            >
                <Item :item="item"/>
            </div>
        </div>
    </b-container>
</template>

<script>
import _ from 'lodash';
import Exam from "@/pages/components/exam";
import Item from "@/pages/components/course/item";
import H5P from "@/pages/components/h5p";

export default {
    name: "EnrolledCourse",
    layout: "AppLayout",
    components: { Exam, Item, H5P },
    data() {
        return {
            // course: {
            //     name: "Sapir-Whorf Hypothesis: Examples and Definition",
            //     exam: {
            //         slug: 'test-1'
            //     }
            // },
            currentLesson: {},
            h5pContent: {},
        };
    },
    async asyncData({ $axios, route }) {
        const data = await $axios.get("/courses/slug/" + route.params.slug);
        // console.log("🚀 ~ file: _slug.vue ~ line 246 ~ asyncData ~ data", data)
        return {
            ...data.data.data,
        };
    },
    methods: {
        async chooseLesson(lesson) {
            console.log("🚀 ~ file: _slug.vue ~ line 247 ~ chooseLesson ~ lesson", lesson)
            if (lesson.id !== this.currentLesson.id) {
                this.h5pContent = null;
                this.currentLesson = lesson;
                if (this.currentLesson.content_id) {
                    await this.getH5PContent(this.currentLesson.content_id);
                }
                this.$forceUpdate();
            }
        },
        getH5PContent(id) {
            try {
                this.$axios.get(`/h5p/embed/${id}`).then(res => {
                    console.log("🚀 ~ file: _slug.vue ~ line 253 ~ getH5PContent ~ res", res)
                    this.h5pContent = res.data;
                });
            } catch (error) {
                console.log("🚀 ~ file: _slug.vue ~ line 253 ~ getH5PContent ~ error", error)
            }
        },
    },
    mounted() {
        this.currentLesson = _.get(this, "chapters[0].lessons[0]", {});
        if (this.currentLesson.content_id) {
            this.getH5PContent(this.currentLesson.content_id);
        }
    },
};
</script>

<style></style>
