<template>
<div>
  <div class="payments__price-v2__subtitle">{{subTitle}}</div>
  <div class="payments__price-v2__plan-periods">
    <div class="payments__price-v2__plan-periods__list">
      <article
          class="ui-card ui-card--flat payments__price-v2__plan-periods__item"
          v-for="plan in plans" :key='plan.id'
          @click="setSelectedId(plan.id)" :class="{active : selectedId == plan.id}"
      >
        <div
            class="ui-card__body payments__price-v2__plan-periods__item__body"
        >
                <span class="payments__price-v2__plan-periods__item__check">
                  <svg width="12" height="12">
                    <use xlink:href="#icon-check" />
                  </svg>
                </span>
          <span class="payments__price-v2__plan-periods__item__title">
                  {{plan.time}}
                </span>
          <span class="payments__price-v2__plan-periods__item__subtitle">
                  {{plan.description}}
                </span>
          <span class="payments__price-v2__plan-periods__item__discount" v-show="plan.discount > 0">
                  <span><span>Discount</span> <span>-</span>{{plan.discount*100}}%</span>
                </span>
          <span class="payments__price-v2__plan-periods__item__price">
                  {{plan.originalPrice | formatPrice}} {{plan.link}}
                </span>
        </div>
      </article>

    </div>
    <div class="payments__price-v2__plan-periods__hint">
      <span>{{periodHint}}</span>
      <span
      ><svg width="34" height="34">
                <use xlink:href="#arrows-price-hint-pointer" /></svg
      ></span>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "ConvenientPlans",
  props: {
    plans: {
      type: Array,
      required: true
    },
    defaultSelectedId: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      subTitle: "Choose a convenient plan",
      periodHint: '3 months free',
      txtDiscount: 'Discount',
      selectedId: this.defaultSelectedId,
    }
  },
  methods: {
      setSelectedId(id){
        this.$emit('changePlan', id, 'plan');
        this.selectedId = id;
      }
  }

}
</script>

<style scoped>

</style>