<template>
<div>
  <div class="payments__price-v2__subtitle">{{subTitle}}</div>
  <div class="payments__price-v2__lesson-duration">
    <div
        class="ui-nav ui-nav--pills payments__price-v2__lesson-duration__list"
        v-for="duration in durations" :key="duration.id"
       
    >
      <div
          class="ui-nav__item payments__price-v2__lesson-duration__item"
          @click="setSelectedId(duration.id)" :class="{ active : selectedId == duration.id }"
      >
        {{duration.time}} min
      </div>

    </div>
    <span class="payments__price-v2__lesson-duration__pointer">
            <svg width="34" height="34">
              <use xlink:href="#arrows-price-hint-pointer" />
            </svg>
          </span>
    <span class="payments__price-v2__lesson-duration__hint">
            {{durationHint}}
          </span>
  </div>
</div>
</template>

<script>
export default {
  name: "LessonDuration",
  props: {
    durations: {
      type: Array,
      required: true
    },
    defaultSelectedId: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      selectedId: this.defaultSelectedId,
      subTitle: 'Lesson duration',
      durationHint: 'For children over 8 years old'
    }
  },
  methods:{
    setSelectedId:function(id){
      this.$emit('changePlan',id,'duration');
      this.selectedId = id;
    }
  }

}
</script>

<style scoped>

</style>