<template>
  <div class="payments__price-v2__right">
    <article class="ui-card ui-card--flat payments__price-v2__summary">
      <div class="ui-card__body payments__price-v2__summary__body">
        <!---->
        <div class="payments__price-v2__summary__cart">
          <div
              class="payments__price-v2__summary__cart__item payments__price-v2__summary__cart__item--buy"
          >
            <span> <span class="font-weight-bold">{{totalLessons}}</span> {{lessonPayment}} </span>
            <span class="payments__price-v2__summary__cart__item__total">
                  <!---->
                  <div
                      class="payments__price-v2__summary__cart__item__total__current"
                  >
                    {{totalPrice | formatPrice}}
                  </div>
                </span>
          </div>
          <div
              class="payments__price-v2__summary__cart__item payments__price-v2__summary__cart__item--speaking"
          >
            <span> {{speakingClubs}} </span>
            <span>{{free}}</span>
          </div>

          <!---->
        </div>

        <div class="payments__price-v2__summary__submit">
          <button class="btn btn-primary orange" type="button">{{btnPayment}}</button>
        </div>

        <div class="payments__price-v2__card-brands">
              <span class="payments__price-v2__card-brands__item">
                <svg width="36" height="24">
                  <use xlink:href="#payment-brand-visa" />
                </svg>
              </span>
          <span class="payments__price-v2__card-brands__item">
                <svg width="36" height="24">
                  <use xlink:href="#payment-brand-mastercard" />
                </svg>
              </span>
          <span class="payments__price-v2__card-brands__item">
                <svg width="36" height="24">
                  <use xlink:href="#payment-brand-google-pay" />
                </svg>
              </span>
          <span class="payments__price-v2__card-brands__item">
                <svg width="36" height="24">
                  <use xlink:href="#payment-brand-apple-pay" />
                </svg>
              </span>
          <span class="payments__price-v2__card-brands__item">
                <svg width="36" height="24">
                  <use xlink:href="#payment-brand-mir" />
                </svg>
              </span>
          <span class="payments__price-v2__card-brands__item">
                <svg width="36" height="24">
                  <use xlink:href="#payment-brand-amex" />
                </svg>
              </span>
          <span class="payments__price-v2__card-brands__item">
                <svg width="36" height="24">
                  <use xlink:href="#payment-brand-jcb" />
                </svg>
              </span>
        </div>

        <div class="payments__price-v2__benefits">
          <div class="payments__price-v2__benefits__item">
                <span>
                  <i class="ni ni-check-bold check-icon"></i>
                </span>
            <span> {{oneTimePayment}} </span>
          </div>
          <div class="payments__price-v2__benefits__item">
                <span>
                  <i class="ni ni-check-bold check-icon"></i>
                </span>
            <span> {{lessonUnlimited}} </span>
          </div>
        </div>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  name: "Payment",
  props: {
    totalPrice: {
      type: Number,
      default: 0
    },
    totalLessons: {
      type: Number,
      default: 0
    },
  },
  data() {
    return {
      btnPayment: 'Go to payment',
      lessonPayment: 'lessons with the teacher',
      speakingClubs: 'speaking clubs',
      oneTimePayment: 'One-time payment',
      lessonUnlimited: 'Lessons don\'t expire',
      free: 'Free'
    }
  }
}
</script>

<style scoped>

</style>