<template>
<div>
  <div class="payments__price-v2__subtitle">{{subTitle}}</div>
  <div class="payments__price-v2__tutor-types">
    <div
        class="payments__price-v2__tutor-types payments__price-v2__tutor-types--desktop"
    >
      <div class="payments__price-v2__tutor-types__list">
        <article
            class="ui-card ui-card--flat payments__price-v2__tutor-types__item with-discount"
            v-for="item in categories" :key="item.id"
            @click="setSelectedId(item.id)" :class="{ active : selectedId == item.id }"
        >
          <div class="ui-card__body">
                  <span class="payments__price-v2__tutor-types__item__check">
                    <svg width="12" height="12">
                      <use xlink:href="#icon-check" />
                    </svg>
                  </span>
            <span class="payments__price-v2__tutor-types__item__dropdown">
                    <svg width="14" height="14">
                      <use xlink:href="#arrows-caret-down" />
                    </svg>
                  </span>
            <span class="payments__price-v2__tutor-types__item__badge">
                    <svg width="24" height="24">
                      <use xlink:href="#tutor-type-colored-with-discount" />
                    </svg>
                  </span>
            <h4>{{item.category}}</h4>
            <p>{{item.description}}</p>
          </div>
        </article>
      </div>
    </div>
    <div
        class="payments__price-v2__tutor-types payments__price-v2__tutor-types--mobile"
    >
      <article
          class="ui-card ui-card--flat payments__price-v2__tutor-types__item with-discount payments__price-v2__tutor-types__item--dropdown"
      >
        <div class="ui-card__body">
                <span class="payments__price-v2__tutor-types__item__check">
                  <svg width="12" height="12">
                    <use xlink:href="#icon-check" />
                  </svg>
                </span>
          <span class="payments__price-v2__tutor-types__item__dropdown">
                  <svg width="14" height="14">
                    <use xlink:href="#arrows-caret-down" />
                  </svg>
                </span>
          <span class="payments__price-v2__tutor-types__item__badge">
                  <svg width="24" height="24">
                    <use xlink:href="#tutor-type-colored-with-discount" />
                  </svg>
                </span>
          <h4>Standard</h4>
          <p>teachers with fluent English</p>
        </div>
      </article>
      <!---->
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "TeacherCategory",
  props: {
    categories: {
      type: Array,
      required: true
    },
    defaultSelectedId: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      subTitle: "Teacher category",
      selectedId: this.defaultSelectedId
    }
  },
  methods: {
    setSelectedId: function(id){
      this.$emit('changePlan',id,'category');
      this.selectedId = id;
    }
  }
}
</script>

<style scoped>

</style>