<template>
<div>
    <div class="payments__price-v2__subtitle">
        {{subTitle}}
    </div>
    <div class="payments__price-v2__plan-qty">
      <div class="ui-nav ui-nav--pills payments__price-v2__plan-qty__list ">
        <div class="ui-nav__item payments__price-v2__plan-qty__item" 
             v-for="timeAWeek in timePerWeeks" 
             :key="timeAWeek.id"
             @click="setSelectedId(timeAWeek.id)" 
             :class="{active: selectedId == timeAWeek.id}"
             >{{timeAWeek.time}}</div>
      </div>
    </div>
</div>
</template>

<script>
export default {
  name: "TimesPerWeek",
  props: {
    timePerWeeks: {
      type: Array,
      required: true
    },
    defaultSelectedId: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      subTitle: "How many times a week do you want to study?",
      selectedId: this.defaultSelectedId,
    }
  },
  methods:{
    setSelectedId: function(id){
      this.$emit('changePlan',id,'timePerWeek');
      this.selectedId = id;
    }
  }
}
</script>

<style scoped>

</style>