<template>
  <div id="iub-pp-container">
    <div id="iubenda_policy" class="iubenda_fluid_policy iubenda_embed_policy">
      <div id="wbars_all">
        <div class="iub_container iub_base_container">
          <div id="wbars">
            <div class="iub_content legal_pp">
              <div class="one_line_col">
                <h2 style="padding-top: 0">Cookie Policy of Allright.com</h2>
                <p>
                  This document informs Users about the technologies that help
                  Allright.com to achieve the purposes described below. Such
                  technologies allow the Owner to access and store information
                  (for example by using a Cookie) or use resources (for example
                  by running a script) on a User’s device as they interact with
                  Allright.com.
                </p>
                <p>
                  For simplicity, all such technologies are defined as
                  "Trackers" within this document – unless there is a reason to
                  differentiate.<br />
                  For example, while Cookies can be used on both web and mobile
                  browsers, it would be inaccurate to talk about Cookies in the
                  context of mobile apps as they are a browser-based Tracker.
                  For this reason, within this document, the term Cookies is
                  only used where it is specifically meant to indicate that
                  particular type of Tracker.
                </p>
                <p>
                  Some of the purposes for which Trackers are used may also
                  require the User's consent, depending on the applicable law.
                  Whenever consent is given, it can be freely withdrawn at any
                  time following the instructions provided in this document.
                </p>
                <p>
                  Allright.com uses Trackers managed directly by the Owner
                  (so-called “first-party” Trackers) and Trackers that enable
                  services provided by a third-party (so-called “third-party”
                  Trackers). Unless otherwise specified within this document,
                  third-party providers may access the Trackers managed by
                  them.<br />
                  The validity and expiration periods of Cookies and other
                  similar Trackers may vary depending on the lifetime set by the
                  Owner or the relevant provider. Some of them expire upon
                  termination of the User’s browsing session.<br />
                  In addition to what’s specified in the descriptions within
                  each of the categories below, Users may find more precise and
                  updated information regarding lifetime specification as well
                  as any other relevant information – such as the presence of
                  other Trackers - in the linked privacy policies of the
                  respective third-party providers or by contacting the Owner.
                </p>
                <h3>
                  Activities strictly necessary for the operation of
                  Allright.com and delivery of the Service
                </h3>
                <p>
                  Allright.com uses so-called “technical” Cookies and other
                  similar Trackers to carry out activities that are strictly
                  necessary for the operation or delivery of the Service.
                </p>
                <h4>First-party Trackers</h4>
                <ul class="for_boxes">
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7872459"
                      >
                        Registration and authentication provided directly by
                        Allright.com
                      </h3>
                      <div class="expand-content">
                        <p>
                          By registering or authenticating, Users allow
                          Allright.com to identify them and give them access to
                          dedicated services. The Personal Data is collected and
                          stored for registration or identification purposes
                          only. The Data collected are only those necessary for
                          the provision of the service requested by the Users.
                        </p>
                        <h4>Direct registration (Allright.com)</h4>
                        <div class="wrap">
                          <p>
                            The User registers by filling out the registration
                            form and providing the Personal Data directly to
                            Allright.com.
                          </p>
                        </div>
                        <p>
                          Personal Data processed: academic background, city,
                          country, date of birth, email address, first name,
                          gender, language, last name, password, phone number,
                          Tracker, username and various types of Data.
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
                <h4>Other Trackers</h4>
                <ul class="for_boxes">
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7872320"
                      >
                        Handling payments
                      </h3>
                      <div class="expand-content">
                        <p>
                          Unless otherwise specified, Allright.com processes any
                          payments by credit card, bank transfer or other means
                          via external payment service providers. In general and
                          unless where otherwise stated, Users are requested to
                          provide their payment details and personal information
                          directly to such payment service providers.
                          Allright.com isn't involved in the collection and
                          processing of such information: instead, it will only
                          receive a notification by the relevant payment service
                          provider as to whether payment has been successfully
                          completed.
                        </p>
                        <h4>Yandex.Checkout</h4>
                        <div class="wrap">
                          <p>Billing and Payment Service Provider</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7872319"
                      >
                        Hosting and backend infrastructure
                      </h3>
                      <div class="expand-content">
                        <p>
                          This type of service has the purpose of hosting Data
                          and files that enable Allright.com to run and be
                          distributed as well as to provide a ready-made
                          infrastructure to run specific features or parts of
                          Allright.com.
                        </p>
                        <p>
                          Some services among those listed below, if any, may
                          work through geographically distributed servers,
                          making it difficult to determine the actual location
                          where the Personal Data are stored.
                        </p>
                        <h4>Servers.com</h4>
                        <div class="wrap"><p>Storage Service Providers</p></div>
                      </div>
                    </div>
                  </li>
                </ul>
                <h3>Other activities involving the use of Trackers</h3>
                <h4>Basic interactions &amp; functionalities</h4>
                <p>
                  Allright.com uses Trackers to enable basic interactions and
                  functionalities, allowing Users to access selected features of
                  the Service and facilitating the User's communication with the
                  Owner.
                </p>
                <ul class="for_boxes">
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7872409"
                      >
                        Contacting the User
                      </h3>
                      <div class="expand-content">
                        <h4>Novachats</h4>
                        <div class="wrap">
                          <p>
                            communicate with our clients and stakeholders and
                            answer their questions and requests
                          </p>
                        </div>
                        <h4>Mailing list or newsletter (Allright.com)</h4>
                        <div class="wrap">
                          <p>
                            By registering on the mailing list or for the
                            newsletter, the User’s email address will be added
                            to the contact list of those who may receive email
                            messages containing information of commercial or
                            promotional nature concerning Allright.com. Your
                            email address might also be added to this list as a
                            result of signing up to Allright.com or after making
                            a purchase.
                          </p>
                        </div>
                        <p>
                          Personal Data processed: city, country, date of birth,
                          email address, first name, gender, last name, phone
                          number and Tracker.
                        </p>
                        <h4>Zadarma</h4>
                        <div class="wrap">
                          <p>
                            Zadarma provides VoIP / telephony services.
                            <br /><br />Personal Data processed: phone number,
                            name of the parent, name of the child.
                          </p>
                        </div>
                        <h4>Voximplant</h4>
                        <div class="wrap">
                          <p>
                            Voximplant (Zingaya, Inc.) is used to communicate
                            with our clients and stakeholders and answer their
                            questions and requests. <br /><br />Personal Data
                            processed: phone number, name of the parent, name of
                            the child, age, dates of latest lessons and
                            payments.
                          </p>
                        </div>
                        <h4>Chat2Desk</h4>
                        <div class="wrap">
                          <p>
                            Chat center provided by IT Prospect Limited
                            Liability Company (IT Prospect LLC).
                            <br /><br />Personal Data processed: phone number,
                            name of the parent, name of the child.
                          </p>
                        </div>
                        <h4>Rostelekom</h4>
                        <div class="wrap"><p>Used for telephony</p></div>
                        <h4>onlinepbx</h4>
                        <div class="wrap">
                          <p>
                            Used for telephony<br /><br />Personal Data
                            processed: phone number, name of the parent, name of
                            the child.
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7898399"
                      >
                        Managing web conferencing and online telephony
                      </h3>
                      <div class="expand-content">
                        <p>
                          This type of service allows Allright.com to manage the
                          deployment, administration, hosting, recording,
                          distribution and analysis of online telephony and web
                          conferencing in order to communicate with Users.<br />
                          The Personal Data collected depend on the information
                          provided by the Users while using the respective
                          service.
                        </p>
                        <p>
                          These services may be integrated with a wide range of
                          third-party services to enable the Owner to take
                          subsequent steps with the Data processed - e.g.
                          managing contacts, sending messages, analytics,
                          advertising and payment processing.
                        </p>
                        <h4>Opentok</h4>
                        <div class="wrap">
                          <p>
                            Opentok (provided by Vonage Holdings Corp.) is used
                            for videochat.
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7872425"
                      >
                        User database management
                      </h3>
                      <div class="expand-content">
                        <p>
                          This type of service allows the Owner to build user
                          profiles by starting from an email address, a personal
                          name, or other information that the User provides to
                          Allright.com, as well as to track User activities
                          through analytics features. This Personal Data may
                          also be matched with publicly available information
                          about the User (such as social networks' profiles) and
                          used to build private profiles that the Owner can
                          display and use for improving Allright.com.<br />
                          Some of these services may also enable the sending of
                          timed messages to the User, such as emails based on
                          specific actions performed on Allright.com.
                        </p>
                        <h4>AmoCRM</h4>
                        <div class="wrap">
                          <p>
                            (1) handling user requests;<br />(2) work with
                            existing and potential clients<br />(3) working with
                            teachers
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <h4>Experience enhancement</h4>
                <p>
                  Allright.com uses Trackers to provide a personalized user
                  experience by improving the quality of preference management
                  options, and by enabling interaction with external networks
                  and platforms.
                </p>
                <ul class="for_boxes">
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7874410"
                      >
                        Access to third-party accounts
                      </h3>
                      <div class="expand-content">
                        <p>
                          This type of service allows Allright.com to access
                          Data from your account on a third-party service and
                          perform actions with it.<br />
                          These services are not activated automatically, but
                          require explicit authorization by the User.
                        </p>
                        <h4>Facebook account access (Facebook, Inc.)</h4>
                        <div class="wrap">
                          <p>
                            This service allows Allright.com to connect with the
                            User's account on the Facebook social network,
                            provided by Facebook, Inc.
                          </p>
                        </div>
                        <p>Permissions asked: Email and Tracker.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://www.facebook.com/policy.php"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7872504"
                      >
                        Displaying content from external platforms
                      </h3>
                      <div class="expand-content">
                        <p>
                          This type of service allows you to view content hosted
                          on external platforms directly from the pages of
                          Allright.com and interact with them.<br />
                          This type of service might still collect web traffic
                          data for the pages where the service is installed,
                          even when Users do not use it.
                        </p>
                        <h4>Google Site Search with AdSense</h4>
                        <div class="wrap">
                          <p>
                            Google Site Search is a search engine embedding
                            service provided by Google LLC or by Google Ireland
                            Limited, depending on the location Allright.com is
                            accessed from, that allows Allright.com to
                            incorporate content of this kind on its pages.
                          </p>
                          <p>
                            Google Site Search may display AdSense
                            advertisements. For details of which data are
                            collected, please refer to the privacy policy of
                            this service.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a href="https://adssettings.google.com/authenticated"
                            >Opt Out</a
                          >; Ireland –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a href="https://adssettings.google.com/authenticated"
                            >Opt Out</a
                          >.
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
                <h4>Measurement</h4>
                <p>
                  Allright.com uses Trackers to measure traffic and analyze User
                  behavior with the goal of improving the Service.
                </p>
                <ul class="for_boxes">
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7847535"
                      >
                        Analytics
                      </h3>
                      <div class="expand-content">
                        <p>
                          The services contained in this section enable the
                          Owner to monitor and analyze web traffic and can be
                          used to keep track of User behavior.
                        </p>
                        <h4>Google Analytics (Google LLC)</h4>
                        <div class="wrap">
                          <p>
                            Google Analytics is a web analysis service provided
                            by Google LLC (“Google”). Google utilizes the Data
                            collected to track and examine the use of
                            Allright.com, to prepare reports on its activities
                            and share them with other Google services.<br />
                            Google may use the Data collected to contextualize
                            and personalize the ads of its own advertising
                            network.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a
                            href="https://tools.google.com/dlpage/gaoptout?hl=en"
                            onclick="javascript:return tryFunc('tryGaOptOut',{href:'https://tools.google.com/dlpage/gaoptout?hl=en'})"
                            target="_blank"
                            >Opt Out</a
                          >.
                        </p>
                        <h4>Google Ads conversion tracking (Google LLC)</h4>
                        <div class="wrap">
                          <p>
                            Google Ads conversion tracking is an analytics
                            service provided by Google LLC that connects data
                            from the Google Ads advertising network with actions
                            performed on Allright.com.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >.
                        </p>
                        <h4>
                          Facebook Ads conversion tracking (Facebook pixel)
                        </h4>
                        <div class="wrap">
                          <p>
                            Facebook Ads conversion tracking (Facebook pixel) is
                            an analytics service provided by Facebook, Inc. or
                            by Facebook Ireland Ltd, depending on the location
                            Allright.com is accessed from, that connects data
                            from the Facebook advertising network with actions
                            performed on Allright.com. The Facebook pixel tracks
                            conversions that can be attributed to ads on
                            Facebook, Instagram and Audience Network.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://www.facebook.com/about/privacy/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >; Ireland –
                          <a
                            href="https://www.facebook.com/about/privacy/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >.
                        </p>
                        <h4>Appsflyer (AppsFlyer Ltd)</h4>
                        <div class="wrap">
                          <p>
                            Appsflyer is an analytics service provided by
                            AppsFlyer Ltd.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: Israel –
                          <a
                            href="https://www.appsflyer.com/privacy-policy/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a href=" mailto: privacy@appsflyer.com">Opt Out</a>.
                        </p>
                        <h4>Yandex Metrica (YANDEX, LLC)</h4>
                        <div class="wrap">
                          <p>
                            Yandex Metrica is an analytics and heat mapping
                            service provided by YANDEX, LLC.<br />
                            Yandex Metrica is used to display the areas of
                            Allright.com that Users interact with most
                            frequently. This shows where the points of interest
                            are.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: Russian Federation –
                          <a
                            href="https://legal.yandex.com/confidential/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >.
                        </p>
                        <h4>Amplitude Analytics (Amplitude Inc.)</h4>
                        <div class="wrap">
                          <p>
                            Amplitude Analytics is an analytics service provided
                            by Amplitude Inc.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://amplitude.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >.
                        </p>
                        <h4>Google Analytics Advertising Reporting Features</h4>
                        <div class="wrap">
                          <p>
                            Google Analytics on Allright.com has Advertising
                            Reporting Features activated, which collects
                            additional information from the DoubleClick cookie
                            (web activity) and from device advertising IDs (app
                            activity). It allows the Owner to analyze specific
                            behavior and interests Data (traffic Data and Users'
                            ads interaction Data) and, if enabled, demographic
                            Data (information about the age and gender).
                          </p>
                          <p>
                            Users can opt out of Google's use of cookies by
                            visiting Google's
                            <a
                              href="https://adssettings.google.com/authenticated"
                              >Ads Settings</a
                            >.
                          </p>
                        </div>
                        <p>
                          Personal Data processed: Tracker, unique device
                          identifiers for advertising (Google Advertiser ID or
                          IDFA, for example) and various types of Data as
                          specified in the privacy policy of the service.
                        </p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a
                            href="https://tools.google.com/dlpage/gaoptout"
                            onclick="javascript:return tryFunc('tryGaOptOut',{href:'https://tools.google.com/dlpage/gaoptout'})"
                            target="_blank"
                            >Opt Out</a
                          >; Ireland –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a
                            href="https://tools.google.com/dlpage/gaoptout"
                            onclick="javascript:return tryFunc('tryGaOptOut',{href:'https://tools.google.com/dlpage/gaoptout'})"
                            target="_blank"
                            >Opt Out</a
                          >.
                        </p>
                        <h4>
                          Google Analytics Demographics and Interests reports
                        </h4>
                        <div class="wrap">
                          <p>
                            Google Analytics Demographics and Interests reports
                            is a Google Advertising Reporting feature that makes
                            available demographic and interests Data inside
                            Google Analytics for Allright.com (demographics
                            means age and gender Data).
                          </p>
                          <p>
                            Users can opt out of Google's use of cookies by
                            visiting Google's
                            <a
                              href="https://adssettings.google.com/authenticated"
                              >Ads Settings</a
                            >.
                          </p>
                        </div>
                        <p>
                          Personal Data processed: Tracker and unique device
                          identifiers for advertising (Google Advertiser ID or
                          IDFA, for example).
                        </p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a
                            href="https://tools.google.com/dlpage/gaoptout"
                            onclick="javascript:return tryFunc('tryGaOptOut',{href:'https://tools.google.com/dlpage/gaoptout'})"
                            target="_blank"
                            >Opt Out</a
                          >; Ireland –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a
                            href="https://tools.google.com/dlpage/gaoptout"
                            onclick="javascript:return tryFunc('tryGaOptOut',{href:'https://tools.google.com/dlpage/gaoptout'})"
                            target="_blank"
                            >Opt Out</a
                          >.
                        </p>
                        <h4>Google Analytics for Firebase</h4>
                        <div class="wrap">
                          <p>
                            Google Analytics for Firebase or Firebase Analytics
                            is an analytics service provided by Google LLC or by
                            Google Ireland Limited, depending on the location
                            Allright.com is accessed from.<br />
                            <strong
                              >In order to understand Google's use of Data,
                              consult
                              <a
                                href="https://www.google.com/policies/privacy/partners/"
                                >Google's partner policy</a
                              ></strong
                            >.
                          </p>
                          <p>
                            Firebase Analytics may share Data with other tools
                            provided by Firebase, such as Crash Reporting,
                            Authentication, Remote Config or Notifications. The
                            User may check this privacy policy to find a
                            detailed explanation about the other tools used by
                            the Owner.
                          </p>
                          <p>
                            Allright.com uses identifiers for mobile devices and
                            technologies similar to cookies to run the Firebase
                            Analytics service.
                          </p>
                          <p>
                            Users may opt-out of certain Firebase features
                            through applicable device settings, such as the
                            device advertising settings for mobile phones or by
                            following the instructions in other Firebase related
                            sections of this privacy policy, if available.
                          </p>
                        </div>
                        <p>
                          Personal Data processed: Application opens,
                          geography/region, In-app purchases, number of Users ,
                          operating systems, Tracker and Usage Data.
                        </p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >; Ireland –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3 class="expand-click w_icon_24 policyicon_purpose_">
                        Analytics services managed directly by Allright.com
                      </h3>
                      <div class="expand-content">
                        <p>
                          The services contained in this section allow the Owner
                          to collect and manage analytics through the use of
                          first-party Trackers.
                        </p>
                        <h4>Analytics collected directly (Allright.com)</h4>
                        <div class="wrap">
                          <p>
                            Allright.com uses an internal analytics system that
                            does not involve third parties.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7886093"
                      >
                        Heat mapping and session recording
                      </h3>
                      <div class="expand-content">
                        <p>
                          Heat mapping services are used to display the areas of
                          Allright.com that Users interact with most frequently.
                          This shows where the points of interest are. These
                          services make it possible to monitor and analyze web
                          traffic and keep track of User behavior.<br />
                          Some of these services may record sessions and make
                          them available for later visual playback.
                        </p>
                        <h4>Smartlook (Smartsupp.com, s.r.o.)</h4>
                        <div class="wrap">
                          <p>
                            Smartlook is a session recording and heat mapping
                            service provided by Smartsupp.com, s.r.o.
                          </p>
                        </div>
                        <p>
                          Personal Data processed: Tracker, Usage Data and
                          various types of Data as specified in the privacy
                          policy of the service.
                        </p>
                        <p>
                          Place of processing: Czech Republic –
                          <a
                            href="https://www.smartlook.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7897338"
                      >
                        Managing data collection and online surveys
                      </h3>
                      <div class="expand-content">
                        <p>
                          This type of service allows Allright.com to manage the
                          creation, deployment, administration, distribution and
                          analysis of online forms and surveys in order to
                          collect, save and reuse Data from any responding
                          Users.<br />
                          The Personal Data collected depend on the information
                          asked and provided by the Users in the corresponding
                          online form.
                        </p>
                        <p>
                          These services may be integrated with a wide range of
                          third-party services to enable the Owner to take
                          subsequent steps with the Data processed - e.g.
                          managing contacts, sending messages, analytics,
                          advertising and payment processing.
                        </p>
                        <h4>Marquiz</h4>
                        <div class="wrap">
                          <p>
                            Marquiz is an online marketing platform operated by
                            a sole trader Balachkov Gennady Andreevich<br /><br />Personal
                            Data processed: first name; phone number.
                          </p>
                        </div>
                        <h4>Flow XO</h4>
                        <div class="wrap">
                          <p>
                            Flow XO (Flow XO LLC) is an automation product that
                            allows to build chatbots that help us to communicate
                            and engage with our customers across different
                            sites, applications and social media platforms.<br /><br />Personal
                            Data processed: name, title, address, telephone
                            numbers, email address, photograph – if provided via
                            LinkedIn or other social media<br /><br />Place of
                            processing: United States.
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <h4>Targeting &amp; Advertising</h4>
                <p>
                  Allright.com uses Trackers to deliver personalized marketing
                  content based on User behavior and to operate, serve and track
                  ads.
                </p>
                <ul class="for_boxes">
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7872377"
                      >
                        Advertising
                      </h3>
                      <div class="expand-content">
                        <p>
                          This type of service allows User Data to be utilized
                          for advertising communication purposes. These
                          communications are displayed in the form of banners
                          and other advertisements on Allright.com, possibly
                          based on User interests.<br />
                          This does not mean that all Personal Data are used for
                          this purpose. Information and conditions of use are
                          shown below. <br />
                          Some of the services listed below may use Trackers to
                          identify Users or they may use the behavioral
                          retargeting technique, i.e. displaying ads tailored to
                          the User’s interests and behavior, including those
                          detected outside Allright.com. For more information,
                          please check the privacy policies of the relevant
                          services.<br />
                          Services of this kind usually offer the possibility to
                          opt out of such tracking. In addition to any opt-out
                          feature offered by any of the services below, Users
                          may learn more on how to generally opt out of
                          interest-based advertising within the dedicated
                          section "How to opt-out of interest-based advertising"
                          in this document.
                        </p>
                        <h4>Facebook SDK</h4>
                        <div class="wrap">
                          <p>
                            (1) tracking your actions after you have been
                            redirected to our Platform by clicking on a Facebook
                            ad;<br />(2) measuring the performance of Facebook
                            ads for the purpose of market research and
                            statistics, in particular to better understand and
                            display ads and make them more relevant to you
                          </p>
                        </div>
                        <h4>Pixel retargeting VKontakte</h4>
                        <div class="wrap">
                          <p>
                            (1) tracking your actions after you have been
                            redirected to our Platform by clicking on an
                            advertisement on the Vkontakte website<br />(2)
                            measuring the effectiveness of advertisements on
                            Vkontakte in order to research the market and
                            collect statistics, in particular, to better
                            understand and display ads and make them more
                            relevant to you
                          </p>
                        </div>
                        <h4>Yandex.Direct</h4>
                        <div class="wrap">
                          <p>
                            (1) tracking the actions of users after they are
                            redirected to our Platform by clicking on an ad in
                            Yandex;<br />(2) measuring the effectiveness of
                            Yandex.Direct in order to research the market and
                            collect statistics, in particular, to better
                            understand and display ads and make them more
                            relevant to you<br />(3) remarketing
                          </p>
                        </div>
                        <h4>TikTok pixel</h4>
                        <div class="wrap">
                          <p>
                            tracking your actions after you have been redirected
                            to our Platform by clicking on an ad on TikTok
                          </p>
                        </div>
                        <h4>Google Ad Manager</h4>
                        <div class="wrap">
                          <p>
                            Google Ad Manager is an advertising service provided
                            by Google LLC or by Google Ireland Limited,
                            depending on the location Allright.com is accessed
                            from, that allows the Owner to run advertising
                            campaigns in conjunction with external advertising
                            networks that the Owner, unless otherwise specified
                            in this document, has no direct relationship with.
                            In order to opt out from being tracked by various
                            advertising networks, Users may make use of
                            <a href="http://www.youronlinechoices.com/"
                              >Youronlinechoices</a
                            >. In order to understand Google's use of data,
                            consult
                            <a
                              href="https://www.google.com/policies/privacy/partners/"
                              >Google's partner policy</a
                            >.<br />
                            This service uses the “DoubleClick” Cookie, which
                            tracks use of Allright.com and User behavior
                            concerning ads, products and services offered.
                          </p>
                          <p>
                            Users may decide to disable all the DoubleClick
                            Cookies by going to:
                            <a
                              href="https://adssettings.google.com/authenticated?hl=en"
                              >Google Ad Settings</a
                            >.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >; Ireland –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >.
                        </p>
                        <h4>Google Ads Similar audiences</h4>
                        <div class="wrap">
                          <p>
                            Similar audiences is an advertising and behavioral
                            targeting service provided by Google LLC or by
                            Google Ireland Limited, depending on the location
                            Allright.com is accessed from, that uses Data from
                            Google Ads Remarketing in order to display ads to
                            Users with similar behavior to Users who are already
                            on the remarketing list due to their past use of
                            Allright.com.<br />
                            On the basis of this Data, personalized ads will be
                            shown to Users suggested by Google Ads Similar
                            audiences.
                          </p>
                          <p>
                            Users who don't want to be included in Similar
                            audiences can opt out and disable the use of
                            advertising cookies by going to: Google
                            <a
                              href="https://adssettings.google.com/authenticated"
                              >Ad Settings</a
                            >.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a href="https://adssettings.google.com/authenticated"
                            >Opt Out</a
                          >; Ireland –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a href="https://adssettings.google.com/authenticated"
                            >Opt Out</a
                          >.
                        </p>
                        <h4>Google AdSense</h4>
                        <div class="wrap">
                          <p>
                            Google AdSense is an advertising service provided by
                            Google LLC or by Google Ireland Limited, depending
                            on the location Allright.com is accessed from. This
                            service uses the “DoubleClick” Cookie, which tracks
                            use of Allright.com and User behavior concerning
                            ads, products and services offered.<br />
                            Users may decide to disable all the DoubleClick
                            Cookies by going to:
                            <a
                              href="https://adssettings.google.com/authenticated?hl=en"
                              >Google Ad Settings</a
                            >.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a href="https://adssettings.google.com/authenticated"
                            >Opt Out</a
                          >; Ireland –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a
                            href="https://adssettings.google.com/authenticated#display_optout"
                            >Opt Out</a
                          >.
                        </p>
                        <h4>Taboola Europe (Taboola Europe Limited)</h4>
                        <div class="wrap">
                          <p>
                            Taboola Europe is an advertising service provided by
                            Taboola Europe Limited.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7898387"
                      >
                        Managing contacts and sending messages
                      </h3>
                      <div class="expand-content">
                        <p>
                          This type of service makes it possible to manage a
                          database of email contacts, phone contacts or any
                          other contact information to communicate with the
                          User.<br />
                          These services may also collect data concerning the
                          date and time when the message was viewed by the User,
                          as well as when the User interacted with it, such as
                          by clicking on links included in the message.
                        </p>
                        <h4>ably.io</h4>
                        <div class="wrap">
                          <p>
                            Ably (Ably Real-Time Ltd.) is used to exchange text
                            messages
                          </p>
                        </div>
                        <h4>SendinBlue Email (SendinBlue SAS)</h4>
                        <div class="wrap">
                          <p>
                            SendinBlue is an email address management and
                            message sending service provided by SendinBlue SAS.
                          </p>
                        </div>
                        <p>
                          Personal Data processed: email address, Tracker and
                          Usage Data.
                        </p>
                        <p>
                          Place of processing: France –
                          <a
                            href="https://www.sendinblue.com/legal/privacypolicy/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="box_primary box_10 expand">
                      <h3
                        class="expand-click w_icon_24 policyicon_purpose_7872466"
                      >
                        Remarketing and behavioral targeting
                      </h3>
                      <div class="expand-content">
                        <p>
                          This type of service allows Allright.com and its
                          partners to inform, optimize and serve advertising
                          based on past use of Allright.com by the User.<br />
                          This activity is facilitated by tracking Usage Data
                          and by using Trackers to collect information which is
                          then transferred to the partners that manage the
                          remarketing and behavioral targeting activity.<br />
                          Some services offer a remarketing option based on
                          email address lists.<br />
                          In addition to any opt-out feature provided by any of
                          the services below, Users may opt out by visiting the
                          <a href="http://optout.networkadvertising.org/?c=1"
                            >Network Advertising Initiative opt-out page</a
                          >.
                        </p>
                        <p>
                          <strong
                            >Users may also opt-out of certain advertising
                            features through applicable device settings, such as
                            the device advertising settings for mobile phones or
                            ads settings in general</strong
                          >.
                        </p>
                        <h4>Google Ad Manager Audience Extension</h4>
                        <div class="wrap">
                          <p>
                            Google Ad Manager Audience Extension is a
                            remarketing and behavioral targeting service
                            provided by Google LLC or by Google Ireland Limited,
                            depending on the location Allright.com is accessed
                            from, that tracks the visitors of Allright.com and
                            allows selected advertising partners to display
                            targeted ads across the web to them.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a
                            href="https://adssettings.google.com/authenticated#display_optout"
                            >Opt Out</a
                          >; Ireland –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a
                            href="https://adssettings.google.com/authenticated#display_optout"
                            >Opt Out</a
                          >.
                        </p>
                        <h4>Google Ads Remarketing</h4>
                        <div class="wrap">
                          <p>
                            Google Ads Remarketing is a remarketing and
                            behavioral targeting service provided by Google LLC
                            or by Google Ireland Limited, depending on the
                            location Allright.com is accessed from, that
                            connects the activity of Allright.com with the
                            Google Ads advertising network and the DoubleClick
                            Cookie.
                          </p>
                          <p>
                            Users can opt out of Google's use of cookies for ads
                            personalization by visiting Google's
                            <a
                              href="https://adssettings.google.com/authenticated"
                              >Ads Settings</a
                            >.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a href="https://adssettings.google.com/authenticated"
                            >Opt Out</a
                          >; Ireland –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a
                            href="https://adssettings.google.com/authenticated#display_optout"
                            >Opt Out</a
                          >.
                        </p>
                        <h4>Remarketing with Google Analytics</h4>
                        <div class="wrap">
                          <p>
                            Remarketing with Google Analytics is a remarketing
                            and behavioral targeting service provided by Google
                            LLC or by Google Ireland Limited, depending on the
                            location Allright.com is accessed from, that
                            connects the tracking activity performed by Google
                            Analytics and its Cookies with the Google Ads
                            advertising network and the Doubleclick Cookie.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a href="https://adssettings.google.com/authenticated"
                            >Opt Out</a
                          >; Ireland –
                          <a
                            href="https://policies.google.com/privacy"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a
                            href="https://adssettings.google.com/authenticated#display_optout"
                            >Opt Out</a
                          >.
                        </p>
                        <h4>Facebook Remarketing</h4>
                        <div class="wrap">
                          <p>
                            Facebook Remarketing is a remarketing and behavioral
                            targeting service provided by Facebook, Inc. or by
                            Facebook Ireland Ltd, depending on the location
                            Allright.com is accessed from, that connects the
                            activity of Allright.com with the Facebook
                            advertising network.
                          </p>
                        </div>
                        <p>Personal Data processed: Tracker and Usage Data.</p>
                        <p>
                          Place of processing: United States –
                          <a
                            href="https://www.facebook.com/about/privacy/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a href="https://www.aboutads.info/choices/"
                            >Opt Out</a
                          >; Ireland –
                          <a
                            href="https://www.facebook.com/about/privacy/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy Policy</a
                          >
                          –
                          <a href="https://www.aboutads.info/choices/"
                            >Opt Out</a
                          >.
                        </p>
                        <h4>MyTarget</h4>
                        <div class="wrap"><p>Used for remarketing</p></div>
                        <h4>VK</h4>
                        <div class="wrap">
                          <p>
                            Vkontakte Remarketing is a remarketing and
                            behavioral targeting service provided by Mail.ru
                            Group
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <h3 id="manage_cookies">
                  How to manage preferences and provide or withdraw consent
                </h3>
                <p>
                  There are various ways to manage Tracker related preferences
                  and to provide and withdraw consent, where relevant:
                </p>
                <p>
                  Users can manage preferences related to Trackers from directly
                  within their own device settings, for example, by preventing
                  the use or storage of Trackers.
                </p>
                <p>
                  Additionally, whenever the use of Trackers is based on
                  consent, Users can provide or withdraw such consent by setting
                  their preferences within the cookie notice or by updating such
                  preferences accordingly via the relevant consent-preferences
                  widget, if available.
                </p>
                <p>
                  It is also possible, via relevant browser or device features,
                  to delete previously stored Trackers, including those used to
                  remember the User’s initial consent.
                </p>
                <p>
                  Other Trackers in the browser’s local memory may be cleared by
                  deleting the browsing history.
                </p>
                <p>
                  With regard to any third-party Trackers, Users can manage
                  their preferences and withdraw their consent via the related
                  opt-out link (where provided), by using the means indicated in
                  the third party's privacy policy, or by contacting the third
                  party.
                </p>
                <h4>Locating Tracker Settings</h4>
                <p>
                  Users can, for example, find information about how to manage
                  Cookies in the most commonly used browsers at the following
                  addresses:
                </p>
                <ul>
                  <li>
                    <a
                      rel="noopener nofollow"
                      target="_blank"
                      href="https://support.google.com/chrome/answer/95647?hl=en&amp;p=cpn_cookies"
                      >Google Chrome</a
                    >
                  </li>
                  <li>
                    <a
                      rel="noopener nofollow"
                      target="_blank"
                      href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences"
                      >Mozilla Firefox</a
                    >
                  </li>
                  <li>
                    <a
                      rel="noopener nofollow"
                      target="_blank"
                      href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/"
                      >Apple Safari</a
                    >
                  </li>
                  <li>
                    <a
                      rel="noopener nofollow"
                      target="_blank"
                      href="http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies"
                      >Microsoft Internet Explorer</a
                    >
                  </li>
                  <li>
                    <a
                      rel="noopener nofollow"
                      target="_blank"
                      href="https://support.microsoft.com/en-us/help/4027947"
                      >Microsoft Edge</a
                    >
                  </li>
                  <li>
                    <a
                      rel="noopener nofollow"
                      target="_blank"
                      href="https://support.brave.com/hc/en-us/articles/360022806212-How-do-I-use-Shields-while-browsing"
                      >Brave</a
                    >
                  </li>
                  <li>
                    <a
                      rel="noopener nofollow"
                      target="_blank"
                      href="https://help.opera.com/en/latest/web-preferences/#cookies"
                      >Opera</a
                    >
                  </li>
                </ul>
                <p>
                  Users may also manage certain categories of Trackers used on
                  mobile apps by opting out through relevant device settings
                  such as the device advertising settings for mobile devices, or
                  tracking settings in general (Users may open the device
                  settings and look for the relevant setting).
                </p>
                <h4>How to opt out of interest-based advertising</h4>
                <p>
                  Notwithstanding the above, Users may follow the instructions
                  provided by
                  <a
                    target="_blank"
                    rel="noopener nofollow"
                    href="http://www.youronlinechoices.eu/"
                    >YourOnlineChoices</a
                  >
                  (EU), the
                  <a
                    target="_blank"
                    rel="noopener nofollow"
                    href="https://thenai.org/about-online-advertising/"
                    >Network Advertising Initiative</a
                  >
                  (US) and the
                  <a
                    target="_blank"
                    rel="noopener nofollow"
                    href="https://www.aboutads.info/consumers/"
                    >Digital Advertising Alliance</a
                  >
                  (US),
                  <a
                    target="_blank"
                    rel="noopener nofollow"
                    href="https://youradchoices.ca/understanding-online-advertising/"
                    >DAAC</a
                  >
                  (Canada),
                  <a
                    target="_blank"
                    rel="noopener nofollow"
                    href="http://www.ddai.info/optout"
                    >DDAI</a
                  >
                  (Japan) or other similar services. Such initiatives allow
                  Users to select their tracking preferences for most of the
                  advertising tools. The Owner thus recommends that Users make
                  use of these resources in addition to the information provided
                  in this document.
                </p>
                <p>
                  The Digital Advertising Alliance offers an application called
                  <a
                    target="_blank"
                    rel="noopener nofollow"
                    href="https://youradchoices.com/appchoices"
                    >AppChoices</a
                  >
                  that helps Users to control interest-based advertising on
                  mobile apps.
                </p>
                <h3 id="owner_of_the_data">Owner and Data Controller</h3>
                <p>
                  Virtual Mentor Inc., 251, Little Falls Drive, City of
                  Wilmington, County of New Castle, Delaware,19808, USA <br />
                  <br />Allright Limited, 67 Kennedy Avenue, Athienitis Kennedy
                  Park, 4th Floor, Office 401, 1076 Nicosia, Cyprus
                </p>
                <p>
                  <strong>Owner contact email:</strong> privacy@allright.com
                </p>
                <p>
                  Since the use of third-party Trackers through Allright.com
                  cannot be fully controlled by the Owner, any specific
                  references to third-party Trackers are to be considered
                  indicative. In order to obtain complete information, Users are
                  kindly requested to consult the privacy policies of the
                  respective third-party services listed in this document.
                </p>
                <p>
                  Given the objective complexity surrounding tracking
                  technologies, Users are encouraged to contact the Owner should
                  they wish to receive any further information on the use of
                  such technologies by Allright.com.
                </p>
              </div>
              <div class="one_line_col">
                <div class="box_primary box_10 definitions expand">
                  <h3 class="expand-click w_icon_24 icon_ribbon">
                    Definitions and legal references
                  </h3>
                  <div class="expand-content">
                    <h4>Personal Data (or Data)</h4>
                    <p>
                      Any information that directly, indirectly, or in
                      connection with other information — including a personal
                      identification number — allows for the identification or
                      identifiability of a natural person.
                    </p>
                    <h4>Usage Data</h4>
                    <p>
                      Information collected automatically through Allright.com
                      (or third-party services employed in Allright.com), which
                      can include: the IP addresses or domain names of the
                      computers utilized by the Users who use Allright.com, the
                      URI addresses (Uniform Resource Identifier), the time of
                      the request, the method utilized to submit the request to
                      the server, the size of the file received in response, the
                      numerical code indicating the status of the server's
                      answer (successful outcome, error, etc.), the country of
                      origin, the features of the browser and the operating
                      system utilized by the User, the various time details per
                      visit (e.g., the time spent on each page within the
                      Application) and the details about the path followed
                      within the Application with special reference to the
                      sequence of pages visited, and other parameters about the
                      device operating system and/or the User's IT environment.
                    </p>
                    <h4>User</h4>
                    <p>
                      The individual using Allright.com who, unless otherwise
                      specified, coincides with the Data Subject.
                    </p>
                    <h4>Data Subject</h4>
                    <p>The natural person to whom the Personal Data refers.</p>
                    <h4>Data Processor (or Data Supervisor)</h4>
                    <p>
                      The natural or legal person, public authority, agency or
                      other body which processes Personal Data on behalf of the
                      Controller, as described in this privacy policy.
                    </p>
                    <h4>Data Controller (or Owner)</h4>
                    <p>
                      The natural or legal person, public authority, agency or
                      other body which, alone or jointly with others, determines
                      the purposes and means of the processing of Personal Data,
                      including the security measures concerning the operation
                      and use of Allright.com. The Data Controller, unless
                      otherwise specified, is the Owner of Allright.com.
                    </p>
                    <h4>Allright.com (or this Application)</h4>
                    <p>
                      The means by which the Personal Data of the User is
                      collected and processed.
                    </p>
                    <h4>Service</h4>
                    <p>
                      The service provided by Allright.com as described in the
                      relative terms (if available) and on this
                      site/application.
                    </p>
                    <h4>European Union (or EU)</h4>
                    <p>
                      Unless otherwise specified, all references made within
                      this document to the European Union include all current
                      member states to the European Union and the European
                      Economic Area.
                    </p>
                    <h4>Cookie</h4>
                    <p>
                      Cookies are Trackers consisting of small sets of data
                      stored in the User's browser.
                    </p>
                    <h4>Tracker</h4>
                    <p>
                      Tracker indicates any technology - e.g Cookies, unique
                      identifiers, web beacons, embedded scripts, e-tags and
                      fingerprinting - that enables the tracking of Users, for
                      example by accessing or storing information on the User’s
                      device.
                    </p>
                    <hr />
                    <h4>Legal information</h4>
                    <p>
                      This privacy statement has been prepared based on
                      provisions of multiple legislations, including Art. 13/14
                      of Regulation (EU) 2016/679 (General Data Protection
                      Regulation).
                    </p>
                    <p>
                      This privacy policy relates solely to Allright.com, if not
                      stated otherwise within this document.
                    </p>
                  </div>
                </div>
              </div>
              <div class="iub_footer">
                <p>Latest update: October 11, 2021</p>
                <p>
                  <a
                    target="_top"
                    href="https://www.iubenda.com/en/privacy-and-cookie-policy-generator"
                    title="iubenda - Privacy Policy generator"
                    >iubenda</a
                  >
                  hosts this content and only collects
                  <a
                    target="_top"
                    href="//www.iubenda.com/privacy-policy/65675001"
                    >the Personal Data strictly necessary</a
                  >
                  for it to be provided.
                </p>
                <a
                  href="https://allright.com/privacy-policy.html"
                  class="show_comp_link iframe-preserve an-preserve"
                  >Show the complete Privacy Policy</a
                >
              </div>
              <!-- /footer -->
            </div>
            <!-- /content -->
          </div>
          <!-- /wbars -->
        </div>
        <!-- /container base_container -->
      </div>
      <!-- /wbars_wrapper -->
    </div>
    <!-- /iubenda_policy -->
  </div>
</template>

<script>
export default {
  // layout: "AppLayout",
  auth: false,
  name: "CookiePolicy",
  head() {
    return {
      link: [
        {
          rel: "stylesheet",
          type: "text/css",
          href: "/css/privacy_policy.css",
        },
      ],
    };
  },
};
</script>

<style scoped>
.iubenda_fluid_policy {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
</style>
