<template>
    <div class="infinite-scroller">
        <slot></slot>
    </div>
</template>

<script>
const debounce = (callback, time) => {
        let timeout;

        return function(...args) {
            const fnCall = () => callback.apply(this, args);
            clearTimeout(timeout);
            timeout = setTimeout(fnCall, time);
        };
    };
export default {
    name: 'infinite-scroller',
    props: {
        // enable or disable triggering loading more
        loadAllowed: {
            type: Boolean,
        },
        // distance from bottom before loading more
        distance: {
            type: Number,
            default: 0,
        },
        // enable to immediately trigger loading more, 
        // loads more recursively until it fills viewport
        immediate: {
            type: Boolean,
        },
    },
    mounted() {
        if (this.immediate) {
            this.debouncedDoCheck(true);
        }
        window.addEventListener('scroll', this.debouncedDoCheck);
    },
    beforeDestroy() {
        window.removeEventListener('scroll', this.debouncedDoCheck);
    },
    methods: {
        isScrollAtBottom() {
            const scroll = window.scrollY || window.pageYOffset;
            const elTop = this.$el.getBoundingClientRect().top + scroll;
            const viewportBottom = scroll + window.innerHeight;
            const elBottom = elTop + this.$el.clientHeight - this.distance;

            return elBottom <= viewportBottom;
        },
        // debounce (callback, time) {
        //     let timeout;

        //     return function(...args) {
        //         const fnCall = () => callback.apply(this, args);
        //         clearTimeout(timeout);
        //         timeout = setTimeout(fnCall, time);
        //     };
        // },
        debouncedDoCheck: debounce(function(recursive) { // must not be an arrow fn
            if (this.isScrollAtBottom() && this.loadAllowed) {
                this.$emit('load-more');
                
                if (recursive) {
                    this.debouncedDoCheck();
                }
            }
        }, 200),
    },
};
</script>

// INSTANCE

// const API_URL = 'https://jsonplaceholder.typicode.com/users';

// new Vue({
//     el: '#app',
//     components: {
//         InfiniteScroller,  
//     },
//     data: ({
//         items: [],
//         page: 1,
//         request: {
//             success: null,
//             failure: null,
//             pending: null,
//         },
//     }),
//     computed: {
//         hasItems() {
//             return this.items.length > 0;
//         },
//         allowLoadMore() {
//             return !this.request.pending;
//         },
//     },
//     created() {
//         this.fetchResults();   
//     },
//     methods: {
//         fetchMoreResults() {
//             this.page++;
//             this.fetchResults();
//         },
//         fetchResults() {
//             Object.assign(this.request, {
//                 pending: true,
//                 success: false,
//                 failure: false,
//             });
            
//             axios.get(API_URL)
//                 .then((response) => {                
//                     if (this.hasItems) {
//                         this.items = this.items.concat(response.data);
//                     } else {
//                         this.items = response.data;
//                     }
                
//                     this.request.success = true;
//                 })
//                 .catch((thrown) => {
//                     this.request.failure = true;
//                 })
//                 .finally(() => {
//                     this.request.pending = false;
//                 });
//         },
//     },
// });
