<template>
    <div v-if="loading" id="loader-wrapper">
        <div id="loader"></div>
    </div>
</template>

<script>
export default {
    name: 'Loading',
    data: () => ({
      loading: false,
    }),
    methods: {
      start() {
        this.loading = true
      },
      finish() {
        this.loading = false
      },
    },
}
</script>

<style>

</style>