<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7 mb-5">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center login-title mb-4">Change Password</div>

            <form ref="password_form" class="needs-validation" @submit.prevent="handleSubmit()">
              <base-input
                alternative
                class="mb-3"
                prepend-icon="ni ni-lock-circle-open"
                placeholder="Password"
                type="password"
                name="Old Password"
                v-model="form.data.password"
              >
              </base-input>
              <validation-error :errors="apiValidationErrors.password" />

              <base-input
                alternative
                class="mb-3"
                prepend-icon="ni ni-lock-circle-open"
                placeholder="New Password"
                type="password"
                name="New Password"
                v-model="form.data.new_password"
              >
              </base-input>
              <validation-error :errors="apiValidationErrors.new_password" />

              <base-input
                alternative
                class="mb-3"
                prepend-icon="ni ni-lock-circle-open"
                placeholder="New Confirm Password"
                type="password"
                name="New Password confirmation"
                v-model="form.data.new_password_confirmation"
              >
              </base-input>
              <validation-error :errors="apiValidationErrors.new_password_confirmation" />

              <div class="text-center">
                <base-button :loading="loading" type="primary" native-type="submit" class="my-4">
                  Change Password
                </base-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";

export default {
  layout: "AppLayout",
  components: {
    ValidationError,
  },
  mixins: [formMixin],
  data() {
    return {
      loading: false,
      form: {
        data: {
          password: "",
          new_password: "",
          new_password_confirmation: "",
        },
      },
    };
  },
  methods: {
    async handleSubmit() {
      try {
        this.loading = true;
        await this.$axios.post("/change-pass", this.form.data);
        this.loading = false;
        this.$router.push("/");
      } catch (error) {
        await this.$notify({
          type: "danger",
          message: "The given data was invalid.",
        });
        this.setApiValidation(error.response.data);
        this.loading = false;
      }
    },
  },
};
</script>
