<template>
  <div class="mt-5">
    <!-- Header -->
    <!-- <div class="header bg-gradient-success py-7 py-lg-8 pt-lg-9">
      <div class="container">
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon
            class="fill-default"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>
    </div> -->
    <!-- Page content -->
    <div class="container pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center login-title mb-4">
                Reset password
              </div>

              <form class="needs-validation" @submit.prevent="handleSubmit()">
                <base-input
                  alternative
                  class="mb-3"
                  prepend-icon="ni ni-lock-circle-open"
                  placeholder="Password"
                  type="password"
                  name="Password"
                  v-model="form.data.password"
                >
                </base-input>
                <validation-error :errors="apiValidationErrors.password" />

                <base-input
                  alternative
                  class="mb-3"
                  prepend-icon="ni ni-lock-circle-open"
                  placeholder="Confirm Password"
                  type="password"
                  name="Password confirmation"
                  v-model="form.data.password_confirmation"
                >
                </base-input>

                <div class="text-center">
                  <base-button :loading="loading" type="primary" native-type="submit" class="my-4"
                    >Reset Password</base-button
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";
export default {
  layout: "AppLayout",
  mixins: [formMixin],
  components: { ValidationError },
  auth: "guest",

  data() {
    return {
      loading: false,
      form: {
        data: {
          password: "",
          password_confirmation: "",
          token: "",
          email: "",
        },
      },
    };
  },
  mounted() {
    const { token, email } = this.$route.query;
    if (token && email) {
      this.form.data.token = token;
      this.form.data.email = email;
    } else {
      this.$router.push("/");
    }
  },
  beforeDestroy() {
    this.$router.replace({ query: null });
  },
  methods: {
    async handleSubmit() {
      try {
        this.loading = true;
        await this.$store.dispatch("reset/createNewPassword", this.form.data);
        this.loading = false;
      } catch (error) {
        await this.$notify({
          type: "danger",
          message: error.response.data.message || "The given data was invalid.",
        });
        this.setApiValidation(error.response.data.data);
         this.loading = false;
      }
    },
  },
};
</script>
