img#headeravatar {
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
}
li.nav-item.dropdown {
  display: flex;
}
.intl-tel-input {
  display: inline-block;
  position: relative;
  width: 100%;
}
.intl-tel-input * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.intl-tel-input .hide {
  display: none;
}
.intl-tel-input .v-hide {
  visibility: hidden;
}
.intl-tel-input input,
.intl-tel-input input[type="tel"],
.intl-tel-input input[type="text"] {
  margin-bottom: 0 !important;
  margin-right: 0;
  margin-top: 0 !important;
  padding-inline-end: 36px;
  position: relative;
  z-index: 0;
}
.intl-tel-input .flag-container {
  bottom: 0;
  padding: 1px;
  position: absolute;
  right: 0;
  top: 0;
}
.intl-tel-input .selected-flag {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 6px 0 8px;
  position: relative;
  z-index: 1;
}
.intl-tel-input .selected-flag .iti-arrow {
  border-inline-end: 3px solid transparent;
  border-inline-start: 3px solid transparent;
  border-top: 4px solid #555;
  height: 0;
  margin-inline-start: 6px;
  width: 0;
}
.intl-tel-input .selected-flag .iti-arrow.up {
  border-bottom: 4px solid #555;
  border-top: none;
}
.intl-tel-input .country-list {
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
  margin: 0 0 0 -1px;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.intl-tel-input .country-list.dropup {
  bottom: 100%;
  margin-bottom: -1px;
}
.intl-tel-input .country-list .flag-box {
  display: inline-block;
  width: 20px;
}
@media (max-width: 500px) {
  .intl-tel-input .country-list {
    white-space: normal;
  }
}
.intl-tel-input .country-list .divider {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.intl-tel-input .country-list .country {
  outline: none;
  padding: 5px 10px;
}
.intl-tel-input .country-list .country .dial-code {
  color: #999;
}
.intl-tel-input .country-list .country.highlight {
  background-color: rgba(0, 0, 0, 0.05);
}
.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .dial-code,
.intl-tel-input .country-list .flag-box {
  vertical-align: middle;
}
.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .flag-box {
  margin-right: 6px;
}
.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type="tel"],
.intl-tel-input.allow-dropdown input[type="text"],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type="tel"],
.intl-tel-input.separate-dial-code input[type="text"] {
  margin-inline-start: 0;
}
.intl-tel-input.allow-dropdown .flag-container,
.intl-tel-input.separate-dial-code .flag-container {
  left: 0;
  right: auto;
}
.intl-tel-input.allow-dropdown .flag-container:hover {
  cursor: pointer;
}
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}
.intl-tel-input.allow-dropdown input[disabled] + .flag-container:hover,
.intl-tel-input.allow-dropdown input[readonly] + .flag-container:hover {
  cursor: default;
}
.intl-tel-input.allow-dropdown
  input[disabled]
  + .flag-container:hover
  .selected-flag,
.intl-tel-input.allow-dropdown
  input[readonly]
  + .flag-container:hover
  .selected-flag {
  background-color: transparent;
}
.intl-tel-input.separate-dial-code .selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}
.intl-tel-input.separate-dial-code .selected-dial-code {
  margin-inline-start: 6px;
}
.intl-tel-input.iti-container {
  left: -1000px;
  padding: 1px;
  position: absolute;
  top: -1000px;
  z-index: 1060;
}
.intl-tel-input.iti-container:hover {
  cursor: pointer;
}
.iti-mobile .intl-tel-input.iti-container {
  bottom: 30px;
  left: 30px;
  position: fixed;
  right: 30px;
  top: 30px;
}
.iti-mobile .intl-tel-input .country-list {
  max-height: 100%;
  width: 100%;
}
.iti-mobile .intl-tel-input .country-list .country {
  line-height: 1.5em;
  padding: 10px;
}
.iti-flag {
  width: 20px;
}
.iti-flag.be {
  width: 18px;
}
.iti-flag.ch {
  width: 15px;
}
.iti-flag.mc {
  width: 19px;
}
.iti-flag.ne {
  width: 18px;
}
.iti-flag.np {
  width: 13px;
}
.iti-flag.va {
  width: 15px;
}
.iti-flag.ac {
  background-position: 0 0;
  height: 10px;
}
.iti-flag.ad {
  background-position: -22px 0;
  height: 14px;
}
.iti-flag.ae {
  background-position: -44px 0;
  height: 10px;
}
.iti-flag.af {
  background-position: -66px 0;
  height: 14px;
}
.iti-flag.ag {
  background-position: -88px 0;
  height: 14px;
}
.iti-flag.ai {
  background-position: -110px 0;
  height: 10px;
}
.iti-flag.al {
  background-position: -132px 0;
  height: 15px;
}
.iti-flag.am {
  background-position: -154px 0;
  height: 10px;
}
.iti-flag.ao {
  background-position: -176px 0;
  height: 14px;
}
.iti-flag.aq {
  background-position: -198px 0;
  height: 14px;
}
.iti-flag.ar {
  background-position: -220px 0;
  height: 13px;
}
.iti-flag.as {
  background-position: -242px 0;
  height: 10px;
}
.iti-flag.at {
  background-position: -264px 0;
  height: 14px;
}
.iti-flag.au {
  background-position: -286px 0;
  height: 10px;
}
.iti-flag.aw {
  background-position: -308px 0;
  height: 14px;
}
.iti-flag.ax {
  background-position: -330px 0;
  height: 13px;
}
.iti-flag.az {
  background-position: -352px 0;
  height: 10px;
}
.iti-flag.ba {
  background-position: -374px 0;
  height: 10px;
}
.iti-flag.bb {
  background-position: -396px 0;
  height: 14px;
}
.iti-flag.bd {
  background-position: -418px 0;
  height: 12px;
}
.iti-flag.be {
  background-position: -440px 0;
  height: 15px;
}
.iti-flag.bf {
  background-position: -460px 0;
  height: 14px;
}
.iti-flag.bg {
  background-position: -482px 0;
  height: 12px;
}
.iti-flag.bh {
  background-position: -504px 0;
  height: 12px;
}
.iti-flag.bi {
  background-position: -526px 0;
  height: 12px;
}
.iti-flag.bj {
  background-position: -548px 0;
  height: 14px;
}
.iti-flag.bl {
  background-position: -570px 0;
  height: 14px;
}
.iti-flag.bm {
  background-position: -592px 0;
  height: 10px;
}
.iti-flag.bn {
  background-position: -614px 0;
  height: 10px;
}
.iti-flag.bo {
  background-position: -636px 0;
  height: 14px;
}
.iti-flag.bq {
  background-position: -658px 0;
  height: 14px;
}
.iti-flag.br {
  background-position: -680px 0;
  height: 14px;
}
.iti-flag.bs {
  background-position: -702px 0;
  height: 10px;
}
.iti-flag.bt {
  background-position: -724px 0;
  height: 14px;
}
.iti-flag.bv {
  background-position: -746px 0;
  height: 15px;
}
.iti-flag.bw {
  background-position: -768px 0;
  height: 14px;
}
.iti-flag.by {
  background-position: -790px 0;
  height: 10px;
}
.iti-flag.bz {
  background-position: -812px 0;
  height: 14px;
}
.iti-flag.ca {
  background-position: -834px 0;
  height: 10px;
}
.iti-flag.cc {
  background-position: -856px 0;
  height: 10px;
}
.iti-flag.cd {
  background-position: -878px 0;
  height: 15px;
}
.iti-flag.cf {
  background-position: -900px 0;
  height: 14px;
}
.iti-flag.cg {
  background-position: -922px 0;
  height: 14px;
}
.iti-flag.ch {
  background-position: -944px 0;
  height: 15px;
}
.iti-flag.ci {
  background-position: -961px 0;
  height: 14px;
}
.iti-flag.ck {
  background-position: -983px 0;
  height: 10px;
}
.iti-flag.cl {
  background-position: -1005px 0;
  height: 14px;
}
.iti-flag.cm {
  background-position: -1027px 0;
  height: 14px;
}
.iti-flag.cn {
  background-position: -1049px 0;
  height: 14px;
}
.iti-flag.co {
  background-position: -1071px 0;
  height: 14px;
}
.iti-flag.cp {
  background-position: -1093px 0;
  height: 14px;
}
.iti-flag.cr {
  background-position: -1115px 0;
  height: 12px;
}
.iti-flag.cu {
  background-position: -1137px 0;
  height: 10px;
}
.iti-flag.cv {
  background-position: -1159px 0;
  height: 12px;
}
.iti-flag.cw {
  background-position: -1181px 0;
  height: 14px;
}
.iti-flag.cx {
  background-position: -1203px 0;
  height: 10px;
}
.iti-flag.cy {
  background-position: -1225px 0;
  height: 14px;
}
.iti-flag.cz {
  background-position: -1247px 0;
  height: 14px;
}
.iti-flag.de {
  background-position: -1269px 0;
  height: 12px;
}
.iti-flag.dg {
  background-position: -1291px 0;
  height: 10px;
}
.iti-flag.dj {
  background-position: -1313px 0;
  height: 14px;
}
.iti-flag.dk {
  background-position: -1335px 0;
  height: 15px;
}
.iti-flag.dm {
  background-position: -1357px 0;
  height: 10px;
}
.iti-flag.do {
  background-position: -1379px 0;
  height: 14px;
}
.iti-flag.dz {
  background-position: -1401px 0;
  height: 14px;
}
.iti-flag.ea {
  background-position: -1423px 0;
  height: 14px;
}
.iti-flag.ec {
  background-position: -1445px 0;
  height: 14px;
}
.iti-flag.ee {
  background-position: -1467px 0;
  height: 13px;
}
.iti-flag.eg {
  background-position: -1489px 0;
  height: 14px;
}
.iti-flag.eh {
  background-position: -1511px 0;
  height: 10px;
}
.iti-flag.er {
  background-position: -1533px 0;
  height: 10px;
}
.iti-flag.es {
  background-position: -1555px 0;
  height: 14px;
}
.iti-flag.et {
  background-position: -1577px 0;
  height: 10px;
}
.iti-flag.eu {
  background-position: -1599px 0;
  height: 14px;
}
.iti-flag.fi {
  background-position: -1621px 0;
  height: 12px;
}
.iti-flag.fj {
  background-position: -1643px 0;
  height: 10px;
}
.iti-flag.fk {
  background-position: -1665px 0;
  height: 10px;
}
.iti-flag.fm {
  background-position: -1687px 0;
  height: 11px;
}
.iti-flag.fo {
  background-position: -1709px 0;
  height: 15px;
}
.iti-flag.fr {
  background-position: -1731px 0;
  height: 14px;
}
.iti-flag.ga {
  background-position: -1753px 0;
  height: 15px;
}
.iti-flag.en,
.iti-flag.gb {
  background-position: -1775px 0;
  height: 10px;
}
.iti-flag.gd {
  background-position: -1797px 0;
  height: 12px;
}
.iti-flag.ge {
  background-position: -1819px 0;
  height: 14px;
}
.iti-flag.gf {
  background-position: -1841px 0;
  height: 14px;
}
.iti-flag.gg {
  background-position: -1863px 0;
  height: 14px;
}
.iti-flag.gh {
  background-position: -1885px 0;
  height: 14px;
}
.iti-flag.gi {
  background-position: -1907px 0;
  height: 10px;
}
.iti-flag.gl {
  background-position: -1929px 0;
  height: 14px;
}
.iti-flag.gm {
  background-position: -1951px 0;
  height: 14px;
}
.iti-flag.gn {
  background-position: -1973px 0;
  height: 14px;
}
.iti-flag.gp {
  background-position: -1995px 0;
  height: 14px;
}
.iti-flag.gq {
  background-position: -2017px 0;
  height: 14px;
}
.iti-flag.gr {
  background-position: -2039px 0;
  height: 14px;
}
.iti-flag.gs {
  background-position: -2061px 0;
  height: 10px;
}
.iti-flag.gt {
  background-position: -2083px 0;
  height: 13px;
}
.iti-flag.gu {
  background-position: -2105px 0;
  height: 11px;
}
.iti-flag.gw {
  background-position: -2127px 0;
  height: 10px;
}
.iti-flag.gy {
  background-position: -2149px 0;
  height: 12px;
}
.iti-flag.hk {
  background-position: -2171px 0;
  height: 14px;
}
.iti-flag.hm {
  background-position: -2193px 0;
  height: 10px;
}
.iti-flag.hn {
  background-position: -2215px 0;
  height: 10px;
}
.iti-flag.hr {
  background-position: -2237px 0;
  height: 10px;
}
.iti-flag.ht {
  background-position: -2259px 0;
  height: 12px;
}
.iti-flag.hu {
  background-position: -2281px 0;
  height: 10px;
}
.iti-flag.ic {
  background-position: -2303px 0;
  height: 14px;
}
.iti-flag.id {
  background-position: -2325px 0;
  height: 14px;
}
.iti-flag.ie {
  background-position: -2347px 0;
  height: 10px;
}
.iti-flag.il {
  background-position: -2369px 0;
  height: 15px;
}
.iti-flag.im {
  background-position: -2391px 0;
  height: 10px;
}
.iti-flag.in {
  background-position: -2413px 0;
  height: 14px;
}
.iti-flag.io {
  background-position: -2435px 0;
  height: 10px;
}
.iti-flag.iq {
  background-position: -2457px 0;
  height: 14px;
}
.iti-flag.ir {
  background-position: -2479px 0;
  height: 12px;
}
.iti-flag.is {
  background-position: -2501px 0;
  height: 15px;
}
.iti-flag.it {
  background-position: -2523px 0;
  height: 14px;
}
.iti-flag.je {
  background-position: -2545px 0;
  height: 12px;
}
.iti-flag.jm {
  background-position: -2567px 0;
  height: 10px;
}
.iti-flag.jo {
  background-position: -2589px 0;
  height: 10px;
}
.iti-flag.jp {
  background-position: -2611px 0;
  height: 14px;
}
.iti-flag.ke {
  background-position: -2633px 0;
  height: 14px;
}
.iti-flag.kg {
  background-position: -2655px 0;
  height: 12px;
}
.iti-flag.kh {
  background-position: -2677px 0;
  height: 13px;
}
.iti-flag.ki {
  background-position: -2699px 0;
  height: 10px;
}
.iti-flag.km {
  background-position: -2721px 0;
  height: 12px;
}
.iti-flag.kn {
  background-position: -2743px 0;
  height: 14px;
}
.iti-flag.kp {
  background-position: -2765px 0;
  height: 10px;
}
.iti-flag.kr {
  background-position: -2787px 0;
  height: 14px;
}
.iti-flag.kw {
  background-position: -2809px 0;
  height: 10px;
}
.iti-flag.ky {
  background-position: -2831px 0;
  height: 10px;
}
.iti-flag.kz {
  background-position: -2853px 0;
  height: 10px;
}
.iti-flag.la {
  background-position: -2875px 0;
  height: 14px;
}
.iti-flag.lb {
  background-position: -2897px 0;
  height: 14px;
}
.iti-flag.lc {
  background-position: -2919px 0;
  height: 10px;
}
.iti-flag.li {
  background-position: -2941px 0;
  height: 12px;
}
.iti-flag.lk {
  background-position: -2963px 0;
  height: 10px;
}
.iti-flag.lr {
  background-position: -2985px 0;
  height: 11px;
}
.iti-flag.ls {
  background-position: -3007px 0;
  height: 14px;
}
.iti-flag.lt {
  background-position: -3029px 0;
  height: 12px;
}
.iti-flag.lu {
  background-position: -3051px 0;
  height: 12px;
}
.iti-flag.lv {
  background-position: -3073px 0;
  height: 10px;
}
.iti-flag.ly {
  background-position: -3095px 0;
  height: 10px;
}
.iti-flag.ma {
  background-position: -3117px 0;
  height: 14px;
}
.iti-flag.mc {
  background-position: -3139px 0;
  height: 15px;
}
.iti-flag.md {
  background-position: -3160px 0;
  height: 10px;
}
.iti-flag.me {
  background-position: -3182px 0;
  height: 10px;
}
.iti-flag.mf {
  background-position: -3204px 0;
  height: 14px;
}
.iti-flag.mg {
  background-position: -3226px 0;
  height: 14px;
}
.iti-flag.mh {
  background-position: -3248px 0;
  height: 11px;
}
.iti-flag.mk {
  background-position: -3270px 0;
  height: 10px;
}
.iti-flag.ml {
  background-position: -3292px 0;
  height: 14px;
}
.iti-flag.mm {
  background-position: -3314px 0;
  height: 14px;
}
.iti-flag.mn {
  background-position: -3336px 0;
  height: 10px;
}
.iti-flag.mo {
  background-position: -3358px 0;
  height: 14px;
}
.iti-flag.mp {
  background-position: -3380px 0;
  height: 10px;
}
.iti-flag.mq {
  background-position: -3402px 0;
  height: 14px;
}
.iti-flag.mr {
  background-position: -3424px 0;
  height: 14px;
}
.iti-flag.ms {
  background-position: -3446px 0;
  height: 10px;
}
.iti-flag.mt {
  background-position: -3468px 0;
  height: 14px;
}
.iti-flag.mu {
  background-position: -3490px 0;
  height: 14px;
}
.iti-flag.mv {
  background-position: -3512px 0;
  height: 14px;
}
.iti-flag.mw {
  background-position: -3534px 0;
  height: 14px;
}
.iti-flag.mx {
  background-position: -3556px 0;
  height: 12px;
}
.iti-flag.my {
  background-position: -3578px 0;
  height: 10px;
}
.iti-flag.mz {
  background-position: -3600px 0;
  height: 14px;
}
.iti-flag.na {
  background-position: -3622px 0;
  height: 14px;
}
.iti-flag.nc {
  background-position: -3644px 0;
  height: 10px;
}
.iti-flag.ne {
  background-position: -3666px 0;
  height: 15px;
}
.iti-flag.nf {
  background-position: -3686px 0;
  height: 10px;
}
.iti-flag.ng {
  background-position: -3708px 0;
  height: 10px;
}
.iti-flag.ni {
  background-position: -3730px 0;
  height: 12px;
}
.iti-flag.nl {
  background-position: -3752px 0;
  height: 14px;
}
.iti-flag.no {
  background-position: -3774px 0;
  height: 15px;
}
.iti-flag.np {
  background-position: -3796px 0;
  height: 15px;
}
.iti-flag.nr {
  background-position: -3811px 0;
  height: 10px;
}
.iti-flag.nu {
  background-position: -3833px 0;
  height: 10px;
}
.iti-flag.nz {
  background-position: -3855px 0;
  height: 10px;
}
.iti-flag.om {
  background-position: -3877px 0;
  height: 10px;
}
.iti-flag.pa {
  background-position: -3899px 0;
  height: 14px;
}
.iti-flag.pe {
  background-position: -3921px 0;
  height: 14px;
}
.iti-flag.pf {
  background-position: -3943px 0;
  height: 14px;
}
.iti-flag.pg {
  background-position: -3965px 0;
  height: 15px;
}
.iti-flag.ph {
  background-position: -3987px 0;
  height: 10px;
}
.iti-flag.pk {
  background-position: -4009px 0;
  height: 14px;
}
.iti-flag.pl {
  background-position: -4031px 0;
  height: 13px;
}
.iti-flag.pm {
  background-position: -4053px 0;
  height: 14px;
}
.iti-flag.pn {
  background-position: -4075px 0;
  height: 10px;
}
.iti-flag.pr {
  background-position: -4097px 0;
  height: 14px;
}
.iti-flag.ps {
  background-position: -4119px 0;
  height: 10px;
}
.iti-flag.pt {
  background-position: -4141px 0;
  height: 14px;
}
.iti-flag.pw {
  background-position: -4163px 0;
  height: 13px;
}
.iti-flag.py {
  background-position: -4185px 0;
  height: 11px;
}
.iti-flag.qa {
  background-position: -4207px 0;
  height: 8px;
}
.iti-flag.re {
  background-position: -4229px 0;
  height: 14px;
}
.iti-flag.ro {
  background-position: -4251px 0;
  height: 14px;
}
.iti-flag.rs {
  background-position: -4273px 0;
  height: 14px;
}
.iti-flag.ru {
  background-position: -4295px 0;
  height: 14px;
}
.iti-flag.rw {
  background-position: -4317px 0;
  height: 14px;
}
.iti-flag.sa {
  background-position: -4339px 0;
  height: 14px;
}
.iti-flag.sb {
  background-position: -4361px 0;
  height: 10px;
}
.iti-flag.sc {
  background-position: -4383px 0;
  height: 10px;
}
.iti-flag.sd {
  background-position: -4405px 0;
  height: 10px;
}
.iti-flag.se {
  background-position: -4427px 0;
  height: 13px;
}
.iti-flag.sg {
  background-position: -4449px 0;
  height: 14px;
}
.iti-flag.sh {
  background-position: -4471px 0;
  height: 10px;
}
.iti-flag.si {
  background-position: -4493px 0;
  height: 10px;
}
.iti-flag.sj {
  background-position: -4515px 0;
  height: 15px;
}
.iti-flag.sk {
  background-position: -4537px 0;
  height: 14px;
}
.iti-flag.sl {
  background-position: -4559px 0;
  height: 14px;
}
.iti-flag.sm {
  background-position: -4581px 0;
  height: 15px;
}
.iti-flag.sn {
  background-position: -4603px 0;
  height: 14px;
}
.iti-flag.so {
  background-position: -4625px 0;
  height: 14px;
}
.iti-flag.sr {
  background-position: -4647px 0;
  height: 14px;
}
.iti-flag.ss {
  background-position: -4669px 0;
  height: 10px;
}
.iti-flag.st {
  background-position: -4691px 0;
  height: 10px;
}
.iti-flag.sv {
  background-position: -4713px 0;
  height: 12px;
}
.iti-flag.sx {
  background-position: -4735px 0;
  height: 14px;
}
.iti-flag.sy {
  background-position: -4757px 0;
  height: 14px;
}
.iti-flag.sz {
  background-position: -4779px 0;
  height: 14px;
}
.iti-flag.ta {
  background-position: -4801px 0;
  height: 10px;
}
.iti-flag.tc {
  background-position: -4823px 0;
  height: 10px;
}
.iti-flag.td {
  background-position: -4845px 0;
  height: 14px;
}
.iti-flag.tf {
  background-position: -4867px 0;
  height: 14px;
}
.iti-flag.tg {
  background-position: -4889px 0;
  height: 13px;
}
.iti-flag.th {
  background-position: -4911px 0;
  height: 14px;
}
.iti-flag.tj {
  background-position: -4933px 0;
  height: 10px;
}
.iti-flag.tk {
  background-position: -4955px 0;
  height: 10px;
}
.iti-flag.tl {
  background-position: -4977px 0;
  height: 10px;
}
.iti-flag.tm {
  background-position: -4999px 0;
  height: 14px;
}
.iti-flag.tn {
  background-position: -5021px 0;
  height: 14px;
}
.iti-flag.to {
  background-position: -5043px 0;
  height: 10px;
}
.iti-flag.tr {
  background-position: -5065px 0;
  height: 14px;
}
.iti-flag.tt {
  background-position: -5087px 0;
  height: 12px;
}
.iti-flag.tv {
  background-position: -5109px 0;
  height: 10px;
}
.iti-flag.tw {
  background-position: -5131px 0;
  height: 14px;
}
.iti-flag.tz {
  background-position: -5153px 0;
  height: 14px;
}
.iti-flag.ua {
  background-position: -5175px 0;
  height: 14px;
}
.iti-flag.ug {
  background-position: -5197px 0;
  height: 14px;
}
.iti-flag.um {
  background-position: -5219px 0;
  height: 11px;
}
.iti-flag.un {
  height: 14px;
}
.iti-flag.un,
.iti-flag.us {
  background-position: -5241px 0;
}
.iti-flag.us {
  height: 11px;
}
.iti-flag.uy {
  background-position: -5263px 0;
  height: 14px;
}
.iti-flag.uz {
  background-position: -5285px 0;
  height: 10px;
}
.iti-flag.va {
  background-position: -5307px 0;
  height: 15px;
}
.iti-flag.vc {
  background-position: -5329px 0;
  height: 14px;
}
.iti-flag.ve {
  background-position: -5346px 0;
  height: 14px;
}
.iti-flag.vg {
  background-position: -5368px 0;
  height: 10px;
}
.iti-flag.vi {
  background-position: -5390px 0;
  height: 14px;
}
.iti-flag.vn {
  background-position: -5412px 0;
  height: 14px;
}
.iti-flag.vu {
  background-position: -5434px 0;
  height: 12px;
}
.iti-flag.wf {
  background-position: -5456px 0;
  height: 14px;
}
.iti-flag.ws {
  background-position: -5478px 0;
  height: 10px;
}
.iti-flag.xk {
  background-position: -5500px 0;
  height: 15px;
}
.iti-flag.ye {
  background-position: -5522px 0;
  height: 14px;
}
.iti-flag.yt {
  background-position: -5544px 0;
  height: 14px;
}
.iti-flag.za {
  background-position: -5566px 0;
  height: 14px;
}
.iti-flag.zm {
  background-position: -5588px 0;
  height: 14px;
}
.iti-flag.zw {
  background-position: -5610px 0;
  height: 10px;
}
.iti-flag {
  background-color: #dbdbdb;
  background-image: var(--flags);
  background-position: 20px 0;
  background-repeat: no-repeat;
  box-shadow: 0 0 1px 0 #888;
  height: 15px;
}
.iti__flag {
  width: 20px;
}
.iti__flag.iti__be {
  width: 18px;
}
.iti__flag.iti__ch {
  width: 15px;
}
.iti__flag.iti__mc {
  width: 19px;
}
.iti__flag.iti__ne {
  width: 18px;
}
.iti__flag.iti__np {
  width: 13px;
}
.iti__flag.iti__va {
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-size: 5652px 15px;
  }
}
.iti__flag.iti__ac {
  background-position: 0 0;
  height: 10px;
}
.iti__flag.iti__ad {
  background-position: -22px 0;
  height: 14px;
}
.iti__flag.iti__ae {
  background-position: -44px 0;
  height: 10px;
}
.iti__flag.iti__af {
  background-position: -66px 0;
  height: 14px;
}
.iti__flag.iti__ag {
  background-position: -88px 0;
  height: 14px;
}
.iti__flag.iti__ai {
  background-position: -110px 0;
  height: 10px;
}
.iti__flag.iti__al {
  background-position: -132px 0;
  height: 15px;
}
.iti__flag.iti__am {
  background-position: -154px 0;
  height: 10px;
}
.iti__flag.iti__ao {
  background-position: -176px 0;
  height: 14px;
}
.iti__flag.iti__aq {
  background-position: -198px 0;
  height: 14px;
}
.iti__flag.iti__ar {
  background-position: -220px 0;
  height: 13px;
}
.iti__flag.iti__as {
  background-position: -242px 0;
  height: 10px;
}
.iti__flag.iti__at {
  background-position: -264px 0;
  height: 14px;
}
.iti__flag.iti__au {
  background-position: -286px 0;
  height: 10px;
}
.iti__flag.iti__aw {
  background-position: -308px 0;
  height: 14px;
}
.iti__flag.iti__ax {
  background-position: -330px 0;
  height: 13px;
}
.iti__flag.iti__az {
  background-position: -352px 0;
  height: 10px;
}
.iti__flag.iti__ba {
  background-position: -374px 0;
  height: 10px;
}
.iti__flag.iti__bb {
  background-position: -396px 0;
  height: 14px;
}
.iti__flag.iti__bd {
  background-position: -418px 0;
  height: 12px;
}
.iti__flag.iti__be {
  background-position: -440px 0;
  height: 15px;
}
.iti__flag.iti__bf {
  background-position: -460px 0;
  height: 14px;
}
.iti__flag.iti__bg {
  background-position: -482px 0;
  height: 12px;
}
.iti__flag.iti__bh {
  background-position: -504px 0;
  height: 12px;
}
.iti__flag.iti__bi {
  background-position: -526px 0;
  height: 12px;
}
.iti__flag.iti__bj {
  background-position: -548px 0;
  height: 14px;
}
.iti__flag.iti__bl {
  background-position: -570px 0;
  height: 14px;
}
.iti__flag.iti__bm {
  background-position: -592px 0;
  height: 10px;
}
.iti__flag.iti__bn {
  background-position: -614px 0;
  height: 10px;
}
.iti__flag.iti__bo {
  background-position: -636px 0;
  height: 14px;
}
.iti__flag.iti__bq {
  background-position: -658px 0;
  height: 14px;
}
.iti__flag.iti__br {
  background-position: -680px 0;
  height: 14px;
}
.iti__flag.iti__bs {
  background-position: -702px 0;
  height: 10px;
}
.iti__flag.iti__bt {
  background-position: -724px 0;
  height: 14px;
}
.iti__flag.iti__bv {
  background-position: -746px 0;
  height: 15px;
}
.iti__flag.iti__bw {
  background-position: -768px 0;
  height: 14px;
}
.iti__flag.iti__by {
  background-position: -790px 0;
  height: 10px;
}
.iti__flag.iti__bz {
  background-position: -812px 0;
  height: 14px;
}
.iti__flag.iti__ca {
  background-position: -834px 0;
  height: 10px;
}
.iti__flag.iti__cc {
  background-position: -856px 0;
  height: 10px;
}
.iti__flag.iti__cd {
  background-position: -878px 0;
  height: 15px;
}
.iti__flag.iti__cf {
  background-position: -900px 0;
  height: 14px;
}
.iti__flag.iti__cg {
  background-position: -922px 0;
  height: 14px;
}
.iti__flag.iti__ch {
  background-position: -944px 0;
  height: 15px;
}
.iti__flag.iti__ci {
  background-position: -961px 0;
  height: 14px;
}
.iti__flag.iti__ck {
  background-position: -983px 0;
  height: 10px;
}
.iti__flag.iti__cl {
  background-position: -1005px 0;
  height: 14px;
}
.iti__flag.iti__cm {
  background-position: -1027px 0;
  height: 14px;
}
.iti__flag.iti__cn {
  background-position: -1049px 0;
  height: 14px;
}
.iti__flag.iti__co {
  background-position: -1071px 0;
  height: 14px;
}
.iti__flag.iti__cp {
  background-position: -1093px 0;
  height: 14px;
}
.iti__flag.iti__cr {
  background-position: -1115px 0;
  height: 12px;
}
.iti__flag.iti__cu {
  background-position: -1137px 0;
  height: 10px;
}
.iti__flag.iti__cv {
  background-position: -1159px 0;
  height: 12px;
}
.iti__flag.iti__cw {
  background-position: -1181px 0;
  height: 14px;
}
.iti__flag.iti__cx {
  background-position: -1203px 0;
  height: 10px;
}
.iti__flag.iti__cy {
  background-position: -1225px 0;
  height: 14px;
}
.iti__flag.iti__cz {
  background-position: -1247px 0;
  height: 14px;
}
.iti__flag.iti__de {
  background-position: -1269px 0;
  height: 12px;
}
.iti__flag.iti__dg {
  background-position: -1291px 0;
  height: 10px;
}
.iti__flag.iti__dj {
  background-position: -1313px 0;
  height: 14px;
}
.iti__flag.iti__dk {
  background-position: -1335px 0;
  height: 15px;
}
.iti__flag.iti__dm {
  background-position: -1357px 0;
  height: 10px;
}
.iti__flag.iti__do {
  background-position: -1379px 0;
  height: 14px;
}
.iti__flag.iti__dz {
  background-position: -1401px 0;
  height: 14px;
}
.iti__flag.iti__ea {
  background-position: -1423px 0;
  height: 14px;
}
.iti__flag.iti__ec {
  background-position: -1445px 0;
  height: 14px;
}
.iti__flag.iti__ee {
  background-position: -1467px 0;
  height: 13px;
}
.iti__flag.iti__eg {
  background-position: -1489px 0;
  height: 14px;
}
.iti__flag.iti__eh {
  background-position: -1511px 0;
  height: 10px;
}
.iti__flag.iti__er {
  background-position: -1533px 0;
  height: 10px;
}
.iti__flag.iti__es {
  background-position: -1555px 0;
  height: 14px;
}
.iti__flag.iti__et {
  background-position: -1577px 0;
  height: 10px;
}
.iti__flag.iti__eu {
  background-position: -1599px 0;
  height: 14px;
}
.iti__flag.iti__fi {
  background-position: -1621px 0;
  height: 12px;
}
.iti__flag.iti__fj {
  background-position: -1643px 0;
  height: 10px;
}
.iti__flag.iti__fk {
  background-position: -1665px 0;
  height: 10px;
}
.iti__flag.iti__fm {
  background-position: -1687px 0;
  height: 11px;
}
.iti__flag.iti__fo {
  background-position: -1709px 0;
  height: 15px;
}
.iti__flag.iti__fr {
  background-position: -1731px 0;
  height: 14px;
}
.iti__flag.iti__ga {
  background-position: -1753px 0;
  height: 15px;
}
.iti__flag.iti__gb {
  background-position: -1775px 0;
  height: 10px;
}
.iti__flag.iti__gd {
  background-position: -1797px 0;
  height: 12px;
}
.iti__flag.iti__ge {
  background-position: -1819px 0;
  height: 14px;
}
.iti__flag.iti__gf {
  background-position: -1841px 0;
  height: 14px;
}
.iti__flag.iti__gg {
  background-position: -1863px 0;
  height: 14px;
}
.iti__flag.iti__gh {
  background-position: -1885px 0;
  height: 14px;
}
.iti__flag.iti__gi {
  background-position: -1907px 0;
  height: 10px;
}
.iti__flag.iti__gl {
  background-position: -1929px 0;
  height: 14px;
}
.iti__flag.iti__gm {
  background-position: -1951px 0;
  height: 14px;
}
.iti__flag.iti__gn {
  background-position: -1973px 0;
  height: 14px;
}
.iti__flag.iti__gp {
  background-position: -1995px 0;
  height: 14px;
}
.iti__flag.iti__gq {
  background-position: -2017px 0;
  height: 14px;
}
.iti__flag.iti__gr {
  background-position: -2039px 0;
  height: 14px;
}
.iti__flag.iti__gs {
  background-position: -2061px 0;
  height: 10px;
}
.iti__flag.iti__gt {
  background-position: -2083px 0;
  height: 13px;
}
.iti__flag.iti__gu {
  background-position: -2105px 0;
  height: 11px;
}
.iti__flag.iti__gw {
  background-position: -2127px 0;
  height: 10px;
}
.iti__flag.iti__gy {
  background-position: -2149px 0;
  height: 12px;
}
.iti__flag.iti__hk {
  background-position: -2171px 0;
  height: 14px;
}
.iti__flag.iti__hm {
  background-position: -2193px 0;
  height: 10px;
}
.iti__flag.iti__hn {
  background-position: -2215px 0;
  height: 10px;
}
.iti__flag.iti__hr {
  background-position: -2237px 0;
  height: 10px;
}
.iti__flag.iti__ht {
  background-position: -2259px 0;
  height: 12px;
}
.iti__flag.iti__hu {
  background-position: -2281px 0;
  height: 10px;
}
.iti__flag.iti__ic {
  background-position: -2303px 0;
  height: 14px;
}
.iti__flag.iti__id {
  background-position: -2325px 0;
  height: 14px;
}
.iti__flag.iti__ie {
  background-position: -2347px 0;
  height: 10px;
}
.iti__flag.iti__il {
  background-position: -2369px 0;
  height: 15px;
}
.iti__flag.iti__im {
  background-position: -2391px 0;
  height: 10px;
}
.iti__flag.iti__in {
  background-position: -2413px 0;
  height: 14px;
}
.iti__flag.iti__io {
  background-position: -2435px 0;
  height: 10px;
}
.iti__flag.iti__iq {
  background-position: -2457px 0;
  height: 14px;
}
.iti__flag.iti__ir {
  background-position: -2479px 0;
  height: 12px;
}
.iti__flag.iti__is {
  background-position: -2501px 0;
  height: 15px;
}
.iti__flag.iti__it {
  background-position: -2523px 0;
  height: 14px;
}
.iti__flag.iti__je {
  background-position: -2545px 0;
  height: 12px;
}
.iti__flag.iti__jm {
  background-position: -2567px 0;
  height: 10px;
}
.iti__flag.iti__jo {
  background-position: -2589px 0;
  height: 10px;
}
.iti__flag.iti__jp {
  background-position: -2611px 0;
  height: 14px;
}
.iti__flag.iti__ke {
  background-position: -2633px 0;
  height: 14px;
}
.iti__flag.iti__kg {
  background-position: -2655px 0;
  height: 12px;
}
.iti__flag.iti__kh {
  background-position: -2677px 0;
  height: 13px;
}
.iti__flag.iti__ki {
  background-position: -2699px 0;
  height: 10px;
}
.iti__flag.iti__km {
  background-position: -2721px 0;
  height: 12px;
}
.iti__flag.iti__kn {
  background-position: -2743px 0;
  height: 14px;
}
.iti__flag.iti__kp {
  background-position: -2765px 0;
  height: 10px;
}
.iti__flag.iti__kr {
  background-position: -2787px 0;
  height: 14px;
}
.iti__flag.iti__kw {
  background-position: -2809px 0;
  height: 10px;
}
.iti__flag.iti__ky {
  background-position: -2831px 0;
  height: 10px;
}
.iti__flag.iti__kz {
  background-position: -2853px 0;
  height: 10px;
}
.iti__flag.iti__la {
  background-position: -2875px 0;
  height: 14px;
}
.iti__flag.iti__lb {
  background-position: -2897px 0;
  height: 14px;
}
.iti__flag.iti__lc {
  background-position: -2919px 0;
  height: 10px;
}
.iti__flag.iti__li {
  background-position: -2941px 0;
  height: 12px;
}
.iti__flag.iti__lk {
  background-position: -2963px 0;
  height: 10px;
}
.iti__flag.iti__lr {
  background-position: -2985px 0;
  height: 11px;
}
.iti__flag.iti__ls {
  background-position: -3007px 0;
  height: 14px;
}
.iti__flag.iti__lt {
  background-position: -3029px 0;
  height: 12px;
}
.iti__flag.iti__lu {
  background-position: -3051px 0;
  height: 12px;
}
.iti__flag.iti__lv {
  background-position: -3073px 0;
  height: 10px;
}
.iti__flag.iti__ly {
  background-position: -3095px 0;
  height: 10px;
}
.iti__flag.iti__ma {
  background-position: -3117px 0;
  height: 14px;
}
.iti__flag.iti__mc {
  background-position: -3139px 0;
  height: 15px;
}
.iti__flag.iti__md {
  background-position: -3160px 0;
  height: 10px;
}
.iti__flag.iti__me {
  background-position: -3182px 0;
  height: 10px;
}
.iti__flag.iti__mf {
  background-position: -3204px 0;
  height: 14px;
}
.iti__flag.iti__mg {
  background-position: -3226px 0;
  height: 14px;
}
.iti__flag.iti__mh {
  background-position: -3248px 0;
  height: 11px;
}
.iti__flag.iti__mk {
  background-position: -3270px 0;
  height: 10px;
}
.iti__flag.iti__ml {
  background-position: -3292px 0;
  height: 14px;
}
.iti__flag.iti__mm {
  background-position: -3314px 0;
  height: 14px;
}
.iti__flag.iti__mn {
  background-position: -3336px 0;
  height: 10px;
}
.iti__flag.iti__mo {
  background-position: -3358px 0;
  height: 14px;
}
.iti__flag.iti__mp {
  background-position: -3380px 0;
  height: 10px;
}
.iti__flag.iti__mq {
  background-position: -3402px 0;
  height: 14px;
}
.iti__flag.iti__mr {
  background-position: -3424px 0;
  height: 14px;
}
.iti__flag.iti__ms {
  background-position: -3446px 0;
  height: 10px;
}
.iti__flag.iti__mt {
  background-position: -3468px 0;
  height: 14px;
}
.iti__flag.iti__mu {
  background-position: -3490px 0;
  height: 14px;
}
.iti__flag.iti__mv {
  background-position: -3512px 0;
  height: 14px;
}
.iti__flag.iti__mw {
  background-position: -3534px 0;
  height: 14px;
}
.iti__flag.iti__mx {
  background-position: -3556px 0;
  height: 12px;
}
.iti__flag.iti__my {
  background-position: -3578px 0;
  height: 10px;
}
.iti__flag.iti__mz {
  background-position: -3600px 0;
  height: 14px;
}
.iti__flag.iti__na {
  background-position: -3622px 0;
  height: 14px;
}
.iti__flag.iti__nc {
  background-position: -3644px 0;
  height: 10px;
}
.iti__flag.iti__ne {
  background-position: -3666px 0;
  height: 15px;
}
.iti__flag.iti__nf {
  background-position: -3686px 0;
  height: 10px;
}
.iti__flag.iti__ng {
  background-position: -3708px 0;
  height: 10px;
}
.iti__flag.iti__ni {
  background-position: -3730px 0;
  height: 12px;
}
.iti__flag.iti__nl {
  background-position: -3752px 0;
  height: 14px;
}
.iti__flag.iti__no {
  background-position: -3774px 0;
  height: 15px;
}
.iti__flag.iti__np {
  background-position: -3796px 0;
  height: 15px;
}
.iti__flag.iti__nr {
  background-position: -3811px 0;
  height: 10px;
}
.iti__flag.iti__nu {
  background-position: -3833px 0;
  height: 10px;
}
.iti__flag.iti__nz {
  background-position: -3855px 0;
  height: 10px;
}
.iti__flag.iti__om {
  background-position: -3877px 0;
  height: 10px;
}
.iti__flag.iti__pa {
  background-position: -3899px 0;
  height: 14px;
}
.iti__flag.iti__pe {
  background-position: -3921px 0;
  height: 14px;
}
.iti__flag.iti__pf {
  background-position: -3943px 0;
  height: 14px;
}
.iti__flag.iti__pg {
  background-position: -3965px 0;
  height: 15px;
}
.iti__flag.iti__ph {
  background-position: -3987px 0;
  height: 10px;
}
.iti__flag.iti__pk {
  background-position: -4009px 0;
  height: 14px;
}
.iti__flag.iti__pl {
  background-position: -4031px 0;
  height: 13px;
}
.iti__flag.iti__pm {
  background-position: -4053px 0;
  height: 14px;
}
.iti__flag.iti__pn {
  background-position: -4075px 0;
  height: 10px;
}
.iti__flag.iti__pr {
  background-position: -4097px 0;
  height: 14px;
}
.iti__flag.iti__ps {
  background-position: -4119px 0;
  height: 10px;
}
.iti__flag.iti__pt {
  background-position: -4141px 0;
  height: 14px;
}
.iti__flag.iti__pw {
  background-position: -4163px 0;
  height: 13px;
}
.iti__flag.iti__py {
  background-position: -4185px 0;
  height: 11px;
}
.iti__flag.iti__qa {
  background-position: -4207px 0;
  height: 8px;
}
.iti__flag.iti__re {
  background-position: -4229px 0;
  height: 14px;
}
.iti__flag.iti__ro {
  background-position: -4251px 0;
  height: 14px;
}
.iti__flag.iti__rs {
  background-position: -4273px 0;
  height: 14px;
}
.iti__flag.iti__ru {
  background-position: -4295px 0;
  height: 14px;
}
.iti__flag.iti__rw {
  background-position: -4317px 0;
  height: 14px;
}
.iti__flag.iti__sa {
  background-position: -4339px 0;
  height: 14px;
}
.iti__flag.iti__sb {
  background-position: -4361px 0;
  height: 10px;
}
.iti__flag.iti__sc {
  background-position: -4383px 0;
  height: 10px;
}
.iti__flag.iti__sd {
  background-position: -4405px 0;
  height: 10px;
}
.iti__flag.iti__se {
  background-position: -4427px 0;
  height: 13px;
}
.iti__flag.iti__sg {
  background-position: -4449px 0;
  height: 14px;
}
.iti__flag.iti__sh {
  background-position: -4471px 0;
  height: 10px;
}
.iti__flag.iti__si {
  background-position: -4493px 0;
  height: 10px;
}
.iti__flag.iti__sj {
  background-position: -4515px 0;
  height: 15px;
}
.iti__flag.iti__sk {
  background-position: -4537px 0;
  height: 14px;
}
.iti__flag.iti__sl {
  background-position: -4559px 0;
  height: 14px;
}
.iti__flag.iti__sm {
  background-position: -4581px 0;
  height: 15px;
}
.iti__flag.iti__sn {
  background-position: -4603px 0;
  height: 14px;
}
.iti__flag.iti__so {
  background-position: -4625px 0;
  height: 14px;
}
.iti__flag.iti__sr {
  background-position: -4647px 0;
  height: 14px;
}
.iti__flag.iti__ss {
  background-position: -4669px 0;
  height: 10px;
}
.iti__flag.iti__st {
  background-position: -4691px 0;
  height: 10px;
}
.iti__flag.iti__sv {
  background-position: -4713px 0;
  height: 12px;
}
.iti__flag.iti__sx {
  background-position: -4735px 0;
  height: 14px;
}
.iti__flag.iti__sy {
  background-position: -4757px 0;
  height: 14px;
}
.iti__flag.iti__sz {
  background-position: -4779px 0;
  height: 14px;
}
.iti__flag.iti__ta {
  background-position: -4801px 0;
  height: 10px;
}
.iti__flag.iti__tc {
  background-position: -4823px 0;
  height: 10px;
}
.iti__flag.iti__td {
  background-position: -4845px 0;
  height: 14px;
}
.iti__flag.iti__tf {
  background-position: -4867px 0;
  height: 14px;
}
.iti__flag.iti__tg {
  background-position: -4889px 0;
  height: 13px;
}
.iti__flag.iti__th {
  background-position: -4911px 0;
  height: 14px;
}
.iti__flag.iti__tj {
  background-position: -4933px 0;
  height: 10px;
}
.iti__flag.iti__tk {
  background-position: -4955px 0;
  height: 10px;
}
.iti__flag.iti__tl {
  background-position: -4977px 0;
  height: 10px;
}
.iti__flag.iti__tm {
  background-position: -4999px 0;
  height: 14px;
}
.iti__flag.iti__tn {
  background-position: -5021px 0;
  height: 14px;
}
.iti__flag.iti__to {
  background-position: -5043px 0;
  height: 10px;
}
.iti__flag.iti__tr {
  background-position: -5065px 0;
  height: 14px;
}
.iti__flag.iti__tt {
  background-position: -5087px 0;
  height: 12px;
}
.iti__flag.iti__tv {
  background-position: -5109px 0;
  height: 10px;
}
.iti__flag.iti__tw {
  background-position: -5131px 0;
  height: 14px;
}
.iti__flag.iti__tz {
  background-position: -5153px 0;
  height: 14px;
}
.iti__flag.iti__ua {
  background-position: -5175px 0;
  height: 14px;
}
.iti__flag.iti__ug {
  background-position: -5197px 0;
  height: 14px;
}
.iti__flag.iti__um {
  background-position: -5219px 0;
  height: 11px;
}
.iti__flag.iti__un {
  background-position: -5241px 0;
  height: 14px;
}
.iti__flag.iti__us {
  background-position: -5263px 0;
  height: 11px;
}
.iti__flag.iti__uy {
  background-position: -5285px 0;
  height: 14px;
}
.iti__flag.iti__uz {
  background-position: -5307px 0;
  height: 10px;
}
.iti__flag.iti__va {
  background-position: -5329px 0;
  height: 15px;
}
.iti__flag.iti__vc {
  background-position: -5346px 0;
  height: 14px;
}
.iti__flag.iti__ve {
  background-position: -5368px 0;
  height: 14px;
}
.iti__flag.iti__vg {
  background-position: -5390px 0;
  height: 10px;
}
.iti__flag.iti__vi {
  background-position: -5412px 0;
  height: 14px;
}
.iti__flag.iti__vn {
  background-position: -5434px 0;
  height: 14px;
}
.iti__flag.iti__vu {
  background-position: -5456px 0;
  height: 12px;
}
.iti__flag.iti__wf {
  background-position: -5478px 0;
  height: 14px;
}
.iti__flag.iti__ws {
  background-position: -5500px 0;
  height: 10px;
}
.iti__flag.iti__xk {
  background-position: -5522px 0;
  height: 15px;
}
.iti__flag.iti__ye {
  background-position: -5544px 0;
  height: 14px;
}
.iti__flag.iti__yt {
  background-position: -5566px 0;
  height: 14px;
}
.iti__flag.iti__za {
  background-position: -5588px 0;
  height: 14px;
}
.iti__flag.iti__zm {
  background-position: -5610px 0;
  height: 14px;
}
.iti__flag.iti__zw {
  background-position: -5632px 0;
  height: 10px;
}
#chat-24-widget-container
  div#chat-24-mobile
  #chat-24-inner-container
  #chat-24-roll {
  margin-bottom: 0;
}
#chat-24-widget-container
  div#chat-24-mobile
  #chat-24-inner-container
  #chat-24-roll
  #chat-24-roll-icon {
  background-size: 25px;
  height: 50px;
  width: 50px;
}
#chat-24-widget-container div#chat-24-mobile #chat-24-title {
  display: none;
}
#chat-24-widget-container div #chat-24-inner-container {
  padding: 10px;
}
#chat-24-widget-container
  div
  #chat-24-inner-container
  #chat-24-roll
  #chat-24-roll-icon {
  background-color: #3f3d75;
  background-image: var(--chat2deskIcon) !important;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 35px;
}
#chat-24-widget-container
  div
  #chat-24-inner-container
  #chat-24-roll
  #chat-24-roll-icon
  #chat-24-icon-msg {
  display: none !important;
}
.flickity-enabled {
  position: relative;
}
.flickity-enabled:focus {
  outline: none;
}
.flickity-viewport {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.flickity-slider {
  height: 100%;
  position: absolute;
  width: 100%;
}
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.flickity-button {
  background: transparent;
  border: none;
  color: #fe8b21;
  position: absolute;
}
.flickity-button:hover {
  background: #fff;
  cursor: pointer;
}
.flickity-button:focus {
  outline: none;
}
.flickity-button:active {
  opacity: 0.6;
}
.flickity-button:disabled {
  cursor: auto;
  opacity: 0.3;
  pointer-events: none;
}
.flickity-button-icon {
  fill: currentColor;
}
.flickity-prev-next-button {
  border-radius: 50%;
  height: 44px;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
}
.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  left: 10px;
  right: auto;
}
.flickity-prev-next-button .flickity-button-icon {
  height: 60%;
  left: 20%;
  position: absolute;
  top: 20%;
  width: 60%;
}
.flickity-page-dots {
  bottom: -25px;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.flickity-rtl .flickity-page-dots {
  direction: rtl;
}
.flickity-page-dots .dot {
  background: #d8d4d9;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 6px;
  margin: 0 8px;
  width: 6px;
}
.flickity-page-dots .dot.is-selected {
  background: #6d5c70;
  opacity: 1;
}
.before-header {
  height: 1px;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.header {
  background: #fff;
  padding: 15px 0;
  top: 0;
  z-index: 5;
}
.header .btn--gray {
  width: auto;
}
.header__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}
.header__wrapper-mobile {
  align-items: center;
  display: none;
}
.header__content {
  align-items: center;
  display: flex;
}
.logo {
  margin-inline-end: 30px;
}
.btn.free-lesson {
  display: none;
  margin-inline-end: 16px;
  width: auto;
}
.header__menu {
  color: #14001a;
  display: flex;
  font-size: 14px;
  margin-inline-end: 10px;
}
.header__menu a {
  margin-inline-end: 20px;
}
.phone-number {
  color: #14001a;
  margin-inline-end: 30px;
}
.messengers-list,
.messengers-list a {
  margin-inline-end: 16px;
}
.icons {
  align-items: center;
  display: flex;
}
.selection-change {
  position: relative;
}
.language-change {
  margin-inline-end: 30px;
}
.sticky {
  position: sticky;
}
.page-scrolled .btn.free-lesson {
  display: inline-block;
}
.page-scrolled .phone-number,
.page-scrolled .selection-change {
  display: none;
}
.ui-dropdown__menu {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 6px 0 #3b3971;
  color: #999;
  display: none;
  font-size: 16px;
  font-weight: 700;
  inset-inline-end: 0;
  margin-top: 7px;
  min-width: 180px;
  padding: 7px 0;
  position: absolute;
  top: 100%;
  z-index: 10;
}
.ui-dropdown__menu.slide-down {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  min-height: 50px;
  min-width: 180px;
  overflow-x: hidden;
  overflow-y: auto;
}
.ui-dropdown__menu.slide-down i {
  margin-inline-end: 5px;
}
.ui-dropdown__item,
.ui-dropdown ul > li {
  cursor: pointer;
  display: flex;
  line-height: 1.5;
  padding: 5px 15px 7px;
  position: relative;
  width: 100%;
}
.ui-dropdown__toggle {
  align-items: center;
  display: flex;
}
.ui-dropdown__toggle svg {
  margin-inline-start: 5px;
  width: 8px;
}
@media screen and (max-width: 1140px) {
  .header {
    padding: 15px;
  }
  .header__menu,
  .messengers-list {
    margin-inline-end: 0;
  }
  .language-change,
  .logo,
  .phone-number {
    margin-inline-end: 16px;
  }
  .logo svg {
    width: 128px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 9px 24px;
  }
  .header__wrapper-mobile {
    display: flex;
    position: relative;
    z-index: 3;
  }
  .header__content {
    align-items: flex-start;
    background: #fff;
    display: none;
    flex-direction: column;
    height: 100vh;
    max-width: 250px;
    padding: 70px 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .menu-opened .header__content {
    display: flex;
  }
  .menu-opened:before {
    background: #14001a;
    content: "";
    height: 100vh;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  .header__menu {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .header__menu li {
    margin-bottom: 36px;
  }
  .btn--gray,
  .messengers-list,
  .phone-number {
    width: 100%;
  }
  .header__menu {
    order: 1;
  }
  .login-btn {
    margin-bottom: 24px;
    order: 2;
    width: 100%;
  }
  .messengers-list {
    order: 3;
  }
  .messengers-list svg {
    height: 30px;
    width: 30px;
  }
  .phone-number {
    margin: 24px 0;
    order: 4;
  }
  .selection-change {
    order: 5;
  }
  .ui-dropdown__menu {
    left: 0;
  }
  .page-scrolled .free-lesson.show-desktop {
    display: none;
  }
  .page-scrolled .btn.show-mobile {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    margin-inline-end: 15px;
    padding: 0 16px;
  }
  .page-scrolled .phone-number,
  .page-scrolled .selection-change {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .logo svg {
    width: 100px;
  }
  .page-scrolled .btn.show-mobile {
    padding: 0 10px;
  }
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
li,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  color: #000;
  font-family: Inter, sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;
}
::-webkit-scrollbar {
  height: 3px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f57d01;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #f57d01;
  border-radius: 25px;
  height: 50px;
}
::-webkit-scrollbar-corner {
  background-color: #999;
}
::-webkit-resizer {
  background-color: #666;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn {
  background: linear-gradient(180deg, #ff9800, #f57c00);
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 44px;
  max-width: 360px;
  outline: 0;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.btn:hover {
  background: linear-gradient(1turn, #ff9800 -11.36%, #f57c00);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.btn--no-bg {
  background: none;
  border: 1px solid #ef6c00;
  color: #ef6c00;
  line-height: 38px;
}
.btn--no-bg:active,
.btn--no-bg:focus,
.btn--no-bg:hover {
  background: #fff3e0;
}
.btn--white {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  padding: 0 12px;
  width: auto;
}
.btn--white.active,
.btn--white:hover {
  background: #fff;
  color: #823cdc;
}
.btn--gray {
  background: #f0eaf8;
  color: #823cdc;
}
.btn--gray:hover {
  background: #d8d4d9;
  box-shadow: none;
}
.external-link {
  color: #ff9800;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
.external-link:hover {
  color: #e65100;
}
.external-link .violet {
  color: #9c27b0;
  font-size: 14px;
}
.external-link .violet:hover {
  color: inherit;
}
.book-form-trial-lesson {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 80px calc(50% - 560px);
}
.book-form-trial-lesson .list-description {
  margin-inline-end: 16px;
}
.book-form-trial-lesson .field-wrapper {
  margin-bottom: 16px;
}
.book-form-trial-lesson .btn {
  width: 100%;
}
.book-form-trial-lesson .book-form-container {
  background: #fff;
  border-radius: 12px;
  max-width: 390px;
  padding: 24px 20px;
  width: 100%;
}
@media screen and (max-width: 1150px) {
  .book-form-trial-lesson {
    padding: 80px 24px;
  }
}
@media screen and (max-width: 860px) {
  .book-form-trial-lesson {
    align-items: center;
    flex-direction: column;
  }
  .book-form-container {
    margin-top: 45px;
  }
  .book-form-container .list-description,
  .list-description {
    margin-inline-end: 0;
  }
}
.flag-sprite {
  background-image: var(--flag-sprite);
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: block;
  height: 18px;
  width: 24px;
}
.flag-ar {
  background-position: -5px -5px;
}
.flag-cs {
  background-position: -5px -33px;
}
.flag-de {
  background-position: -5px -61px;
}
.flag-el {
  background-position: -5px -89px;
}
.flag-en {
  background-position: -5px -117px;
}
.flag-es {
  background-position: -5px -145px;
}
.flag-fr {
  background-position: -5px -173px;
}
.flag-he {
  background-position: -5px -201px;
}
.flag-hu {
  background-position: -5px -229px;
}
.flag-id {
  background-position: -5px -257px;
}
.flag-it {
  background-position: -5px -285px;
  height: 18px;
  width: 24px;
}
.flag-ja {
  background-position: -5px -313px;
}
.flag-ko {
  background-position: -5px -341px;
}
.flag-ms {
  background-position: -5px -369px;
  height: 18px;
  width: 24px;
}
.flag-pl {
  background-position: -5px -397px;
}
.flag-pt {
  background-position: -5px -425px;
}
.flag-ro {
  background-position: -5px -453px;
}
.flag-ru {
  background-position: -5px -481px;
}
.flag-sk {
  background-position: -5px -509px;
}
.flag-sr {
  background-position: -5px -537px;
  height: 24px;
}
.flag-th {
  background-position: -5px -571px;
}
.flag-tr {
  background-position: -5px -599px;
}
.flag-ua,
.flag-uk {
  background-position: -5px -627px;
}
.flag-us {
  background-position: -5px -655px;
}
.flag-vi {
  background-position: -5px -683px;
}
.footer {
  background: #363636;
  color: #fff;
  font-weight: 500;
  padding: 20px calc(50% - 570px);
  text-align: center;
}
.copyright a:hover,
.privacy-policy .terms:hover {
  color: #e65100;
}
.copyright {
  letter-spacing: -0.5px;
  line-height: 32px;
}
.copyright a {
  display: block;
  line-height: 1;
}
.privacy-policy .terms {
  display: inline-block;
  margin-bottom: 10px;
  margin-inline-start: 5px;
  position: relative;
  z-index: 2;
}
.social-links {
  z-index: 1;
}
.social-links li {
  display: inline-block;
  margin-inline-end: 12px;
}
.social-links li:last-child {
  margin-inline-end: 0;
}
.social-links li svg {
  height: 22px;
  position: relative;
  width: 22px;
}
.social-links li a:hover {
  color: inherit;
}
.social-links .yandex-zen {
  height: 20px;
  width: 22px;
}
.social-links .yandex-zen:before {
  background: var(--social-zen);
  content: "";
  height: 25px;
  position: absolute;
  width: 25px;
}
.communication-link {
  position: relative;
}
.communication-link a {
  display: inline-block;
  font-weight: 700;
  margin-inline-end: 10px;
  position: relative;
}
.communication-link a:hover {
  color: #e65100;
}
.communication-link li {
  line-height: 1.1;
}
.communication-link svg {
  margin-inline-end: 6px;
  margin-inline-end: 3px;
}
.communication-link .fa-viber {
  color: #fff;
}
.footer__wrapper-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__wrapper-list .list-item {
  text-align: left;
}
.footer__wrapper-list li {
  margin-bottom: 15px;
}
.footer__wrapper-list i {
  display: inline-block;
  margin-inline-end: 4px;
}
.footer__wrapper-list a {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
}
.footer__wrapper-list a:hover {
  color: #f57d01;
}
.footer__wrapper-list .social-links {
  margin: 0;
  position: relative;
}
.footer-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: space-between;
}
.footer__address {
  margin: 15px 0 5px;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 40px 24px;
  }
  .footer-main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .footer-main-menu a {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 700;
  }
  .footer-main-menu svg {
    margin-inline-end: 10px;
  }
}
@media screen and (max-width: 767px) {
  .footer-header {
    flex-direction: column;
  }
  .footer-main-menu {
    margin: 0 auto 30px;
    width: 275px;
  }
  .footer-main-menu li {
    margin-bottom: 30px;
  }
  .footer-main-menu li:last-child {
    margin-bottom: 0;
  }
  .footer__wrapper-list {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer__wrapper-list .list-item {
    order: 3;
  }
  .footer__wrapper-list .social-links {
    margin-bottom: 30px;
    order: 2;
  }
  .footer__wrapper-list .communication-link {
    font-weight: 700;
    order: 1;
  }
  .footer__wrapper-list .communication-link li,
  .footer__wrapper-list .social-links {
    margin-bottom: 30px;
  }
  .footer__wrapper-list .social-links li {
    margin-bottom: 0;
  }
}
.fixed-body {
  overflow: hidden;
}
input::placeholder {
  color: #aaa0ab;
  font-weight: 500;
}
input.email,
input.name,
input.phone {
  background: #fff;
  border: 1px solid #d8d4d9;
  border-radius: 8px;
  color: #14001a;
  font-size: 14px;
  line-height: 44px;
  outline: none;
  padding: 0 16px;
  width: 100%;
}
.title-section {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 24px;
}
.title-section--white {
  color: #fff;
}
.title-form {
  color: #14001a;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}
.email__is-not-valid,
.phone__is-not-valid {
  color: red;
}
.email__is-not-valid,
.tab {
  display: none;
}
.tab.active {
  display: flex;
}
.list-description {
  margin-bottom: 29px;
}
.list-description__item {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 12px;
  padding-inline-start: 20px;
  position: relative;
}
.list-description__item:before {
  background: #fe8b21;
  border-radius: 50%;
  content: "";
  height: 8px;
  inset-inline-start: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}
@media (min-width: 575.98px) and (max-width: 767.97px) {
  section {
    padding: 0 calc(50% - 270px);
  }
}
@media (min-width: 767.98px) and (max-width: 991.97px) {
  section {
    padding: 0 calc(50% - 360px);
  }
}
@media (min-width: 991.98px) and (max-width: 1199.97px) {
  section {
    margin-bottom: 80px;
    padding: 0 calc(50% - 480px);
  }
}
@media (min-width: 1199.98px) {
  section {
    margin-bottom: 100px;
    padding: 0 calc(50% - 570px);
  }
}
.edit-bg {
  background: linear-gradient(157.28deg, #8f47eb 7.8%, #6622bf 92.72%);
}
.main-title {
  color: #fff;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 1.2;
  margin-bottom: 32px;
}
.section-title {
  color: #14001a;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 85px;
  text-align: center;
}
.title-description {
  color: #14001a;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 16px;
}
.title-description--white {
  color: #fff;
  margin-bottom: 20px;
}
.title-description--m {
  color: #6d5c70;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 24px;
}
.title-block {
  font-size: 18px;
  margin-bottom: 12px;
}
.description {
  color: #6d5c70;
  font-size: 18px;
  line-height: 1.2;
}
.description--white {
  color: #fff;
  font-size: 14px;
}
.first-screen {
  border-radius: 12px;
  margin: 0 auto 100px;
  max-width: 1140px;
  min-height: 629px;
  padding: 24px 38px;
  position: relative;
  width: 100%;
}
.first-screen .tab {
  display: none;
}
.first-screen .tab.active {
  display: block;
}
.first-screen__content {
  max-width: 800px;
}
.first-screen__decor-bus {
  inset-inline-end: 54px;
  position: absolute;
  top: 42px;
}
.first-screen__decor-flag {
  left: 40%;
  position: absolute;
  top: 40%;
}
.english-for-adult .main-title {
  font-size: 36px;
}
.english-for-adult .first-screen__img {
  inset-inline-end: 112px;
}
@media (max-width: 1024px) {
  .english-for-adult .first-screen__img {
    inset-inline-end: 0;
  }
}
.first-screen__img {
  bottom: -2px;
  inset-inline-end: 0;
  position: absolute;
}
@media (max-width: 860px) {
  .first-screen__img {
    max-width: 435px;
  }
  .english-for-adult .first-screen__img {
    width: 310px;
  }
}
.first-screen .tab-list {
  display: flex;
  margin-bottom: 40px;
}
.tab-list__item {
  margin-inline-end: 6px;
}
.tab-list__item:last-child {
  margin-inline-end: 0;
}
.description-list {
  color: #fff;
  font-size: 18px;
  margin-bottom: 40px;
}
.description-list__item {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.description-list__item-content {
  width: 90%;
}
.description-list__item .check {
  margin-inline-end: 16px;
}
.check {
  background: #fe8b21;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  line-height: 17px;
  text-align: center;
  width: 20px;
}
.check-icon {
  color: #fff;
}
.you-get__list {
  margin: 0 auto;
  max-width: 935px;
  width: 100%;
}
.you-get__list-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 45px;
}
.you-get__list-item:nth-child(2n) {
  flex-direction: row-reverse;
}
.you-get__list-item:nth-child(2n) .you-get__list-item-content {
  margin-inline-start: 16px;
}
.you-get__list-item-content {
  max-width: 580px;
  width: 100%;
}
.prices {
  border-radius: 12px;
  display: flex;
  margin: 0 auto 100px;
  max-width: 1140px;
  padding: 80px;
}
.prices__description {
  margin-inline-end: 82px;
  max-width: 582px;
  width: 100%;
}
.prices .btn {
  margin-top: 8px;
  padding: 0 15px;
}
.prices__description-img img {
  margin-bottom: 16px;
}
.prices__list {
  display: flex;
}
.prices__list-item {
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-inline-end: 45px;
  max-width: 270px;
  padding: 20px;
}
.prices__list-item:last-child {
  margin-inline-end: 0;
}
.prices__list-description {
  margin-bottom: 15px;
}
.prices__list-description li {
  color: #14001a;
  display: flex;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 12px;
}
.prices__list-description svg {
  color: #17b22b;
  margin-inline-end: 12px;
}
.reviews {
  margin: 0 auto 100px;
  max-width: 1140px;
  padding: 0;
  position: relative;
  width: 100%;
}
.review-list {
  margin: 0 auto 90px;
  max-width: 930px;
  position: static;
  width: 100%;
}
.review-item {
  display: flex;
  margin-right: 50px;
  max-width: 440px;
  width: 100%;
}
.reviews .flickity-prev-next-button {
  top: 40%;
}
.review-item .avatar {
  margin-inline-end: 28px;
  width: 100px;
}
.avatar img {
  border-radius: 50%;
  height: 100px;
  object-fit: cover;
  width: 100px;
}
.reviewer-name {
  color: #14001a;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}
.reviewer-description {
  color: #000;
  font-size: 14px;
}
.review-item svg {
  height: 15px;
  margin-inline-end: 3px;
  position: relative;
  top: 2px;
  width: 15px;
}
.reviews__trustpilot-logo {
  text-align: center;
}
.reviews__trustpilot-logo-content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.reviews__trustpilot-logo .rating {
  font-size: 14px;
  margin-inline-start: 12px;
}
.flickity-page-dots {
  display: none;
}
.write-about-us__description .flickity-viewport {
  position: relative;
  width: 100%;
  z-index: 1;
}
.write-about-us__description {
  align-items: center;
  background: #f5f5f5;
  border-radius: 12px;
  display: flex;
  height: 190px;
  margin-bottom: 30px;
  margin-top: 120px;
  position: relative;
}
.write-about-us__description .flickity-button {
  display: none;
}
.slider-item {
  width: 100%;
}
.write-about-us__description-item {
  align-items: center;
  display: flex;
  padding: 20px 40px;
  width: 100%;
}
.write-about-us__description:before {
  background: var(--quotes);
  content: "";
  height: 110px;
  position: absolute;
  right: 30px;
  width: 120px;
  z-index: 0;
}
.is-selected .write-about-us__logo {
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.1);
}
.write-about-us__logo {
  align-items: center;
  background: #fff;
  border-radius: 12px;
  display: flex;
  height: 230px;
  justify-content: center;
  margin-top: 80px;
  position: relative;
  top: -80px;
  width: 230px;
}
.write-about-us p {
  color: #363636;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}
.write-about-us__text {
  padding-inline-start: 40px;
  position: relative;
  width: 80%;
}
.write-about-us__list-logo {
  grid-column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  z-index: 2;
}
.write-about-us__logo-item {
  align-items: center;
  background: #fff;
  border: 1px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  height: 120px;
  justify-content: center;
}
.write-about-us__logo-item.active {
  border: 2px solid #823cdc;
}
.write-about-us__logo-item img {
  max-width: 100px;
}
.why-allRight__list-item-img {
  margin-bottom: 20px;
  min-height: 176px;
  text-align: center;
}
.why-allRight__list {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
.why-allRight__list-item {
  margin: 0 15px;
  max-width: 235px;
  width: 100%;
}
@media screen and (max-width: 1150px) {
  .prices__description {
    width: 60%;
  }
  .prices__list-item {
    max-width: 327px;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .review-item {
    max-width: 100%;
  }
  .flickity-button {
    display: none;
  }
  .flickity-page-dots {
    display: block;
  }
  .reviews {
    padding: 0 24px;
  }
  .review-list {
    position: relative;
  }
}
@media (max-width: 991px) {
  .main-title {
    font-size: 36px;
  }
  .you-get__list .title-description {
    margin-top: 16px;
  }
  .you-get__list-item,
  .you-get__list-item:nth-child(2n) {
    flex-direction: column-reverse;
  }
  .section-title {
    margin-bottom: 55px;
  }
  .first-screen {
    margin-bottom: 80px;
  }
  .first-screen__decor-bus {
    width: 75px;
  }
  .first-screen__decor-flag {
    left: 60%;
    width: 62px;
  }
  .title-description {
    font-size: 18px;
    margin-bottom: 17px;
  }
  .description {
    font-size: 14px;
  }
  section {
    margin-bottom: 80px;
    padding: 0 24px;
  }
  .prices {
    padding: 60px 24px;
  }
  .prices__description {
    margin-inline-end: 30px;
  }
  .write-about-us__logo-item img {
    max-width: 76px;
  }
  .write-about-us__list-logo {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
  }
  .write-about-us__logo {
    height: 110px;
    padding: 20px;
    width: 110px;
  }
  .write-about-us p {
    font-size: 18px;
  }
  .title-section {
    font-size: 24px;
  }
  .why-allRight__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 640px) {
  .prices {
    align-items: center;
    flex-direction: column;
  }
  .prices__description {
    margin-bottom: 40px;
    margin-inline-end: 0;
    width: 100%;
  }
  .prices__description-img {
    text-align: center;
  }
  .review-item {
    flex-direction: column;
  }
  .review-item .avatar {
    margin: 0 auto 40px;
  }
  .flickity-page-dots {
    bottom: -40px;
  }
  .reviews {
    margin-bottom: 80px;
  }
  .write-about-us .tab {
    align-items: flex-start;
    flex-direction: column;
  }
  .write-about-us__text {
    margin-top: -25px;
    padding-inline-start: 0;
    width: 100%;
  }
  .external-link,
  .write-about-us__text p {
    font-size: 14px;
  }
  .write-about-us__logo {
    margin-top: 40px;
    top: -45px;
  }
  .write-about-us__description {
    margin-bottom: 58px;
  }
  .write-about-us__description-item {
    align-items: flex-start;
    flex-direction: column;
    min-height: 360px;
    padding: 24px;
  }
  .write-about-us__description .flickity-page-dots {
    bottom: -35px;
    left: 0;
  }
  .write-about-us__description:before {
    bottom: 24px;
    height: 80px;
    width: 80px;
  }
}
@media (max-width: 565px) {
  .english-for-adult .main-title,
  .main-title,
  .section-title {
    font-size: 24px;
  }
  .description-list__item {
    font-size: 14px;
  }
  .first-screen {
    max-width: 90%;
    min-height: 670px;
    padding: 20px;
  }
  .first-screen__decor-flag {
    left: 16px;
    top: 55%;
  }
  .first-screen__decor-bus {
    right: 16px;
    top: 55%;
  }
  .first-screen .tab-list {
    margin-bottom: 32px;
  }
  .description-list__item {
    margin-bottom: 16px;
  }
  .description-list {
    margin-bottom: 30px;
  }
  .english-for-adult .first-screen__img {
    left: 0;
    margin: 0 auto;
    max-width: 260px;
  }
  .why-allRight__list-item {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 860px) {
  .list-description {
    margin-bottom: 38px;
  }
}
@media screen and (max-width: 374px) {
  .first-screen .tab-list__item {
    padding: 0 10px;
  }
  .english-for-adult .first-screen__img {
    max-width: 220px;
  }
  .first-screen__decor-bus,
  .first-screen__decor-flag {
    top: 62%;
  }
  .header__logo svg {
    width: 110px;
  }
  .write-about-us__list-logo {
    grid-template-columns: repeat(2, 1fr);
  }
}
.copyright {
  font-size: 18px;
}
.orange {
  background: linear-gradient(1turn, #ff9800 -11.36%, #f57c00);
  box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
  background-color: #f57c00 !important;
  color: #fff !important;
}
