<template>
    <div class="comment-form comment-v comment my-3">
        <!-- <div class="comment-avatar">
            <img :src="(user && user.avatar) || '/images/avatar_default.jpg'" />
        </div> -->
        <div class="form-content comment-box">
            <!-- <div class="auth-comment">
                <div>{{ user && user.name }}</div>
            </div> -->
            <div class="form-row reply-form">
                <textarea v-model="message" placeholder="Write message" class="border-radius-30 reply-form__field"></textarea>
                <!-- <vue-trix
                    class="w-100"
                    inputId="editor1"
                    id="content"
                    v-model="message"
                    placeholder="enter your content..."
                /> -->
                <!-- <Picker v-if="isVisible" :style="{ position: 'absolute', bottom: '20px', right: '40px' }" :data="emojiIndex" set="facebook" @select="showEmoji" /> -->
                <span class="input" v-if="error" style="color:red">{{
                    error
                }}</span>
            </div>
            <div class="form-row">
                <!-- <button class="emoji-button" @click="toggleVisible">😃</button> -->
                <button class="btn btn-primary" v-if="!user" type="button" data-toggle="modal" data-target="#loginModal">
                    Log in
                </button>
                <button
                    v-else
                    class="reply-form__btn thm-btn"
                    @click="saveComment"
                    :disabled="isLoading"
                >
                    <i v-show="isLoading" class="fa fa-spinner fa-spin fa-fw" />
                    {{ buttonText }}
                </button>
            </div>
        </div>
    </div>
</template>

<script>
// import Tribute from "tributejs";
// import data from "emoji-mart-vue-fast/data/all.json";
// import "emoji-mart-vue-fast/css/emoji-mart.css";

// import { Picker, EmojiIndex } from "emoji-mart-vue-fast";

// Create emoji data index.
// We can change it (for example, filter by category) before passing to the component.
// let emojiIndex = new EmojiIndex(data);

// import ClickOutside from 'vue-click-outside'

export default {
    props: {
        postId: {
            type: Number,
            required: true
        },
        comment: {
            type: Object,
            required: false,
            default() {
                return {};
            }
        },
        placeholder: {
            type: String,
            default: null
        },
        buttonText: {
            type: String,
            required: false,
            default: "Add comment"
        },
        type: {
            type: String,
            required: false,
            default: "COMMENT"
        },
        index: {
            type: Number,
            required: false
        },
        action: {
            type: String,
            required: false,
            default: "ADD"
        },
        user: {
            type: Object,
            required: false,
            default: () => {
                return null;
            }
        }
    },

    data() {
        return {
            content: "",
            isLoading: false,
            errors: [],
            message: this.action === "ADD" ? "" : this.comment.comment || "",
            error: "",
            // emojiIndex: emojiIndex,
            isVisible: false
        };
    },

    // mounted: function() {
    //     let tribute = new Tribute({
    //         lookup: "value",
    //         fillAttr: "value",
    //         values: function(query, cb) {
    //             this.$axios
    //                 .get("/users", { params: { username: query } })
    //                 .then(function(response) {
    //                     cb(response.data);
    //                 });
    //         }
    //     });
    //     tribute.attach(document.querySelectorAll("#content"));
    // },

    computed: {
        isDisabled() {
            return this.isLoading || this.content.length === 0;
        }
    },

    components: {
        // Picker
    },

    methods: {
        saveComment() {
            const vm = this;
            if (!!this.message) {
                this.isLoading = true;
                this.error = null;
                let data = {
                    content: this.message
                };
                if (this.type === "REPLY" && this.comment && this.comment) {
                    data["parent_id"] = this.comment.commentid;
                }
                if (this.action === "ADD") {
                    this.$axios
                    .post(`/posts/${this.postId}/comments`, data)
                    .then(res => {
                        if (res.data.status) {
                            vm.$emit(
                                "saveCommentSuccess",
                                vm.type,
                                vm.index,
                                res.data
                            );
                        }
                    })
                    .catch(e => {
                        console.log("error", e);
                    })
                    .finally(e => {
                        vm.isLoading = false;
                        vm.message = "";
                    });
                } else {
                    this.$axios
                    .post(`/comments/${this.comment.commentid}/edit`, data)
                    .then(res => {
                        if (res.status === 200) {
                            vm.$emit(
                                "saveCommentSuccess",
                                vm.message
                            );
                        }
                    })
                    .catch(e => {
                        console.log("error", e);
                    })
                    .finally(e => {
                        vm.isLoading = false;
                        vm.message = "";
                    });
                }
            } else {
                this.error = "Please enter a comment to save";
            }
        },
        showEmoji(emoji) {
            this.message = this.message + emoji.native;
        },
        toggleVisible() {
            this.isVisible = !this.isVisible
        },
        handleClickOutSide() {
            if (this.isVisible) this.isVisible = false
        }
    },
    directives: {
        // ClickOutside
    }
};
</script>
