<template>
    <div v-if="!editting" class="comment">
        <!-- <div class="comment-avatar">
            <img
                :src="comment.photo_url || '/images/avatar_default.jpg'"
                alt="Avatar"
            />
        </div>
        <div class="comment-box">
            <div class="auth-comment">
                <div>{{comment.name}}</div>
                <time>{{comment.date}}</time>
            </div>
            <div class="comment-text" v-html="comment.comment"></div>
            <div class="comment-footer">
                <div class="comment-actions">
                    <ul class="list p-0">
                        <li>
                            <i class="fa fa-reply"></i>
                            <a v-on:click="openComment()">Reply</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
        <div class="comment-one">
            <div class="comment-one__single">
                <div class="comment-one__image">
                    <div class="inner-block">
                        <img
                            :src="comment.photo_url | replaceAvatar"
                            alt="Awesome Image"
                        />
                    </div>
                </div>
                <div class="comment-one__content">
                    <div class="comment-one__content-top">
                        <div class="comment-one__top-left">
                            <h3 class="comment-one__author">
                                {{ comment.name }}
                            </h3>
                            <p class="comment-one__date">
                                {{ comment.date | formatDate }}
                                <!-- <span class="comment-one__date-sep">-</span> 4:00 pm -->
                            </p>
                            <p
                                class="comment-one__text"
                                v-html="comment.comment"
                            ></p>
                        </div>
                        <div class="comment-one__top-right">
                            <b-row class="pl-3">
                                <a
                                    @click.prevent="openComment()"
                                    href="#"
                                    class="ml-2 thm-btn comment-one__reply"
                                    >Reply</a
                                >
                                <button
                                    v-if="user && comment.author_id == user.id"
                                    class="thm-btn comment-one__reply ml-2"
                                    @click="editComment"
                                >
                                    <b-icon icon="pencil" />
                                </button>
                                <button
                                    v-if="user && comment.author_id == user.id"
                                    class="thm-btn comment-one__reply ml-2"
                                    @click="deleteComment"
                                >
                                    <b-icon icon="trash" />
                                </button>
                            </b-row>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <CommentForm
        v-else
        :postId="postId"
        v-on:saveCommentSuccess="updateSuccess"
        :user="user"
        :buttonText="'Update'"
        :action="'EDIT'"
        :comment="comment"
    />
</template>

<script>
import CommentForm from "./form";

export default {
    data() {
        return {
            editting: false,
        };
    },
    props: {
        postId: {
            type: Number,
            required: true,
        },
        comment: {
            type: Object,
            required: true,
        },
        index: {
            type: Number,
            required: true,
        },
        dataConfirm: {
            type: String,
            required: false,
        },
        user: {
            type: Object,
            required: false,
            default: () => {
                return null;
            },
        },
        commentType: {
            required: false,
            default: "directcomment",
        },
    },

    methods: {
        deleteComment() {
            this.boxTwo = "";
            this.$bvModal
                .msgBoxConfirm(
                    `Do you want to delete this comment?`,
                    {
                        title: "Please Confirm",
                        size: "sm",
                        buttonSize: "sm",
                        okVariant: "danger",
                        okTitle: "YES",
                        cancelTitle: "NO",
                        footerClass: "p-2",
                        hideHeaderClose: false,
                        centered: true,
                    }
                )
                .then((value) => {
                    if (value) {
                        this.$axios
                            .delete(`/comments/${this.comment.commentid}`)
                            .then(() => {
                                this.$emit("deleted", this.comment);
                            })
                            .catch((error) => {
                                console.log(error);
                            });
                    }
                })
                .catch((err) => {
                    // An error occurred
                });
        },
        voteComment(commentId, commentType, index, index2, voteType) {
            const vm = this;
            vm.$emit(
                "voteComment",
                commentId,
                commentType,
                index,
                index2,
                voteType
            );
        },
        openComment() {
            const vm = this;
            vm.$emit("openComment", vm.index);
        },
        editComment() {
            this.editting = true;
        },
        updateSuccess(message) {
            this.editting = false;
            this.comment.comment = message;
        },
    },

    components: {
        CommentForm,
    },
};
</script>

<style scoped>
.modal-content .btn {
    min-width: 50%;
}
</style>