<template>
    <div class="comments-app">
        <button
            v-show="isFetching"
            :disabled="isFetching"
            class="btn btn-outline-primary btn-block mb-3"
        >
            <i
                v-if="isFetching"
                class="fa fa-spinner fa-spin fa-fw"
            />
            Loading comments ...
        </button>
        <!-- Comments List -->
        <h3 v-show="!isFetching && commentsData" class="comments-title text-left">{{commentsCount}} Comment{{ commentsCount != 1 ? 's' : ''}}:</h3>
        <div
            class="comments"
            v-show="comments"
            v-for="(comment, index) in commentsData"
            :key="index"
        >
            <!-- Comment -->
            <comment
                v-if="!spamComments[index] || !comment.spam"
                :comment="comment"
                :index="Number(index)"
                v-on:voteComment="voteComment"
                v-on:openComment="openComment"
                :user="user"
                v-on:deleted="removeComment"
                :postId="postId"
            />
            <!-- From -->
            <CommentForm
                v-if="commentBoxs[index]"
                :comment="comment"
                :index="Number(index)"
                type="REPLY"
                :postId="postId"
                action="ADD"
                class="reply"
                v-on:saveCommentSuccess="saveCommentSuccess"
                :user="user"
            />
            <!-- Comment - Reply -->
            <div v-if="comment.replies">
                <div
                    class="comments"
                    v-for="(reply, index2) in comment.replies"
                    :key="index2"
                >
                    <div
                        v-if="!spamCommentsReply[index2] || !reply.spam"
                        class="comment reply mt-2"
                    >
                        <!-- Comment -->
                        <comment
                            v-if="!spamComments[index] || !comment.spam"
                            :comment="reply"
                            :index="Number(index2)"
                            v-on:voteComment="voteComment"
                            v-on:openComment="replyCommentBox"
                            :user="user"
                            v-on:deleted="removeComment"
                            :postId="postId"
                            :commentType="'replycomment'"
                        />
                        <!-- From -->
                        <CommentForm
                            v-if="replyCommentBoxs[index2]"
                            :comment="reply"
                            :index="Number(index)"
                            type="REPLY"
                            :postId="postId"
                            action="ADD"
                            class="comment-form reply"
                            v-on:saveCommentSuccess="saveCommentSuccess"
                            :user="user"
                        />
                    </div>
                </div>
            </div>
        </div>

        <!-- From -->
        <!-- From -->
        <CommentForm
            :postId="postId"
            v-on:saveCommentSuccess="saveCommentSuccess"
            :user="user"
        />
    </div>
</template>
<script>
import { mapState } from 'vuex'
import _ from "lodash";
import Comment from './item';
import CommentForm from './form';
export default {
    props: {
      postId: {
        type: Number,
        required: true
      },
    },
    data() {
        return {
            comments: [],
            commentreplies: [],
            comments: 0,
            commentBoxs: [],
            message: null,
            messageReply: null,
            replyCommentBoxs: [],
            commentsData: [],
            viewcomment: [],
            show: [],
            spamCommentsReply: [],
            spamComments: [],
            errorComment: null,
            errorReply: null,
            endpoint: `/posts/${this.postId}/comments`,
            endpointUpdateComment: `/comments/`,
            isLoading: false,
            isFetching: false
        };
    },
    methods: {
        fetchComments() {
            this.isFetching = true
            this.$axios.get(this.endpoint).then(res => {
                this.commentData = res.data;
                this.commentsData = _.orderBy(res.data, ["votes"], ["desc"]);
                this.comments = 1;
            }) 
            .catch(e => {
                console.log('error', e)
            })
            .finally(e =>{
                this.isFetching = false;
            });
        },
        showComments(index) {
            if (!this.viewcomment[index]) {
                Vue.set(this.show, index, "hide");
                Vue.set(this.viewcomment, index, 1);
            } else {
                Vue.set(this.show, index, "view");
                Vue.set(this.viewcomment, index, 0);
            }
        },
        openComment(index) {
            if (this.commentBoxs[index]) {
                // Vue.set(this.commentBoxs, index, 0);
                this.commentBoxs[index] = 0;
                this.$forceUpdate();
            } else {
                // Vue.set(this.commentBoxs, index, 1);
                this.commentBoxs[index] = 1;
                this.$forceUpdate();
            }
        },
        replyCommentBox(index) {
            if (this.replyCommentBoxs[index]) {
                // Vue.set(this.replyCommentBoxs, index, 0);
                this.replyCommentBoxs[index] = 0;
                this.$forceUpdate();
            } else {
                // Vue.set(this.replyCommentBoxs, index, 1);
                this.replyCommentBoxs[index] = 1;
                this.$forceUpdate();
            }
        },
        saveCommentSuccess(type, index, data) {
            if (type === "COMMENT") {
                this.commentsData.push({
                    commentid: data.commentId,
                    name: data.username,
                    comment: data.comment,
                    photo_url: data.avatar,
                    author_id: data.authorId,
                    votes: 0,
                    reply: 0,
                    replies: [],
                    date: 'Just now'
                });
            } else {
                if (!this.commentsData[index].reply) {
                    this.commentsData[index].replies.push({
                        commentid: data.commentId,
                        name: data.username,
                        comment: data.comment,
                        author_id: data.authorId,
                        votes: 0,
                        date: 'Just now',
                        photo_url: data.avatar,
                    });
                    this.commentsData[index].reply = 1;
                    // Vue.set(this.replyCommentBoxs, index, 0);
                    // Vue.set(this.commentBoxs, index, 0);
                    this.replyCommentBoxs[index] = 0;
                    this.commentBoxs[index] = 0;
                    this.$forceUpdate();
                } else {
                    this.commentsData[index].replies.push({
                        commentid: data.commentId,
                        name: data.username,
                        comment: data.comment,
                        author_id: data.authorId,
                        date: 'Just now',
                        votes: 0,
                        photo_url: data.avatar,
                    });
                    // Vue.set(this.replyCommentBoxs, index, 0);
                    // Vue.set(this.commentBoxs, index, 0);
                    this.replyCommentBoxs[index] = 0;
                    this.commentBoxs[index] = 0;
                    this.$forceUpdate();
                }
            }
        },
        voteComment(commentId, commentType, index, index2, voteType) {
            let willUpdate = 1;
            if (commentType == "directcomment") {
                if (voteType == "up") {
                    this.commentsData[index].votes++;
                } else if (voteType == "down") {
                    const curVotes = this.commentsData[index].votes;
                    willUpdate = curVotes - 1
                    curVotes - 1 >=0 && this.commentsData[index].votes--;
                }
            } else if (commentType == "replycomment") {
                if (voteType == "up") {
                    this.commentsData[index].replies[index2].votes++;
                } else if (voteType == "down") {
                    const curVotes = this.commentsData[index].replies[index2].votes;
                    willUpdate = curVotes - 1
                    curVotes - 1 >= 0 && this.commentsData[index].replies[index2].votes--;
                }
            }
            if (willUpdate >= 0) {
                this.$axios.post(this.endpointUpdateComment + commentId + "/vote", { vote: voteType })
                .then(res => {
                })
                .catch(e => {
                    console.log('error', e)
                    // $("#loginModal").modal()
                });
            }
        },
        spamComment(commentId, commentType, index, index2) {
            this.$axios.post(this.endpointUpdateComment + commentId + "/spam")
            .then(res => {
                if (commentType == "directcomment") {
                    Vue.set(this.spamComments, index, 1);
                    Vue.set(this.viewcomment, index, 1);
                } else if (commentType == "replycomment") {
                    Vue.set(this.spamCommentsReply, index2, 1);
                }
            });
        },
        removeComment (comment) {
            let index = this.commentsData.findIndex(item => item.commentid == comment.commentid)
            if (index >= 0) {
                this.commentsData.splice(index, 1);
            } else {
                this.commentsData.map((item, index) => {
                    if (item.replies && item.replies.length) {
                        let indexReply = item.replies.findIndex(x => x.commentid == comment.commentid);
                        if (indexReply >= 0) {
                            this.commentsData[index].replies.splice(indexReply, 1);
                        }
                    }
                })
            }
        }
    },
    mounted() {
        this.fetchComments();
    },
    components: {
        Comment,
        CommentForm
    },
    computed: {
        ...mapState("auth", ["loggedIn", "user"]),
        commentsCount: function() {
            return this.commentsData.reduce((total, curr) => total += curr.replies.length, this.commentsData.length);
        }
    }
};
</script>
