<template>
  <div class="container">
    <div
      class="loading d-flex justify-content-center align-items-center"
      style="height: calc(100vh - 300px)"
    >
      <b-spinner
        variant="primary"
        style="width: 10rem; height: 10rem"
        label="Loading..."
      ></b-spinner>
    </div>
    <div class="mb-2 d-flex justify-content-center align-items-center">
      Please wait a moment...
    </div>
  </div>
</template>

<script>
export default {
  layout: "AppLayout",
  auth: false,
  name: "Callback",
  methods: {
    async handleCallback() {
      try {
        let res = await this.$axios.get("/oauth/google/callback", {
          params: {
            ...this.$route.query,
          },
        });
        res = res.data;
        await this.$auth.setToken(
          "local",
          "Bearer" + " " + res.data.access_token
        );
        this.$axios.defaults.headers.common.Authorization = `${this.$auth.getToken(
          "local"
        )}`;
        this.$auth.setUser(res.data);
        this.$router.push("/");
      } catch (error) {
        console.error(error);
      }
    },
  },
  mounted() {
    this.handleCallback();
  },
};
</script>

<style></style>
