<template>
  <section class="course-details mt-5">
    <div class="container" v-if="course.id">
        <div class="row">
            <div class="col-lg-8">
                <div class="course-details__content">
                    <p class="course-details__author">
                        <img :src="course.teacher.avatar" alt="">
                        by <a href="#">{{ course.teacher.name }}</a>
                    </p><!-- /.course-details__author -->

                    <div class="course-details__top">
                        <div class="course-details__top-left">
                            <h2 class="course-details__title">{{ course.name }}</h2>
                            <!-- /.course-details__title -->
                            <div class="course-one__stars">
                                <span class="course-one__stars-wrap">
                                   <b-form-rating class="rating" id="rating-inline" inline :value="course.average_rating || 0" disabled></b-form-rating>
                                </span><!-- /.course-one__stars-wrap -->
                                <!-- <span class="course-one__count">4.8</span> -->
                                <!-- /.course-one__count -->
                                <span class="course-one__stars-count">{{ course.total_review }}</span><!-- /.course-one__stars-count -->
                            </div><!-- /.course-one__stars -->
                        </div><!-- /.course-details__top-left -->
                        <div class="course-details__top-right">
                            <a href="#" class="course-one__category">marketing</a><!-- /.course-one__category -->
                        </div><!-- /.course-details__top-right -->
                    </div><!-- /.course-details__top -->
                    <div class="course-one__image">
                        <img :src="course.thumbnail_url || '/assets/images/course-d-1.jpg'" alt="">
                        <a href="#" @click.prevent="onLike">
                            <i :class="{'fas fa-heart': true, 'active': isLiked}"></i><!-- /.far fa-heart -->
                        </a>
                    </div><!-- /.course-one__image -->

                    <!-- <ul class="course-details__tab-navs list-unstyled nav nav-tabs" role="tablist">
                        <li>
                            <a class="active" role="tab" data-toggle="tab" href="#overview">Overview</a>
                        </li>
                        <li>
                            <a class="" role="tab" data-toggle="tab" href="#curriculum">Curriculum</a>
                        </li>
                        <li>
                            <a class="" role="tab" data-toggle="tab" href="#review">Reviews</a>
                        </li>
                    </ul> -->
                    <!-- /.course-details__tab-navs list-unstyled -->
                    <div>
                        <b-tabs 
                            nav-wrapper-class="course-details__tab-navs list-unstyled" 
                            content-class="tab-content course-details__tab-content " 
                            active-nav-item-class="active"
                            active-tab-class="active"
                        >
                            <b-tab title="Overview" active>
                                <div class="tab-pane show animated fadeInUp" role="tabpanel" id="overview" v-html="course.description">
                                    <!-- <p class="course-details__tab-text">Aelltes port lacus quis enim var sed efficitur turpis
                                        gilla
                                        sed sit Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown
                                        printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived
                                        not only five centuries, but also the leap into electronic typesetting, remaining
                                        essentially unchanged.</p>
                                    <br>
                                    <p class="course-details__tab-text">It was popularised in the 1960s with the release of
                                        Letraset
                                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                        software
                                        like Aldus PageMaker including versions of lorem ipsum amet finibus eros. Lorem Ipsum is
                                        simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                        industry’s standard dummy text ever since the 1500s, when an unknown printer took a
                                        galley
                                        of type and scrambled it to make a type specimen book. It has survived not only five
                                        centuries, but also the leap into electronic typesetting.</p>
                                    <br>
                                    <ul class="list-unstyled course-details__overview-list">
                                        <li>It has survived not only five centuries</li>
                                        <li>Lorem Ipsum is simply dummy text of the new design</li>
                                        <li>Printng and type setting ipsum</li>
                                        <li>Take a look at our round up of the best shows</li>
                                    </ul> -->
                                </div>
                            </b-tab>
                            <b-tab title="Curriculum">
                                <div class="tab-pane  animated fadeInUp" role="tabpanel" id="curriculum">
                                    <h3 class="course-details__tab-title">Starting beginners level course</h3>
                                    <!-- /.course-details__title -->
                                    <br>
                                    <p class="course-details__tab-text">Aelltes port lacus quis enim var sed efficitur turpis
                                        gilla
                                        sed sit Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry’s standard dummy text ever since.</p>
                                    <!-- /.course-details__tab-text -->
                                    <br>
                                    <ul class="course-details__curriculum-list list-unstyled">
                                        <li>
                                            <div class="course-details__curriculum-list-left">
                                                <div class="course-details__meta-icon video-icon">
                                                    <i class="fas fa-play"></i><!-- /.fas fa-play -->
                                                </div><!-- /.course-details__icon -->
                                                <a href="#">Introduction to Editing</a> <span>Preview</span>
                                            </div><!-- /.course-details__curriculum-list-left -->
                                            <div class="course-details__curriculum-list-right">16 minutes</div>
                                            <!-- /.course-details__curriculum-list-right -->
                                        </li>
                                        <li>
                                            <div class="course-details__curriculum-list-left">
                                                <div class="course-details__meta-icon video-icon">
                                                    <i class="fas fa-play"></i><!-- /.fas fa-play -->
                                                </div><!-- /.course-details__icon -->
                                                <a href="#">Overview of Editing</a> <span>Preview</span>
                                            </div><!-- /.course-details__curriculum-list-left -->
                                            <div class="course-details__curriculum-list-right">10 minutes</div>
                                            <!-- /.course-details__curriculum-list-right -->
                                        </li>
                                        <li>
                                            <div class="course-details__curriculum-list-left">
                                                <div class="course-details__meta-icon file-icon">
                                                    <i class="fas fa-folder"></i><!-- /.far fa-folder -->
                                                </div><!-- /.course-details__icon -->
                                                <a href="#">Basic Editing Technology</a>
                                            </div><!-- /.course-details__curriculum-list-left -->
                                            <!-- /.course-details__curriculum-list-right -->
                                        </li>
                                        <li>
                                            <div class="course-details__curriculum-list-left">
                                                <div class="course-details__meta-icon quiz-icon">
                                                    <i class="fas fa-comment"></i><!-- /.fas fa-play -->
                                                </div><!-- /.course-details__icon -->
                                                <a href="#">Quiz</a>
                                            </div><!-- /.course-details__curriculum-list-left -->
                                            <div class="course-details__curriculum-list-right">6 questions</div>
                                            <!-- /.course-details__curriculum-list-right -->
                                        </li>
                                    </ul><!-- /.course-details__curriculum-list -->
                                    <br><br>
                                    <h3 class="course-details__tab-title">Intermediate Level</h3>
                                    <!-- /.course-details__title -->
                                    <br>
                                    <p class="course-details__tab-text">Aelltes port lacus quis enim var sed efficitur turpis
                                        gilla
                                        sed sit Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry’s standard dummy text ever since.</p>
                                    <!-- /.course-details__tab-text -->
                                    <br>
                                    <ul class="course-details__curriculum-list list-unstyled">
                                        <li>
                                            <div class="course-details__curriculum-list-left">
                                                <div class="course-details__meta-icon video-icon">
                                                    <i class="fas fa-play"></i><!-- /.fas fa-play -->
                                                </div><!-- /.course-details__icon -->
                                                <a href="#">Introduction to Editing</a> <span>Preview</span>
                                            </div><!-- /.course-details__curriculum-list-left -->
                                            <div class="course-details__curriculum-list-right">16 minutes</div>
                                            <!-- /.course-details__curriculum-list-right -->
                                        </li>
                                        <li>
                                            <div class="course-details__curriculum-list-left">
                                                <div class="course-details__meta-icon file-icon">
                                                    <i class="fas fa-folder"></i><!-- /.far fa-folder -->
                                                </div><!-- /.course-details__icon -->
                                                <a href="#">Basic Editing Technology</a>
                                            </div><!-- /.course-details__curriculum-list-left -->
                                            <!-- /.course-details__curriculum-list-right -->
                                        </li>
                                        <li>
                                            <div class="course-details__curriculum-list-left">
                                                <div class="course-details__meta-icon quiz-icon">
                                                    <i class="fas fa-comment"></i><!-- /.fas fa-play -->
                                                </div><!-- /.course-details__icon -->
                                                <a href="#">Quiz</a>
                                            </div><!-- /.course-details__curriculum-list-left -->
                                            <div class="course-details__curriculum-list-right">6 questions</div>
                                            <!-- /.course-details__curriculum-list-right -->
                                        </li>
                                    </ul><!-- /.course-details__curriculum-list -->
                                </div><!-- /.course-details__tab-content -->
                            </b-tab>
                            <b-tab title="Reviews">
                                <div class="tab-pane  animated fadeInUp" role="tabpanel" id="review">
                                    <div class="row">
                                        <div class="col-xl-7 d-flex">
                                            <div class="course-details__progress my-auto">
                                                <div class="course-details__progress-item">
                                                    <p class="course-details__progress-text">Excellent</p>
                                                    <!-- /.course-details__progress-text -->
                                                    <div class="course-details__progress-bar">
                                                        <span :style="`width: ${(course.rating_count[5] / course.reviews_count) * 100}%`"></span>
                                                    </div><!-- /.course-details__progress-bar -->
                                                    <p class="course-details__progress-count">{{ course.rating_count[5]}}</p>
                                                    <!-- /.course-details__progress-count -->
                                                </div><!-- /.course-details__progress-item -->
                                                <div class="course-details__progress-item">
                                                    <p class="course-details__progress-text">Very Good</p>
                                                    <!-- /.course-details__progress-text -->
                                                    <div class="course-details__progress-bar">
                                                        <span :style="`width: ${(course.rating_count[4] / course.reviews_count) * 100}%`"></span>
                                                    </div><!-- /.course-details__progress-bar -->
                                                    <p class="course-details__progress-count">{{ course.rating_count[4]}}</p>
                                                    <!-- /.course-details__progress-count -->
                                                </div><!-- /.course-details__progress-item -->
                                                <div class="course-details__progress-item">
                                                    <p class="course-details__progress-text">Average</p>
                                                    <!-- /.course-details__progress-text -->
                                                    <div class="course-details__progress-bar">
                                                        <span :style="`width: ${(course.rating_count[3] / course.reviews_count) * 100}%`"></span>
                                                    </div><!-- /.course-details__progress-bar -->
                                                    <p class="course-details__progress-count">{{ course.rating_count[3]}}</p>
                                                    <!-- /.course-details__progress-count -->
                                                </div><!-- /.course-details__progress-item -->
                                                <div class="course-details__progress-item">
                                                    <p class="course-details__progress-text">Poor</p>
                                                    <!-- /.course-details__progress-text -->
                                                    <div class="course-details__progress-bar">
                                                        <span :style="`width: ${(course.rating_count[2] / course.reviews_count) * 100}%`" ></span>
                                                    </div><!-- /.course-details__progress-bar -->
                                                    <p class="course-details__progress-count">{{ course.rating_count[2]}}</p>
                                                    <!-- /.course-details__progress-count -->
                                                </div><!-- /.course-details__progress-item -->
                                                <div class="course-details__progress-item">
                                                    <p class="course-details__progress-text">Terrible</p>
                                                    <!-- /.course-details__progress-text -->
                                                    <div class="course-details__progress-bar">
                                                        <span :style="`width: ${(course.rating_count[1] / course.reviews_count) * 100}%`"></span>
                                                    </div><!-- class="no-bubble" /.course-details__progress-bar -->
                                                    <p class="course-details__progress-count">{{ course.rating_count[1]}}</p>
                                                    <!-- /.course-details__progress-count -->
                                                </div><!-- /.course-details__progress-item -->
                                            </div><!-- /.course-details__progress -->
                                        </div><!-- /.col-lg-8 -->
                                        <div class="col-xl-5 justify-content-xl-end justify-content-sm-center d-flex">
                                            <div class="course-details__review-box">
                                                <p class="course-details__review-count">{{ (course.average_rating || 0).toFixed(1) }}</p>
                                                <!-- /.course-details__review-count -->
                                                <div class="course-details__review-stars">
                                                    <b-form-rating class="rating" id="rating-inline" inline disabled :value="(course.average_rating || 0).toFixed(1)"></b-form-rating>
                                                </div><!-- /.course-details__review-stars -->
                                                <p class="course-details__review-text">{{ course.reviews_count }} reviews</p>
                                                <!-- /.course-details__review-text -->
                                            </div><!-- /.course-details__review-box -->
                                        </div><!-- /.col-lg-4 -->
                                    </div><!-- /.row -->
                                    <div class="course-details__comment">
                                        <div v-for="(item, idx) in course.reviews" :key="idx" class="course-details__comment-single">
                                            <div class="course-details__comment-top">
                                                <div class="course-details__comment-img">
                                                    <img :src="item.user.avatar | replaceAvatar" alt="">
                                                </div><!-- /.course-details__comment-img -->
                                                <div class="course-details__comment-right">
                                                    <h2 class="course-details__comment-name">{{ item.user.name }}</h2>
                                                    <!-- /.course-details__comment-name -->
                                                    <div class="course-details__comment-meta">
                                                        <p class="course-details__comment-date">{{ item.created_at | formatDate }}</p>
                                                        <!-- /.course-details__comment-date -->
                                                        <div class="course-details__comment-stars">
                                                            <b-form-rating
                                                                class="rating"
                                                                id="rating-inline"
                                                                inline
                                                                :value="item.rating || 0"
                                                                disabled
                                                            ></b-form-rating>
                                                        </div><!-- /.course-details__comment-stars -->
                                                    </div><!-- /.course-details__comment-meta -->
                                                </div><!-- /.course-details__comment-right -->
                                            </div>
                                            <p class="course-details__comment-text">{{ item.comment }}</p>
                                        </div>
                                    </div><!-- /.course-details__comment -->
                                    <form @submit.prevent="addReview" class="course-details__comment-form">
                                        <h2 class="course-details__title">Add a review</h2><!-- /.course-details__title -->
                                        <p class="course-details__comment-form-text">Rate this Course? 
                                           <!-- <b-form-rating class="rating" id="rating-inline" inline v-model="formReview.rating"></b-form-rating> -->
                                            <vue-feedback-reaction :labels="['Terrible', 'Poor', 'Average', 'Very Good', 'Excellent']" v-model="formReview.rating"/>
                                        </p><!-- /.course-details__coment-form-text -->
                                        <div class="row">
                                            <!-- <div class="col-lg-6">
                                                <input type="text" placeholder="Your Name">
                                                <input type="text" placeholder="Email Address">
                                            </div> -->
                                            <div class="col-lg-12">
                                                <textarea v-model="formReview.comment" placeholder="Write Message"></textarea>
                                                <button type="submit" class="thm-btn course-details__comment-form-btn">Leave a
                                                    Review</button>
                                            </div><!-- /.col-lg-12 -->
                                        </div><!-- /.row -->
                                    </form><!-- /.course-details__comment-form -->
                                </div><!-- /.course-details__tab-content -->
                            </b-tab>
                        </b-tabs>
                    </div><!-- /.tab-content -->
                </div><!-- /.course-details__content -->
            </div><!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="course-details__price">
                    <p class="course-details__price-text">Course price </p><!-- /.course-details__price-text -->
                    <p class="course-details__price-amount">{{ course.price | formatPrice }}</p><!-- /.course-details__price-amount -->
                    <base-button v-if=" course.price > 0" :loading="loadingAddCart" @click.prevent="addToCart" class="thm-btn btn-primary course-details__price-btn">Buy This Course</base-button>
                    <base-button v-else :loading="loading" @click.prevent="onEnroll" class="thm-btn btn-primary orange course-details__price-btn">Enroll This Course</base-button>

                </div><!-- /.course-details__price -->

                <div class="course-details__meta">
                    <a href="#" class="course-details__meta-link">
                        <span class="course-details__meta-icon">
                            <i class="far fa-clock"></i><!-- /.far fa-clock -->
                        </span><!-- /.course-details__icon -->
                        Durations: <span>{{ course.spend_time || 0 }} hours</span>
                    </a><!-- /.course-details__meta-link -->
                    <a href="#" class="course-details__meta-link">
                        <span class="course-details__meta-icon">
                            <i class="far fa-folder-open"></i><!-- /.far fa-folder-open -->
                        </span><!-- /.course-details__icon -->
                        Lectures: <span>{{ course.total_lesson }}</span>
                    </a><!-- /.course-details__meta-link -->
                    <a href="#" class="course-details__meta-link">
                        <span class="course-details__meta-icon">
                            <i class="far fa-user-circle"></i><!-- /.far fa-user-circle -->
                        </span><!-- /.course-details__icon -->
                        Students: <span v-if="course.student_limit > 0">{{course.student_limit}}</span> <span class="text-success" v-else>Unlimited</span>
                    </a><!-- /.course-details__meta-link -->
                    <a href="#" class="course-details__meta-link">
                        <span class="course-details__meta-icon">
                            <i class="fas fa-play"></i><!-- /.fas fa-play -->
                        </span><!-- /.course-details__icon -->
                        Video: <span>8 hours</span>
                    </a><!-- /.course-details__meta-link -->
                    <a href="#" class="course-details__meta-link">
                        <span class="course-details__meta-icon">
                            <i class="far fa-flag"></i><!-- /.far fa-flag -->
                        </span><!-- /.course-details__icon -->
                        Skill Level: <span class="text-lowercase">{{ course.level }}</span>
                    </a><!-- /.course-details__meta-link -->
                    <a href="#" class="course-details__meta-link">
                        <span class="course-details__meta-icon">
                            <i class="far fa-bell"></i><!-- /.far fa-bell -->
                        </span><!-- /.course-details__icon -->
                        Language: <span>English</span>
                    </a><!-- /.course-details__meta-link -->
                </div><!-- /.course-details__meta -->
                <div class="course-details__list">
                    <h2 class="course-details__list-title">Relate Courses</h2><!-- /.course-details__list-title -->
                    <div v-for="(item, idx) in course.relate_courses" :key="idx" class="course-details__list-item">
                        <div class="course-details__list-img">
                            <img :src="item.thumbnail_url" alt="">
                        </div><!-- /.course-details__list-img -->
                        <div class="course-details__list-content">
                            <a class="course-details__list-author" href="#">by <span>{{ item.teacher.user.name }}</span></a>
                            <h3 class="text-left"><a href="#">{{ item.name }}</a></h3>
                            <div class="course-details__list-stars">
                                <b-form-rating
                                    class="rating"
                                    id="rating-inline"
                                    inline
                                    :value="item.average_rating || 0"
                                    disabled
                                ></b-form-rating>
                                <span>{{ (item.average_rating || 0).toFixed(1) }}</span>
                            </div><!-- /.course-details__list-stars -->
                        </div><!-- /.course-details__list-content -->
                    </div><!-- /.course-details__list-item -->
                    <!-- <div class="course-details__list-item">
                        <div class="course-details__list-img">
                            <img src="/assets/images/lc-1-2.jpg" alt="">
                        </div>
                        <div class="course-details__list-content">
                            <a class="course-details__list-author" href="#">by <span>Lydia Byrd</span></a>
                            <h3><a href="#">Marketing strategies</a></h3>
                            <div class="course-details__list-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>4.8</span>
                            </div>
                        </div>
                    </div> -->
                </div><!-- /.course-details__list -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
     <div v-else class="loading d-flex justify-content-center align-items-center" style="height: calc(100vh - 300px);">
        <b-spinner variant="primary" style="width: 10rem; height: 10rem;" label="Loading..."></b-spinner>
    </div>
</section>
</template>

<script>
    import { mapGetters, mapState } from 'vuex'
    export default {
        layout: 'AppLayout',
        name: "CourseDetails",
        data() {
            return {
                isLiked: false,
                formReview: {
                    rating: 0,
                    comment: ''
                },
                enrollLoading: false,
                loading: false,
                loadingAddCart: false,
            }
        },
        computed: {
            slug() {
                return this.$route.params.slug;
            },
             ...mapGetters({
                course: 'course/detail',
            }),
        },
        mounted() {
            this.getCourse();
        },
        methods: {
            getCourse(force = false) {
                this.$store.dispatch('course/getCourse', {
                    slug: this.slug,
                    force
                });
            },
            addToCart(course) {
                this.$store.dispatch('addToCart', course);
            },
            addReview() {
                this.$axios.post(`/courses/${this.course.id}/reviews`, this.formReview)
                    .then(response => {
                        response = response.data;
                        this.formReview.comment = '';
                        this.formReview.rating = 0;
                        this.getCourse(true);
                        this.$notify({
                            type: 'success',
                            message: response.message
                        });
                    })
                    .catch(error => {
                        console.log(error);
                        this.$notify({
                            type: "danger",
                            message: "Oops, something went wrong!",
                        });
                    });
            },
            onLike() {
                let method = !this.isLiked ? "POST" : "DELETE";
                try {
                    this.$axios(
                        {
                            method: method,
                            url: `/courses/${this.course.slug}/likes`,
                        },
                    );
                    this.isLiked = !this.isLiked;
                } catch (error) {
                    console.log(error);
                }
            },
            async onEnroll() {
                try {
                    this.loading = true;
                    await this.$axios(
                        {
                            method: "POST",
                            url: `/courses/${this.course.slug}/enroll`,
                        },
                    );
                    if (this.course.price == 0) {
                        this.$router.push(`/courses/enrolled/${this.course.slug}`);
                    } else {
                        this.enrollLoading = true;
                        this.$notify({
                            type: "success",
                            message: "Please wait while we redirect you to payment page.",
                        });
                        setTimeout(() => {
                            this.$router.push(`/courses/enrolled/${this.course.slug}`);
                        }, 2000);
                    }
                } catch (error) {
                    console.log(error);
                    this.$notify({
                        type: "danger",
                        message: error.response.data.message || "Oops, something went wrong!",
                    });
                } finally {
                    this.loading = false;
                }
            },
            async addToCart() {
                this.loadingAddCart = true;
                await this.$store.dispatch('cart/addToCart', {
                    quantity: 1,
                    type: 'course',
                    product_id: this.course.id
                });
                this.$notify({
                    type: 'success',
                    message: 'Add product to cart successfully!',
                });
                this.loadingAddCart = false;
            },
        },
        watch: {
            course: {
                handler(course) {
                    if (course) {
                        this.isLiked = course.is_liked;
                    }
                },
                deep: true
            }
        }
    }
</script>

<style scoped>

</style>
