<template>
  <div class="container-fluid mt-5">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Update Lesson</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="#" @click="$router.go(-1)">Back</a>
            </li>
            <li class="breadcrumb-item active">Update Lesson</li>
          </ol>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <form @submit.prevent="submit" ref="formHTML">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header basic">
                <i class="fas fa-info-circle"></i>&nbsp; BASIC INFORMATION ABOUT
                THE NEW LESSON
              </div>
              <div class="card-body">
                <div class="form-group row">
                  <label
                    for="name"
                    class="col-sm-2 col-form-label text-md-right"
                  >
                    LESSON TITLE
                  </label>
                  <div class="col-sm-10">
                    <input
                      name="name"
                      id="name"
                      class="form-control"
                      required
                      autofocus
                      v-model="form.title"
                      placeholder="Lesson Title"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    for="spend_time"
                    class="col-sm-2 col-form-label text-md-right"
                  >
                    ESTIMATED LESSON DURATION
                  </label>
                  <div class="col-sm-10">
                    <input
                      name="spend_time"
                      id="spend_time"
                      class="form-control"
                      required
                      placeholder="In minutes (e.g. 30:00)"
                      v-model="valueEstTime"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    for="status"
                    class="col-sm-2 col-form-label text-md-right"
                  >
                    STATUS
                  </label>
                  <div class="col-sm-10">
                    <select
                      required="required"
                      id="status"
                      name="status"
                      class="form-control"
                      v-model="form.status"
                    >
                      <option value="">Select a status</option>
                      <option value="PRIVATE">PRIVATE</option>
                      <option value="PUBLIC">PUBLIC</option>
                      <option value="UNLISTED">UNLISTED</option>
                      <option value="ENROLLED">ENROLLED</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    for="description"
                    class="col-sm-2 col-form-label text-md-right"
                  >
                    CONTENT
                  </label>

                  <div class="col-sm-10">
                    <client-only placeholder="loading...">
                      <ckeditor-nuxt
                        v-model="form.content"
                        :config="editorConfig"
                      />
                    </client-only>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card">
                <div class="card-header requirements">
                  <i class="fas fa-clipboard-list"></i>&nbsp; MEDIA CONTENT
                </div>
                <div class="card-body">
                  <b-row class="mb-2">
                    <client-only placeholder="loading...">
                      <multiselect
                        v-model="form.h5p_content"
                        label="title"
                        track-by="id"
                        placeholder="Search"
                        :options="h5pContents"
                        :searchable="true"
                        :loading="isLoading"
                        @search-change="getH5PContents"
                      >
                        <!-- <template slot="tag" slot-scope="{ option }"><span class="custom__tag"><span>{{ option.name }}</span></span></template> -->
                        <!-- <template slot="clear" slot-scope="props">
                        <div class="multiselect__clear" v-if="selectedCountries.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
                      </template> -->
                        <span slot="noResult"
                          >Oops! No elements found. Consider changing the search
                          query.</span
                        >
                      </multiselect>
                    </client-only>
                  </b-row>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card">
                <div class="card-header achievements">
                  <i class="fas fa-check"></i>&nbsp; QUIZ
                </div>
                <div class="card-body">
                  <client-only placeholder="loading...">
                    <multiselect
                      v-model="form.exam"
                      label="title"
                      track-by="id"
                      placeholder="Search"
                      :options="exams"
                      :searchable="true"
                      :loading="isLoading"
                      @search-change="getExams"
                    >
                      <template slot="option" slot-scope="{ option }"
                        ><span
                          ><span>{{ option.title }}</span
                          ><span> - slug: {{ option.slug }}</span></span
                        ></template
                      >
                      <span slot="noResult"
                        >Oops! No elements found. Consider changing the search
                        query.</span
                      >
                    </multiselect>
                  </client-only>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div
                    class="form-group row mb-0 d-flex justify-content-center"
                  >
                    <div class="col-sm-10 d-flex d-flex justify-content-center">
                      <button
                        type="submit"
                        name="revision"
                        class="btn btn-primary btnSubmitCourseReview d-flex align-items-center"
                      >
                        <i class="fas fa-search"></i>&nbsp; UPDATE LESSON
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</template>
<script>
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";

export default {
  // beforeRouteEnter(to, from, next) {
  //   next()
  // },
  layout: "DashboardLayout",
  name: "LessonUpdate",
  mixins: [formMixin],
  components: {
    ValidationError,
  },
  data() {
    return {
      editorConfig: {
        removePlugins: ["MediaEmbedToolbar", "Title"],
        simpleUpload: {
          uploadUrl: "path_to_image_controller",
          headers: {
            Authorization: "optional_token",
          },
        },
      },
      thumbnail: null,
      previewImageUrl: "",
      form: {
        title: "",
        content: "",
        status: "",
        spend_time: "",
        exam: "",
        h5p_content: "",
      },
      h5pContents: [],
      exams: [],
      prevRoute: null,
    };
  },
  created: function () {
    this.getH5PContents();
    this.getExams();
    this.getLessonDetail();
    if (this.$nuxt?.context?.from?.path)
      this.prevRoute = this.$nuxt.context.from.path;
  },
  computed: {
    lessonId() {
      return this.$route.params.id;
    },
    valueEstTime: {
      // getter
      get: function () {
        return this.form.spend_time;
      },
      // setter
      set: function (newValue) {
        this.form.spend_time = this.formatEstTime(newValue);
      },
    },
  },
  methods: {
    getLessonDetail: function () {
      this.$axios
        .get(`/lessons/${this.lessonId}`)
        .then((res) => {
          res = res.data;
          if (res) {
            this.form = res.data;
            this.form.h5p_content = res.data.h5p_content;
            this.form.exam = res.data.exam;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getH5PContents: function (keyword) {
      this.$axios
        .get("/h5p", {
          params: {
            keyword: keyword,
          },
        })
        .then((res) => {
          res = res.data;
          if (res) {
            this.h5pContents = res.data.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getExams: function (keyword) {
      this.$axios
        .get("/exams", {
          params: {
            keyword,
          },
        })
        .then((res) => {
          res = res.data;
          if (res) {
            this.exams = res.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    onFileChange(e) {
      const file = e.target.files[0];
      if (!file) return;
      this.thumbnail = file;
      this.previewImageUrl = URL.createObjectURL(file);
    },
    async submit() {
      try {
        const formData = {
          ...this.form,
          content_id: this.form.h5p_content ? this.form.h5p_content.id : null,
          exam_id: this.form.exam ? this.form.exam.id : null,
        };
        const res = await this.$axios.put(
          `/lessons/${this.lessonId}`,
          formData
        );
        this.$notify({
          type: "success",
          message: "Lesson created successfully!",
        });
        if (this.prevRoute) {
          this.$router.push(this.prevRoute + "?rf=1&tab=1");
        } else {
          this.$router.back();
        }
      } catch (error) {
        console.log(error);
        this.$notify({
          type: "danger",
          message: "Oops! Something went wrong. Please try again later.",
        });
      }
    },
    formatEstTime(value) {
      if (value.length > 2) {
        let _value = value.split(":");
        if (_value.length < 2) {
          return value.substring(0, 2) + ":" + value.substring(2, 4);
        } else {
          return _value[0] + ":" + _value[1];
        }
      } else {
        return value;
      }
    },
  },
};
</script>

<style scope>
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 100%;
  max-height: 400px;
}
</style>
