<template>
    <section class="course-one course-page mt-5">
        <div class="container">
            <div class="block-title">
                <h2 class="block-title__title text-left">My courses:</h2>
            </div>
            <b-tabs @activate-tab="onChangeTab" content-class="mt-3">
                <b-tab title="Enrolled" :active="tabActive == 0">
                    <div class="row">
                        <div
                            v-for="(item, idx) in data"
                            :key="item.id+idx"
                            class="col-lg-4 border-radius-30"
                        >
                            <Item :item="item" />
                            <!-- /.course-one__single -->
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                </b-tab>
                <b-tab title="Favourite" :active="tabActive == 1">
                    <div class="row">
                        <div
                            v-for="(item, idx) in data"
                            :key="item.id + '_' + idx"
                            class="col-lg-4 border-radius-30"
                        >
                            <Item :item="item" />
                            <!-- /.course-one__single -->
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                </b-tab>
            </b-tabs>
            <!-- /.row -->
            <div v-if="page * per_page < total" class="post-pagination">
                <!-- <a href="#"><i class="fa fa-angle-double-left"></i></a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#"><i class="fa fa-angle-double-right"></i></a> -->
                <b-pagination
                    @change="changePage"
                    :per-page="per_page"
                    v-model="page"
                    pills
                    :total-rows="total"
                    size="lg"
                ></b-pagination>
            </div>
        </div>
        <!-- /.container -->
    </section>
</template>

<script>
import Item from "@/pages/components/course/item";
export default {
    layout: "AppLayout",
    name: "MyCourse",
    data() {
        return {
            total: 0,
            page: 1,
            per_page: 6,
            data: [],
            showPreview: false,
            previewTitle: "",
            tabKey: "enrolled",
        };
    },
    components: {
        Item,
    },
    methods: {
        async changePage(page) {
            try {
                this.page = page;
                let params = {
                    page,
                    tab: this.tabKey,
                };
                const _data = await this.$axios.get("/my-courses", {
                    params,
                });
                const { data, total } = _data.data.data;
                this.data = data;
                this.total = total;
                this.page = page;
                this.$forceUpdate();
            } catch (error) {
                this.$notify({
                    type: "danger",
                    message: "Oops! Something went wrong.",
                });
            }
        },
        onChangeTab(tab) {
            this.tabActive = tab;
            if (tab == 0) {
                this.tabKey = "enrolled";
            } else if (tab == 1) {
                this.tabKey = "fav";
            } else {
                this.tabKey = "purchased";
            }
            this.changePage(1);
        },
    },
    async asyncData({ $axios, params, route }) {
        const tabkeys = ["enrolled", "fav", "purchased"];
        const tab = route.query.tab || 0;
        let _params = {
            page: 1,
            ...params,
            tab: tabkeys[tab],
        };
        const data = await $axios.get("/my-courses", {
            params: _params,
        });
        return {
            ...data.data.data,
        };
    },
    computed: {
        tabActive: {
            get() {
                return this.$route.query.tab || 0;
            },
            set(val) {
                this.$router.push({
                    name: this.$route.name,
                    query: {
                        tab: val,
                    },
                });
            },
        },
    },
};
</script>

<style scoped></style>
