<template>
    <div class="container edit-profile rounded bg-white">
        <div class="row">
            <div class="col-md-4 border-right">
                <div
                    class="d-flex flex-column align-items-center text-center p-3 py-5"
                >
                    <img
                        class="rounded-circle mt-5"
                        width="90"
                        :src="form.avatar | replaceAvatar"
                        alt="User profile picture"
                        id="profileavatar"
                    />
                    <span class="font-weight-bold mt-1">{{ user.name }}</span>
                    <span>Joined at: {{ user.created_at | formatDate }}</span>
                </div>
            </div>
            <div class="col-md-8 border-right">
                <form @submit.prevent="handleProfileUpdate">
                    <div class="p-3 py-5">
                        <div
                            class="d-flex justify-content-between align-items-center mb-3"
                        >
                            <h4 class="font-weight-bold text-right">
                                Edit your profile
                            </h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <base-input
                                    label="First name"
                                    prepend-icon="fas fa-user"
                                    placeholder="First name"
                                    v-model="form.first_name"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.first_name"
                                />
                            </div>
                            <div class="col-md-6">
                                <base-input
                                    label="Last name"
                                    prepend-icon="fas fa-user"
                                    placeholder="Last name"
                                    v-model="form.last_name"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.last_name"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-1">
                                <base-input
                                    label="Display name"
                                    prepend-icon="fas fa-user-circle"
                                    placeholder="Display name"
                                    v-model="form.name"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.name"
                                />
                            </div>
                            <div class="col-md-12 mt-1">
                                <base-input
                                    :readonly="user.username"
                                    label="User name"
                                    prepend-icon="fas fa-user-circle"
                                    placeholder="User name"
                                    v-model="form.username"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.username"
                                />
                            </div>
                            <div class="col-md-12 mt-1">
                                <label>
                                    Gender
                                </label>
                                <b-form-group
                                    class=""
                                    v-slot="{ ariaDescribedby }"
                                >
                                    <b-form-radio
                                        class="ml-3 gender"
                                        v-for="(item, index) in genders"
                                        :key="index"
                                        v-model="form.gender"
                                        :aria-describedby="ariaDescribedby"
                                        name="some-radios"
                                        :value="item.value"
                                        >
                                            {{ item.label }}
                                        </b-form-radio
                                    >
                                </b-form-group>
                                <validation-error
                                    :errors="apiValidationErrors.gender"
                                />
                            </div>
                            <div class="col-md-12 mt-1">
                                <div class="form-group">
                                    <label for="datepicker-placeholder"
                                        >Date of birth</label
                                    >
                                    <b-form-datepicker
                                        id="datepicker-placeholder"
                                        placeholder="Choose a date"
                                        locale="en"
                                        v-model="form.date_of_birth"
                                    ></b-form-datepicker>
                                </div>
                                <validation-error
                                    :errors="apiValidationErrors.date_of_birth"
                                />
                            </div>
                            <div class="col-md-12">
                                <base-input
                                    :readonly="user.email"
                                    label="Email"
                                    prepend-icon="fas fa-envelope"
                                    placeholder="Email"
                                    v-model="form.email"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.email"
                                />
                            </div>
                            <div class="col-md-12 mt-1">
                                <base-input
                                    label="Phone"
                                    prepend-icon="fas fa-phone"
                                    placeholder="Phone"
                                    v-model="form.phone"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.phone"
                                />
                            </div>
                            <div class="col-md-12 mt-1">
                                <base-input
                                    label="Education"
                                    prepend-icon="fas fa-graduation-cap"
                                    placeholder="Education"
                                    v-model="form.education"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.education"
                                />
                            </div>
                            <div class="col-md-12 mt-1">
                                <base-input
                                    label="Summary"
                                    prepend-icon="fas fa-file"
                                    placeholder="Summary"
                                    v-model="form.summary"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.summary"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-1">
                                <base-input
                                    label="Address 1"
                                    prepend-icon="fas fa-map-marked-alt"
                                    placeholder="Address 1"
                                    v-model="form.address1"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.address1"
                                />
                            </div>
                            <div class="col-md-12 my-1">
                                <base-input
                                    label="Address 2"
                                    prepend-icon="fas fa-map-marked-alt"
                                    placeholder="Address 2"
                                    v-model="form.address2"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.address2"
                                />
                            </div>
                            <div class="col-md-6">
                                <base-input
                                    label="Country"
                                    prepend-icon="fas fa-globe-africa"
                                    placeholder="Country"
                                    v-model="form.country"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.country"
                                />
                            </div>
                            <div class="col-md-6">
                                <base-input
                                    label="City"
                                    prepend-icon="fas fa-city"
                                    placeholder="City"
                                    v-model="form.city"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.city"
                                />
                            </div>
                        </div>
                        <div v-if="isEditor" class="row">
                            <div class="col-md-12 my-1">
                                <base-input
                                    label="Website"
                                    prepend-icon="ni ni-world-2"
                                    placeholder="Website"
                                    v-model="form.website_url"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.website_url"
                                />
                            </div>
                            <div class="col-md-12 my-1">
                                <base-input
                                    label="CV URL"
                                    prepend-icon="ni ni-world-2"
                                    placeholder="CV URL"
                                    v-model="form.cv"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.first_name"
                                />
                            </div>
                            <div class="col-md-12 my-1">
                                <label for="bio"> Biography </label>
                                <b-form-textarea
                                    id="bio"
                                    label="Bio"
                                    v-model="form.biography"
                                    placeholder="Biography"
                                    rows="3"
                                    max-rows="6"
                                />
                                <validation-error
                                    :errors="apiValidationErrors.biography"
                                />
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <base-button
                                :loading="loading"
                                class="btn btn-primary profile-button"
                                native-type="submit"
                            >
                                Save Profile
                            </base-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from "vuex";
import BaseButton from "~/components/argon-core/BaseButton.vue";
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";

export default {
    layout: "AppLayout",
    name: "Profile",
    components: {
        BaseButton,
        ValidationError,
    },
    mixins: [formMixin],
    data() {
        return {
            form: {
                first_name: "",
                last_name: "",
                display_name: "",
                username: "",
                gender: "",
                date_of_birth: "",
                phone: "",
                email: "",
                country: "",
                city: "",
                address1: "",
                address2: "",
                education: "",
                biography: "",
                website_url: "",
                cv: "",
            },
            genders: [
                {
                    value: "MALE",
                    label: "Male",
                },
                {
                    value: "FEMALE",
                    label: "Female",
                },
                {
                    value: "OTHER",
                    label: "Other",
                },
                {
                    value: "PREFER_NOT_TO_SAY",
                    label: "Prefer not to say",
                },
            ],
            loading: false,
        };
    },
    computed: {
        ...mapState("auth", ["loggedIn", "user"]),
        isEditor() {
            return this.$auth.user.roles.some((role) =>
                ["editor", "admin"].includes(role.name)
            );
        },
    },
    mounted() {
        this.form = {
            ...this.user,
        };
    },
    created() {
        // this.getProfile();
    },

    methods: {
        async handleProfileUpdate() {
            try {
                this.loading = true;
                await this.$axios.put("/users", this.form);
                this.$notify({
                    type: "success",
                    message: "Profile updated successfully.",
                });
                await this.$store.dispatch("profile/me")
            } catch (error) {
                if (error.response.data.data)
                    this.setApiValidation(error.response.data.data);
                this.$notify({
                    type: "danger",
                    message: "Error updating profile.",
                });
            } finally {
                this.loading = false;
            }
        },
    },
};
</script>
