.fab.fa-vuejs {
    font-size: 130% !important;
    color: #3cab79;
}

.navbar-light .navbar-nav .nav-link.nuxt-link-active {
    color: rgb(60, 171, 121);
}

.nuxt-link-exact-active {
    color: #823cdc;
}

.header__menu {
    a {
        &:hover {
            color: #823cdc;
        }
    }
}
.nuxt-link-active {
    color: #823cdc;
    font-weight: 600;
}

.payments__price-v2__summary__cart__item__total__current {
    font-weight: 600;
    color: #f57c00;
    font-size: 20px;
}

.login-title {
    font-size: 20px;
}

.dashboard {
    .main-content {
        .page-item .page-link {
            padding: 0.5rem 0.75rem;
            border-radius: unset !important;
            width: unset;
        }
    }
}

.bg-white {
    background: #fafafa;
}

.course-one__single {
    box-shadow: 0px 1px #fbf6ec;
    border: 1px solid #fbf6ec;
    padding: 0px;
    border-radius: 9px;
    cursor: pointer;
    margin-bottom: 50px;
    position: relative;

    &:hover {
        box-shadow: 0px 0px 0px 1px #edcd94;
        border: 1px solid #edcd94;
        transition: all linear 0.1s;
    }
    .course-one__image {
        overflow: hidden;
        height: 208px;
        & > img {
            object-fit: cover;
        }
        // border: solid 2px #f1f1f1;
    }
    .price,
    .free {
        color: #f5a00d;
        font-size: 15px;
        font-weight: bold;
        max-width: 120px;
        padding-top: 5px;
    }
    .free {
        color: #3cab79;
    }
    .description {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.login-social {
    cursor: pointer;
}

.rating {
    &.form-control {
        border: none;
        background-color: unset;
        .b-rating-star {
            color: #f16101;
        }
    }
}

.reply {
    margin-left: 50px;
}

.gender {
    label {
        font-weight: 400;
    }
}

.course-enrolled {
    & > h1 {
        margin: 0;
        // font-size: 1em;
        color: #24505c;
        font-weight: 600;
        text-align: left;
    }

    .course-details__tab-navs li a {
        padding: 10px 50px;
        &::before {
            background-color: #2da397;
        }
    }

    .course-details__tab-navs .nav-tabs .nav-link:hover,
    .course-details__tab-navs .nav-tabs .nav-link.active {
        background-color: #2da397;
    }

    .course-details__tab-content {
        padding: 0;
    }

    .content-tabs {
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #ccc;
    }

    .lesson-tabs {
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #ccc;
        background: #eee;
        & > .card-header {
            background: #eee;
            border-bottom: 1px solid #ccc;
            padding: 15px;
            position: relative;
            color: #1797b1;
        }
        .card-body {
            padding: 0;
        }
        .accordion {
            .card {
                border-radius: 0;
            }
            .card-header {
                padding: 0;
                border-radius: 0;
                &::after {
                    width: 10px;
                }
                button {
                    &.btn {
                        border-radius: 0;
                    }
                    &.btn-info {
                        border: none;
                        background: #dadada;
                        border-bottom: 1px solid #fff;
                        padding: 10px 17px 10px 13px;
                        color: #555;
                        position: relative;
                        width: 100%;
                        z-index: 1;
                        cursor: pointer;
                        font-weight: 700;
                    }
                }
            }
            .list-group-item {
                overflow: auto;
                padding: 10px 17px 10px 13px;
                border-bottom: 1px solid #ddd;
                border-radius: 0;
                cursor: pointer;
                span {
                    color: #24505c;
                    float: right !important;
                    margin-right: 7px;
                }
                // &.active {
                //     background: #fff;
                //     color: #2da397;
                // }
            }
        }
    }
}

.list-group-item {
    &.active {
        background: #fff;
        border-color: #2da397;
        font-weight: 600;
        border-bottom: 1px solid #2da397 !important;
    }
}

.cart-wrapper {
    padding: 12px;
    border-radius: 8px;
    color: #012237;
    .total-price {
        font-size: 20px;
        font-weight: 600;
        .price {
            color: #f5a00d;
        }
    }
}

.cart-item {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #eee;
    margin: 12px;
    img {
        height: 100% !important;
    }

    .cart-item_row {
        p {
            margin-bottom: 4px;
        }
    }
    button {
        height: 14px;
        line-height: 0px;
    }
    span {
        color: #012237;
        font-weight: 600;
    }
}

.contact-info-one {
    .contact-info-one__single {
        border-radius: 20px;
        padding: 24px;
    }
    .contact-one__form {
        input {
            border-radius: 8px;
        }
    }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}
