<template>
  <footer class="footer">
    <div class="container">
        <div class="footer__wrapper-list">
            <ul class="list-item">
                <li>
                    <!-- <a href="curriculum/presentation/first-trial.html?presentation=first-trial">
                    E-Learning platform</a> -->
                    <nuxt-link to="/student/signup">E-Learning platform</nuxt-link>
                </li>
                <!-- <li><a href="/">Method</a></li> -->
                <li>
                    <nuxt-link to="/teacher">Teachers</nuxt-link>
                </li>
                <!-- <li><a href=speaking-clubs.html>Speaking club</a></li> -->
                <li>
                    <nuxt-link to="/prices">Prices</nuxt-link>
                </li>
                <!-- <li><a href=reviews.html>Parents reviews</a></li> -->
            </ul>
            <ul class="list-item">
                <li><a href="/coming-soon" target="_blank">An affiliate program</a></li>
                <li>
                    <!-- <a href="https://allright.com/blog/tutors/" target="_blank">Job for teachers</a> -->
                    <a href="#" @click.prevent="onApply()">Job for teachers</a>
                </li>
            </ul>
            <ul class="list-item">
                <li>
                    <nuxt-link to="/about-us">About us</nuxt-link>
                    <!-- <a href=https://www.instagram.com/allright_global/ target="_blank">
                        <svg width="22" height="22">
                            <use xlink:href="#instagram-icon"></use>
                        </svg>
                    </a> -->
                </li>
                 <li>
                    <nuxt-link to="/faq">FAQ</nuxt-link>
                    <!-- <a href=https://www.youtube.com/channel/UCG_oubzV2Rw4A09-Ul3XmFw/ target="_blank">
                        <svg width="22" height="22">
                            <use xlink:href="#youtube-icon"></use>
                        </svg>
                    </a> -->
                </li>
                <li>
                    <!-- <a href=https://www.facebook.com/AllRight-Global-101811558496225 target="_blank">
                        <svg width="22" height="22">
                            <use xlink:href="#facebook-icon"></use>
                        </svg>
                    </a> -->
                    <nuxt-link to="/contact">Contact us</nuxt-link>
                </li>
            </ul>
            <ul class="list-item communication-link">
                <li>
                    <!-- <a href="http://api.whatsapp.com/send?phone=+1(650)%20977-9585"> -->
                    <a href="tel:0935127614">
                        <i class="fa fa-phone"></i>
                        +8493 5127 614
                    </a>
                </li>

                <li>
                    <a href="mailto:eolblogteam@gmail.com?subject=Need Support&amp;">
                        <i class="fa fa-envelope"></i>
                        eolblogteam@gmail.com
                    </a>
                </li>
            </ul>
            <!-- <ul class="list-item social-links"></ul> -->
        </div>
        <div class="copyright text-center">
            © EOL Team All Rights Reserved
            <div class="privacy-policy">
                <a href='/' class="terms" target="_blank">The terms of use</a>
                <a class="terms" target="_blank" href="/content/privacy-policy">Privacy Policy</a>
                <a class="terms" target="_blank" href="/content/cookie-policy">Cookie Policy</a>
            </div>

            <div class="footer__address">
                Hue City, Vietnam
            </div>
        </div>
    </div>
</footer>
</template>
<script>
import { mapState } from 'vuex'
export default {
  components: {
  },
  computed: {
    ...mapState("auth", ["loggedIn", "user"]),
    isStudent() {
        if (!this.$auth.user) {
            return false
        }
        return this.$auth.user.roles.some((role) =>
            ["student"].includes(role.name)
        );
    },
  },
  methods: {
    onApply() {
      if (this.isStudent) {
        // this.$router.push("/become-teacher")
        // new tab
        window.open("/coming-soon", "_blank");
      } else if (!this.loggedIn) {
        this.$router.push("/teacher/signup")
      } else {
        this.$router.push("/dashboard")
      }
    }
  }
};
</script>
<style></style>
