<template>
    <header id="header" class="header sticky">
        <base-nav>
            <div class="header__wrapper">
                <nuxt-link to="/" class="logo">
                    <img src="/img/logo.svg" alt="" />
                </nuxt-link>
                <div class="header__content">
                    <ul class="header__menu">
                        <nuxt-link to="/courses" class="track-click"
                            >Courses</nuxt-link
                        >
                        <nuxt-link to="/exam" class="track-click"
                            >Exams</nuxt-link
                        >
                        <!-- <nuxt-link to="/teacher" class="track-click">Teachers</nuxt-link> -->
                        <nuxt-link to="/prices" class="track-click"
                            >Prices</nuxt-link
                        >
                        <nuxt-link to="/levels" class="track-click"
                            >Teach process</nuxt-link
                        >
                        <nuxt-link to="/blog" class="track-click"
                            >Blog</nuxt-link
                        >
                    </ul>
                    <div v-if="!loggedIn">
                        <nuxt-link
                            to="/student/signup"
                            class="btn btn-primary orange free-lesson show-desktop track-click"
                            >Trial lesson</nuxt-link
                        >
                        <nuxt-link
                            to="/login"
                            class="track-click login-btn btn btn-primary btn--gray"
                            >Login</nuxt-link
                        >
                    </div>
                    <ul
                        v-else
                        class="navbar-nav align-items-center ml-auto ml-md-0"
                    >
                        <div class="notification-dropdown-wrapper">
                            <b-badge
                                class="notification-count"
                                variant="danger"
                            >
                                {{ cartTotal }}
                            </b-badge>
                            <base-dropdown
                                class="nav-item notification-dropdown"
                                tag="li"
                                title-classes="nav-link"
                                title-tag="a"
                                icon="fas fa-shopping-bag"
                                menu-classes="dropdown-menu-xl dropdown-menu-right py-0 overflow-hidden icon-notification"
                            >
                                <template>
                                    <div
                                        class="cart-wrapper"
                                        v-show="cart.length > 0"
                                    >
                                        <div class="total-price">Total Price: <span class="price">{{ totalPrice | formatPrice }}</span></div>
                                        <div
                                            v-for="(item, index) in cart"
                                            :key="index"
                                            class="cart-item"
                                        >
                                            <div v-if="item.quantity > 0">
                                                <div class="d-flex">
                                                    <div class="mr-3">
                                                        <img
                                                            style="{height:100%; width:10rem;}"
                                                            :src="`/assets/images/default-${item.type}-thumbnail.png`"
                                                            alt=""
                                                        />
                                                    </div>
                                                    <div class="cart-item_row">
                                                        <p>
                                                            <span>Name: </span>
                                                            {{
                                                                item.product
                                                                    .title ||
                                                                item.product.name
                                                            }}
                                                        </p>
                                                        <p>
                                                            <span>Qty: </span>{{ item.quantity }}
                                                        </p>
                                                        <p>
                                                            <span>Total Price: </span>{{
                                                                item.price *
                                                                item.quantity
                                                                | formatPrice
                                                            }}
                                                        </p>

                                                        <b-button
                                                            class="mr-2"
                                                            v-if="item.quantity > 1"
                                                            @click.stop.prevent="
                                                                updateCart(item, '-')
                                                            "
                                                            variant="dark"
                                                            >-</b-button
                                                        >
                                                        <b-button
                                                            class="mr-2"
                                                            v-else-if="
                                                                (item.quantity = 1)
                                                            "
                                                            @click.stop.prevent="
                                                                removeItem(item)
                                                            "
                                                            variant="dark"
                                                            >-</b-button
                                                        >
                                                        <b-button
                                                            class="mr-2"
                                                            @click.stop.prevent="
                                                                updateCart(item, '+')
                                                            "
                                                            variant="dark"
                                                            >+</b-button
                                                        >
                                                        <b-button
                                                            @click.stop.prevent="
                                                                removeItem(item)
                                                            "
                                                            variant="danger"
                                                            >x</b-button
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <b-button class="orange" block variant="primary">
                                                Proceed to checkout
                                            </b-button>
                                        </div>
                                    </div>
                                    <div class="p-3" v-show="cart.length === 0">
                                        Oh No! Your Cart Is Empty :(
                                    </div>
                                </template>
                            </base-dropdown>
                        </div>
                        <Notifications />
                        <base-dropdown
                            menu-on-right
                            class="nav-item"
                            tag="li"
                            title-tag="a"
                            title-classes="nav-link pr-0"
                        >
                            <a
                                href="#"
                                class="nav-link pr-0"
                                @click.prevent
                                slot="title-container"
                            >
                                <div class="media align-items-center">
                                    <span
                                        class="avatar avatar-sm rounded-circle avatar-image"
                                        :style="{
                                            'background-image': `url('${profileImage}')`,
                                        }"
                                    >
                                    </span>
                                    <div
                                        class="media-body ml-2 d-none d-lg-block"
                                    >
                                        <span
                                            class="mb-0 text-sm font-weight-bold"
                                            >{{ $auth.user.name }}</span
                                        >
                                    </div>
                                </div>
                            </a>

                            <template>
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome!</h6>
                                </div>
                                <nuxt-link
                                    v-show="!isEditor"
                                    :to="{ name: 'my-courses' }"
                                    class="dropdown-item"
                                >
                                    <i class="ni ni-hat-3"></i>
                                    <span>My courses</span>
                                </nuxt-link>
                                <nuxt-link
                                    :to="{ name: 'profile' }"
                                    class="dropdown-item"
                                >
                                    <i class="ni ni-single-02"></i>
                                    <span>My profile</span>
                                </nuxt-link>
                                <nuxt-link
                                    :to="{ name: 'password-change' }"
                                    class="dropdown-item"
                                >
                                    <i class="ni ni-lock-circle-open"></i>
                                    <span>Change password</span>
                                </nuxt-link>
                                <nuxt-link
                                    v-show="isEditor"
                                    :to="{ name: 'dashboard' }"
                                    class="dropdown-item"
                                >
                                    <i class="ni ni-settings"></i>
                                    <span>Dashboard</span>
                                </nuxt-link>
                                <nuxt-link
                                    :to="{ name: 'my-orders' }"
                                    class="dropdown-item"
                                >
                                    <i class="ni ni-cart"></i>
                                    <span>My orders</span>
                                </nuxt-link>
                                <div class="dropdown-divider"></div>
                                <a
                                    @click.prevent="logout()"
                                    to=""
                                    class="dropdown-item"
                                >
                                    <i class="ni ni-user-run"></i>
                                    <span>Logout</span>
                                </a>
                            </template>
                        </base-dropdown>
                    </ul>
                </div>
                <div class="header__wrapper-mobile">
                    <a
                        class="btn orange free-lesson show-mobile track-click"
                        href="sign-up.html"
                        >Trial lesson</a
                    >
                    <div class="bars mobile-menu-wrapper" id="show-menu-mobile">
                        <svg width="16" height="12" class="bars">
                            <use xlink:href="#bars"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </base-nav>
    </header>
</template>
<script>
import { mapGetters, mapState } from "vuex";
import Notifications from "~/components/layouts/app/Notifications";

export default {
    components: {
        Notifications,
    },
    data() {
        return {
            count: 0,
            dismissSecs: 3,
            dismissCountDown: 0,
            showDismissibleAlert: false,
        };
    },
    props: {
        type: {
            type: String,
            default: "default", // default|light
            description:
                "Look of the dashboard navbar. Default (Green) or light (gray)",
        },
    },
    computed: {
        ...mapState("auth", ["loggedIn", "user"]),
        profileImage() {
            // console.log(this.$auth.user)
            return this.$auth.user.avatar
                ? this.$auth.user.avatar
                : "/img/placeholder.jpg";
        },
        isEditor() {
            return this.$auth.user.roles.some((role) =>
                ["editor", "admin"].includes(role.name)
            );
        },
        ...mapGetters({
            cart: "cart/cart",
        }),
        cartTotal() {
            let count = 0;
            for (let i = 0; i < this.cart.length; i++) {
                count += this.cart[i].quantity;
            }
            return count;
        },
        totalPrice() {
            if (this.cart.length === 0) {
                return 0;
            } else {
                return this.cart
                    .map((item) => item.quantity * item.price)
                    .reduce((a, b) => a + b);
            }
        },
    },
    methods: {
        async logout() {
            try {
                await this.$auth.logout();
            } catch (error) {
                this.$toast.error(error.response.message);
            }
        },
        async getCart() {
            try {
                await this.$store.dispatch("cart/getCart");
            } catch (error) {
                console.log(
                    "🚀 ~ file: Header.vue ~ line 246 ~ getCart ~ error",
                    error
                );
            }
        },
        async removeItem(item) {
            try {
                await this.$store.dispatch("cart/removeFromCart", {
                    type: item.type,
                    id: item.id,
                });
                this.$notify({
                    type: "success",
                    message: `Removed this item from cart!`,
                });
            } catch (error) {
                console.log(
                    "🚀 ~ file: Header.vue ~ line 256 ~ removeItem ~ error",
                    error
                );
            }
        },
        async updateCart(item, type) {
            let _qty = item.quantity;
            if (type === "+") {
                _qty++;
            } else if (type === "-") {
                _qty--;
            }
            try {
                await this.$store.dispatch("cart/addToCart", {
                    type: item.type,
                    product_id: item.id,
                    quantity: _qty,
                });
            } catch (error) {
                console.log(
                    "🚀 ~ file: Header.vue ~ line 266 ~ updateCart ~ error",
                    error
                );
            }
        },
    },
    mounted() {
        this.getCart();
    },
};
</script>
<style></style>
