<template>
  <div :class="layoutClass" class="app-layout">
    <notifications></notifications>
    <Header />
    <div class="main-content">
      <nuxt></nuxt>
    </div>
    <Footer />
  </div>
</template>
<script>
import Header from '~/components/layouts/app/Header.vue';
import Footer from '~/components/layouts/app/Footer.vue';

export default {
  components: {
    Header,
    Footer,
  },
  props: {
    backgroundColor: {
      type: String,
      default: "black",
    },
  },
  data() {
    return {
      showMenu: false,
      menuTransitionDuration: 250,
      year: new Date().getFullYear(),
      pageClass: "login-page",
    };
  },
  computed: {
    title() {
      return `${this.$route.name} Page`;
    },
    layoutClass() {
      let exceptions = ["index", "home"];
      if (!exceptions.includes(this.$route.name)) {
        return "bg-white";
      } else {
        return "";
      }
    },
  },
  methods: {
    closeMenu() {
      document.body.classList.remove("nav-open");
      this.showMenu = false;
    },
  },
  watch: {
    "$route.path"() {
      if (this.showMenu) {
        this.closeMenu();
      }
    },
  },
  head() {
    return {
      link: [
         //you shouldn't mention ~/static itself
        { rel: 'stylesheet', type: 'text/css', href: '/css/datepicker.css' },
        { rel: 'stylesheet', type: 'text/css', href: '/css/signup.css' },
      ],
    };
  }
};
</script>
<style lang="scss">
.auth-layout {
  min-height: 100vh;
}
</style>
