<template>
    <section class="blog-one blog-page mt-5">
        <div class="container">
            <b-row class="mb-4">
                <b-col>
                    <div class="sidebar w-100">
                        <div class="sidebar__single sidebar__search">
                            <form
                                @submit.prevent="handleSearch"
                                class="border-radius-30 sidebar__search-form"
                            >
                                <input
                                    v-model="keyword"
                                    type="text"
                                    name="search"
                                    placeholder="Search here..."
                                    v-on:input="processSearch"
                                />
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </b-col>
            </b-row>
            <div class="row row-eq-height" v-if="data.length > 0">
                <div
                    v-for="(item, index) in data"
                    :key="index"
                    class="col-md-4 mb-4"
                >
                    <div class="blog-one__single h-100">
                        <div class="blog-one__image">
                            <img
                                :src="item.thumbnail_url | replacePostThumbnail"
                                alt=""
                            />
                            <nuxt-link
                                class="blog-one__plus"
                                :to="`/post/${item.slug}`"
                                ><i class="kipso-icon-plus-symbol"></i>
                                <!-- /.kipso-icon-plus-symbol --></nuxt-link
                            >
                        </div>
                        <!-- /.blog-one__image -->
                        <div class="blog-one__content text-center">
                            <div class="blog-one__meta">
                                <a
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title=""
                                    href="#"
                                    data-original-title="Posted On Jan 19"
                                    ><i class="fa fa-calendar-alt"></i
                                ></a>
                                <a
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title=""
                                    href="#"
                                    data-original-title="No Comments"
                                    ><i class="fa fa-comments"></i
                                ></a>
                                <a
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title=""
                                    href="#"
                                    data-original-title="Posted By Admin"
                                    ><i class="fa fa-user"></i
                                ></a>
                            </div>
                            <!-- /.blog-one__meta -->
                            <h2 class="blog-one__title">
                                <nuxt-link :to="`/post/${item.slug}`">{{
                                    item.title
                                }}</nuxt-link>
                            </h2>
                            <!-- /.blog-one__title -->
                            <p class="blog-one__text">{{ item.summary }}</p>
                            <!-- /.blog-one__text -->
                            <nuxt-link
                                :to="`/post/${item.slug}`"
                                class="blog-one__link pb-3"
                                >Read More</nuxt-link
                            ><!-- /.blog-one__link -->
                        </div>
                        <!-- /.blog-one__content -->
                    </div>
                    <!-- /.blog-one__single -->
                </div>

                <!-- /.col-lg-8 -->
                <!-- <div class="col-lg-4">
                    <div class="sidebar w-100">
                        <div class="sidebar__single sidebar__search">
                            <form
                                @submit.prevent="handleSearch"
                                class="border-radius-30 sidebar__search-form"
                            >
                                <input
                                    v-model="keyword"
                                    type="text"
                                    name="search"
                                    placeholder="Search here..."
                                />
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div> -->
                <!-- /.col-lg-4 -->
            </div>
            <div v-else>
                <div class="card">
                    <!-- <div class="card-header">
                            <h5>No result is found!</h5>
                        </div> -->
                    <div class="card-body cart">
                        <div class="col-sm-12 empty-cart-cls text-center">
                            <h4>
                                No results found, please search for other
                                keywords!!
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div v-show="meta.total > meta.per_page" class="post-pagination">
                <b-pagination
                    @change="changePage"
                    :per-page="meta.per_page"
                    v-model="page"
                    pills
                    :total-rows="meta.total"
                    size="lg"
                    :hide-goto-end-buttons="meta.total <= meta.per_page"
                ></b-pagination>
            </div>
            <!-- /.post-pagination -->
        </div>
        <!-- /.container -->
    </section>
</template>
<script>
import _ from "lodash";
export default {
    name: "news-page",
    layout: "AppLayout",
    data() {
        return {
            page: 1,
            data: [],
            meta: {},
            keyword: "",
        };
    },
    methods: {
        async changePage(page) {
            try {
                this.page = page;
                let _params = {
                    page,
                    per_page: 6,
                    q: this.keyword,
                };
                const _data = await this.$axios.get("/posts", {
                    params: _params,
                });
                const { data, meta } = _data.data;
                this.data = data;
                this.meta = meta;
            } catch (error) {
                this.$notify({
                    type: "danger",
                    message: "Oops! Something went wrong.",
                });
            }
        },
        handleSearch() {
            this.changePage(1);
        },
        processSearch: _.debounce(function () {
           this.changePage(1);
        }, 500),
    },
    head() {
        return {
            title: "Neptune School | Blog",
        };
    },
    async asyncData({ $axios, params, route }) {
        let _params = {
            page: 1,
            limit: 6,
            ...params,
            ...route.query,
        };
        const data = await $axios.get("/posts", {
            params: _params,
        });
        return {
            ...data.data,
        };
    },
};
</script>
