<template>
  <div class="mt-5">
    <section class="about-one">
      <img
        src="/assets/images/circle-stripe.png"
        class="about-one__circle"
        alt=""
      />
      <div class="container text-center">
        <div class="block-title text-center">
          <h2 class="block-title__title">
            Let’s do study with <br />
            expert teachers
          </h2>
          <!-- /.block-title__title -->
        </div>
        <!-- /.block-title -->
        <div class="about-one__img">
          <div class="row">
            <div class="col-lg-6">
              <img src="~/static/img/about-us/teacher1.jpg" alt="" />
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
              <img src="~/static/img/about-us/home-teacher-intro_v2.jpg" alt="" />
            </div>
            <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
          <div class="about-one__review">
            <p class="about-one__review-count counter">88750</p>
            <!-- /.about-one__review-count -->
            <div class="about-one__review-stars">
              <i class="fas fa-star"></i
              ><!-- /.fa fa-star -->
              <i class="fas fa-star"></i
              ><!-- /.fa fa-star -->
              <i class="fas fa-star"></i
              ><!-- /.fa fa-star -->
              <i class="fas fa-star"></i
              ><!-- /.fa fa-star -->
              <i class="fas fa-star"></i
              ><!-- /.fa fa-star -->
            </div>
            <!-- /.about-one__stars -->
            <p class="about-one__review-text">students loved us</p>
            <!-- /.about-one__review-text -->
          </div>
          <!-- /.about-one__review -->
        </div>
        <!-- /.about-one__img -->
        <p class="about-one__text">
          There are many variations of passages of lorem ipsum available, but
          the majority have
          <br />
          suffered alteration in some form, by injected humour words which don't
          look even slightly <br />
          believable. Lorem Ipsn gravida nibh vel velit auctor aliquetn auci
          elit cons.
        </p>
        <!-- /.about-one__text -->
        <nuxt-link to="/courses" class="thm-btn about-one__btn">Start Learning Now</nuxt-link>
        <!-- /.thm-btn -->
      </div>
      <!-- /.container -->
    </section>
    <section class="team-one team-one__become-teacher">
      <div class="container">
        <div class="block-title text-center">
          <h2 class="block-title__title">
            Meet the best <br />
            teachers
          </h2>
          <!-- /.block-title__title -->
        </div>
        <!-- /.block-title -->
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="team-one__single">
              <div class="team-one__image">
                <img src="/assets/images/team-1-1.jpg" alt="" />
              </div>
              <!-- /.team-one__image -->
              <div class="team-one__content">
                <h2 class="team-one__name">
                  <a href="/teacher-details">Adelaide Hunter</a>
                </h2>
                <!-- /.team-one__name -->
                <p class="team-one__designation">Teacher</p>
                <!-- /.team-one__designation -->
                <p class="team-one__text">
                  There are many varia of passages of lorem.
                </p>
                <!-- /.team-one__text -->
              </div>
              <!-- /.team-one__content -->
              <div class="team-one__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
              <!-- /.team-one__social -->
            </div>
            <!-- /.team-one__single -->
          </div>
          <!-- /.col-lg-3 -->
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="team-one__single">
              <div class="team-one__image">
                <img src="/assets/images/team-1-2.jpg" alt="" />
              </div>
              <!-- /.team-one__image -->
              <div class="team-one__content">
                <h2 class="team-one__name">
                  <a href="/teacher-details">Christina Newman</a>
                </h2>
                <!-- /.team-one__name -->
                <p class="team-one__designation">Teacher</p>
                <!-- /.team-one__designation -->
                <p class="team-one__text">
                  There are many varia of passages of lorem.
                </p>
                <!-- /.team-one__text -->
              </div>
              <!-- /.team-one__content -->
              <div class="team-one__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
              <!-- /.team-one__social -->
            </div>
            <!-- /.team-one__single -->
          </div>
          <!-- /.col-lg-3 -->
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="team-one__single">
              <div class="team-one__image">
                <img src="/assets/images/team-1-3.jpg" alt="" />
              </div>
              <!-- /.team-one__image -->
              <div class="team-one__content">
                <h2 class="team-one__name">
                  <a href="/teacher-details">Gilbert Daniels</a>
                </h2>
                <!-- /.team-one__name -->
                <p class="team-one__designation">Teacher</p>
                <!-- /.team-one__designation -->
                <p class="team-one__text">
                  There are many varia of passages of lorem.
                </p>
                <!-- /.team-one__text -->
              </div>
              <!-- /.team-one__content -->
              <div class="team-one__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
              <!-- /.team-one__social -->
            </div>
            <!-- /.team-one__single -->
          </div>
          <!-- /.col-lg-3 -->
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="team-one__single">
              <div class="team-one__image">
                <img src="/assets/images/team-1-4.jpg" alt="" />
              </div>
              <!-- /.team-one__image -->
              <div class="team-one__content">
                <h2 class="team-one__name">
                  <a href="/teacher-details">Austin Caldwell</a>
                </h2>
                <!-- /.team-one__name -->
                <p class="team-one__designation">Teacher</p>
                <!-- /.team-one__designation -->
                <p class="team-one__text">
                  There are many varia of passages of lorem.
                </p>
                <!-- /.team-one__text -->
              </div>
              <!-- /.team-one__content -->
              <div class="team-one__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
              <!-- /.team-one__social -->
            </div>
            <!-- /.team-one__single -->
          </div>
          <!-- /.col-lg-3 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <section class="video-one">
      <div class="container">
        <img
          src="/assets/images/scratch-1-1.png"
          class="video-one__scratch"
          alt=""
        />
        <div class="row">
          <div class="col-lg-6 d-flex align-items-end">
            <div class="video-one__content">
              <h2 class="video-one__title">
                Take a tour dolor <br />
                sit amet, consect <br />
                etur elit
              </h2>
              <!-- /.video-one__title -->
              <nuxt-link to="/courses" class="thm-btn video-one__btn">Learn More</nuxt-link
              ><!-- /.thm-btn -->
            </div>
            <!-- /.video-one__content -->
          </div>
          <!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <div class="video-one__img">
              <img src="/assets/images/video-1-1.jpg" alt="" />
              <a href="#" class="video-one__popup"
                ><i class="fas fa-play"></i
                ><!-- /.fas fa-play --></a
              >
            </div>
            <!-- /.video-one__img -->
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <section class="brand-one brand-one__home-three">
      <div class="container">
        <div class="brand-one__carousel owl-carousel owl-theme">
          <div class="item">
            <img src="/assets/images/brand-1-1.png" alt="" />
          </div>
          <!-- /.item -->
          <div class="item">
            <img src="/assets/images/brand-1-1.png" alt="" />
          </div>
          <!-- /.item -->
          <div class="item">
            <img src="/assets/images/brand-1-1.png" alt="" />
          </div>
          <!-- /.item -->
          <div class="item">
            <img src="/assets/images/brand-1-1.png" alt="" />
          </div>
          <!-- /.item -->
          <div class="item">
            <img src="/assets/images/brand-1-1.png" alt="" />
          </div>
          <!-- /.item -->
          <div class="item">
            <img src="/assets/images/brand-1-1.png" alt="" />
          </div>
          <!-- /.item -->
          <div class="item">
            <img src="/assets/images/brand-1-1.png" alt="" />
          </div>
          <!-- /.item -->
          <div class="item">
            <img src="/assets/images/brand-1-1.png" alt="" />
          </div>
          <!-- /.item -->
          <div class="item">
            <img src="/assets/images/brand-1-1.png" alt="" />
          </div>
          <!-- /.item -->
          <div class="item">
            <img src="/assets/images/brand-1-1.png" alt="" />
          </div>
          <!-- /.item -->
        </div>
        <!-- /.brand-one__carousel owl-carousel owl-theme -->
      </div>
      <!-- /.container -->
    </section>
    <section class="testimonials-one testimonials-one__home-three">
      <div class="container">
        <div class="block-title text-center">
          <h2 class="block-title__title">
            What our students <br />
            have to say
          </h2>
          <!-- /.block-title__title -->
        </div>
        <!-- /.block-title -->
        <!-- <div class="testimonials-one__carousel owl-carousel owl-theme"> -->
        <client-only>
          <carousel :autoplay="true" :items="2" :nav="false">
          <!-- <div class="item">
            <div class="testimonials-one__single">
              <div class="testimonials-one__qoute">
                <img src="/assets/images/qoute-1-1.png" alt="" />
              </div>
              <p class="testimonials-one__text">
                There are many variations of passages of lore ipsu available but
                the majority.
              </p>
              <img
                src="/assets/images/team-1-1.jpg"
                alt=""
                class="testimonials-one__img"
              />
              <h3 class="testimonials-one__name">Anne Hall</h3>
              <p class="testimonials-one__designation">Student</p>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-one__single">
              <div class="testimonials-one__qoute">
                <img src="/assets/images/qoute-1-1.png" alt="" />
              </div>
              <p class="testimonials-one__text">
                There are many variations of passages of lore ipsu available but
                the majority have suffered alteration in some form.
              </p>
              <img
                src="/assets/images/team-1-2.jpg"
                alt=""
                class="testimonials-one__img"
              />
              <h3 class="testimonials-one__name">Andre Obrien</h3>
              <p class="testimonials-one__designation">Student</p>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-one__single">
              <div class="testimonials-one__qoute">
                <img src="/assets/images/qoute-1-1.png" alt="" />
              </div>
              <p class="testimonials-one__text">
                There are many variations of passages of lore ipsu available but
                the majority have suffered alteration in some form, by injected
                humour.
              </p>
              <img
                src="/assets/images/team-1-3.jpg"
                alt=""
                class="testimonials-one__img"
              />
              <h3 class="testimonials-one__name">Shane Vasquez</h3>
              <p class="testimonials-one__designation">Student</p>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-one__single">
              <div class="testimonials-one__qoute">
                <img src="/assets/images/qoute-1-1.png" alt="" />
              </div>
              <p class="testimonials-one__text">
                There are many variations of passages of lore ipsu available but
                the majority.
              </p>
              <img
                src="/assets/images/team-1-4.jpg"
                alt=""
                class="testimonials-one__img"
              />
              <h3 class="testimonials-one__name">Maud Lee</h3>
              <p class="testimonials-one__designation">Student</p>
            </div>
          </div> -->
            <div class="review-item">
              <div class="parents-info">
                <div class="avatar">
                  <picture>
                    <img
                      alt="AllRight.com"
                      src="~/static/img/home/review_image_0.jpg"
                    />
                  </picture>
                </div>
              </div>
              <div class="description">
                <div class="reviewer-name">Vladislav and Valentina</div>
                <p class="reviewer-description">
                  The child (6 years old) really likes it. We attend both
                  individual lessons and group conversation clubs (3-6 children
                  at a time). Lessons in a fun way. Highly recommend.
                </p>
              </div>
            </div>
            <div class="review-item">
              <div class="parents-info">
                <div class="avatar">
                  <picture>
                    <img
                      alt="AllRight.com"
                      src="~/static/img/home/review_image_1.jpg"
                    />
                  </picture>
                </div>
              </div>
              <div class="description">
                <div class="reviewer-name">
                  Gheorghe Madalina and Gheorghe Ilinca
                </div>
                <p class="reviewer-description">
                  I am very happy with this school. My little girl had a
                  &quot;test&quot; lesson, and since then every day she asks me
                  if she has English, because she really likes it. And she is
                  very happy with the teacher and the discounts are pleasing.
                </p>
              </div>
            </div>
            <div class="review-item">
              <div class="parents-info">
                <div class="avatar">
                  <picture>
                    <img
                      alt="AllRight.com"
                      src="~/static/img/home/review_image_2.jpg"
                    />
                  </picture>
                </div>
              </div>
              <div class="description">
                <div class="reviewer-name">Cyril and Victoria</div>
                <p class="reviewer-description">
                  Good day to all. I really like English for children in your
                  school. The child is looking forward to the lessons. We like
                  the teacher Julia so much that I am waiting for the lesson
                  with the child :)))
                </p>
              </div>
            </div>
            <div class="review-item">
              <div class="parents-info">
                <div class="avatar">
                  <picture>
                    <img
                      alt="AllRight.com"
                      src="~/static/img/home/review_image_3.jpg"
                    />
                  </picture>
                </div>
              </div>
              <div class="description">
                <div class="reviewer-name">Raluca and Sara</div>
                <p class="reviewer-description">
                  My 4 year old girl was worried. A very kind and patient
                  teacher, and the lessons are so exciting that the child wants
                  the lesson to come as soon as possible
                </p>
              </div>
            </div>
            <div class="review-item">
              <div class="parents-info">
                <div class="avatar">
                  <picture>
                    <img
                      alt="AllRight.com"
                      src="~/static/img/home/review_image_4.jpg"
                    />
                  </picture>
                </div>
              </div>
              <div class="description">
                <div class="reviewer-name">Maja i Paulina</div>
                <p class="reviewer-description">
                  Lessons with teacher Kamila are interesting, fun, and we
                  really enjoy learning English with her. The teacher helps and
                  does not mind playing educational games
                </p>
              </div>
            </div>
            <div class="review-item">
              <div class="parents-info">
                <div class="avatar">
                  <picture>
                    <img
                      alt="AllRight.com"
                      src="~/static/img/home/review_image_5.jpg"
                    />
                  </picture>
                </div>
              </div>
              <div class="description">
                <div class="reviewer-name">Bartosz i Joanna</div>
                <p class="reviewer-description">
                  I recommend studying at All Right School :) My son love
                  lessons with his teacher and literally waiting to the next
                  one. I see his envolvement and progress. Support always helps
                  if any question appears&amp; Recommend
                </p>
              </div>
            </div>
          </carousel>
        </client-only>
        <!-- /.testimonials-one__carousel owl-carousel owl-theme -->
      </div>
      <!-- /.container -->
    </section>
    <section
      class="cta-one cta-one__home-one py-5 mb-0"
    >
      <div class="container">
        <h2 class="cta-one__title">
          Neptune School <br />
          mission is to extend <br />
          your knowledge base
        </h2>
        <!-- /.cta-one__title -->
        <div class="cta-one__btn-block">
          <nuxt-link to="/courses" class="thm-btn cta-one__btn">Learn More</nuxt-link
          ><!-- /.thm-btn -->
        </div>
        <!-- /.cta-one__btn-block -->
      </div>
      <!-- /.container -->
    </section>
  </div>
</template>

<script>
export default {
  auth: false,
  layout: "AppLayout",
  name: "AboutOne",
};
</script>

<style scoped></style>
