<template>
  <div>
    <section class="become-teacher mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="become-teacher__content">
              <h2 class="become-teacher__title">Teaching benefits</h2>
              <!-- /.become-teacher__title -->
              <p class="become-teacher__text">
                Lorem Ipsum is simply dummy text of the printing and type
                industry. Lorem Ipsum has been the standard dummy text ever
                since the when an unknown was popularised. It has survived not
                only five centuries, but also the leap into electronic
                typesetting remaining unchanged.
              </p>
              <!-- /.become-teacher__text -->
              <h2 class="become-teacher__subtitle">Health and Pension</h2>
              <!-- /.become-teacher__subtitle -->
              <p class="become-teacher__text">
                Lorem Ipsum has been the standard dummy text ever since the when
                an unknown was popularised. It has survived not only five
                centuries. but also the leap into electronic typesetting
                remaining unchanged.
              </p>
              <!-- /.become-teacher__text -->
              <h2 class="become-teacher__subtitle">Vacation Time</h2>
              <!-- /.become-teacher__subtitle -->
              <p class="become-teacher__text">
                Lorem Ipsum has been the standard dummy text ever since the when
                an unknown was popularised. It has survived not only five
                centuries. but also the leap into electronic typesetting
                remaining unchanged.
              </p>
              <!-- /.become-teacher__text -->
            </div>
            <!-- /.become-teacher__content -->
          </div>
          <!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <div class="become-teacher__form">
              <div class="become-teacher__form-top">
                <h2 class="become-teacher__form-title">Apply for teaching</h2>
                <!-- /.become-teacher__form-title -->
              </div>
              <!-- /.become-teacher__top -->
              <form
                action="#"
                class="become-teacher__form-content contact-form-validated"
                novalidate="novalidate"
              >
                <input type="text" placeholder="Your Name" name="name" />
                <input type="text" placeholder="Email Address" name="email" />
                <input type="text" placeholder="Phone Number" name="phone" />
                <input type="text" placeholder="Comment" name="message" />
                <button type="submit" class="thm-btn become-teacher__form-btn">
                  Apply For It
                </button>
              </form>
              <!-- /.become-teacher__form-content -->
              <div class="result text-center"></div>
              <!-- /.result -->
            </div>
            <!-- /.become-teacher__form -->
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <section class="team-one team-one__become-teacher">
      <div class="container">
        <div class="block-title text-center">
          <h2 class="block-title__title">
            Meet the best <br />
            teachers
          </h2>
          <!-- /.block-title__title -->
        </div>
        <!-- /.block-title -->
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="team-one__single">
              <div class="team-one__image">
                <img src="/assets/images/team-1-1.jpg" alt="" />
              </div>
              <!-- /.team-one__image -->
              <div class="team-one__content">
                <h2 class="team-one__name">
                  <a href="/teacher-details">Adelaide Hunter</a>
                </h2>
                <!-- /.team-one__name -->
                <p class="team-one__designation">Teacher</p>
                <!-- /.team-one__designation -->
                <p class="team-one__text">
                  There are many varia of passages of lorem.
                </p>
                <!-- /.team-one__text -->
              </div>
              <!-- /.team-one__content -->
              <div class="team-one__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
              <!-- /.team-one__social -->
            </div>
            <!-- /.team-one__single -->
          </div>
          <!-- /.col-lg-3 -->
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="team-one__single">
              <div class="team-one__image">
                <img src="/assets/images/team-1-2.jpg" alt="" />
              </div>
              <!-- /.team-one__image -->
              <div class="team-one__content">
                <h2 class="team-one__name">
                  <a href="/teacher-details">Christina Newman</a>
                </h2>
                <!-- /.team-one__name -->
                <p class="team-one__designation">Teacher</p>
                <!-- /.team-one__designation -->
                <p class="team-one__text">
                  There are many varia of passages of lorem.
                </p>
                <!-- /.team-one__text -->
              </div>
              <!-- /.team-one__content -->
              <div class="team-one__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
              <!-- /.team-one__social -->
            </div>
            <!-- /.team-one__single -->
          </div>
          <!-- /.col-lg-3 -->
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="team-one__single">
              <div class="team-one__image">
                <img src="/assets/images/team-1-3.jpg" alt="" />
              </div>
              <!-- /.team-one__image -->
              <div class="team-one__content">
                <h2 class="team-one__name">
                  <a href="/teacher-details">Gilbert Daniels</a>
                </h2>
                <!-- /.team-one__name -->
                <p class="team-one__designation">Teacher</p>
                <!-- /.team-one__designation -->
                <p class="team-one__text">
                  There are many varia of passages of lorem.
                </p>
                <!-- /.team-one__text -->
              </div>
              <!-- /.team-one__content -->
              <div class="team-one__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
              <!-- /.team-one__social -->
            </div>
            <!-- /.team-one__single -->
          </div>
          <!-- /.col-lg-3 -->
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="team-one__single">
              <div class="team-one__image">
                <img src="/assets/images/team-1-4.jpg" alt="" />
              </div>
              <!-- /.team-one__image -->
              <div class="team-one__content">
                <h2 class="team-one__name">
                  <a href="/teacher-details">Austin Caldwell</a>
                </h2>
                <!-- /.team-one__name -->
                <p class="team-one__designation">Teacher</p>
                <!-- /.team-one__designation -->
                <p class="team-one__text">
                  There are many varia of passages of lorem.
                </p>
                <!-- /.team-one__text -->
              </div>
              <!-- /.team-one__content -->
              <div class="team-one__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
              <!-- /.team-one__social -->
            </div>
            <!-- /.team-one__single -->
          </div>
          <!-- /.col-lg-3 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
  </div>
</template>

<script>
export default {
  auth: false,
  layout: "AppLayout",
  name: "BecomeTeacher",
};
</script>

<style scoped></style>
