<template>
<div class="main" style="background-image: url('/img/default.jpg')">
    <!-- <ul class="back nav navbar-nav ml-3">
        <li class="nav-item">
            <a class="nav-link" @click.prevent="goToPrev()">
                <b-icon icon="arrow-left"></b-icon> Back
            </a>
        </li>
    </ul> -->
    <div class="cover black" data-color="black"></div>
    <div class="container">
        <h1 class="logo cursive">
            Coming Soon
        </h1>
        <div class="content">
            <h4 class="motto">
                We are working hard to finish this feature soon! 
                <br />
                <small>You can follow us on social media for updates.</small>
            </h4>
            <div class="subscribe">
                <h5 class="info-text">
                    Join the waiting list for the beta. We keep you posted. 
                </h5>
                <div class="row justify-content-center">
                    <form class="form-inline" role="form">
                        <div class="form-group mr-2">
                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                        <input type="email" class="w-100 form-control transparent" placeholder="Your email here...">
                        </div>
                        <button type="submit" class="btn btn-danger btn-fill">Notify Me</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
 </div>
</template>

<script>
export default {
    name: 'ComingSoon',
    data () {
        return {
            title: 'Coming Soon'
        }
    },
    methods: {
        onClick () {
            this.$router.push('/')
        },
        goToPrev() {
            this.$router.go(-1);
        },
    },
    head() {
        return {
            link: [
                { rel: 'stylesheet', type: 'text/css', href: '/css/comimg-soon.css' },
            ],
        };
    }
}
</script>

<style scoped>
    .bgimg {
        background-image: url("/img/forestbridge.jpg");
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
        }

        .topleft {
        position: absolute;
        top: 0;
        left: 16px;
        }

        .bottomleft {
        position: absolute;
        bottom: 0;
        left: 16px;
        }

        .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        }

        hr {
        margin: auto;
        width: 40%;
        }
</style>