<template>
  <div class="mt-5">
    <section class="contact-info-one">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div
              class="contact-info-one__single wow fadeInDown animated"
              data-wow-duration="1500ms"
              style="
                visibility: visible;
                animation-duration: 1500ms;
                animation-name: fadeInDown;
              "
            >
              <div class="contact-info-one__icon">
                <i class="kipso-icon-manager"></i
                ><!-- /.kipso-icon-manager -->
              </div>
              <!-- /.contact-info-one__icon -->
              <h2 class="contact-info-one__title">About Us</h2>
              <!-- /.contact-info-one__title -->
              <p class="contact-info-one__text">
               Neptune School is an online English learning platform with many free courses and many free tests to help students revise their knowledge after lessons!
              </p>
              <!-- /.contact-info-one__text -->
            </div>
            <!-- /.contact-info-one__single -->
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div
              class="contact-info-one__single wow fadeInUp animated"
              data-wow-duration="1500ms"
              style="
                visibility: visible;
                animation-duration: 1500ms;
                animation-name: fadeInUp;
              "
            >
              <div class="contact-info-one__icon">
                <i class="kipso-icon-placeholder"></i>
                <!-- /.kipso-icon-manager -->
              </div>
              <!-- /.contact-info-one__icon -->
              <h2 class="contact-info-one__title">Our Address</h2>
              <!-- /.contact-info-one__title -->
              <p class="contact-info-one__text">
                Hue City, <br />
                Viet Nam <br />
                &nbsp;
              </p>
              <!-- /.contact-info-one__text -->
            </div>
            <!-- /.contact-info-one__single -->
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div
              class="contact-info-one__single wow fadeInDown animated"
              data-wow-duration="1500ms"
              style="
                visibility: visible;
                animation-duration: 1500ms;
                animation-name: fadeInDown;
              "
            >
              <div class="contact-info-one__icon">
                <i class="kipso-icon-contact"></i
                ><!-- /.kipso-icon-manager -->
              </div>
              <!-- /.contact-info-one__icon -->
              <h2 class="contact-info-one__title">Contact Info</h2>
              <!-- /.contact-info-one__title -->
              <p class="contact-info-one__text">
                eolblogteam@gmail.com <br />
                +8493 5127 614 <br />
                &nbsp;
              </p>
              <!-- /.contact-info-one__text -->
            </div>
            <!-- /.contact-info-one__single -->
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <section class="contact-one">
      <div class="container">
        <h2 class="contact-one__title text-center">
          Get in touch <br />
          with us
        </h2>
        <!-- /.contact-one__title -->
        <form
          role="form"
          @submit.prevent="handleSubmit"
          @keydown.enter="handleSubmit"
          class="contact-one__form contact-form-validated"
          novalidate="novalidate"
        >
          <div class="row low-gutters">
            <div class="col-lg-6">
              <input
                v-model="form.firstname"
                type="text"
                name="firstname"
                placeholder="First Name"
              />
              <validation-error :errors="apiValidationErrors.firstname" />
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
              <input
                v-model="form.lastname"
                type="text"
                placeholder="Last Name"
                name="lastname"
              />
              <validation-error :errors="apiValidationErrors.lastname" />
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
              <input
                v-model="form.phone"
                type="text"
                name="phone"
                placeholder="Your Phone"
              />
              <validation-error :errors="apiValidationErrors.phone" />
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
              <input
                v-model="form.email"
                type="text"
                placeholder="Email Address"
                name="email"
              />
              <validation-error :errors="apiValidationErrors.email" />
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-12">
              <textarea
                v-model="form.message"
                placeholder="Write Message"
                name="message"
              ></textarea>
              <validation-error :errors="apiValidationErrors.message" />
              <div class="text-center">
                <base-button
                  :loading="loading"
                  @click.prevent="handleSubmit"
                  class="contact-one__btn thm-btn btn-primary"
                  >Submit Comment</base-button
                >
              </div>
              <!-- /.text-center -->
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
        </form>
        <!-- /.contact-one__form -->
        <div class="result text-center"></div>
        <!-- /.result -->
      </div>
      <!-- /.container -->
    </section>

    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd" class="google-map__contact" allowfullscreen=""></iframe> -->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d450448.9188208182!2d107.48094667956275!3d16.31992722767962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c792252a13%3A0xfc14e3a044436487!2zxJDDoCBO4bq1bmcsIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1645464606531!5m2!1svi!2s"
      class="google-map__contact"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</template>

<script>
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";
export default {
  auth: false,
  layout: "AppLayout",
  name: "Contact",
  mixins: [formMixin],
  data() {
    return {
      loading: false,
      form: {
        firstname: "",
        lastname: "",
        phone: "",
        email: "",
        message: "",
      },
    };
  },
  methods: {
    async handleSubmit() {
      try {
        this.unsetApiValidationErrors();
        this.loading = true;
        await this.$axios.post("/contact", this.form);
        this.loading = false;
        this.$notify({
        //   title: "Success",
          message: "Thank you for your message. We will get back to you soon!",
          type: "success",
        });
      } catch (error) {
        this.loading = false;
        this.setApiValidation(error.response.data.data);
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
      }
    },
  },
  components: {
    ValidationError,
  },
};
</script>

<style scoped></style>
