<template>
  <div>
    <section class="first-screen edit-bg">
      <div class="english-for-children tab active">
        <div class="first-screen__content">
          <h1 class="main-title">
            English online for children from 4 to 12 years
          </h1>
          <ul class="description-list">
            <li class="description-list__item">
              <span class="check">
                <svg width="10" height="9" class="check-icon">
                  <use xlink:href="#check-icon"></use>
                </svg>
              </span>
              Lessons that children like
            </li>
            <li class="description-list__item">
              <span class="check">
                <svg width="10" height="9" class="check-icon">
                  <use xlink:href="#check-icon"></use>
                </svg>
              </span>
              Guaranteed results
            </li>
            <li class="description-list__item">
              <span class="check">
                <svg width="10" height="9" class="check-icon">
                  <use xlink:href="#check-icon"></use>
                </svg>
              </span>
              Peace of mind for parents
            </li>
          </ul>
          <nuxt-link class="btn btn-primary orange track-click" id="book-lesson" to="/courses">
            Learn more</nuxt-link
          >
        </div>
        <div class="first-screen__img">
          <picture>
            <source
              srcset="~/static/img/home/first-section-global.webp"
              type="image/webp"
              width="600"
              height="425"
            />
            <img
              src="~/static/img/home/first-section-global.png"
              alt=""
              width="600"
              height="425"
            />
          </picture>
        </div>
        <div class="first-screen__decor-bus">
          <img src="~/static/img/home/bus.png" alt="" width="106" height="81" />
        </div>
        <div class="first-screen__decor-flag">
          <img
            src="~/static/img/home//flag.png"
            alt=""
            width="103"
            height="74"
          />
        </div>
      </div>
      <div class="english-for-adult tab">
        <div class="first-screen__content">
          <h1 class="main-title">
            Our partner EnglishDom provides teaching children from 12 years old
            and adults!
          </h1>
          <ul class="description-list">
            <li class="description-list__item">
              <span class="check">
                <svg width="10" height="9" class="check-icon">
                  <use xlink:href="#check-icon"></use>
                </svg>
              </span>
              <span class="description-list__item-content"
                >Study with an innovative digital textbook</span
              >
            </li>
            <li class="description-list__item">
              <span class="check">
                <svg width="10" height="9" class="check-icon">
                  <use xlink:href="#check-icon"></use>
                </svg>
              </span>
              <span class="description-list__item-content">
                A personal tutor takes care of your progress</span
              >
            </li>
            <li class="description-list__item">
              <span class="check">
                <svg width="10" height="9" class="check-icon">
                  <use xlink:href="#check-icon"></use>
                </svg>
              </span>
              <span class="description-list__item-content">
                Learn English online - wherever and whenever it is convenient
                for you
              </span>
            </li>
          </ul>
          <a
            class="btn btn-primary orange english-dom-btn track-click"
            href="https://www.englishdom.com/?utm_source=allright&amp;utm_medium=referral&amp;utm_campaign=allright"
            target="_blank"
          >
            Learn more</a
          >
        </div>
        <div class="first-screen__img">
          <picture>
            <source
              type="image/webp"
              srcset="~/static/img/home//ed.webp"
              loading="lazy"
              width="425"
              height="411"
            />
            <!-- <img
              alt="AllRight.com"
              src="~/static/img/home/ed.png"
              loading="lazy"
              width="425"
              height="411"
            /> -->
          </picture>
        </div>
      </div>
    </section>
    <section class="you-get">
      <h2 class="section-title">You get</h2>
      <div class="you-get__list">
        <div class="you-get__list-item">
          <div class="you-get__list-item-content">
            <h3 class="title-description">Online learning platform</h3>
            <p class="description">
              A classroom designed specifically for children helps the teacher
              to quickly find a common ground with the child. Themed games,
              homework assignments, and tasks based on interests involve the
              child in the learning process from the very first minutes.
            </p>
          </div>
          <picture>
            <source
              srcset="~/static/img/home/you-get-1.webp"
              type="image/webp"
              width="300"
              height="225"
            />
            <img
              src="~/static/img/home/you-get-1.webp"
              alt="Как это работает?"
              width="300"
              height="225"
            />
          </picture>
        </div>
        <div class="you-get__list-item">
          <div class="you-get__list-item-content">
            <h3 class="title-description">Variety of courses</h3>
            <p class="description">
              We have programs for all levels and interests, for example
              Minecraft, speaking and many others.
            </p>
          </div>
          <picture>
            <source
              srcset="~/static/img/home/you-get-2.webp"
              type="image/webp"
              width="300"
              height="225"
            />
            <img
              src="~/static/img/home/you-get-2.jpg"
              alt="Как это работает?"
              width="300"
              height="225"
            />
          </picture>
        </div>
        <div class="you-get__list-item">
          <div class="you-get__list-item-content">
            <h3 class="title-description">Individual approach</h3>
            <p class="description">
              You study individually. Thanks to this, the child receives 100% of
              the attention and does activities based on their interests.
            </p>
          </div>
          <picture>
            <source
              srcset="~/static/img/home/you-get-3.webp"
              type="image/webp"
              width="300"
              height="225"
            />
            <img
              src="~/static/img/home/you-get-3.jpg"
              alt="Как это работает?"
              width="300"
              height="225"
            />
          </picture>
        </div>
        <div class="you-get__list-item">
          <div class="you-get__list-item-content">
            <h3 class="title-description">The All Right app with Charlie</h3>
            <p class="description">
              This mobile game helps your child to learn pronunciation: the
              artificial intelligence of the school - our funny and friendly
              little fox Charlie - assesses progress and monitors the dynamics
              of learning.
            </p>
          </div>
          <picture>
            <source
              srcset="~/static/img/home/you-get-4.webp"
              type="image/webp"
              width="300"
              height="225"
            />
            <img
              src="~/static/img/home/you-get-4.jpg"
              alt="Как это работает?"
              width="300"
              height="225"
            />
          </picture>
        </div>
        <div class="you-get__list-item">
          <div class="you-get__list-item-content">
            <h3 class="title-description">Speaking clubs</h3>
            <p class="description">
              Special group lessons with peers immerse the child in an
              English-speaking environment and help develop conversation skills.
            </p>
          </div>
          <picture>
            <source
              srcset="~/static/img/home/you-get-5.webp"
              type="image/webp"
              width="300"
              height="225"
            />
            <img
              src="~/static/img/home/you-get-5.jpg"
              alt="Как это работает?"
              width="300"
              height="225"
            />
          </picture>
        </div>
      </div>
    </section>
    <section class="prices edit-bg">
      <div class="prices__description">
        <div class="prices__description-img">
          <picture class="">
            <source
              type="image/webp"
              srcset="~/static/img/home/prices-description-img.webp"
            />
            <img
              alt="AllRight.com"
              src="~/static/img/home/prices-description-img.webp"
            />
          </picture>
        </div>
        <h3 class="title-description title-description--white">
          Lessons with certified teachers
        </h3>
        <p class="description description--white">
          Lessons are taught by certified teachers with experience in teaching
          children. All teachers are rigorously selected. Our methodology is
          built around the student: the topics should be interesting, and the
          lessons should be engaging.
        </p>
      </div>
      <div class="prices__list">
        <div class="prices__list-item">
          <div>
            <h4 class="title-block">Study with fun</h4>
            <p class="title-description title-description--m">
              97% of our students recommend us
            </p>
          </div>
          <ul class="prices__list-description">
            <li>
              <span class="check-icon">
                <i class="ni ni-check-bold check-icon"></i>
              </span>
              Lessons are conducted in a playful way
            </li>
            <li>
              <span>
                <i class="ni ni-check-bold check-icon"></i>
              </span>
              Classes at a convenient time and from anywhere
            </li>
            <li>
              <span>
                <i class="ni ni-check-bold check-icon"></i>
              </span>
              Individual approach to your child
            </li>
          </ul>
          <div class="prices__list-item-footer">
            <h4 class="title-block">from $5 for lesson</h4>
            <nuxt-link
              to="/courses"
              class="btn btn-primary orange big-bt price-detail track-click"
              >Try for free</nuxt-link
            >
          </div>
        </div>
      </div>
    </section>
    <section class="why-allRight">
      <h2 class="section-title">Why Allright?</h2>
      <div class="why-allRight__list">
        <div class="why-allRight__list-item">
          <div class="why-allRight__list-item-img">
            <picture>
              <source
                type="image/webp"
                srcset="~/static/img/home/charlie_01.webp"
              />
              <img alt="AllRight.com" src="~/static/img/home/charlie_01.jpg" />
            </picture>
          </div>
          <h4 class="title-block">One-on-one lessons online</h4>
          <p class="title-description--m">
            No need to waste your time to get to anywhere and to wait in traffic
            jams. You choose a teacher and a schedule by yourself.
          </p>
        </div>
        <div class="why-allRight__list-item">
          <div class="why-allRight__list-item-img">
            <picture>
              <source
                type="image/webp"
                srcset="~/static/img/home/charlie_02.webp"
              />
              <img alt="AllRight.com" src="~/static/img/home/charlie_02.jpg" />
            </picture>
          </div>
          <h4 class="title-block">Interesting classes</h4>
          <p class="title-description--m">
            At our lessons, we play LEGO, discuss MINECRAFT, read HARRY POTTER.
            We choose topics according to the child's interests.
          </p>
        </div>
        <div class="why-allRight__list-item">
          <div class="why-allRight__list-item-img">
            <picture>
              <source
                type="image/webp"
                srcset="~/static/img/home/charlie_03.webp"
              />
              <img alt="AllRight.com" src="~/static/img/home/charlie_03.jpg" />
            </picture>
          </div>
          <h4 class="title-block">Certified teachers</h4>
          <p class="title-description--m">
            All teachers have vast experience of working with children. They
            undergo a rigorous competitive selection.
          </p>
        </div>
        <div class="why-allRight__list-item">
          <div class="why-allRight__list-item-img">
            <picture>
              <source
                type="image/webp"
                srcset="~/static/img/home/charlie_04.webp"
              />
              <img alt="AllRight.com" src="~/static/img/home/charlie_04.jpg" />
            </picture>
          </div>
          <h4 class="title-block">Conversational practice</h4>
          <p class="title-description--m">
            All students of our school are free to attend the speaking club to
            practice spoken English in small groups.
          </p>
        </div>
      </div>
    </section>
    <section class="reviews">
      <h2 class="section-title">Reviews</h2>
      <div class="review-list">
        <client-only>
          <carousel :autoplay="true" :items="2" :nav="false">
            <div class="review-item">
              <div class="parents-info">
                <div class="avatar">
                  <picture>
                    <img
                      alt="AllRight.com"
                      src="~/static/img/home/review_image_0.jpg"
                    />
                  </picture>
                </div>
              </div>
              <div class="description">
                <div class="reviewer-name">Vladislav and Valentina</div>
                <p class="reviewer-description">
                  The child (6 years old) really likes it. We attend both
                  individual lessons and group conversation clubs (3-6 children
                  at a time). Lessons in a fun way. Highly recommend.
                </p>
              </div>
            </div>
            <div class="review-item">
              <div class="parents-info">
                <div class="avatar">
                  <picture>
                    <img
                      alt="AllRight.com"
                      src="~/static/img/home/review_image_1.jpg"
                    />
                  </picture>
                </div>
              </div>
              <div class="description">
                <div class="reviewer-name">
                  Gheorghe Madalina and Gheorghe Ilinca
                </div>
                <p class="reviewer-description">
                  I am very happy with this school. My little girl had a
                  &quot;test&quot; lesson, and since then every day she asks me
                  if she has English, because she really likes it. And she is
                  very happy with the teacher and the discounts are pleasing.
                </p>
              </div>
            </div>
            <div class="review-item">
              <div class="parents-info">
                <div class="avatar">
                  <picture>
                    <img
                      alt="AllRight.com"
                      src="~/static/img/home/review_image_2.jpg"
                    />
                  </picture>
                </div>
              </div>
              <div class="description">
                <div class="reviewer-name">Cyril and Victoria</div>
                <p class="reviewer-description">
                  Good day to all. I really like English for children in your
                  school. The child is looking forward to the lessons. We like
                  the teacher Julia so much that I am waiting for the lesson
                  with the child :)))
                </p>
              </div>
            </div>
            <div class="review-item">
              <div class="parents-info">
                <div class="avatar">
                  <picture>
                    <img
                      alt="AllRight.com"
                      src="~/static/img/home/review_image_3.jpg"
                    />
                  </picture>
                </div>
              </div>
              <div class="description">
                <div class="reviewer-name">Raluca and Sara</div>
                <p class="reviewer-description">
                  My 4 year old girl was worried. A very kind and patient
                  teacher, and the lessons are so exciting that the child wants
                  the lesson to come as soon as possible
                </p>
              </div>
            </div>
            <div class="review-item">
              <div class="parents-info">
                <div class="avatar">
                  <picture>
                    <img
                      alt="AllRight.com"
                      src="~/static/img/home/review_image_4.jpg"
                    />
                  </picture>
                </div>
              </div>
              <div class="description">
                <div class="reviewer-name">Maja i Paulina</div>
                <p class="reviewer-description">
                  Lessons with teacher Kamila are interesting, fun, and we
                  really enjoy learning English with her. The teacher helps and
                  does not mind playing educational games
                </p>
              </div>
            </div>
            <div class="review-item">
              <div class="parents-info">
                <div class="avatar">
                  <picture>
                    <img
                      alt="AllRight.com"
                      src="~/static/img/home/review_image_5.jpg"
                    />
                  </picture>
                </div>
              </div>
              <div class="description">
                <div class="reviewer-name">Bartosz i Joanna</div>
                <p class="reviewer-description">
                  I recommend studying at All Right School :) My son love
                  lessons with his teacher and literally waiting to the next
                  one. I see his envolvement and progress. Support always helps
                  if any question appears&amp; Recommend
                </p>
              </div>
            </div>
          </carousel>
        </client-only>
      </div>
    </section>
    <section class="book-form-trial-lesson edit-bg">
      <div class="book-form-trial-lesson__content">
        <h4 class="title-section title-section--white">
          At your free trial lesson you can
        </h4>
        <ul class="list-description">
          <li class="list-description__item">Get to know the teacher better</li>
          <li class="list-description__item">
            Get an assessment of the child's level of knowledge and further
            recommendations
          </li>
          <li class="list-description__item">
            Get an online learning experience
          </li>
        </ul>
        <picture>
          <source
            type="image/webp"
            srcset="~/static/img/home/form-decor.webp"
            loading="lazy"
            width="306"
            height="117"
          />
          <img
            alt="AllRight.com"
            src="~/static/img/home/form-decor.png"
            loading="lazy"
            width="306"
            height="117"
          />
        </picture>
      </div>
      <div class="book-form-container">
        <h5 class="title-form">Book a free lesson</h5>
        <form class="book-lesson book-form" id="book-form-1">
          <div class="field-wrapper">
            <input
              name="name"
              class="name"
              placeholder="Your name"
              type="text"
            />
          </div>
          <div class="field-wrapper">
            <input
              name="tel"
              class="phone telephone iti"
              required
              placeholder="Your phone number"
            />
            <div class="phone__is-not-valid" id="error-tel-1"></div>
          </div>
          <div class="field-wrapper">
            <input
              name="email"
              type="text"
              class="email"
              required
              placeholder="Your email"
            />
            <div class="email__is-not-valid">Please, enter valid email</div>
          </div>
          <div class="bottom-block">
            <input
              type="submit"
              class="btn btn-primary orange book-lesson-form"
              value="Learn more"
            />
          </div>
        </form>
      </div>
    </section>
  </div>
</template>
<script>
import { Tooltip } from "element-ui";
export default {
  auth: false,
  layout: "AppLayout",
  name: "home-page",
  components: {
    [Tooltip.name]: Tooltip,
  },
  computed: {
    errorCode() {
      return this.$route.query.error;
    },
    pageName() {
      return this.$route.query.page;
    }
  },
  mounted() {
    if ( this.errorCode == '403') {
      this.$notify({
        type: "danger",
        message: 'You are not authorized to access ' + this.pageName,
      });
      this.$router.replace('/');
    }
  }
};
</script>
