<template>
  <div class="levels-landing-page ">
    <section class="first-section">
      <div class="text_wrapper">
        <h2 class="title-first-section">The learning process</h2>
        <p class="description-title">
          We don't make children study. We make them fall in love with English.
        </p>
      </div>
      <div class="wave-first-screen__wrapper">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 1920 227"
          fill="none"
        >
          <g clip-path="url(#clip0)">
            <g style="mix-blend-mode:multiply">
              <path
                d="M1144 192C429 51.5 -23 192.25 -23 192.25L-23 -515H1940.5V0.5C1940.5 0.5 1859 332.5 1144 192Z"
                fill="#FCF8FD"
              ></path>
            </g>
            <g style="mix-blend-mode:multiply">
              <path
                d="M1072.5 210C658.5 210 -23 92.25 -23 92.25V-515H1940.5V-19.5C1940.5 -19.5 1831.5 210 1072.5 210Z"
                fill="#F9F1FB"
              ></path>
            </g>
          </g>
          <defs>
            <clippath id="clip0">
              <rect width="1920" height="227" fill="white"></rect>
            </clippath>
          </defs>
        </svg>
      </div>
    </section>
    <section class="benefits-list">
      <div class="benefits-list__item">
        <div id="ember20512" class="ember-view">
          <picture>
            <source type="image/webp" />
            <img alt="AllRight.com" src="/img/levels/benefits-1.webp" />
          </picture>
        </div>
        <p class="size-xl"><b>Proven methodology</b></p>
        <p class="size-small">
          Cambridge communicative methodology - more than 50% of the lesson
          students speak in English
        </p>
      </div>
      <div class="benefits-list__item">
        <div id="ember20513" class="ember-view">
          <picture>
            <source type="image/webp" />
            <img alt="AllRight.com" src="/img/levels/benefits-2.webp" />
          </picture>
        </div>
        <p class="size-xl"><b>Experienced teachers</b></p>
        <p class="size-small">
          Many years of experience working with children - they know how to
          establish contact and get children interested in learning
        </p>
      </div>
      <div class="benefits-list__item">
        <div id="ember20514" class="ember-view">
          <picture>
            <source type="image/webp" />
            <img alt="AllRight.com" src="/img/levels/benefits-3.webp" />
          </picture>
        </div>
        <p class="size-xl"><b>An interactive platform</b></p>
        <p class="size-small">
          Thematic games, cartoons and activities from Charlie engage the child
          right from the start
        </p>
      </div>
      <div class="benefits-list__item">
        <div id="ember20515" class="ember-view">
          <picture>
            <source type="image/webp" />
            <img alt="AllRight.com" src="/img/levels/benefits-4.webp" />
          </picture>
        </div>
        <p class="size-xl"><b>A complex approach</b></p>
        <p class="size-small">
          Children learn grammar, build vocabulary and improve speaking skills
        </p>
      </div>
    </section>
    <section class="book-lesson">
      <h2 class="title-page-xl">
        4 levels of English from zero to confident communication with native
        speakers in just 2 years
      </h2>
      <nuxt-link
        to="/student/signup"
        id="ember20516"
        class="btn btn-primary orange ember-view"
      >
        Sign up for a trial lesson
      </nuxt-link>
    </section>
    <section class="levels-step">
      <div style="display: none">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="12"
          viewbox="0 0 13 12"
          id="check-icon"
        >
          <path
            d="M6.15574 10.8965L6.15584 10.8965L6.162 10.887L11.7172 2.3089L11.7183 2.30718C11.8774 2.0593 11.9748 1.8023 11.9748 1.52148C11.9748 1.19106 11.855 0.88202 11.6228 0.655769C11.3915 0.430528 11.081 0.318359 10.7538 0.318359C10.5455 0.318359 10.3344 0.357144 10.1349 0.475266C9.94108 0.590003 9.80144 0.754242 9.68922 0.928563L9.68772 0.9309L4.94275 8.39192L2.75107 5.60366C2.75072 5.60322 2.75038 5.60277 2.75003 5.60233C2.631 5.44919 2.48839 5.31337 2.30662 5.21929C2.1215 5.12346 1.9286 5.08789 1.7355 5.08789C1.04884 5.08789 0.502686 5.59582 0.502686 6.29688C0.502686 6.61313 0.620871 6.89855 0.835757 7.15429L3.89261 10.934C3.89281 10.9342 3.89302 10.9345 3.89323 10.9348C4.0269 11.1012 4.18455 11.2474 4.38161 11.3494C4.58215 11.4531 4.79467 11.4961 5.01541 11.4961C5.49224 11.4961 5.89018 11.2868 6.15574 10.8965Z"
          ></path>
        </svg>
      </div>
      <div class="levels-step__item mint-bg">
        <div class="levels-step__item-img">
          <p class="level-name">Сharlie Preschool</p>
          <div id="ember20517" class="ember-view">
            <picture>
              <source type="image/webp" />
              <img
                alt="AllRight.com"
                src="/img/levels/step-charlie_01.webp"
              />
            </picture>
          </div>
        </div>
        <div class="levels-step__item-content">
          <div class="levels-step__item-content-header">
            <ul class="list-duration">
              <li>20 lessons</li>
              <li>25 minutes</li>
              <li>2,5 months</li>
            </ul>
          </div>
          <p class="size-xl"><b>After completing the course, your child:</b></p>
          <ul class="list-after-lesson">
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Understands spoken English, can speak in simple sentences and talk
              about themselves
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Introduces himself, tells about himself, says goodbye
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Counts to 10, knows colors and names body parts
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Knows over 60 new words and expressions in English
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Can talk about a favorite toy, animal and food
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Uses simple sentences
            </li>
          </ul>
        </div>
      </div>
      <div class="levels-step__item blue-bg">
        <div class="levels-step__item-img">
          <p class="level-name">Charlie Starter 1</p>
          <div id="ember20518" class="ember-view">
            <picture>
              <source type="image/webp" />
              <img
                alt="AllRight.com"
                src="/img/levels/step-charlie_02.webp"
              />
            </picture>
          </div>
        </div>
        <div class="levels-step__item-content">
          <div class="levels-step__item-content-header">
            <ul class="list-duration">
              <li>30 lessons</li>
              <li>25 minutes</li>
              <li>3,5 months</li>
            </ul>
          </div>
          <p class="size-xl"><b>After completing the course, your child:</b></p>
          <ul class="list-after-lesson">
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Knows the alphabet, can read and write simple words
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Leads short dialogues on familiar topics
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Tells short poems and sings songs, understands speech by ear
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Mastered 12 vocabulary topics and learned more than 100 new words
              and expressions
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Describes an object or animal more confidently in 3-4 sentences
            </li>
          </ul>
        </div>
      </div>
      <div class="levels-step__item blue-bg">
        <div class="levels-step__item-img">
          <p class="level-name">Charlie Starter 2</p>
        </div>
        <div class="levels-step__item-content">
          <div class="levels-step__item-content-header">
            <ul class="list-duration">
              <li>30 lessons</li>
              <li>25 minutes</li>
              <li>3,5 months</li>
            </ul>
          </div>
          <p class="size-xl"><b>After completing the course, your child:</b></p>
          <ul class="list-after-lesson">
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Can maintain a simple conversation on one of the topics covered
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Greets and introduces other people
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Knows the rules for reading basic letter combinations
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Independently writes simple sentences
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Knows over 180 new words and expressions
            </li>
          </ul>
        </div>
      </div>

      <div class="after-lesson-description">
        <p class="size-xl">
          After completing the course, your child can take the
          <b style="color: #343FC6">Cambridge YLE Starters exam</b>
        </p>
      </div>

      <div class="levels-step__item orange-bg">
        <div class="levels-step__item-img">
          <p class="level-name">Сharlie Mover 1</p>
          <div id="ember20519" class="ember-view">
            <picture>
              <source type="image/webp" />
              <img
                alt="AllRight.com"
                src="/img/levels/step-charlie_03.webp"
              />
            </picture>
          </div>
        </div>
        <div class="levels-step__item-content">
          <div class="levels-step__item-content-header">
            <ul class="list-duration">
              <li>30 lessons</li>
              <li>25 minutes</li>
              <li>3,5 months</li>
            </ul>
            <!---->
          </div>
          <p class="size-xl"><b>After completing the course, your child:</b></p>
          <ul class="list-after-lesson">
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Confidently speaks, asks and answers questions in English
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Understands stories and sentences based on familiar words and
              expressions
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Writes simple texts on familiar topics up to 7-8 sentences
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Can guess the meaning of some unfamiliar words from the context
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Reads short stories with pictures
            </li>
          </ul>
        </div>
      </div>

      <div class="levels-step__item orange-bg">
        <div class="levels-step__item-img">
          <p class="level-name">Сharlie Mover 2</p>
        </div>
        <div class="levels-step__item-content">
          <div class="levels-step__item-content-header">
            <ul class="list-duration">
              <li>30 lessons</li>
              <li>25 minutes</li>
              <li>3,5 months</li>
            </ul>
          </div>
          <p class="size-xl"><b>After completing the course, your child:</b></p>
          <ul class="list-after-lesson">
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Easily maintains a conversation with a foreigner by expressing
              their opinions and feelings in conversation
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Describes objects or people using simple sentences
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Understands tales and stories based on familiar words and
              expressions with the help of pictures
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Can talk about various professions, hobbies, and health, having an
              increased vocabulary
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Knows how to fill out forms and cards using personal data
            </li>
          </ul>
        </div>
      </div>
      <div class="after-lesson-description">
        <p class="size-xl">
          After completing the course, your child can take the
          <b style="color: #EA6B1F">Cambridge YLE Movers exam</b>
        </p>
      </div>

      <div class="levels-step__item violet-bg">
        <div class="levels-step__item-img">
          <p class="level-name">Сharlie Flyer 1</p>
          <div id="ember20520" class="ember-view">
            <picture>
              <source type="image/webp" />
              <img
                alt="AllRight.com"
                src="/img/levels/step-charlie_04.webp"
              />
            </picture>
          </div>
        </div>
        <div class="levels-step__item-content">
          <div class="levels-step__item-content-header">
            <ul class="list-duration">
              <li>40 lessons</li>
              <li>25 minutes</li>
              <li>5 months</li>
            </ul>
          </div>
          <p class="size-xl"><b>After completing the course, your child:</b></p>
          <ul class="list-after-lesson">
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Communicates fluently on simple topics
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Can place an order in a cafe, ask a stranger for directions,
              easily tell about themselves
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Carries on spontaneous conversation about any topic
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Informs about intentions and plans for the future
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Reads text with familiar words and sentence construction.
              Understands the meaning of unfamiliar words through context
            </li>
          </ul>
        </div>
      </div>

      <div class="levels-step__item violet-bg">
        <div class="levels-step__item-img">
          <p class="level-name">Сharlie Flyer 2</p>
        </div>
        <div class="levels-step__item-content">
          <div class="levels-step__item-content-header">
            <ul class="list-duration">
              <li>40 lessons</li>
              <li>25 minutes</li>
              <li>5 months</li>
            </ul>
          </div>
          <p class="size-xl"><b>After completing the course, your child:</b></p>
          <ul class="list-after-lesson">
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Confidently speaks in English, carrying on conversations about
              everyday topics
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Composes and tells stories on favorite topics up to 10-12
              sentences using familiar sentence structures
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Shares plans and intentions for the future
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Is able to recite poetry or sing songs from the course program
              with the correct intonation and pronunciation
            </li>
            <li>
              <span class="check"
                ><svg viewbox="0 0 13 12">
                  <use xlink:href="#check-icon"></use></svg
              ></span>
              Tells about popular gadgets and the culture of favorite countries
            </li>
          </ul>
        </div>
      </div>

      <div class="after-lesson-description">
        <p class="size-xl">
          After completing the course, your child can take the
          <b style="color: #8142A3"
            >Cambridge YLE Flyers exam and Cambridge Keys for Schools KET
            exam</b
          >
        </p>
      </div>
    </section>
    <section class="additional-courses">
      <h3 class="title-section">Our additional courses</h3>
      <div class="additional-courses__wrapper">
        <div class="additional-courses__wrapper-list">
          <div class="additional-courses__wrapper-list-item minecraft-courses">
            <div id="ember20521" class="ember-view">
              <picture>
                <source type="image/webp" />
                <img alt="AllRight.com" src="/img/levels/logo_mc.webp" />
              </picture>
            </div>
            <p class="size-small">
              A game-based course for children from 6 to 9 years old, voiced by
              native speakers to increase vocabulary and teach grammar
            </p>
          </div>
          <div class="additional-courses__wrapper-list-item">
            <div>
              <p class="size-xl"><b>Booster</b></p>
              <p class="size-small">
                Your child will consolidate or refresh knowledge gained in the
                shortest possible time
              </p>
            </div>
            <div id="ember20522" class="ember-view decor">
              <picture>
                <source type="image/webp" />
                <img alt="AllRight.com" src="/img/levels/bag.webp" />
              </picture>
            </div>
          </div>
          <div class="additional-courses__wrapper-list-item">
            <div>
              <p class="size-xl"><b>Songs and singing</b></p>
              <p class="size-small">
                We teach your child English with the help of songs
              </p>
            </div>
            <span class="coming_soon">COMING SOON</span>
            <div id="ember20523" class="ember-view decor">
              <picture>
                <source type="image/webp" />
                <img alt="AllRight.com" src="/img/levels/sun.webp" />
              </picture>
            </div>
          </div>
          <div class="additional-courses__wrapper-list-item">
            <div>
              <p class="size-xl"><b>Seasonal</b></p>
              <p class="size-small">
                Holiday-themed lessons for Easter, Valentine's Day, New Year,
                Halloween
              </p>
            </div>

            <div id="ember20524" class="ember-view decor">
              <picture>
                <source type="image/webp" />
                <img alt="AllRight.com" src="/img/levels/pumpkin.webp" />
              </picture>
            </div>
          </div>
        </div>
        <div class="additional-courses__wrapper-list">
          <div class="additional-courses__wrapper-list-item movers-teens">
            <p class="size-xl"><b>Movers for Teens</b></p>
            <p class="size-small">
              The program is adapted visually and thematically for teenagers at
              a Mover English level
            </p>
            <div id="ember20525" class="ember-view">
              <picture>
                <source type="image/webp" />
                <img
                  alt="AllRight.com"
                  src="/img/levels/movers-teens.webp"
                />
              </picture>
            </div>
          </div>
          <div class="edit-items-list">
            <div class="additional-courses__wrapper-list-item">
              <div>
                <p class="size-xl"><b>Stories and Reading</b></p>
                <p class="size-small">
                  We read and retell interesting stories together
                </p>
              </div>
              <span class="coming_soon">COMING SOON</span>
              <div id="ember20526" class="ember-view decor">
                <picture>
                  <source type="image/webp" />
                  <img alt="AllRight.com" src="/img/levels/book.webp" />
                </picture>
              </div>
            </div>
            <div class="additional-courses__wrapper-list-item">
              <div>
                <p class="size-xl"><b>Phonics</b></p>
                <p class="size-small">
                  For the little ones: we learn letters, letter combinations and
                  the basics of reading simple words.
                </p>
              </div>
              <div id="ember20527" class="ember-view decor">
                <picture>
                  <source type="image/webp" />
                  <img alt="AllRight.com" src="/img/levels/letters.webp" />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="form">
      <h2 class="title-page">Sign up for a trial lesson</h2>
      <div id="ember20530" class="book-form ember-view">
        <form class="book-lesson book-form">
          <div class="field-wrapper">
            <div id="ember20532" class="validated-input ember-view">
              <div class="form-group">
                <input
                  name="name"
                  autocomplete="on"
                  placeholder="Your name"
                  id="ember20534"
                  class="form-control ember-text-field ember-view"
                  type="text"
                />
                <div class="input-error"></div>
              </div>
            </div>
          </div>
          <div class="field-wrapper phone-wrapper">
            <div id="ember20535" class="intlTelInput ember-view">
              <div class="form-group">
                <input
                  class="visible-input"
                  placeholder="Your phone number"
                  required="required"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="field-wrapper email-wrapper">
            <div id="ember20536" class="validated-input ember-view">
              <div class="form-group">
                <input
                  name="email"
                  autocomplete="on"
                  placeholder="Your email"
                  id="ember20540"
                  class="form-control ember-text-field ember-view"
                  type="email"
                />
                <div class="input-error"></div>
              </div>
            </div>
          </div>

          <div class="bottom-block">
            <button class="btn orange" type="submit">
              Get a free lesson
            </button>
          </div>
        </form>
      </div>
    </section> -->
  </div>
</template>
<script>
export default {
  auth: false,
  layout: 'AppLayout',
  name: 'levels',
  head() {
    return {
      link: [
         //you shouldn't mention ~/static itself
        { rel: 'stylesheet', type: 'text/css', href: '/css/datepicker.css' },
        { rel: 'stylesheet', type: 'text/css', href: '/css/signup.css' },
      ],
    };
  },
  components: {
  }
};
</script>
