<template>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
</template>

<script>
export default {
    name: 'Loading',
    layout: 'AppLayout',
    data() {
        return {
            loading: true
        }
    },
    /*
    ** programmatically start the loader so we force the page to take x2seconds to load
    */
    mounted() {
        this.$nextTick(() => {
            this.$nuxt.$loading.start()
            setTimeout(() => this.$nuxt.$loading.finish(), 2000)
        })
    }
}
</script>

<style>

</style>