<template>
  <div class="mt-5">
    <!-- Header -->
    <!-- <div class="header bg-gradient-success py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="text-center" style="margin-bottom: 5px">
            <h1 class="text-white">
              Log in to Nuxt Argon Dashboard Laravel Live Preview
            </h1>
            <p class="text-lead text-white">
              Log in to see how you can go from frontend to fullstack in an
              instant with an API-based Laravel backend.
            </p>
          </div>
          <div class="text-white">
            <h3 class="text-white"><strong>You can log in with:</strong></h3>
            <div>Username <b>admin@jsonapi.com</b> Password <b>secret</b></div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon
            class="fill-default"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>
    </div> -->
    <!-- Page content -->
    <div class="container pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center login-title mb-4">
                Sign in with credentials
              </div>
              <form class="needs-validation" @submit.prevent="handleSubmit()">
                <base-input
                  alternative
                  class="mb-3"
                  name="Email"
                  prepend-icon="ni ni-email-83"
                  placeholder="Email"
                  v-model="form.data.email"
                >
                </base-input>
                <validation-error :errors="apiValidationErrors.email" />

                <base-input
                  alternative
                  class="mb-3"
                  name="Password"
                  prepend-icon="ni ni-lock-circle-open"
                  type="password"
                  placeholder="Password"
                  v-model="form.data.password"
                >
                </base-input>
                <validation-error :errors="apiValidationErrors.password" />

                <div class="text-center">
                  <base-button type="primary" native-type="submit" class="my-4"
                    >Sign in</base-button
                  >
                </div>
              </form>
              <div class="card-footer bg-transparent pb-0">
                  <div class="text-muted text-center mt-2 mb-3">
                    Or sign in with
                  </div>
                  <div class="btn-wrapper text-center">
                    <!-- <a href="#" class="btn btn-neutral btn-icon">
                      <span class="btn-inner--icon"
                        ><img src="~/static/img/icons/common/github.svg"
                      /></span>
                      <span class="btn-inner--text">Github</span>
                    </a> -->
                    <a @click.prevent="getGoogleLoginUrl" class="login-social">
                      <span class="btn-inner--icon"
                        ><img src="~/static/img/icons/common/google.svg"
                      /></span>
                      <span class="btn-inner--text">Google</span>
                    </a>
                    <!-- <button @click="login" class="">
                      <span class="btn-inner--icon"
                        ><img src="~/static/img/icons/common/google.svg"
                      /></span>
                      <span class="btn-inner--text">Google</span>
                    </button> -->
                  </div>
                </div>
              </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <nuxt-link to="/password/reset" class="forgot-password-link">
                <small>Forgot password?</small>
              </nuxt-link>
            </div>
            <div class="col-6 text-right">
              <nuxt-link to="/student/signup" class="signup-link">
                <small>Create new account</small>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";
export default {
  auth: false,
  layout: "AppLayout",
  mixins: [formMixin],
  components: { ValidationError },
  middleware({ store, redirect }) {
    // If the user is authenticated
    if (store.$auth.loggedIn) {
      return redirect("/");
    }
  },
  data() {
    return {
      googleLoginUrl: "",
      form: {
        data: {
          email: "cuongdang1997@gmail.com",
          password: "12345678",
        },
      },
    };
  },
  methods: {
    async handleSubmit() {
      try {
        await this.$auth.loginWith("local", 
          this.form,
        );
        this.$axios.defaults.headers.common.Authorization = `${this.$auth.getToken(
          "local"
        )}`;
        this.$router.go(-1);
      } catch (error) {
        await this.$notify({
          type: "danger",
          message: "Invalid credentials!",
        });
        this.setApiValidation(error.response.data);
      }
    },
    login() {
      this.$auth.loginWith('google', { params: { prompt: "select_account" } })
    },
    async getGoogleLoginUrl() {
      try {
        const response = await this.$axios.get("/oauth/google", {
          params: {
            redirect_uri: `${this.$config.baseURL}/oauth/google/callback`,
          },
        });
        // this.googleLoginUrl = response.data.data.url;
        window.location.href = response.data.data.url;
      } catch (error) {
        console.log(error);
      }
    },
  },
  // created() {
  //   this.getGoogleLoginUrl();
  // },
};
</script>
