<template>
  <div class="container mx-auto mt-5">
    <div class="payments__price-v2__columns">
      <div class="payments__price-v2__left">
        <div class="payments__price-v2__title">{{title}}</div>
        <lesson-duration :durations="durations" :defaultSelectedId="planSelected.duration" @changePlan="changePlan" />
        <times-per-week :timePerWeeks="timePerWeeks" :defaultSelectedId="planSelected.timesPerWeek" @changePlan="changePlan"/>
        <convenient-plans :plans="plans" :defaultSelectedId="planSelected.planId" @changePlan="changePlan" />
        <teacher-category :categories="categories" :defaultSelectedId="planSelected.category" @changePlan="changePlan" />
      </div>
      <payment :totalPrice="totalPrice" :totalLessons="totalLessons" />
    </div>
  </div>
</template>

<script>
import LessonDuration from "@/pages/components/Prices/LessonDuration.vue";
import TimesPerWeek from "@/pages/components/Prices/TimesPerWeek.vue";
import ConvenientPlans from "@/pages/components/Prices/ConvenientPlans.vue";
import TeacherCategory from "@/pages/components/Prices/TeacherCategory.vue";
import Payment from "@/pages/components/Prices/Payment.vue";
export default {
  auth: false,
  layout: "AppLayout",
  name: "prices",
  data() {
    return {
      title: 'Your educational plan',
      totalLessons: 0,
      totalPrice: 0,
      plans: [
        {
          id: 1,
          time: 'Month',
          description: 'Auto-renewal every month',
          discount: 0,
          link: '/lesson',
          originalPrice: 5
        },
        {
          id: 2,
          time: '3 Months',
          description: 'One-time payment',
          discount: 0.1,
          link: '/lesson',
          originalPrice: 8
        },
        {
          id: 3,
          time: 'Year',
          description: 'One-time payment',
          discount: 0.25,
          link: '/lesson',
          originalPrice: 15
        }
      ],
      durations: [
        {
          id: 1, 
          time: 25,
          additionalPrice: 0
        }, 
        {
          id: 2, 
          time: 50,
          additionalPrice: 2
        }
      ],
      timePerWeeks: [
        {id: 1, time: 1, additionalPrice: 0},
        {id: 2, time: 2, additionalPrice: 2},
        {id: 3, time: 3, additionalPrice: 3},
        {id: 4, time: 4, additionalPrice: 4},
        {id: 5, time: 5, additionalPrice: 5},
      ],
      categories: [
        {
          id: 1,
          category: 'Standard',
          description: 'Auto-renewal every month',
          additionalPrice: 0,
        },
        {
          id: 2,
          category: 'Premium',
          description: 'One-time payment',
          additionalPrice: 2,
        },
        {
          id: 3,
          category: 'Native',
          description: 'One-time payment',
          additionalPrice: 3,
        }
      ],
      planSelected: {
        planId: 1,
        duration: 1,
        timesPerWeek: 3,
        category: 1
      }
    }
  },
  // head() {
  //   return {
  //     link: [
  //       { rel: "stylesheet", type: "text/css", href: "/css/datepicker.css" },
  //       { rel: "stylesheet", type: "text/css", href: "/css/signup.css" },
  //     ],
  //   };
  // },
  components: {Payment, TeacherCategory, ConvenientPlans, TimesPerWeek, LessonDuration},
  methods: {
    changePlan(id, type) {
      switch (type) {
        case 'plan':
          this.planSelected.planId = id;
          break;
        case 'duration':
          this.planSelected.duration = id;
          break;
        case 'timePerWeek':
          this.planSelected.timesPerWeek = id;
          break;
        case 'category':
          this.planSelected.category = id;
          break;
        default:
          break;
      }
      this.totalPrice = this.calculateTotalPrice();
    },
    calculateTotalPrice() {
      let _totalLesson = 0;
      let price = 0;
      let _additionalPrice = 0;
      this.plans.forEach(plan => {
        if (plan.id === this.planSelected.planId) {
          price += plan.originalPrice;
        }
      });
      this.durations.forEach(duration => {
        if (duration.id === this.planSelected.duration) {
          _additionalPrice += duration.additionalPrice;
        }
      });
      this.timePerWeeks.forEach(timePerWeek => {
        if (timePerWeek.id === this.planSelected.timesPerWeek) {
          _additionalPrice += timePerWeek.additionalPrice;
          _totalLesson = timePerWeek.time;
          if (this.planSelected.planId == 1) {
            _totalLesson *= 4;
          } else if (this.planSelected.planId == 2) {
            _totalLesson *= 12;
          } else {
            _totalLesson *= 52;
          }
        }
      });
      this.categories.forEach(category => {
        if (category.id === this.planSelected.category) {
          _additionalPrice += category.additionalPrice;
        }
      });
      this.totalLessons = _totalLesson;
      return price * _totalLesson + _additionalPrice;
    }
  },
  mounted() {
    this.totalPrice = this.calculateTotalPrice();
  }
};
</script>

<style scoped>

</style>