<template>
  <section class="course-one course-page mt-5">
    <div class="container">
      <div class="row">
        <div
          v-for="(item, idx) in courses"
          :key="idx"
          class="col-lg-4 border-radius-30"
        >
            <Item :item="item"/>
          <!-- /.course-one__single -->
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
      <div class="post-pagination">
        <!-- <a href="#"><i class="fa fa-angle-double-left"></i></a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#"><i class="fa fa-angle-double-right"></i></a> -->
        <b-pagination
          @change="changePage"
          :per-page="per_page"
          v-model="page"
          pills
          :total-rows="total"
          size="lg"
        ></b-pagination>
      </div>
    </div>
    <!-- /.container -->
  </section>
</template>

<script>
import Item from "@/pages/components/course/item";
export default {
  layout: "AppLayout",
  name: "Course",
  data() {
    return {
      total: 0,
      page: 1,
      per_page: 6,
      courses: [],
      showPreview: false,
      previewTitle: "",
    };
  },
  components: {
    Item,
  },
  methods: {
    async changePage(page) {
      try {
        this.page = page;
        let _params = {
          paging: {
            page,
            per_page: 6,
          },
        };
        const _data = await this.$axios.post(
          "/courses/publish/search",
          _params
        );
        const { courses, total } = _data.data.data;
        this.courses = courses;
        this.total = total;
        this.page = page;
      } catch (error) {
        this.$notify({
          type: "danger",
          message: "Oops! Something went wrong.",
        });
      }
    },
  },
  async asyncData({ $axios, params }) {
    let _params = {
      paging: {
        page: 1,
        per_page: 6,
      },
      ...params,
    };
    const data = await $axios.post("/courses/publish/search", _params);
    return {
      ...data.data.data,
    };
  },
};
</script>

<style scoped></style>
