<template>
  <div class="form-registration">
    <div class="bg-page">
      <div class="content">
        <p>
          Teachers easily win over the child. The child likes the interactive
          style of learning, all 25 minutes are interesting for the child
        </p>
        <span>Marina, Alice’s mother </span>
      </div>
    </div>

    <div class="form-content">
      <!-- <a href="/" class="main-logo main-logo--mode-header">
        <svg
          class="logo-icon"
          role="img"
          aria-label="Allright Logo"
          style="color: #823cdc"
          width="160"
          height="30"
        >
          <use xlink:href="#allright-logo"></use>
        </svg>
      </a> -->
      <div class="center-content">
        <h2 class="title-page-xl">Sign up for a free lesson</h2>
        <p>
          Let’s get to know each other, find out what we will learn and how
          lessons will be conducted
        </p>
      </div>
      <div class="book-form ember-view w-100">
        <!-- <form
          method="POST"
          action="/"
          class="book-lesson book-form"
          data-ember-action=""
          data-ember-action-346="346"
        >
          <input name="role" value="student" type="hidden" />
          <div class="field-wrapper">
            <div id="ember347" class="validated-input ember-view">
              <div class="form-group">
                <input
                  name="name"
                  autocomplete="on"
                  placeholder="Your name"
                  id="ember349"
                  class="form-control ember-text-field ember-view"
                  type="text"
                />
                <div class="input-error"></div>
              </div>
            </div>
          </div>
          <div class="field-wrapper phone-wrapper">
            <div id="ember350" class="intlTelInput ember-view">
              <div class="form-group">
                <VuePhoneNumberInput
                  v-model="phoneNumber"
                  default-country-code="VN"
                />
              </div>
            </div>
          </div>
          <div class="field-wrapper email-wrapper">
            <div id="ember351" class="validated-input ember-view">
              <div class="form-group">
                <input
                  name="email"
                  autocomplete="on"
                  placeholder="Your email"
                  id="ember355"
                  class="form-control ember-text-field ember-view"
                  type="email"
                />
                <div class="input-error"></div>
              </div>
            </div>
          </div>

          <div class="bottom-block">
            <button class="btn orange" type="submit">
              Continue
            </button>
          </div>
        </form> -->
        <form
          role="form"
          @submit.prevent="handleRegister"
          @keydown.enter="handleRegister"
        >
          <base-input
            alternative
            class="mb-3"
            prepend-icon="ni ni-hat-3"
            placeholder="Name"
            name="Name"
            v-model="form.name"
          >
          </base-input>
          <validation-error :errors="apiValidationErrors.name" />

          <base-input
            alternative
            class="mb-3"
            prepend-icon="ni ni-email-83"
            placeholder="Email"
            name="Email"
            v-model="form.email"
          >
          </base-input>
          <validation-error :errors="apiValidationErrors.email" />

          <base-input
            alternative
            class="mb-3"
            prepend-icon="ni ni-lock-circle-open"
            placeholder="Password"
            type="password"
            name="Password"
            v-model="form.password"
          >
          </base-input>
          <password
            class="mb-3"
            v-model="form.password"
            :strength-meter-only="true"
            @score="showScore"
            :showStrengthMeter="false"
          />

          <validation-error :errors="apiValidationErrors.password" />

          <base-input
            alternative
            class="mb-3"
            prepend-icon="ni ni-lock-circle-open"
            placeholder="Confirm Password"
            type="password"
            name="Password confirmation"
            v-model="form.password_confirmation"
          >
          </base-input>

          <validation-error
            :errors="apiValidationErrors.password_confirmation"
          />

          <div class="text-muted font-italic">
            <small
              >password strength:

              <template v-if="form.scors === 0">
                <span class="text-danger font-weight-700"> very weak </span>
              </template>

              <template v-if="form.scors === 1">
                <span class="text-danger font-weight-700"> weak </span>
              </template>

              <template v-if="form.scors === 2">
                <span class="text-warning font-weight-700"> medium </span>
              </template>

              <template v-if="form.scors === 3">
                <span class="text-success font-weight-700"> strong </span>
              </template>

              <template v-if="form.scors === 4">
                <span class="text-success font-weight-700"> very strong </span>
              </template>
            </small>
          </div>

          <div class="row mt-2">
            <div class="col-12 ml-3">
              <base-input
                :rules="{ required: { allowFalse: false } }"
                name="Privacy Policy"
              >
                <base-checkbox
                  v-model="form.agree"
                  name="agree"
                >
                  <span class="text-muted"
                    >I agree with the
                    <a href="#!">Terms and conditions</a></span
                  >
                </base-checkbox>
              </base-input>
            </div>
          </div>
          <div class="text-center">
            <base-button
              type="primary"
              @click.prevent="handleRegister"
              class="my-2"
              >Sign up</base-button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import VuePhoneNumberInput from "vue-phone-number-input";
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";
import Password from 'vue-password-strength-meter'
import BaseCheckbox from '~/components/argon-core/Inputs/BaseCheckbox.vue'

export default {
  ssr: false,
  auth: false,
  layout: "StudentAuthLayout",
  mixins: [formMixin],
  name: "student-signup",
  middleware({ store, redirect, route }) {
    // If the user is authenticated
    if (store.$auth.loggedIn) {
      return redirect("/");
    }
  },
  data() {
    return {
      phoneNumber: "",
      form: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        agree: false,
        scors: "",
      },
    };
  },
  components: {
    VuePhoneNumberInput,
    ValidationError, 
    Password, 
    BaseCheckbox
  },
  methods: {
    showScore(score) {
      this.form.scors = score;
    },
    async handleRegister() {
      const _vm = this;
      if (!this.form.agree) {
        this.$notify({
          type: "danger",
          message: "You need to agree with our terms and conditions.",
        });
        return;
      }

      try {
        await this.$store.dispatch("register/create", this.form);

        //log in the user after successful register
        await this.$auth.loginWith("local", {
          data: {
            email: this.form.email,
            password: this.form.password,
          },
        });
        _vm.$router.go('-1');
      } catch (error) {
        this.setApiValidation(error.response.data);

        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
      }
    },
  },
};
</script>
