<template>
<client-only>
  <div class="notification-dropdown-wrapper">
    <b-badge class="notification-count" variant="danger">
      {{unreadCount}}
    </b-badge>
    <base-dropdown
      class="nav-item notification-dropdown"
      tag="li"
      title-classes="nav-link"
      title-tag="a"
      icon="ni ni-bell-55"
      menu-classes="dropdown-menu-xl dropdown-menu-right py-0 overflow-hidden icon-notification"
    >
      <template>
        <!-- Dropdown header -->
        <div class="px-3 py-3">
          <h6 class="text-sm text-muted m-0">
            You have <strong class="text-primary">{{totalCount}}</strong> notifications.
          </h6>
        </div>
        <!-- List group -->
        <div class="list-group list-group-flush notifications-wrapper">
          <!-- <a href="#!" class="list-group-item list-group-item-action">
            <div class="row align-items-center">
              <div class="col-auto">
                <img
                  alt="Image placeholder"
                  src="/img/theme/team-1.jpg"
                  class="avatar rounded-circle"
                />
              </div>
              <div class="col ml--2">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h4 class="mb-0 text-sm">John Snow</h4>
                  </div>
                  <div class="text-right text-muted">
                    <small>2 hrs ago</small>
                  </div>
                </div>
                <p class="text-sm mb-0">
                  Let's meet at Starbucks at 11:30. Wdyt?
                </p>
              </div>
            </div>
          </a>
          <a href="#!" class="list-group-item list-group-item-action">
            <div class="row align-items-center">
              <div class="col-auto">
                <img
                  alt="Image placeholder"
                  src="/img/theme/team-2.jpg"
                  class="avatar rounded-circle"
                />
              </div>
              <div class="col ml--2">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h4 class="mb-0 text-sm">John Snow</h4>
                  </div>
                  <div class="text-right text-muted">
                    <small>3 hrs ago</small>
                  </div>
                </div>
                <p class="text-sm mb-0">
                  A new issue has been reported for Argon.
                </p>
              </div>
            </div>
          </a>
          <a href="#!" class="list-group-item list-group-item-action">
            <div class="row align-items-center">
              <div class="col-auto">
                <img
                  alt="Image placeholder"
                  src="/img/theme/team-3.jpg"
                  class="avatar rounded-circle"
                />
              </div>
              <div class="col ml--2">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h4 class="mb-0 text-sm">John Snow</h4>
                  </div>
                  <div class="text-right text-muted">
                    <small>5 hrs ago</small>
                  </div>
                </div>
                <p class="text-sm mb-0">Your posts have been liked a lot.</p>
              </div>
            </div>
          </a>
          <a href="#!" class="list-group-item list-group-item-action">
            <div class="row align-items-center">
              <div class="col-auto">
                <img
                  alt="Image placeholder"
                  src="/img/theme/team-4.jpg"
                  class="avatar rounded-circle"
                />
              </div>
              <div class="col ml--2">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h4 class="mb-0 text-sm">John Snow</h4>
                  </div>
                  <div class="text-right text-muted">
                    <small>2 hrs ago</small>
                  </div>
                </div>
                <p class="text-sm mb-0">
                  Let's meet at Starbucks at 11:30. Wdyt?
                </p>
              </div>
            </div>
          </a>
          <a href="#!" class="list-group-item list-group-item-action">
            <div class="row align-items-center">
              <div class="col-auto">
                <img
                  alt="Image placeholder"
                  src="/img/theme/team-5.jpg"
                  class="avatar rounded-circle"
                />
              </div>
              <div class="col ml--2">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h4 class="mb-0 text-sm">John Snow</h4>
                  </div>
                  <div class="text-right text-muted">
                    <small>3 hrs ago</small>
                  </div>
                </div>
                <p class="text-sm mb-0">
                  A new issue has been reported for Argon.
                </p>
              </div>
            </div>
          </a> -->
          <!-- <nuxt-link v-for="item in notificationsRendered" :key="item.data.id" :to="routeNotification(item.data)" class="list-group-item list-group-item-action" v-html="item.html">
          </nuxt-link> -->
            <vue-loadmore
                loading-text="Loading..."
                finished-text="No more notifications"
                success-text="Load more notifications"
                :on-loadmore="fetchMoreResults"
                :finished="!allowLoadMore"
                v-if="!loading && totalCount > 0"
            >
              <nuxt-link v-for="item in notificationsRendered" :key="item.data.id" :to="routeNotification(item.data)" class="list-group-item list-group-item-action" v-html="item.html">
              </nuxt-link>
              <!-- <b-card class="list-group-item list-group-item-action" v-show="allowLoadMore">
                <b-skeleton animation="wave" width="85%"></b-skeleton>
                <b-skeleton animation="wave" width="55%"></b-skeleton>
                <b-skeleton animation="wave" width="70%"></b-skeleton>
              </b-card> -->
            </vue-loadmore>
            <div v-else>
              <div class="text-center">
                <h5 class="text-muted">No notifications</h5>
              </div>
            </div>
        </div>
        <!-- View all -->
        <!-- <a
          v-if="totalCount > 0"
          href="#!"
          class="dropdown-item text-center text-primary font-weight-bold py-3"
          >View all</a
        > -->
      </template>
    </base-dropdown>
  </div>
  </client-only>
</template>
<script>
import { mapState } from "vuex";
import notiMixin from "@/mixins/notification";

export default {
  ssr: false,
  data() {
    return {
      loading: false,
      notifications: [],
      unreadCount: 0,
      totalCount: 0,
      items: [],
      page: 1,
      request: {
        success: null,
        failure: null,
        pending: null,
      },
    };
  },
  mixins: [notiMixin],
  components: {},
  props: {},
  computed: {
    ...mapState("auth", ["loggedIn", "user"]),
    notificationsRendered() {
      const _vm = this;
      const notiHtmls = this.notifications.map(function (notification) {
        return {
          data: notification,
          html: _vm.makeNotificationText(notification),
        };
      });
      return notiHtmls;
    },
    hasItems() {
      return this.notifications.length > 0;
    },
    allowLoadMore() {
      return !this.request.pending && !(this.notifications.length >= this.totalCount);
    },
  },
  methods: {
    async getNotifications() {
      try {
        this.loading = true;
        const res = await this.$axios.get("/notifications");
        const data = res.data;
        if (data && data.success) {
          this.notifications = data.data.data;
          this.totalCount = data.data.total;
        }
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },
    makeToast(title = '', content = '', append = false) {
      console.log("🚀 ~ file: index.vue ~ line 185 ~ makeToast ~ content", content)
      this.$bvToast.toast(content, {
        title: title,
        autoHideDelay: 5000,
        appendToast: append
      })
    },
    fetchMoreResults(done) {
      this.page++;
      this.fetchResults(done);
    },
    fetchResults(done) {
      Object.assign(this.request, {
          pending: true,
          success: false,
          failure: false,
      });
      
      this.$axios.get('/notifications', {
        params: {
          page: this.page,
        }
      })
      .then((response) => {
          response = response.data.data;
          if (this.hasItems) {
            this.notifications = this.notifications.concat(response.data);
          } else {
            this.notifications = response.data;
          }
          this.totalCount = response.total;
          this.request.success = true;
      })
      .catch((thrown) => {
          this.request.failure = true;
      })
      .finally(() => {
          this.request.pending = false;
          done && done();
      });
    },
  },
  mounted() {
    if (this.user) {
      this.$echo.private(`App.User.${this.user.id}`)
        .notification((notification) => {
          this.notifications.unshift({
            ...notification,
            data: {
              ...notification,
              data: notification.data,
            }
          });
          this.makeToast(notification.title,  notification.content || `Hi ${this.user.name}`);
          this.unreadCount++;
          this.totalCount++;

          // // Test
          // if (! ('Notification' in window)) {
          //   alert('Web Notification is not supported');
          //   return;
          // }

          // Notification.requestPermission( permission => {
          //   let notification = new Notification('EOL Blog', {
          //     body: 'Hello', // content for the alert
          //     // icon: "https://pusher.com/static_logos/320x320.png" // optional image url
          //   });

          //   // link to page on clicking the notification
          //   notification.onclick = () => {
          //     window.open(window.location.href);
          //   };
          // });
        });
    }
  },
  created() {
    if (this.user) {
      this.unreadCount = this.user?.notifications?.unread ?? 0;
      // this.getNotifications();
      this.fetchResults(); 
    }
  },
};
</script>
<style></style>
