<template>
    <div class="container-fluid mt-5">
        <section class="content-header">
            <div>
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Update Question</h1>
                    </div>
                </div>
            </div>
        </section>

        <div class="py-3">
            <form>
                <input
                    type="hidden"
                    name="library"
                    id="laravel-h5p-library"
                    v-model="library"
                />
                <input
                    type="hidden"
                    name="parameters"
                    id="laravel-h5p-parameters"
                    v-model="parameters"
                />

                <fieldset>
                    <div id="input_title" class="form-group">
                        <label for="inputTitle" class="control-label"
                            >Title</label
                        >
                        <div>
                            <input
                                class="form-control"
                                id="input_title"
                                name="title"
                            />
                        </div>
                    </div>

                    <div class="form-group laravel-h5p-upload-container">
                        <label for="inputUpload" class="control-label"
                            >Upload</label
                        >
                        <div>
                            <input
                                type="file"
                                name="h5p_file"
                                id="h5p-file"
                                class="laravel-h5p-upload form-control"
                            />
                            <label for="h5-file">Upload</label>
                            <small class="h5p-disable-file-check helper-block">
                                <label class="">
                                    <input
                                        type="checkbox"
                                        name="h5p_disable_file_check"
                                        id="h5p-disable-file-check"
                                    />
                                    disable extension check
                                </label>
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAction" class="control-label"
                            >Action</label
                        >
                        <div>
                            <!-- <label class="radio-inline">
                <input
                  type="radio"
                  name="action"
                  value="upload"
                  class="laravel-h5p-type"
                />Upload
              </label> -->
                            <label class="radio-inline">
                                <input
                                    disabled
                                    type="radio"
                                    name="action"
                                    value="create"
                                    class="laravel-h5p-type"
                                    checked="checked"
                                />Create
                            </label>
                        </div>
                    </div>

                    <div id="laravel-h5p-create" class="form-group}">
                        <label for="inputParameters" class="control-label"
                            >parameters</label
                        >
                        <div>
                            <div>
                                <div id="laravel-h5p-editor">
                                    loading content
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-between w-100"></div>
                    </div>
                </fieldset>
            </form>
            <div class="col-12">
                <div class="d-flex justify-content-end">
                    <button
                        class="btn btn-primary f-right"
                        v-on:click="saveQuestion"
                    >
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    layout: "DashboardLayout",
    name: "UpdateQuestion",
    head() {
        return {
            __dangerouslyDisableSanitizers: ["script"],
            script: [
                {
                    hid: "cript",
                    innerHTML: `
            H5PIntegration = ${this.settings_encoded};
            `,
                    type: "text/javascript",
                    charset: "utf-8",
                    body: true,
                },
            ],
        };
    },
    components: {},
    data() {
        return {
            loading: false,
            settings: {},
            settings_encoded: "",
            library: 0,
            display_options: {},
            parameters: "{}",
        };
    },
    computed: {
        question() {
            return this.$route.params.id;
        },
    },
    methods: {
        saveQuestion() {
            let params = window.h5peditor.getParams();
            if (!params) {
                this.$notify({
                    title: "Error",
                    message: "Please fill all required fields",
                    type: "error",
                });
                return;
            }
            this.$axios
                .put(`/h5p/${this.id}/update`, {
                    action: "create",
                    library: window.h5peditor.getLibrary(),
                    parameters: JSON.stringify(params),
                })
                .then((res) => {
                    res = res.data;
                    if (res.success) {
                        this.$notify({
                            type: "success",
                            message: res.message || "Updated successfully!!",
                        });
                        this.$router.push("/manage/questions");
                    } else {
                        this.$notify({
                            type: "danger",
                            message: "Oops, something went wrong!",
                        });
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.$notify({
                        type: "danger",
                        message: "Oops, something went wrong!",
                    });
                });
        },
    },
    mounted() {},
    async asyncData({ $axios, query, params }) {
        const { content_id } = query;
        const data = await $axios.get(`/h5p/edit/${content_id}`);
        return {
            ...data.data.data,
        };
    },
};
</script>
