<template>
    <section class="course-one course-page mt-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>My Orders</h2>
                </div>
            </div>
            <b-table :items="orders" :fields="fields" striped responsive="sm">
                <template #cell(status)="row">
                    <span>
                        <b-badge
                            href="#"
                            v-if="row.item.status === 'PENDING'"
                            variant="warning"
                            pill
                        >
                            Pending
                        </b-badge>
                        <b-badge
                            href="#"
                            v-if="row.item.status === 'PAID'"
                            variant="success"
                            pill
                        >
                            Paid
                        </b-badge>
                        <b-badge
                            href="#"
                            v-if="row.item.status === 'CANCELLED'"
                            variant="danger"
                            pill
                        >
                            Cancelled
                        </b-badge>
                    </span>
                </template>
                <template #cell(created_at)="row">
                    <span>{{ row.created_at | formatDate }}</span>
                </template>
                <template #cell(total_price)="row">
                    <span>{{ row.total_price | formatPrice }}</span>
                </template>
                <template #cell(show_details)="row">
                    <b-button size="sm" @click="row.toggleDetails" class="mr-2">
                        {{ row.detailsShowing ? "Hide" : "Show" }} Details
                    </b-button>
                </template>

                <template #row-details="row">
                    <b-card>
                        <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-right"
                                ><b>Age:</b></b-col
                            >
                            <b-col>{{ row.item.age }}</b-col>
                        </b-row>

                        <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-right"
                                ><b>Is Active:</b></b-col
                            >
                            <b-col>{{ row.item.isActive }}</b-col>
                        </b-row>
                    </b-card>
                </template>
            </b-table>
        </div>
    </section>
</template>

<script>
export default {
    layout: "AppLayout",
    name: "my-orders",
    data() {
        return {
            fields: ["id", "status", "payment_method", "total_price", "created_at", "show_details"],
            orders: [],
            total: 0,
            page: 1,
            per_page: 10
        };
    },
    async asyncData({ $axios, params }) {
        const data = await $axios.get("/my-orders");
        return {
            ...data.data,
        };
    },
};
</script>

<style></style>
