<template>
    <div v-if="!h5p" v-html="embed_code"></div>
    <iframe
        v-else
        ref="iframe"
        scrolling="no"
        frameborder="0"
        style="width: 100%; border: none; "
        :height="frameHeight"
        :srcdoc="h5p"
        @load="addEventHandlers"
    />
</template>

<script>
export default {
    name: "H5P",
    props: {
        embed_code: {
            required: false,
            default: ""
        },
        id: {
            required: true,
            default: ""
        },
        h5p: {
            required: false,
            default: undefined
        }
    },
    data() {
        return {
            loading: true,
            error: undefined,
            srcdoc: "",
            frameHeight: ""
        };
    },
    computed: {},
    methods: {
        addEventHandlers() {
            setTimeout(() => {
                this.frameHeight =
                    this.$refs.iframe.contentWindow.document.body.scrollHeight + 100 +
                    "px";

                this.$refs.iframe.contentWindow.H5P.externalDispatcher.on(
                    "*",
                    ev => {
                        this.$emit(ev.type.toLowerCase(), ev.data);
                        // try {
                        //     this.frameHeight =
                        //         this.$refs.iframe.contentWindow.document.body.scrollHeight +
                        //         "px";
                        // } catch (e) {
                        //     console.log("error", e);
                        // }
                    }
                );
            }, 200)
        },
        resizeIFrameToFitContent( iFrame ) {
            iFrame.width  = iFrame.contentWindow.document.body.scrollWidth;
            iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
        }
    },
    mounted() {
        const _vm = this;
        if (this.embed_code) {
            document
                .querySelector("#h5p-iframe-" + _vm.id)
                .addEventListener("load", function(e) {
                    window.H5P.externalDispatcher.on("*", ev => {
                        _vm.$emit(ev.type.toLowerCase(), ev.data);
                    });
                });
        }
    }
};
</script>
